{*** 하단 레이아웃 | main/index.php ***}
<!--{ ? tpls.footer_inc }-->
	{ # footer_inc // 하단디자인 }
<!--{ / }-->
<!-- //footer_wrap -->

<div class="scroll_wrap">
	<!-- 우측 스크롤 배너 -->
	{ # scroll_banner_right // 우측 스크롤 배너 }
	<!-- //우측 스크롤 배너 -->
</div>
<!-- //scroll_wrap -->

<!-- 퀵 검색 폼 -->
<!--{ ? tpls.quick_search }-->
{=includeWidget('proc/_quick_search.html')}
<!--{ / }-->
<!-- 퀵 검색 폼 -->

<!-- 쇼핑 카트 탭 -->
{=plusShop('proc/_cart_tab.html')}
<!-- //쇼핑 카트 탭 -->

<!-- 절대! 지우지마세요 : Start -->
<div id="layerDim" class="dn">&nbsp;</div>
<iframe name="ifrmProcess" src='/blank.php' style="display:none<!--{ ? !isProduction }-->block<!--{ / }-->" width="100%" height="<!--{ ? !isProduction }-->50<!--{ / }-->0" bgcolor="#000"></iframe>
<!-- 절대! 지우지마세요 : End -->

<!-- 외부 스크립트 -->
{=customFooter}

<!-- 팝업 -->
<div class="popup_bg" id="popupBg"></div>
<div class="popup_modal" id="popupModal">
	<a href="#" onclick="return false;" class="btn_popup_hide" id="btnPopupHide"><i class="xi-close"></i></a>
	<div class="popup_cont"></div>
</div>
<script type="text/javascript">
	jQuery('#popupBg').on('click', function() {
		hidePopupModal();
	});

	jQuery('#btnPopupHide').on('click', function() {
		hidePopupModal();
	});

	function showPopupModal(w, h) {
		var m_l = w / 2 * -1;
		var m_t = h / 2 * -1;
		jQuery('#popupModal').css({'margin-top': m_t + 'px','margin-left': m_l + 'px', 'width': w + 'px', 'height': h + 'px'}).fadeIn('fast');
		jQuery('#popupBg').show();
	}

	function hidePopupModal() {
		jQuery('#popupModal .popup_cont').empty();
		jQuery('#popupModal').css({'margin-top': '-350px', 'margin-left': '-250px', 'width': '500px', 'height': '700px'}).hide();
		jQuery('#popupBg').hide();
	}
</script>

</body>
</html>