.section_container {
    position: relative;
}

.center_layer {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.top_layer {
    position: relative;

}
.top_layer:after {
    content: '';
    display: block;
    clear: both;
}

.top_layer ul.tab_area {
    float: left;
}

ul.inline > li {
    display: inline-block;
}

.top_layer ul.tab_area > li {
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 19px;
    box-sizing: border-box;
}

.top_layer ul.tab_area > li.separate {
    margin-left: 18px;
    margin-right: 18px;
}

.card_list_section .top_layer ul .list .on {
    display: none;
}

.card_list_section .top_layer ul .list.active .on {
    display: inline-block;
}

.card_list_section .top_layer ul .list .off {
    display: inline-block;
}

.card_list_section .top_layer ul .list.active .off {
    display: none;
}



.custom_wrapper {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #c9cdce;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.invitation_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invitation_box .left{
    flex: 1;
}

.invitation_box .sub_title {
    font-size: 20px;
    color: #b08ccb;
    font-weight: bold;
}

.invitation_box .title {
    margin: 30px 0 60px;
    font-size: 20px;
    color: #888;
    font-weight: bold;
    line-height: 1.2;
}

.invitation_box .btn_box{

}

.invitation_box .btn_box button {

    height: 40px;
    display: inline-block;
    background-color: #878787;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border:none;
}

.invitation_box .right {



}

.invitation_box .right{
    display: none;
    width: 30%;
    max-width: 150px;
}

.invitation_box .right img{
    display: block;
    width: 100%;
    height: auto;
}



.card_list_section .item_list_box{
    margin-top: 40px;
    position: relative;
    /*max-height: 440px;*/
    margin-bottom: 80px;

}

.card_list_section .item_list_box .slide_box{
    display: none;
    height: 100%;
    max-height: 440px;
}

.card_list_section .item_list_box .swiper-slide{
    text-align: center;
    position: relative;
    max-height: 500px;
}



.card_list_section .item_list_box .swiper-slide .image_box{
    position: absolute;
    left: 50%;
    top: 13%;
    max-width: 192px;
    width: 100%;
    height: 100%;
    max-height: 335px;
    transform: translateX(-50%);
}

.card_list_section .item_list_box .swiper-slide .image_box img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}



.card_list_section .item_list_box .swiper-button-prev,
.card_list_section .item_list_box .swiper-button-next{
    width: 40px;
    height: 80px;
    background-size: 40px 80px;
}

.card_list_section .item_list_box .swiper-button-prev{
    background-image: url('../img/card/arrow_left.png');
}

.card_list_section .item_list_box .swiper-button-next{
    background-image: url('../img/card/arrow_right.png');
}
.card_list_section .item_list_box .swiper-button-next:after,
.card_list_section .item_list_box .swiper-button-prev:after{
    display: none;
}

.card_list_section .item_list_box .swiper-pagination{
    width: 100%;
    bottom: -40px;
}

.card_list_section .item_list_box  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 0 6px;
}

.card_list_section .item_list_box  .swiper-pagination-bullet:focus{
    outline: none;
}

.card_list_section .item_list_box .swiper-pagination-bullet-active{
    background: #fc9e03;
}



/* 샘플모달 css */

.sample_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.sample_modal.active{
    display: flex;
}

.sample_modal .back{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}



.sample_modal .content{
    width: 100%;
    height: 100%;
    max-width: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.sample_modal .content .image_box{
    width: 100%;
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    background-color: #fff;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sample_modal .content .image_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.sample_modal .content .image_box img{
    display: block;
    width: 100%;
    height: auto;
}

.sample_modal .content .close_btn{
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    border: none;
}
