@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');

body {
    font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', AppleGothic, Helvetica, sans-serif;
}

#header_wrap header .header_box {
    border-bottom: 0;
    background-color: #fff;
}

#header_wrap header .header_box .direct_menu {
    position: relative;
    padding: 10px 0 7px 20px;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #f1f2f6;
    overflow: hidden;
}

#header_wrap header .header_box .direct_menu .slick-slide {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

#header_wrap header .header_box .direct_menu .slick-slide a {
    font-size: 15px;
    color: #999;
}

#header_wrap header .header_box .direct_menu .slick-slide .underline {
    display: none;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #262626;
}

#header_wrap header .header_box .direct_menu .slick-slide a.on {
    font-weight: bold;
    color: #262626;
}

#header_wrap header .header_box .direct_menu .slick-slide a.on .underline {
    display: block;
}

#footer_wrap {
    margin-top: 30px;
    padding-bottom: 100px;
}

#footer_wrap footer .cs_box {
    margin: 0 20px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

#footer_wrap footer .cs_box .cs_tit {
    font-size: 13px;
    font-weight: 800;
    color: #6c6c6c;
}

#footer_wrap footer .cs_box .cs_phone {
    margin-top: 10px;
    font-size: 33px;
    font-weight: 900;
    color: #262626;
}

#footer_wrap footer .cs_box .cs_desc {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #f39618;
}

#footer_wrap footer .cs_box .cs_time {
    margin-top: 10px;
    color: #909090;
}

#footer_wrap footer .info_box {
    margin: 10px 20px;
}

#footer_wrap footer .info_box > li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

#footer_wrap footer .info_box > li:first-child {
    border-top: 1px solid #ddd;
}

#footer_wrap footer .info_box > li .key,
#footer_wrap footer .info_box > li .value {
    float: left;
    font-size: 14px;
}

#footer_wrap footer .info_box > li .key {
    width: 70px;
    color: #777;
}

#footer_wrap footer .link_box {
    margin: 0 auto;
    padding: 10px 0;
    width: 70%;
}

#footer_wrap footer .link_box a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #777;
    border: 1px solid #ddd;
}

#footer_wrap footer .menu_box {
    padding: 10px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#footer_wrap footer .menu_box > li {
    display: inline-block;
    margin: 0 25px;
}

#footer_wrap footer .menu_box > li a {
    display: block;
    font-size: 13px;
    color: #777;
}

#footer_wrap footer .address_box {
    padding: 30px 0;
    line-height: 2em;
    text-align: center;
    color: #acacac;
}

#footer_link {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_link {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.footer_link > li {
    display: inline-block;
    margin: 0 15px;
    width: calc(20% - 30px);
}

.footer_link > li a {
    display: block;
}

.footer_link > li a img {
    display: block;
    max-width: 100%;
}

.nav_banner {
    padding: 20px 0 10px;
}

.nav_banner .nav_login {
    position: relative;
    top: 0;
    left: 0;
}

.nav_banner .nav_login ul li {
    padding: 0 20px;
    background: none;
}

.nav_banner .nav_login ul li a {
    font-weight: bold;
}

.nav_banner .login_txt {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 10px;
    line-height: 1.3em;
}

.nav_banner .login_txt p.name strong {
    color: #f39618;
}

.nav_banner .login_txt a {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    font-size: 16px;
    font-weight: bold;
}

.nav_link ul li {
    display: inline-block;
    margin: 0 20px;
    width: calc(33.333% - 40px);
}

.nav_link ul li a {
    padding: 0;
}

.nav_link ul li a img {
    display: block;
    max-width: 100%;
}

.nav_link ul li:nth-child(1) a,
.nav_link ul li:nth-child(2) a,
.nav_link ul li:nth-child(3) a {
    background: none;
}

.nav_tabmenu_box {
    padding-top: 10px;
}

.nav_tabmenu_box .tabmenu_tit {
    margin: 0 10px;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #272727;
    border-bottom: 1px solid #000;
}

.nav_community_box .board_cate li a {
    font-weight: bold;
    color: #262626;
}

.category_side > li ul {
    border-top-color: #f39618;
}

.category_side > li > a.on {
    color: #f39618;
}

/* Main */
.main .main_slide {
    padding: 10px 10px 0;
}

.main .main_slide img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.main .best_slide .slick-slide {
    margin: 0 7px;
    width: 310px;
}

.main .best_slide img {
    display: block;
    max-width: 100%;
}

.main .notice_slide .slick-slide {
    margin: 0 10px;
    width: 170px;
}

.main .notice_slide img {
    display: block;
    max-width: 100%;
}

.main .main_tit {
    position: relative;
    margin: 30px 0 5px;
    height: 35px;
}

.main .main_tit span {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -155px;
    width: 310px;
    font-size: 19px;
    font-weight: bold;
}

.main .slick-slide {
    position: relative;
}

.main .slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.main .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.main .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: transparent;
    border: 0;
    border-radius: 12px;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
}

.main .slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 1);
}

/* Sub */
.sub_top {
    padding: 0;
    border-top: 0;
}

.sub_top .sub_top_right2 {
    top: 10px;
    right: 10px;
}

.sub_tit {
    padding-top: 30px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}

/* Member */
.login {
    padding-top: 0;
}

.login .login_box dl {
    margin-top: 10px;
}

.login .login_box dl:first-child {
    margin-top: 0;
}

.login .login_box dl dt {
    display: block;
    margin-bottom: 5px;
    color: #3d3d3d;
}

.login .login_box dl dd {
    display: block;
}

.login .login_box dl dd input {
    border: 1px solid #dce0e3;
}

.login .login_box .sns_login {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.join_method .sns_login li i,
.login .login_box .sns_login li i {
    position: relative;
    top: 2px;
    font-size: 19px;
}

.join_method .sns_login li.naver,
.login .login_box .sns_login li.naver {
    padding: 0;
    line-height: 43px;
    font-size: 15px;
    color: #fff;
    border-color: #01c73c;
    background: none;
    background-color: #01c73c;
}

.join_method .sns_login li.kakao,
.login .login_box .sns_login li.kakao {
    padding: 0;
    line-height: 43px;
    font-size: 15px;
    color: #3f4042;
    border-color: #ffe711;
    background: none;
    background-color: #ffe711;
}

.join_method {
    padding-top: 20px;
}

.join_method .sns_login li#btnJoin {
    font-size: 15px;
    border-color: #f39618;
    background-color: #f39618;
}

.join_step {
    padding-top: 20px;
}

.join_prev_btn {
    border-color: #7a7a7a;
    background-color: #7a7a7a;
}

.member_login_order_btn {
    border-color: #f39618;
    background-color: #f39618;
}

/* Goods */
.goods_list .goods_list_category {
    padding: 10px 5px 20px;
}

.goods_list .goods_list_category ul {
    text-align: center;
}

.goods_list .goods_list_category ul li {
    display: inline-block;
    margin: 5px 5px;
}

.goods_list .goods_list_category ul li a {
    display: block;
    padding: 7px 13px;
    color: #7a7a7a;
    border: 1px solid #ddd;
}

.goods_list .goods_list_category ul li.selected a {
    color: #fff;
    border-color: #f39618;
    background-color: #f39618;
}

/* Order */
.order_list .form_box {
    background-color: #fff;
}

.order_goods_list .orderlist_wrap {
    background-color: #fff;
}

.order_goods_list .my_goods > li {
    position: relative;
}

.order_goods_list .my_goods .info .itemhead .img {
    height: 60px;
    overflow: hidden;
}

.order_goods_list .my_goods .info .btn_bx {
    position: absolute;
    top: 25px;
    right: 10px;
}



.select_box{
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ececec;
    width: 120px;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}

.select_box .icon{
    position: absolute;
    right: 10px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.select_box .icon img{
    display: block;
    width: 100%;
    height: auto;
}

.select_box .list_box{
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 100;
    display: none;
}

.select_box .list_box li a{
    display: block;
    padding: 10px;
    box-sizing: border-box;

}
