﻿@charset "utf-8";

/***  플러스 리뷰 상품상세 | board/plus_review_container.php ***/
.plus_review_container {}
.plus_review_container .plus_review_top_box {display:table; width:100%; padding:2px 0; background:#f2f3f3; border-bottom:1px solid #e2e2e2;}
.plus_review_container .plus_review_top_box dl {display:table-cell; width:70%;}
.plus_review_container .plus_review_top_box dl dt {display:table-cell; font-size:13px; color:#606060; vertical-align:middle;}
.plus_review_container .plus_review_top_box dl dt:first-child {padding-left:10px;}
.plus_review_container .plus_review_top_box dl dd {display:table-cell; padding:0 8px 0 8px; font-weight:bold; font-size:24px; color:#f39618; vertical-align:middle;}
.plus_review_container .plus_review_top_box .plus_review_btn {display:table-cell; width:30%; text-align:right; vertical-align:middle;}
.plus_review_container .plus_review_list {}
.plus_review_container .plus_review_list .plus_review_more {padding:0 10px 0 10px;}
.plus_review_container .plus_review_list ul {}
.plus_review_container .plus_review_list ul li {padding:10px 10px 10px 10px; border-bottom:1px solid #e5e5e5;}

/* 리뷰 등록 */.plus_reivew_write_btn {display:inline-block; width:80px; margin:0 10px 0 0; padding:4px 0 4px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}
/* 더보기 */.plus_review_more_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}

/***  플러스 리뷰 리스트 | board/plus_review_list.php ***/
.plus_review_container .list_top {display:table; width:100%; box-sizing:border-box;}
.plus_review_container .list_top .rating_box {display:table-cell; width:50%; vertical-align:top; }
.plus_review_container .list_top .rating_box span.rating {display:inline-block; width:77px; height:13px; font-size:0; background:url('../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px; vertical-align:top; }
.plus_review_container .list_top .rating_box span.rating span {display:inline-block; height:13px; background:url('../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}
.plus_review_container .list_top .total_count {display:table-cell; width:50%; text-align:right; vertical-align:top;}
.plus_review_container .list_top .total_count dl {display:inline-block;}
.plus_review_container .list_top .total_count dl dt {display:inline-block; padding:0 5px 0 0; font-size:11px; color:#999999; }
.plus_review_container .list_top .total_count dl dd {display:inline-block; font-size:11px; color:#666666;}
.plus_review_container .plus_reivew_contents_box {display:table; width:100%; padding:10px 0 5px 0;}
.plus_review_container .plus_reivew_contents_box .plus_reivew_contents {display:table-cell; padding:0 10px 0 0; vertical-align:top;}
.plus_review_container .plus_reivew_contents_box .plus_reivew_contents .new {display:inline-block; width:12px; height:12px; background:url('../img/icon/icon_m_new.png') no-repeat; background-size:12px; vertical-align:middle;}
.plus_review_container .plus_reivew_contents_box .plus_reivew_contents a {text-decoration:underline;}
.plus_review_container .plus_reivew_contents_box .plus_reivew_contents_img {display:table-cell; width:60px; vertical-align:top; font-size:0;}
.plus_review_container .plus_reivew_contents_box .plus_reivew_contents_img img {width:60px;}
.plus_review_container .plus_review_info {}
.plus_review_container .plus_review_info .writer {padding:0 10px 0 0; font-size:11px; color:#999;}
.plus_review_container .plus_review_info .date {font-size:11px; color:#999;}

/*** 플러스 리뷰  작성 레이어 팝업창 공통 | board/plus_review_popup_write.php ***/
.plus_review_popup_write {}
.plus_review_popup_write {position:relative;}
.plus_review_popup_write .write_wrap {}
.plus_review_popup_write .write_wrap .input_wrap {padding:0 0 0 12px;}
.plus_review_popup_write .write_wrap .benefit_info_box {padding:10px 10px 10px 10px; border-bottom:1px solid #e1e1e1;}
.plus_review_popup_write .write_wrap dl {display:table; width:100%; padding:5px 0; border-bottom:1px solid #e1e1e1;}
.plus_review_popup_write .write_wrap dl dt {display:table-cell; width:120px; text-indent:10px; vertical-align:middle;}
.plus_review_popup_write .write_wrap dl dt label {font-size:14px; color:#333333; font-weight:bold;}
.plus_review_popup_write .write_wrap dl dd {display:table-cell; height:31px; padding:0 10px 0 0; font-size:14px; vertical-align:middle; box-sizing:border-box;}
.plus_review_popup_write .write_wrap dl dd input {width:100%; height:31px; font-size:14px; border:none; box-sizing:border-box;}

/* 옵션 */
.plus_review_popup_write .write_wrap .prd_option {}
.plus_review_popup_write .write_wrap .prd_option ul li {padding:0 10px 0 10px;}
.plus_review_popup_write .write_wrap .prd_option ul li dl {display:table; background:#f8f8f8;}
.plus_review_popup_write .write_wrap .prd_option ul li:first-child {padding-top:10px;}
.plus_review_popup_write .write_wrap .prd_option ul li:last-child {padding-bottom:10px; border-bottom:1px solid #e1e1e1;}
.plus_review_popup_write .write_wrap .prd_option ul li:last-child dl {border-bottom:none;}
.plus_review_popup_write .write_wrap .prd_option ul li dl dt {display:table-cell; width:120px; text-indent:10px; vertical-align:middle; font-size:12px; color:#333333; font-weight:bold;}
.plus_review_popup_write .write_wrap .prd_option ul li dl dd {display:table-cell; height:31px; padding:0 10px 0 0; font-size:12px; vertical-align:middle; box-sizing:border-box;}

/* 리뷰작성 */
.plus_review_popup_write .write_wrap .textarea_box {padding:10px 10px 6px 10px; border-bottom:1px solid #e1e1e1;}
.plus_review_popup_write .write_wrap .textarea_box textarea {width:100%; padding:10px 10px 10px 10px; height:150px; border:none; font-size:14px; box-sizing:border-box; resize:none; border:1px solid #e1e1e1;}

/* 평가 */
.plus_review_popup_write .write_wrap .choice_box {border:1px solid #c3c3c3;}
.plus_review_popup_write .write_wrap .choice_box .bn_opt { width:100%; height:31px; padding:0 33px 0 6px; border:0; border-radius:0; box-shadow:none; vertical-align:top;  background: url('../img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px; font-size:14px; color:#333333; font-weight:bold; }
.plus_review_popup_write .write_wrap .choice_box .choice_rating {border-top:1px solid #c3c3c3;}
.plus_review_popup_write .write_wrap .choice_box .choice_rating li {padding:5px;}
.plus_review_popup_write .write_wrap .choice_box span.rating {display:block; width:77px; height:13px; font-size:0; background:url('../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px;}
.plus_review_popup_write .write_wrap .choice_box span.rating span {display:block; height:13px; background:url('../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}

/* 파일 첨부 */
.plus_review_popup_write .write_wrap .b_file {padding:10px 10px 10px 10px;}
#boardAttach {position:relative; display:inline-block; margin-bottom:5px; font-size:0;}
#boardAttach li.item {overflow:hidden; display:inline-block; width:57px; height:57px; margin:0 7px 7px 0;}
.plus_review_popup_write .write_wrap .b_file > div {display:inline-block; vertical-align:top;}
.plus_review_popup_write .write_wrap .b_file button.file_face {position:absolute; width:57px; height:57px; margin:0 7px 7px 0; border:none; background:url('../img/btn/btn_file_plus.png') center; background-size:100% 100%; font-size:0;}
.plus_review_popup_write .write_wrap .b_file input.file_hidden {position:relative; display:inline-block; width:57px; height:57px; opacity:0; }
/* 상품 선택 / 주문선택 */
.plus_review_popup_write .prd_review_box {position:relative;}
.plus_review_popup_write .prd_review_box .review_skip {position:absolute; bottom:5px; right:10px; z-index:100;}
.plus_review_popup_write .prd_review_box .review_skip a {font-size:11px; color:#727272;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap {position:relative; padding:0 10px; border-bottom:1px solid #ddd; background:#f8f8f8;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods {display:table; width:100%; table-layout:fixed;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell{display:table-cell; vertical-align:middle;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img{width:50px; padding:10px 10px 10px 0;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img{display:block; border:1px solid #e5e5e5;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img img{ width:100%; vertical-align:top; }
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_info{font-size:14px; padding:10px 0;}
.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_price{text-align:right; font-size:14px;}
/* 버튼 위치 */
.plus_review_popup_write .btn_box {display:table; width:100%; padding:10px 0 10px 0;}
.plus_review_popup_write .btn_box li {display:table-cell; width:50%;}
.plus_review_popup_write .btn_box li:nth-child(1) {padding:0 2px 0 10px;}
.plus_review_popup_write .btn_box li:nth-child(2) {padding:0 10px 0 2px;}
/* 닫기 */
.plus_review_popup_write .close_btn {position:absolute; top:0; right:0; z-index:100;}
/* 주문선택 */ .order_select_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#f39618; border:1px solid #f39618; color:#ffffff; font-weight:bold; box-sizing:border-box;}
/* 취소 */ .plus_review_cancel_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#ffffff; border:1px solid #9f9f9f; color:#494949; font-weight:bold; box-sizing:border-box; font-size:15px;}
/* 저장 */ .plus_review_save_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#f39618; border:1px solid #f39618; color:#ffffff; font-weight:bold; box-sizing:border-box; font-size:15px;}

/*** 주문 선택하기 레이어 | share/layer_review_order_select.php ***/
#addPlusReviewOrderLayer {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9900; }
.layer_review_order_select {position:relative; width:100%; height:100% !important;}
.layer_review_order_select .ly_ct { padding:10px 10px 10px 10px; box-sizing:border-box; background:#f2f3f3;}
.layer_review_order_select .btn_box {position:absolute; top:0; right:0; z-index:9900;}
.layer_order_more_btn {display:block; width:100%; padding:8px 0 8px 0; text-align:center; background:#ffffff; font-size:15px; border:1px solid #b1b1b1; color:#666666; font-weight:bold; box-sizing:border-box;}

/*** 주문 선택 레이어 | share/layer_review_order_search.php ***/
/* 주문번호 */
.layer_review_order_search {margin:10px 0 10px 0; padding:10px 10px 10px 10px; background:#ffffff; border:1px solid #cccccc;}
.layer_review_order_search .order_num_box {display:table; width:100%;}
.layer_review_order_search .order_num_box .order_num {display:table-cell; width:65%; font-size:13px; vertical-align:middle; font-weight:bold;}
.layer_review_order_search .order_num_box .order_date {display:table-cell; width:35%; font-size:12px; text-align:right; vertical-align:middle;}
.layer_review_order_search .my_goods {}
/* 주문상품 */
.layer_review_order_search .my_goods li .my_goods_list_box {display:table; width:100%;}
.layer_review_order_search .my_goods li .my_goods_list_box .order_prd {margin:5px 0 0 0; padding:5px 0 5px 0; border-top:1px solid #cccccc;}
.layer_review_order_search .my_goods li .my_goods_list_box .order_prd span {font-size:12px; font-weight:bold;}
.layer_review_order_search .my_goods li .my_goods_list_box .order_prd strong {font-size:12px;}
.layer_review_order_search .my_goods li .my_goods_list_box .info {display:table; width:100%;}
.layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead {display:table-cell; width:100px; vertical-align:top;}
.layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead .img {}
.layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead .img img {width:90px;}
.layer_review_order_search .my_goods li .my_goods_list_box .info .itembody {display:table-cell; padding:0 10px 0 0; vertical-align:top;}
/* 선택 */
.layer_review_order_search .my_goods li .itembottom {padding:5px 0 0 0; vertical-align:middle;}
/* 선택 버튼 */
.layer_order_select_btn {display:block; width:100%; padding:8px 0 8px 0; text-align:center; background:#f39618; border:1px solid #f39618; color:#ffffff; font-weight:bold; box-sizing:border-box;}

/*** 플러스 리뷰  레이어 팝업창 | board/plus_review_popup.php ***/
#layerDim {position:fixed; left:0; top:0; width:100%; height:100%; z-index:50; background:#000; opacity:0.3; filter:alpha(opacity=30); }
#plusReviewPopup {position:fixed; top:50%; left:50%; width:250px; min-height:150px; margin:-125px 0 0 -125px; z-index:3000; background:#ffffff; text-align:center; border:1px solid #333333;}
.plus_review_popup {}
.plus_review_popup .plus_review_info {margin:35px 0 0 0; padding:0 11px 0 11px; font-weight:bold; font-size:17px; color:#3a3a3a; line-height:22px; }
.plus_review_popup .plus_review_info2 {margin:20px 0 0 0; padding:0 10px 0 10px; color:#727272; font-size:13px; line-height:18px; word-break:keep-all;}
.plus_review_popup .plus_review_info3 {margin:15px 0 0 0; padding:0 10px 0 10px;}
.plus_review_popup .plus_review_bottom {display:table; width:100%; margin:20px 0 0 0; background:#f8f8f8; border-top:1px solid #e1e1e1; box-sizing:border-box;}
.plus_review_popup .plus_review_bottom li {display:table-cell; width:50%; box-sizing:border-box;}
.plus_review_popup .plus_review_bottom li a {display:block; padding:10px 0; color:#727272;}
.plus_review_popup .plus_review_bottom li:nth-child(2) {border-left:1px solid #e1e1e1;}

/* 리뷰남기고 혜택 받기 */.plus_review_write {display:block; width:100%; padding:8px 0 8px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}

/***  플러스리뷰 전체 게시판 | board/plus_review_article.php ***/
.plus_review_article .plus_review_list {}
.plus_review_article .plus_review_list .plus_review_more {padding:0 10px 0 10px;}
.plus_review_article .plus_review_list ul {}
.plus_review_article .plus_review_list ul li {padding:10px 10px 10px 10px; border-bottom:1px solid #e5e5e5;}
.plus_review_article .plus_review_list ul li:last-child {border-bottom:none;}
/* 더보기 */.plus_review_more_btn1 {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}

/*** 플러스 리뷰  전체후기 리스트  | board/plus_review_article_list.php ***/
.plus_review_article .list_left {display:table-cell; width:25%; vertical-align:top;}
.plus_review_article .list_left .goods_image {font-size:0;}
.plus_review_article .list_left .goods_image a {display:inline-block;}
.plus_review_article .list_left .goods_image a img {width:100%;}
.plus_review_article .list_right {display:table-cell; width:75%; padding:0 0 0 10px; vertical-align:top;}
.plus_review_article .list_right .list_top {display:table; width:100%; box-sizing:border-box;}
.plus_review_article .list_right .list_top .rating_box {display:table-cell; width:50%; vertical-align:top; }
.plus_review_article .list_right .list_top .rating_box span.rating {display:inline-block; width:77px; height:13px; font-size:0; background:url('../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px; vertical-align:top; }
.plus_review_article .list_right .list_top .rating_box span.rating span {display:inline-block; height:13px; background:url('../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}
.plus_review_article .list_right .list_top .total_count {display:table-cell; width:50%; text-align:right; vertical-align:top;}
.plus_review_article .list_right .list_top .total_count dl {display:inline-block;}
.plus_review_article .list_right .list_top .total_count dl dt {display:inline-block; padding:0 5px 0 0; font-size:11px; color:#999999; }
.plus_review_article .list_right .list_top .total_count dl dd {display:inline-block; font-size:11px; color:#666666;}
.plus_review_article .list_right .plus_reivew_contents_box {display:table; width:100%; padding:10px 0 5px 0;}
.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents {display:table-cell; padding:0 10px 0 0; vertical-align:top;}
.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents .new {display:inline-block; width:12px; height:12px; background:url('../img/icon/icon_m_new.png') no-repeat; background-size:12px; vertical-align:middle;}
.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents a {text-decoration:underline;}
.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_img {display:table-cell; width:60px; vertical-align:top; font-size:0;}
.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_img img {width:60px;}
.plus_review_article .list_right .plus_review_info {padding:4px 0 0 0;}
.plus_review_article .list_right .plus_review_info .writer {padding:0 10px 0 0; font-size:11px; color:#999;}
.plus_review_article .list_right .plus_review_info .date {font-size:11px; color:#999;}

/*** 플러스리뷰 상품기준 리뷰 게시판 | board/plus_review_goods.php ***/
.plus_review_goods .plus_review_goods_list {position:relative; width:100%; padding:0 3px 0 10px; margin:15px 0 0 0; box-sizing:border-box;}
.plus_review_goods .plus_review_goods_list li.row {position:absolute; margin:0 0 30px 11px; font-size:0;}
.plus_review_goods .plus_review_goods_list li.row img {width:100%; height:auto; }
.plus_review_goods .plus_review_goods_list li.row .name {margin:10px 0 0 0; font-size:12px; color:#222222; text-align:left;}
.plus_review_goods .plus_review_goods_list li.row .review_info {margin:5px 0 0 0; font-size:9px; color:#999999;}
.plus_review_goods .plus_review_goods_list li.row .review_info .red_bold {margin:0 0 0 5px; padding:0 5px 0 0; font-weight:bold; font-size:10px; color:#fa2828; }
.plus_review_goods .plus_review_goods_list li.row .article_area {font-size:11px; color: #707070; }
.plus_review_goods .plus_review_goods_list li.row .article_area li {display:inline-block; font-size:0;}
.plus_review_goods .plus_review_goods_list li.row .article_area li .icon_review {display:inline-block; width:16px; height:15px; margin:0 5px 0 0; background:url('../img/icon/icon_m_review.png') no-repeat 0px 3px; background-size:contain; vertical-align:top;}
.plus_review_goods .plus_review_goods_list li.row .article_area li .article {display:inline-block; width:115px; font-size:11px; word-break:break-all; vertical-align:top;}
/* 페이징 */
.page_btn_box {margin:60px 0 10px 0; text-align:center;}
.page_btn_box .page_number {display:inline-block; height:21px; padding:0 30px 0 30px; color:#9e9e9e; font-size:15px; line-height:21px; vertical-align:middle; letter-spacing:0;}
.page_btn_box .page_number strong { color: #5e5e5e; }
.page_btn_box .prev_btn {overflow:hidden; display:inline-block; width:11px; height:21px; background:url('../img/icon/icon_arrow_prev2.png') no-repeat 0 0; background-size:11px 21px; font-size:1px; color:transparent;  vertical-align: middle; border:none;}
.page_btn_box .next_btn {overflow:hidden; display: inline-block; width: 11px; height:21px; background:url('../img/icon/icon_arrow_next2.png') no-repeat 0 0; background-size: 11px 21px; font-size:1px; color:transparent; vertical-align: middle; border:none;}
.no_list {padding:55px 10px 55px 10px; border-top:1px solid #e5e5e5; font-size:12px; text-align:center;}

/*** 플러스 리뷰 상세보기 | board/plus_review_view.php ***/
.plus_review_view {}
.plus_review_view .close_btn {position:absolute; top:0; right:0; z-index:100;}
.plus_review_view .plus_review_top_box {}
.plus_review_view .plus_review_top_box {display:table; width:100%; padding:2px 0; background:#f2f3f3; border-bottom:1px solid #e2e2e2;}
.plus_review_view .plus_review_top_box dl {display:table-cell; width:70%;}
.plus_review_view .plus_review_top_box dl dt {display:table-cell; font-size:13px; color:#606060; vertical-align:middle;}
.plus_review_view .plus_review_top_box dl dt:first-child {padding-left:10px;}
.plus_review_view .plus_review_top_box dl dd {display:table-cell; padding:0 8px 0 8px; font-weight:bold; font-size:24px; color:#fa2828; vertical-align:middle;}
/* 평점 글쓴이 */
.plus_review_view .plus_review_contents {}
.plus_review_view .plus_review_contents .view_top {display:table; width:100%; padding:10px 10px 10px 10px; box-sizing:border-box; border-bottom:1px solid #e2e2e2;}
.plus_review_view .plus_review_contents .view_top .rating_box {display:table-cell; width:50%; vertical-align:top; }
.plus_review_view .plus_review_contents .view_top .rating_box span.rating {display:inline-block; width:77px; height:13px; font-size:0; background:url('../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px; vertical-align:top; }
.plus_review_view .plus_review_contents .view_top .rating_box span.rating span {display:inline-block; height:13px; background:url('../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}
.plus_review_view .plus_review_contents .view_top .plus_review_info {display:table-cell; width:50%; text-align:right;}
.plus_review_view .plus_review_contents .view_top .plus_review_info .writer {padding:0 10px 0 0; font-size:11px; color:#999;}
.plus_review_view .plus_review_contents .view_top .plus_review_info .date {font-size:11px; color:#999;}
/* 상품 정보 */
.plus_review_view .plus_review_contents .view_middle {display:table; width:100%; padding:10px 10px 10px 10px; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_middle .img {display:table-cell; width:30%; padding:0 10px 0 0; vertical-align:top; box-sizing:border-box; font-size:0;}
.plus_review_view .plus_review_contents .view_middle .img img {width:100%; border:1px solid #cccccc; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_middle .prd_info {display:table-cell; width:70%; vertical-align:middle;}
.plus_review_view .plus_review_contents .view_middle .prd_info .goods_name {font-size:14px;}
.plus_review_view .plus_review_contents .view_middle .prd_info .price {padding:10px 0 0 0; font-family:Arial; font-size:19px;  color:#333; font-weight:bold;}
/* 상품 추가 정보 */
.plus_review_view .plus_review_contents .view_bottom {}
.plus_review_view .plus_review_contents .view_bottom .plus_info {margin:10px 10px 10px 10px; padding:10px 10px 10px 10px; background:#f8f8f8;}
.plus_review_view .plus_review_contents .view_bottom .plus_info dl {display:table; width:100%; padding:3px 0 3px 0;}
.plus_review_view .plus_review_contents .view_bottom .plus_info dl dt {display:table-cell; width:30%; padding:0 5px 0 0; color:#5f5f5f; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_bottom .plus_info dl dd {display:table-cell; width:70%; color:#adadad; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_bottom .upload_img {padding:10px 10px 10px 10px; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_bottom .upload_img img {width:100%; border:1px solid #cccccc; }
.plus_review_view .plus_review_contents .view_bottom .view_content_txt {padding:10px 10px 10px 10px; box-sizing:border-box;}
.plus_review_view .plus_review_contents .view_comment {position:relative; overflow:hidden; padding:15px 0 15px 15px; border-top:1px solid #dbdbdb; }
.plus_review_view .plus_review_contents .view_comment .comment_count span {float:left; padding:0 20px 0 0px;}
.plus_review_view .plus_review_contents .view_comment .comment_count span strong {color: #3e3d3c; }
.plus_review_view .plus_review_contents .view_comment .comment_count .skinbtn {margin: 0 0 0 7px; font-weight:normal; }
.plus_review_view .plus_review_contents .view_comment .comment_count .btn_like {display:inline-block; position:absolute; top:50%; right:10px; width:70px; margin-top:-12px; }
/* 댓글 추천 */.plus_review_like_btn {display:block; width:100%; padding:2px 0 2px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}
/* 댓글 */
.plus_review_view .plus_review_contents .comment_wrap ul.comment_list  {list-style:none;}
.plus_review_view .plus_review_contents .comment_wrap .comment_info {position:relative; padding:10px 10px 10px 10px; border-top:1px solid #e5e5e5;}
.plus_review_view .plus_review_contents .comment_wrap .comment_info .writer {font-size:13px; color:#666666; }
.plus_review_view .plus_review_contents .comment_wrap .comment_info .date {position:relative; padding:0 0 0 5px; margin:0 0 0 1px; font-size:12px; color:#aaaaaa;}
.plus_review_view .plus_review_contents .comment_wrap .comment_info .date:after {position:absolute; left:0; top:4px; width:1px; height:10px; background:#cacaca; content: '';}
.plus_review_view .plus_review_contents .comment_wrap .comment_options {padding:0 0 10px 10px;}
.plus_review_view .plus_review_contents .comment_wrap .contents_holder {padding:15px 10px 15px 10px; line-height:1.8em; font-size:13px; table-layout:fixed; word-break:break-all; word-wrap:break-word; color:#777; }
.plus_review_view .plus_review_contents .comment_wrap .comment_member {padding:10px 0; text-align:center;}
/* 비회원 글작성에 대한 개인정보 수집 및 이용동의 && 정보 */
.plus_review_view .plus_review_contents .reply_form {padding:5px 10px 5px 10px; border-top:1px solid #d9d9d9; background:#f1f1f1;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest_info {display:table; padding:5px 0 5px 0;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest_info dd {display:table-cell; padding:0 5px 0 0;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest_info dd input {height:31px; border:1px solid #cccccc; color:#9f9f9f; line-height:20px; text-indent:5px; background:#ffffff;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest {padding-bottom:0;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest dt {position:relative; width:100%; padding:5px 0 5px 0;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest dt label {font-size:13px;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest dd {width:100%;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest dd .textarea_box {padding:5px 0 0 0;}
.plus_review_view .plus_review_contents .reply_form dl.b_guest dd .textarea_box textarea {width:100%; height:120px; padding:10px; font-size:12px; box-sizing:border-box; resize:none;}
.plus_review_view .plus_review_contents .reply_form .b_memo {position:relative;}
.plus_review_view .plus_review_contents .reply_form .b_memo .comment_input {padding:0 95px 0 0;}
.plus_review_view .plus_review_contents .reply_form .b_memo .comment_input textarea {width:100%; height:74px; padding:10px; font-size:12px; box-sizing:border-box; resize:none;}
.plus_review_view .plus_review_contents .reply_form .b_memo .comment_btn {position:absolute; top:0; right:0; width:90px;}
.plus_review_view .plus_review_contents .reply_form .no_data {padding:20px 0 20px 0;text-align:center;}
/* 댓글 수정 */.comment_modify_btn1 {display:inline-block; width:22px; height:22px; font-size:0; border:1px solid #c7c7c7; background:url('../img/icon/icon_modify.png') no-repeat center; background-size:22px; box-sizing:border-box;}
/* 댓글 삭제 */.comment_del_btn1 {display:inline-block; width:22px; height:22px; font-size:0; border:1px solid #c7c7c7; background:url('../img/icon/icon_del.png') no-repeat center; background-size:22px; box-sizing:border-box;}
/* 버튼 */
.plus_review_view .btn_box {width:100%; background:#fff; border-top:1px solid #cccccc;}
.plus_review_view .btn_box ul {display:table; width:100%; padding:10px; box-sizing:border-box;}
.plus_review_view .btn_box ul li {display:table-cell; width:50%; box-sizing:border-box;}
.plus_review_view .btn_box ul li:nth-child(1) {padding-right:5px;}
.plus_review_view .btn_box ul li:nth-child(2) {padding-left:5px;}
/* 수정 */ .modify_preview_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff; font-weight:bold; box-sizing:border-box;}
/* 삭제 */ .del_preview_btn {display:inline-block; width:100%; padding:10px 0 10px 0; text-align:center; background:#ffffff; border:1px solid #9f9f9f; color:#494949; font-weight:bold; box-sizing:border-box;}

/*** 플러스 리뷰 포토 위젯 | board/plus_review_photo.php ***/
.plus_review_widget {display:block; width:100%;}
.plus_review_widget_item {display:block; float:left; padding:4px;}
/**포토후기**/
.photo_wrap{position: relative;overflow: hidden;margin: 0 0 0 0;}
.photo_wrap .photo{float: left;position: absolute;border: 1px solid #dbdbdb;margin: 20px 0 0 10px;}
.photo_wrap .photo a{display: block;overflow: hidden;}
.photo_wrap .photo a + a{border-top: 1px solid #e8e8e8;}
.photo_wrap .photo .img{position: relative;overflow: hidden;}
.photo_wrap .photo .img img{width: 100%;border: 0 none;vertical-align: top;}
.photo_wrap .photo .img strong{position: absolute;right: 0;bottom: 0;width: 34px;height: 34px;line-height: 32px;font-size: 14px; color: #ffffff;background-color:#151413; text-align: center;}
.photo_wrap .photo .text{font-size: 12px;color:#999999;margin: 15px 15px 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.photo_wrap .photo .cont_wrap{position: relative;padding: 15px 14px 15px 14px;}
.photo_wrap .photo .cont_wrap .img{position: absolute;left: 14px;top: 15px;}
.photo_wrap .photo .cont_wrap .cont{padding: 0 0 0 49px;}
.photo_wrap .photo .cont_wrap .cont strong{color: #484848;}
.photo_wrap .photo .cont_wrap ul{overflow: hidden;}
.photo_wrap .photo .cont_wrap ul li{}
.photo_wrap .photo .cont_wrap ul li:first-child .tit{margin: 0;}
.photo_wrap .photo .cont_wrap .tit{font-size: 12px; color: #666666;}
.photo_wrap .photo .cont_wrap .con{font-size: 12px; color: #fa2828;font-weight: bold;padding: 0 0 0 5px;}
.photo_wrap .photo .cont_wrap .img img{width: 38px;height:38px;}

.plus_review_goods_option{overflow:hidden; padding:6px 11px; background:#f2f3f3;}
.plus_review_goods_option > div{width:62%; float:right;}
.plus_review_goods_option > div:first-child{width:35%; float:left;}
.plus_review_container .plus_review_top_box{border-bottom:none;}
.plus_review_add_search{background:#f2f3f3; border-bottom:#e5e5e5 1px solid; padding:0 10px 6px;}
.plus_review_add_search > a{font-size:13px; font-weight:bold; color:#000; line-height:38px; text-align:center; display:block; border:#e2e2e2 1px solid; background:#fff;}
.plus_review_add_search.on > a{border-color:#9d4656; color:#9e4455;}
.plus_review_add_search > a > span{vertical-align:middle;}
.plus_review_add_search > a > span.arrow{width:7px; height:12px; background:url('../img/btn/bg_plus_review_add_search_arrow.png') left top no-repeat; background-size:7px auto; display:inline-block; margin-left:20px;}
.plus_review_add_search.on > a > span.arrow{background-position:left bottom;}

.plus_review_popup_alike_search{position:relative; height:100%;}
.plus_review_popup_alike_search .ly_ct{height:100%;}
.alike_search_wrap{background:#f5f5f5; padding-bottom:85px;}
.alike_search_cont{padding:10px 15px 15px; margin-top:11px; border-bottom:#ebebeb 1px solid; background:#fff;}
.alike_search_cont > p{font-size:13px; font-weight:bold; color:#333333; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.alike_search_cont:first-child{margin-top:0;}
.alike_search_option{margin-top:6px;}
.alike_search_option ul{overflow:hidden;}
.alike_search_option li{float:left; margin-right:12px; margin-top:12px; display:block; max-width:100%; box-sizing:border-box; position:relative;}
.alike_search_option label{display:inline-block; border:#e6e6e6 1px solid; line-height:30px; max-width:100%; padding:0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; box-sizing:border-box;}
.alike_search_option input[type=checkbox]{visibility:hidden; position:absolute; top:0; left:0;}
.alike_search_option input[type=checkbox]:checked + label{border-color:#9e4455; background:#9e4455; color:#fff;}
.plus_review_popup_alike_search .btn_box {display:table;width:100%; position:fixed; bottom:0; left:0; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid;}
.plus_review_popup_alike_search .btn_box li {display:table-cell; width:65%;}
.plus_review_popup_alike_search .btn_box li:first-child {width:35%;}
.plus_review_popup_alike_search .btn_box li button{border:none;}
.plus_review_popup_alike_search .close_btn {position:fixed; top:0; right:0; z-index:100;}
.plus_review_loading{text-align:center; margin:10px 0;}
.plus_review_loading img{max-width:100%;}

.selected_goods_wrap .pr_remove_goods {
    padding-left: 20px;
}
.btn_plus_review_register {
    padding-top: 5px;
}
/*** 플러스 리뷰 전체보기 위젯(기본형) ***/
/* 플러스리뷰 기본형 */
.plus_review_article_widget .board_list_plus_review{position:relative; padding:20px 0 0 0; border-top:2px solid #dbdbdb;}
.plus_review_article_widget .board_list_plus_review:after{display:block; clear:both; content:"";}
.plus_review_article_widget .board_list_plus_review > ul{float:left; width:100%; font-size:0;}
.plus_review_article_widget .board_list_plus_review > ul > li{display:inline-block; position:relative; margin:0 0 40px 0; font-size:12px; text-align:center; vertical-align:top;}
/* 플러스 리뷰 > 전체 상품후기 리스트 */
.plus_review_article_widget .plus_review_view{margin:-21px 0 0 0; background:#ffffff;}
.plus_review_article_widget .plus_review_view_list{display: table; width:100%; margin-top:-1px;padding:20px 0 20px 0;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}
.plus_review_article_widget .plus_review_view_list .goods_photo{display:block; width:100px; height:100px; border:1px solid #dbdbdb;}
.plus_review_article_widget .plus_review_view_list .goods_photo img{width:100%; height:100%;}
/* 별 + 날짜 + 이름 */
.plus_review_article_widget .plus_review_view .star_day_name{padding:0 20px 0 20px; display: table-cell;width: 15%;}
.plus_review_article_widget .plus_review_view .star_day_name strong{display:block; color:#ffcc00; font-size:20px;}
.plus_review_article_widget .plus_review_view .star_day_name span{display:block; padding:5px 0 5px 0; color:#787878;}
/* 옵션, 내용 */
.plus_review_article_widget .plus_review_view .option_text_file_box{padding: 0 20px 0 10px;display: table-cell;width: 85%; vertical-align:top;}
.plus_review_article_widget .plus_review_view .option_text_file_box .goods_tit{display:block; padding:0 0 10px 0; font-size:13px;}
/* 옵션 */
.plus_review_article_widget .plus_review_view .option_text_file_box .option_list_cont{display:block; padding:20px 20px 20px 20px; border-bottom:1px solid #f0f0f0; background:#f8f8f8;}
.plus_review_article_widget .plus_review_view .option_text_file_box .option_list_cont dl{display:block; width:100%; min-height:31px; padding:0; font-size:0;}
.plus_review_article_widget .plus_review_view .option_text_file_box .option_list_cont dt{display:inline-block; width:100px; padding:0; color:#484848; font-size:12px; font-weight:bold; vertical-align:middle;}
.plus_review_article_widget .plus_review_view .option_text_file_box .option_list_cont dd{display:inline-block; height:21px; padding:7px 0 0 0; font-size:12px; vertical-align:middle;}
/* 내용 */
.plus_review_article_widget .plus_review_view .text_file_cont {word-break:break-word;}
.plus_review_article_widget .plus_review_view .text_file_cont .review_text{min-height:50px; margin:15px 0 15px 0;}
.plus_review_article_widget .plus_review_view .text_file_cont .btn_review_text_more{margin:0 0 0 10px; color:#484848; font-size:11px; border-bottom:1px solid #484848;}
/* 내용안에 이미지 */
.plus_review_article_widget .plus_review_view .text_file_cont .file_upload_list{float:none; font-size:0; cursor:pointer;}
.plus_review_article_widget .plus_review_view .text_file_cont .file_upload_list ul li{display:inline-block; position:relative; width:auto; height:auto; margin:10px 8px 10px 0;}
.plus_review_article_widget .plus_review_view .text_file_cont .file_upload_list ul li img{width:100px; height:100px; border:1px solid #dbdbdb;}
.plus_review_article_widget .plus_review_view .text_file_cont .file_upload_list .img_pr_zoom{position:absolute; top:102px; left:0px; max-width:600px; width:auto; height:auto; z-index:999000;}
/* 댓글 */
.plus_review_article_widget .plus_review_view .review_comment_box{display:block;}
.plus_review_article_widget .plus_review_view .review_comment{padding:0 0 10px 0;}
.plus_review_article_widget .plus_review_view .review_comment_top{overflow:hidden; width:100%; padding:10px 0 10px 0; border-bottom:none 0;}
.plus_review_article_widget .plus_review_view .review_comment_top .comment_num{padding:0 20px 0 0;}
.plus_review_article_widget .plus_review_view .review_comment_top .comment_num strong{ border-bottom:1px solid #333;}
.plus_review_article_widget .plus_review_view .review_comment_top .comment_best_num{color:#f39618;}
.plus_review_article_widget .plus_review_view .review_comment_top .btn_view_comment_box{float:right;}
.plus_review_article_widget .plus_review_view .btn_comment_best{display:inline-block; min-width:50px; margin:0 0 0 10px; padding:1px 5px 2px 5px; color:#ffffff; font-size:11px; border:1px solid #f39618; background:#f39618; text-align:center;}
/*** 플러스 리뷰 전체보기 위젯(간편형) ***/
.plus_review_article_widget.simple .plus_review_view {margin:0;}
.plus_review_article_widget.simple .plus_review_view .star_day_name{padding: 0; display: table-cell;width: 15%;}
.plus_review_article_widget .plus_review_view .text_file_cont .file_upload_list{cursor:pointer;}
.plus_review_article_widget .plus_review_view .star_day_name{padding:0 20px 0 20px; display: table-cell;width: 15%;}
.plus_review_article_widget .plus_review_view .star_day_name strong{display:block; color:#ffcc00; font-size:20px;}
.plus_review_article_widget .plus_review_view .star_day_name span{display:block; padding:5px 0 5px 0; color:#787878;}
.plus_review_article_widget .plus_review_list ul li {padding:10px 10px 10px 10px; border-bottom:1px solid #e5e5e5;}
.plus_review_article_widget .list_left {display:table-cell; width:100%; vertical-align:top;}
.plus_review_article_widget .list_left .goods_nm{font-size:13px; font-weight:bold; padding-bottom:10px;}
.plus_review_article_widget .list_left .plus_reivew_contents_box .plus_reivew_contents a {text-decoration:underline;}
.plus_review_article_widget .list_left .plus_reivew_contents_box {padding-bottom:10px;}
.plus_review_article_widget .list_right {display:table-cell; padding:0 0 0 10px; vertical-align:top; width:100%;}
.plus_review_article_widget .list_right .plus_reivew_contents_box {display:table; width:100%; padding:10px 0 5px 0;}
.plus_review_article_widget .list_right .plus_reivew_contents_box .plus_reivew_contents {display:table-cell; padding:0 10px 0 0; vertical-align:top;}
.plus_review_article_widget .list_right .plus_reivew_contents_box .plus_reivew_contents_img {display:table-cell; width:60px; vertical-align:top; font-size:0;}
.plus_review_article_widget .list_right .plus_reivew_contents_box .plus_reivew_contents_img img {width:60px;}