{*** 목록 | board/list.php ***}
{ # header }
<div>
    <div class="border_select">
        <div class="select_box">
            <span class="txt"></span>
            <span class="icon"><img src="../img/icon/icon_arrow.png" alt=""></span>
            <ul class="list_box">
                <li>
                    <a href="./list.php?bdId=notice">공지사항</a>
                </li>
                <li>
                    <a href="./list.php?bdId=goodsqa">질문과답변</a>
                </li>
                <li>
                    <a href="./list.php?bdId=goodsreview">이용후기</a>
                </li>
                <li>
                    <a href="./list.php?bdId=event">이벤트</a>
                </li>
                <li>
                    <a href="../service/faq.php">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
    { #list}

    <script type="text/javascript">
        <!--
        $(document).ready(function(){
            $('.select_box').click(function(){
                $('.list_box').stop().slideToggle(300);
            });

            function getUrlParams() {
                let params = {};
                window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
                return params;
            }

            const selectTxt = document.querySelector('.select_box .txt');
            const params = getUrlParams();
            if (params.bdId === 'notice') {
                selectTxt.textContent = '공지사항'
            } else if (params.bdId === 'goodsqa') {
                selectTxt.textContent = '질문과답변'
            } else if (params.bdId === 'goodsreview') {
                selectTxt.textContent = '이용후기'
            } else if (params.bdId === 'event') {
                selectTxt.textContent = '이벤트'
            }
        });
        //-->
    </script>
</div>
{ # footer }
