{*** 작성 | write.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/board_write.css" rel="stylesheet">
<section class="section_container" <!--{ ? req.noheader == 'y' }-->style="padding:0;"<!--{ / }-->>
    <div class="center_layer">
        <!--{ ? req.noheader != 'y' }-->
            <!--{ ? req.bdId == 'notice' || req.bdId == 'goodsqa' }-->
            <!-- 고객센터 메뉴 -->
            {=includeFile('proc/_cs_menu.html')}
            <!--// 고객센터 메뉴 -->
            <!--{ / }-->
            <!--{ ? req.bdId == 'event' }-->
            <!-- 이벤트 메뉴 -->
            {=includeFile('proc/_event_menu.html')}
            <!--// 이벤트 메뉴 -->
            <!--{ / }-->
            <!--{ ? req.bdId == 'goodsreview' }-->
            <!-- 이용후기 메뉴 -->
            {=includeFile('proc/_review_menu.html')}
            <!--// 이용후기 메뉴 -->
            <!--{ / }-->
        <!--{ / }-->
        { #write}
    </div><!-- .center_layer -->
</section><!-- .section_container -->
{ # footer }
