{*** 쇼핑몰 메인본문 | main/index.php ***}
{ # header }
<link href="../css/main.css" rel="stylesheet">
<section class="section_container">
    <div class="shortcut_wrapper">
        <ul class="shortcut_layer center_layer">
            <!--{ @dataBanner('782176668', true) }-->
            <li>
                <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
            </li>
            <li class="separate"></li>
            <!--{ / }-->
        </ul>
    </div><!-- .shortcut_wrapper -->
    <div class="best_wrapper newest_wrapper">
        <div class="center_layer">
            <div class="big_title"><img src="../img/main/title_best.png" alt=""></div>
            <ul class="tab_layer">
                <li>
                    <a href="#" onclick="return false;" data-box="one"><img src="../img/main/tab_best_1_on.png" alt=""></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-box="two"><img src="../img/main/tab_best_2_off.png" alt=""></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-box="three"><img src="../img/main/tab_best_3_off.png" alt=""></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-box="four"><img src="../img/main/tab_best_4_off.png" alt=""></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-box="five"><img src="../img/main/tab_best_6_off.png" alt=""></a>
                </li>
            </ul><!-- .tab_layer -->
            <div class="box_layer">
                <ul class="one">
                    <!--{ @dataBanner('2640822563', true) }-->
                    <li>
                        <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                    </li>
                    <!--{ / }-->
                </ul>
                <ul class="two">
                    <!--{ @dataBanner('2724025122', true) }-->
                    <li>
                        <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                    </li>
                    <!--{ / }-->
                </ul>
                <ul class="three">
                    <!--{ @dataBanner('2046408785', true) }-->
                    <li>
                        <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                    </li>
                    <!--{ / }-->
                </ul>
                <ul class="four">
                    <!--{ @dataBanner('3560641317', true) }-->
                    <li>
                        <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                    </li>
                    <!--{ / }-->
                </ul>
                <ul class="five">
                    <!--{ @dataBanner('3356508179', true) }-->
                    <li>
                        <a href="{.bannerLink}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                    </li>
                    <!--{ / }-->
                </ul>
            </div><!-- .box_layer -->
        </div><!-- .center_layer -->
    </div><!-- .best_wrapper -->
    <div class="hot_wrapper newest_wrapper">
        <div class="center_layer">
            <div class="big_title"><img src="../img/main/title_notice.png" alt=""></div>
            <ul class="gallery_layer">
                <!--{ @dataBanner('1408043158', true) }-->
                <li>
                    <a href="{.bannerLink}" target="{.bannerTarget}"><img src="{.bannerImageUrl}" alt="{.bannerImageAlt}"></a>
                </li>
                <!--{ / }-->
            </ul>
            <div class="box_layer swiper-container" id="MainHotSlide" style="display:none;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="left">
                                <div class="title">Every sweet day [레이저]</div>
                                <div class="price">107,000 won</div>
                            </div>
                            <div class="right">
                                <div class="desc">
                                신랑 신부의 모습을 귀여운 일러스트로 풀어낸 러블리한 감성의 레이저 청첩장입니다. 청첩장을 열면 숨겨진 비밀이 짠!
                                </div>
                            </div>
                        </div><!-- .info -->
                    </div><!-- .swiper-slide -->
                    <div class="swiper-slide">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="left">
                                <div class="title">Every sweet day [레이저]</div>
                                <div class="price">107,000 won</div>
                            </div>
                            <div class="right">
                                <div class="desc">
                                신랑 신부의 모습을 귀여운 일러스트로 풀어낸 러블리한 감성의 레이저 청첩장입니다. 청첩장을 열면 숨겨진 비밀이 짠!
                                </div>
                            </div>
                        </div><!-- .info -->
                    </div><!-- .swiper-slide -->
                    <div class="swiper-slide">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="left">
                                <div class="title">Every sweet day [레이저]</div>
                                <div class="price">107,000 won</div>
                            </div>
                            <div class="right">
                                <div class="desc">
                                신랑 신부의 모습을 귀여운 일러스트로 풀어낸 러블리한 감성의 레이저 청첩장입니다. 청첩장을 열면 숨겨진 비밀이 짠!
                                </div>
                            </div>
                        </div><!-- .info -->
                    </div><!-- .swiper-slide -->
                </div><!-- .swiper-wrapper -->
                <div class="hot_next_button swiper-button-next"><i class="xi-angle-right-thin"></i></div>
                <div class="hot_prev_button swiper-button-prev"><i class="xi-angle-left-thin"></i></div>
            </div><!-- .box_layer -->
        </div><!-- .center_layer -->
    </div><!-- .hot_wrapper -->
</section>
{ # footer }

<script>
var main_hot_slide = new Swiper('#MainHotSlide', {
    slidesPerView: 2,
    spaceBetween: 10,
    navigation: {
        nextEl: '.hot_next_button',
        prevEl: '.hot_prev_button',
    },
});

jQuery(function($) {
    $(document).on('click', '.best_wrapper .tab_layer a', function() {
        $('.best_wrapper .tab_layer a').each(function() {
            $(this).find('img').attr('src', $(this).find('img').attr('src').replace('_on', '_off'));
        });
        $(this).find('img').attr('src', $(this).find('img').attr('src').replace('_off', '_on'));

        $('.best_wrapper .box_layer ul').each(function() {
            $(this).hide();
        });
        $('.best_wrapper .box_layer ul.' + $(this).data('box')).show();
    });
});
</script>