{*** 상품 리스트 | goods/card_list.php ***}
{ # header }
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" />
<link href="../css/contents.css" rel="stylesheet">

<section class="section_container card_list_section">
    <div class="center_layer">
        <div class="top_layer">
            <ul class="tab_area inline">
                <li class="list active">
                    <a href="#" class="on">
                        <img src="../img/sub/menu_goods55_on.png" alt="">
                    </a>
                    <a href="#" class="off">
                        <img src="../img/sub/menu_goods55_oof.png" alt="">
                    </a>
                </li>
                <li class="separate"></li>
                <li class="list">
                    <a href="#" class="on">
                        <img src="../img/sub/menu_goods56_on.png" alt="">
                    </a>
                    <a href="#" class="off">
                        <img src="../img/sub/menu_goods56_oof.png" alt="">
                    </a>
                </li>
                <li class="separate"></li>
                <li class="list">
                    <a href="#" class="on">
                        <img src="../img/sub/menu_goods57_on.png" alt="">
                    </a>
                    <a href="#" class="off">
                        <img src="../img/sub/menu_goods57_oof.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="custom_wrapper">
        <div class="center_layer">
            <div class="invitation_box">
                <div class="left">
                    <div class="sub_title">MOBILE INVITATION</div>
                    <div class="title">
                        <p>나만의 초대장 10분 만에 쉽게 만들기!</p>
                        <p>모바일 초대장 무료 제작 서비스</p>
                    </div>
                    <div class="btn_box">
                        <!--{ ? login=='notlogin' }-->
                        <button data-id="login" >초대장 제작하러가기</button>
                        <!--{ : }-->
                        <button data-id="card_write" >초대장 제작하러가기</button>
                        <!--{ / }-->
                    </div>
                </div>
                <div class="right">
                    <div class="right_content">
                        <div class="image_box">
                            <div class="img">
                                <img src="../img/goods/black_phone1.png" alt="">
                            </div>
                            <div class="img">
                                <img src="../img/goods/shadow1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="right_content">
                        <div class="image_box">
                            <div class="img">
                                <img src="../img/goods/black_phone3.png" alt="">
                            </div>
                            <div class="img">
                                <img src="../img/goods/shadow1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="right_content">
                        <div class="image_box">
                            <div class="img">
                                <img src="../img/goods/black_phone5.png" alt="">
                            </div>
                            <div class="img">
                                <img src="../img/goods/shadow1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="item_list_box">
            <div class="slide_box wedding_box">
                <div class="swiper-container wedding_slider">
                    <div class="swiper-wrapper">
                        <!--{ @ cards }-->
                        <!--{ ? .category==1 }-->
                        <div class="swiper-slide">
                            <a href="#" data-skin="/{.preview}">
                                <img src="../img/card/phone.png" alt="" class="out_img">
                                <div class="image_box">
                                    <img src="/{.thumb}" alt="" class="in_img">
                                </div>
                            </a>
                        </div>
                        <!--{ / }-->
                        <!--{ / }-->
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next wedding_slider_btn_next"></div>
                    <div class="swiper-button-prev wedding_slider_btn_prev"></div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination wedding_slider_pagination"></div>
            </div>
            <div class="slide_box baby_box">
                <div class="swiper-container baby_slider">
                    <div class="swiper-wrapper">
                        <!--{ @ cards }-->
                        <!--{ ? .category==2 }-->
                        <div class="swiper-slide">
                            <a href="#" data-skin="/{.preview}">
                                <img src="../img/card/phone.png" alt="" class="out_img">
                                <div class="image_box">
                                    <img src="/{.thumb}" alt="" class="in_img">
                                </div>
                            </a>
                        </div>
                        <!--{ / }-->
                        <!--{ / }-->
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next baby_slider_btn_next"></div>
                    <div class="swiper-button-prev baby_slider_btn_prev"></div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination baby_slider_pagination"></div>
            </div>
            <div class="slide_box old_box">
                <div class="swiper-container old_slider">
                    <div class="swiper-wrapper">
                        <!--{ @ cards }-->
                        <!--{ ? .category==3 }-->
                        <div class="swiper-slide">
                            <a href="#" data-skin="/{.preview}">
                                <img src="../img/card/phone.png" alt="" class="out_img">
                                <div class="image_box">
                                    <img src="/{.thumb}" alt="" class="in_img">
                                </div>
                            </a>
                        </div>
                        <!--{ / }-->
                        <!--{ / }-->
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next old_slider_btn_next"></div>
                    <div class="swiper-button-prev old_slider_btn_prev"></div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination old_slider_pagination"></div>
            </div>
        </div>
    </div>
</section>

<div class="sample_modal">
    <div class="content">
        <div class="image_box">
            <img src="" alt="">
        </div>
        <button class="close_btn">
            <i class="fas fa-times fa-2x"></i>
        </button>

    </div>
    <div class="back"></div>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    let category = 'wedding';
    let tabNumber = 0;
    const invitationContents = document.querySelectorAll('.invitation_box .right');
    const sliders = document.querySelectorAll('.slide_box');
    const TopList = document.querySelectorAll('.tab_area .list');
    TopList.forEach(( e, index ) => {
        e.addEventListener('click', (v) => {
            v.preventDefault();
            console.log(v.currentTarget)
            for (let i = 0; i < TopList.length; i += 1) {
                TopList[i].classList.remove('active');
            }
            v.currentTarget.classList.add('active');
            tabNumber = index;
            showContent(tabNumber , invitationContents)
            showContent(tabNumber , sliders);
            weddingSlider.update();
            babySlider.update();
            oldSlider.update();
            console.log(index);
            if (index === 0) {
                category = 'wedding';
            } else if (index === 1) {
                category = 'baby';
            } else if (index === 2) {
                category = 'old';
            }
        })
    });

    function showContent (teb, contents) {
        for (let i = 0; i < contents.length; i+= 1) {
            contents[i].style.display = 'none'
        };
        contents[teb].style.display = 'block';

    }
    showContent(tabNumber , invitationContents);
    showContent(tabNumber , sliders);


    const weddingSlider = new Swiper('.wedding_slider', {
        slidesPerView: 1,
        // spaceBetween: 30,
        navigation: {
            nextEl: '.wedding_slider_btn_next',
            prevEl: '.wedding_slider_btn_prev',
        },
        pagination: {
            el: '.wedding_slider_pagination',
            clickable: true,
        },
    });

    const babySlider = new Swiper('.baby_slider', {
        slidesPerView: 1,
        // spaceBetween: 30,
        navigation: {
            nextEl: '.baby_slider_btn_next',
            prevEl: '.baby_slider_btn_prev',
        },
        pagination: {
            el: '.baby_slider_pagination',
            clickable: true,
        },
    });

    const oldSlider = new Swiper('.old_slider', {
        slidesPerView: 1,
        // spaceBetween: 30,
        navigation: {
            nextEl: '.old_slider_btn_next',
            prevEl: '.old_slider_btn_prev',
        },
        pagination: {
            el: '.old_slider_pagination',
            clickable: true,
        },
    });



    // 스킨 미리보기 관련 코드

    const slideBoxButtons = document.querySelectorAll('.slide_box .swiper-slide a');
    const modal = document.querySelector('.sample_modal');
    const modalClsoeBtn = document.querySelector('.sample_modal .close_btn');
    const modalImage = document.querySelector('.sample_modal img');
    slideBoxButtons.forEach((element, index) => {
        element.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.currentTarget
            const src = target.getAttribute('data-skin');
            modalImage.setAttribute('src' , src);
            modal.classList.add('active');
        })
    });

    modalClsoeBtn.addEventListener('click', () => {
        modal.classList.remove('active');
    });



    // 스킨 선택 팝업창 관련 코드

    const modalOpenBtn = document.querySelector('.invitation_box .left .btn_box button');

    modalOpenBtn.addEventListener('click', function(){
        let bdId
        let goodsNo
        let sno
        let orderNo
        let goodsType


        bdId = modalOpenBtn.getAttribute('data-id');
        goodsNo = modalOpenBtn.getAttribute('data-goods-no');
        sno = modalOpenBtn.getAttribute('data-sno');
        orderNo = 12454
        goodsType = modalOpenBtn.getAttribute('data-goods-type');
        console.log(bdId, goodsNo, sno, orderNo, goodsType)
        openLayer(bdId, goodsNo, sno, orderNo, goodsType)


    })


    function openLayer(bdId, goodsNo,sno, orderNo, goodsType) {

        let url = "";
        const qs = "bdId="+bdId+"&category="+category;


        if (bdId === "login") {
            location.href = '/member/login.php';
        } else if (bdId === "card_write") {
            url = "http://aileenstory.com/goods/goods_card_skin_select.php?";
            window.open(url+qs, 'card_write', 'width=1200,height=800,scrollbars=yes');
        }

        // if(bdId === "pic_view"){
        //     url = "../goods/goods_pic_view_new.php?";
        //     window.open(url+qs, 'pic_view', 'width=1024,height=760,scrollbars=yes');
        // }else if(bdId === "pic_write"){
        //     url = "../goods/goods_pic_write.php?";
        //     window.open(url+qs, 'pic_write', 'width=640,height=760,scrollbars=yes');
        // }else if(bdId === "card_write"){
        //     url = "../goods/goods_card_skin_select.php?";
        //     window.open(url+qs, 'card_write', 'width=640,height=760,scrollbars=yes');
        // }else if(bdId === 'card_link'){
        //     url = "../goods/goods_card_link.php?";
        //     window.open(url+qs, 'card_link', 'width=640,height=520,scrollbars=yes');
        // }
    }


</script>


{ # footer }
