{*** 상품상세 | goods/goods_view.php ***}
{#header}
<script type="text/javascript" src="../js/gd_goods_view.js"></script>
<script src="../js/slider/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    <!--
    var goodsNo = '{goodsView.goodsNo}';
    var bdGoodsReviewId = '{bdGoodsReviewId}';
    var bdGoodsQaId = '{bdGoodsQaId}';
    var goodsViewController = new gd_goods_view();

    function gd_load_goods_board_list(bdId,goodsNo,page){
        $.ajax({
            method: "GET",
            url: "../goods/goods_board_list.php",
            data: {bdId: bdId, goodsNo: goodsNo, gboard : 'y',page : page},
            dataType: 'text',
            cache: false,
            async: false,
        }).success(function (data) {
            $.getScript('../js/plugins/modalEffects.js');
            if(page > 1) {
                $('.js_board_'+bdId+'_more').remove();
                $('.js_board_' + bdId+'_view').find(".item_list").append(data);
            } else {
                $('.js_board_' + bdId+'_view').find(".item_list").html(data);
            }
        }).error(function (e) {
            alert(e.responseText);
        });
    }

    /**
     * KC마크 인증정보창
     * @param string url KC인증번호검색 url
     * @return
     */
    function popupKcInfo(url) {
        var win = gd_popup({
            url: url
            , target: 'searchPop'
            , width: 750
            , height: 700
            , resizable: 'no'
            , scrollbars: 'yes'
        });
        win.focus();
        return win;
    }

    <!--{ ? myCreateNm!="" }-->
    $('body').css('display', 'none');
    <!--{ / }-->

    $(document).ready(function () {

        <!--{ ? myCreateNm!="" }-->
        $('body').css('display', 'none');
        <!--{ / }-->

        var parameters        = {
            'setControllerName' : goodsViewController,
            'setOptionFl' : '{=goodsView['optionFl']}',
            'setOptionTextFl'    : '{=goodsView['optionTextFl']}',
            'setOptionDisplayFl'    : '{=goodsView['optionDisplayFl']}',
            'setAddGoodsFl'    : '<!--{ ? is_array(goodsView['addGoods']) }-->y<!--{ : }-->n<!--{ / }-->',
                'setIntDivision'    : '{=c.INT_DIVISION}',
            'setStrDivision'    : '{=c.STR_DIVISION}',
            'setMileageUseFl'    : '{=mileageData['useFl']}',
            'setCouponUseFl'    : '{=couponUse}',
            'setMinOrderCnt'    : '{=goodsView['minOrderCnt']}',
            'setMaxOrderCnt'    : '{=goodsView['maxOrderCnt']}',
            'setStockFl'    : '{=gd_isset(goodsView['stockFl'])}',
            'setSalesUnit' : '{=gd_isset(goodsView['salesUnit'],1)}',
            'setDecimal' : '{currency.decimal}',
            'setGoodsPrice' : '{=gd_isset(goodsView['goodsPrice'],0)}',
            'setGoodsNo' : '{=goodsView['goodsNo']}',
            'setMileageFl' : ' {=goodsView['mileageFl']}',
            'setFixedSales' : '{=goodsView['fixedSales']}',
            'setFixedOrderCnt' : '{=goodsView['fixedOrderCnt']}',
            'setOptionPriceFl' : '{=optionPriceFl}'
    };

        if(window.location.hash== '#detail-review'){
            setTimeout(function(){
                $('a[data-target=js_board_goodsreview_view]').trigger('click');
            },1);
        }
        else if(window.location.hash== '#detail-qna') {
            setTimeout(function(){
                $('a[data-target=js_board_goodsqa_view]').trigger('click');
            },1);
        }
        $('.bn_srch').bind('click', function(e){
            var $viewport = $('head').children('meta[name="viewport"]');
            $viewport.attr('content', 'user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width');
        });


        $('#frmSearchTop .ly_btn_close').bind('click', function(e){
            var $viewport = $('head').children('meta[name="viewport"]');
            $viewport.attr('content', 'user-scalable=yes, width=device-width');
        });


        $(".js_password_layer .bn_cls").on('click',function (e){
            $(".js_password_layer").addClass("hidden");
            return false;
        });

        //$(".js_goods_description img").css("max-width",$(window).width());

        goodsViewController.init(parameters);


        $('.goods_view_image_slider').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            adaptiveHeight: true,
            fade: true
        });

        $('.goods_view_image_slider').on('beforeChange', function(event, slick, currentSlide, nextSlide){
            $(".js_option_add_image").remove();
            $(".slick-slide").show();
        });

        $(document).on('click','.btn_alert_login',function (e){
            var target = $(this).attr('id');
            alert("{=__('로그인하셔야 본 서비스를 이용하실 수 있습니다.')}");
            target == undefined ? document.location.href = "../member/login.php" : document.location.href = "../member/login.php?id=" + target;
            return false;
        });

        //옵션레이어불러오기
        var params = {
            type : 'goods',
            goodsNo: '{goodsView['goodsNo']}'
        };

        $.ajax({
            method: "POST",
            cache: false,
            url: "../goods/layer_option.php",
            data: params,
            success: function (data) {
                $(".st_buy_content").empty().append(data);
            }
        });

        <!--{ ? myCreateNm!="" }-->
        $.ajax({
            method: "POST",
            cache: false,
            url: "../goods/layer_option.php",
            data: params,
            success: function (data) {
                $(".st_buy_content").empty().append(data);
                gd_goods_order('d');
            }
        });
        <!--{ / }-->

        //하단 정보
        $('.detail_sub_lst > li').find('>a,>.js_accordian').on('click', function (e) {
            if ($(this).is('a')){
                e.preventDefault();
            }
            if ($(this).hasClass('disabled')) {
                return;
            }
            $('.detail_sub_lst > li').removeClass('selected');
            $(this).parent('li').toggleClass('selected');
            if ($(this).parent('li').hasClass('selected')) {
                $(".js_goods_info").children("div").hide();
                $("."+$(this).data('target')).fadeIn();
            } else {
                $("."+$(this).data('target')).hide();
            }

            if ($(this).data('bdid') == bdGoodsQaId || $(this).data('bdid') == bdGoodsReviewId) {
                $(".js_board_goodsreview_view .item_list").html('');
                $(".js_board_goodsqa_view .item_list").html('');
                gd_load_goods_board_list($(this).data('bdid'),goodsNo,1);
                if($(this).data('bdid') == bdGoodsReviewId){
                    $('#plusReviewList').show();
                }
            }
        });


        //필수정보
        gd_openblock();


        $('.btn_add_order').on('click', function(e){
            gd_goods_order('d');
            return false;
        });

        $('.btn_add_wish').on('click', function(e){
            gd_goods_order('w');
            return false;
        });

        $('.btn_add_cart').on('click', function(e){
            gd_goods_order();
            return false;
        });

        //상품 재입고 알림 팝업 오픈
        <!--{ ?goodsView['restockUsableFl'] === 'y' && !gGlobal.isFront }-->
        $('.btn_add_restock').on('click', function(e){
            window.open("./popup_goods_restock.php?goodsNo="+goodsNo, "popupRestock", "top=100, left=200, status=0, width=500px, height=600px");
            return false;
        });
        <!--{/}-->

        $('.js_option_layer').on('click', function(e){
            var params = {
                type : $(this).data('type'),
                sno: $(this).data('sno'),
                goodsNo: $(this).data('goodsno')
            };

            $('#popupOption').modal({
                remote: '../goods/layer_option.php',
                cache: false,
                params: params,
                type : 'POST',
                show: true
            });
        });

        //$('.btn_tab_area').on('click', function(e){
        //	change_tab($(this));
        //	return false;
        //});


        //$('.btn_tab_area').on('click', function(e){
        //	change_tab($(this));
        //	return false;
        //});

        <!--{ ? goodsView['timeSaleFl'] }-->
        $("#displayTimeSale").hide();
        gd_dailyMissionTimer("{=goodsView['timeSaleInfo']['timeSaleDuration']}");
        <!--{/}-->

        <!--{ ? ! canGoodsReview}-->
        //$('.tab-goodsreview').remove();
        <!--{/}-->

        <!--{ ? ! canGoodsQa}-->
        //$('.tab-goodsqa').remove();
        <!--{/}-->

        $('input[name="writerPw"]').bind('keydown', function(e) {
            if (e.which == 13) {
                e.preventDefault();
                $('.js_submit').trigger('click');
            }
        });

        // 장바구니 이동 레이어
        <!--{ ? cartInfo.moveCartPageFl == 'n' && cartInfo.moveCartPageDeviceFl != 'pc' }-->
        $('.layer_cartaddconfirm').click(function(){
            location.href = '../order/cart.php';
        });
        <!--{ / }-->

        // 찜리스트 이동 레이어
        <!--{ ? cartInfo.wishPageMoveDirectFl == 'n' && cartInfo.moveWishPageDeviceFl != 'pc' }-->
        $('.layer_wishaddconfirm').click(function(){
            $('#addWishLayer').addClass('dn');
            $('#layerDim').addClass('dn');
            location.href = '../mypage/wish_list.php';
        });
        <!--{ / }-->
    });


    <!--{ ? goodsView['timeSaleFl'] }-->
    /**
     * 시간간격 카운트
     * @returns {String}
     */
    function gd_dailyMissionTimer(duration) {

        var timer = duration;
        var days,hours, minutes, seconds;

        var interval = setInterval(function(){
            days    = parseInt(timer / 86400, 10);
            hours    = parseInt(((timer % 86400 ) / 3600), 10);
            minutes = parseInt(((timer % 3600 ) / 60), 10);
            seconds = parseInt(timer % 60, 10);
            if(days <= 0) {
                $('.time_day_view').hide();
            } else {
                $('#timeViewDay').html("");

                days     = days < 10 ? "0" + days : days;
                for(i = 0; i < days.toString().length; i++) {
                    $('#timeViewDay').append("<strong class='time_day_view'>"+days.toString().substr(i,1)+"</strong>");
                }
                $('.time_day_view_tail').text("{=__('일')}");
            }

            hours     = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            $('#timeViewTime strong').eq(0).text(hours.toString().substr(0,1));
            $('#timeViewTime strong').eq(1).text(hours.toString().substr(1,1));

            $('#timeViewTime strong').eq(2).text(minutes.toString().substr(0,1));
            $('#timeViewTime strong').eq(3).text(minutes.toString().substr(1,1));

            $('#timeViewTime strong').eq(4).text(seconds.toString().substr(0,1));
            $('#timeViewTime strong').eq(5).text(seconds.toString().substr(1,1));

            $("#displayTimeSale").show();

            if (--timer < 0) {
                timer = 0;
                clearInterval(interval);
            }
        }, 1000);
    }
    <!--{/}-->


    function gd_openblock(){
        $($('.js_openblock')[0]).find('.openblock_content').show(); // 첫번째 페이지 열어놓기
        $($('.js_openblock')[0]).find('.toggle_btn').addClass('open'); // 첫번째 페이지 버튼 open 상태로.
        $('.js_openblock .openblock_header').bind('click',function(){
            var content = $(this).next();
            var btn = $(this).find('.toggle_btn');
            if(content.css('display')=='block'){
                btn.removeClass('open');
                content.slideUp('fast');
            }else{
                btn.addClass('open');
                content.slideDown('fast');
            }
        });
    }

    $(function(){
        /* 탭 메뉴 */
        $('.detail_tab_info').find('button').on({
            'click':function(){
                if($(this).parent().find('.ly_info').css('display') =='none'){
                    $(this).parent().find('.ly_info').slideDown();
                    $(this).parent().find('button').removeClass().addClass('detail_tab_info_btn_on');
                }else{
                    $(this).parent().find('.ly_info').slideUp();
                    $(this).parent().find('button').removeClass().addClass('detail_tab_info_btn');
                }
            }
        });

        $('.detail_tab_info .ly_info li a').on({
            'click':function() {
                $($(this).attr("href")+" a:first").click();
            }
        });

        /* SNS 공유 */
        $('.share_btn, .js_lys_close, .ly_share_bg').on({
            'click':function(e){
                e.preventDefault();
                if($('.ly_share').css('display') == 'none'){
                    // 단축주소 가져오기
                    $.ajax({
                        type: 'post',
                        url: './goods_ps.php',
                        async: true,
                        cache: true,
                        data: {
                            mode: 'get_short_url',
                            url: '{=snsShareUrl}'
                        },
                        success: function (data) {
                            var json = $.parseJSON(data);
                            $('.copy input').val(json.url);
                            $('.copy button').attr('data-clipboard-text', json.url);
                        }
                    });
                    $('.ly_share').fadeIn('fast');
                    gd_lypop_share_postion();
                }else{
                    $('.ly_share').fadeOut('fast');
                }
            }
        });
        /* 레이어 팝업 위치 */
        var gd_lypop_share_postion = function(){
            var ly_h = $('.ly_share .ly_share_content').innerHeight()/2;
            $('.ly_share .ly_share_content').css('margin-top','-'+ly_h+'px');
        }


    });
    //-->
</script>

<!-- 상품 상세 목록 -->
<div class="goods_view">
    <!--{ ? goodsView['timeSaleFl'] }-->
    <div class="time_sale_box">
        <div class="event">
            <div class="time_count" id="displayTimeSale">
                <div class="sale_percent">{=goodsView['timeSaleInfo']['benefit']}% {=__('할인')} </div>
                <div class="time_sale_date_box">
                    <span class="time_sale_icon"><img src="../img/icon/icon_timesale.png" alt="{=__('타임세일아이콘')}"></span>
                    <div id="timSaleDate" class="timesaledate">
                        <span id="timeViewDay" class="time_day"></span>
                        <span class="time_day_view_tail"></span>
                        <span id="timeViewTime" class="time_box">
							<strong class="time"></strong>
							<strong class="time"></strong>
							<span>:</span>
							<strong class="time"></strong>
							<strong class="time"></strong>
							<span>:</span>
							<strong class="time"></strong>
							<strong class="time"></strong>
						</span>
                    </div>
                </div>
                <!--{ ? goodsView['timeSaleInfo']['orderCntDisplayFl']=='y' }-->
                <p class="sale_order_count">{=__('현재 ')}<strong>{=number_format(goodsView['timeSaleInfo']['orderCnt'])}</strong>{=__('개 구매')}</p>
                <!--{ / }-->
            </div>
        </div>
    </div>
    <!--{ / }-->
<!--    <div class="detail_tab_info">-->
<!--        <button type="button" class="detail_tab_info_btn">INFO</button>-->
<!--        <ul class="ly_info">-->
<!--            <li><a href="#goodsDescription" id="btnGodosDescriptiton">{=__('상세정보')}</a></li>-->
<!--            <li><a href="#goodsInfo" id="btnGodosInfo">{=__('기본정보')}</a></li>-->
<!--            <li><a href="#detailReview" id="btnDetailReview">{=__('상품후기')}<span> ({goodsReviewCount+plusReview.info.reviewCount})</span></a></li>-->
<!--            <li><a href="#detailQna" id="btnDetailQna">{=__('상품문의')}<span> ({goodsQaCount})</span></a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <!--{ ? snsShareUseFl }-->
    <div class="ly_share" style="display:none;">
        <div class="ly_share_bg"></div>
        <div class="ly_share_content">
            <div class="ly_share_box">
                <h3>{=__('공유하기')}</h3>
                <ul>
                    <!--{ @ snsShareButton }-->{.value_}<!--{ / }-->
                </ul>
                <!--{ ? snsShareUrl }-->
                <div class="copy">
                    <div class="input"><input type="text" value="{snsShareUrl}"></div>
                    <div class="btn"><button type="button" class="sns_clip_board_btn gd_clipboard" data-clipboard-text="{snsShareUrl}" title="{=__('상품주소')}">{=__('URL복사')}</button></div>
                </div>
                <!--{ / }-->
                <div class="btn_box"><button class="js_lys_close lys_close1_btn">{=__('닫기')}</button></div>
            </div>
        </div>
    </div>
    <!--{ / }-->
    <div class="cont_detail">
        <!--{ ? goodsView['externalVideoFl'] =='y'  && goodsView['externalVideoUrl'] }-->
        <div class="video_area">
            <iframe src="{goodsView['externalVideoUrl']}" width="{goodsView['externalVideoWidth']}" height="{goodsView['externalVideoHeight']}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div><!-- .video_area -->
        <!--{ / }-->
<!--        <ul class="slider-wrap goods_view_image_slider" >-->
<!--            &lt;!&ndash;{ @ gd_isset(goodsView['image']['detail']['img']) }&ndash;&gt;-->
<!--            <li>{=.value_}</li>-->
<!--            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--        </ul>-->
    </div>
    <!--{ ? in_array('goodsColor',displayAddField) }-->
    {goodsView['goodsColor']}
    <!--{ / }-->
    <div class="detail_info">
        <form  method="post">
            <input type="hidden" name="mode" value="cartIn" />
            <input type="hidden" name="scmNo" value="{=goodsView['scmNo']}" />
            <input type="hidden" name="cartMode" value="" />
            <input type="hidden" name="set_goods_price"   value="{=gd_global_money_format(gd_isset(goodsView['goodsPrice'],0),false)}" />
            <input type="hidden" name="set_goods_fixedPrice"  id="set_goods_fixedPrice" value="{=gd_isset(goodsView['fixedPrice'],0)}" />
            <input type="hidden" name="set_goods_mileage" value="{=gd_isset(goodsView['goodsMileageBasic'],0)}" />
            <input type="hidden" name="set_goods_stock" value="{=gd_isset(goodsView['stockCnt'],0)}" />
            <input type="hidden" name="set_coupon_dc_price" value="{=gd_isset(goodsView['goodsPrice'],0)}" />

            <input type="hidden" name="set_goods_total_price" id="set_goods_total_price" value="0" />
            <input type="hidden" name="set_option_price"  id="set_option_price" value="0" />
            <input type="hidden" name="set_option_text_price" id="set_option_text_price" value="0" />
            <input type="hidden" name="set_add_goods_price"  id="set_add_goods_price" value="0" />
            <input type="hidden" name="set_total_price" value="0" />


            <input type="hidden" name="mileageFl" value="{=goodsView['mileageFl']}" />
            <input type="hidden" name="mileageGoods" value="{=goodsView['mileageGoods']}" />
            <input type="hidden" name="mileageGoodsUnit" value="{=goodsView['mileageGoodsUnit']}" />
            <input type="hidden" name="goodsDiscountFl" value="{=goodsView['goodsDiscountFl']}" />
            <input type="hidden" name="goodsDiscount" value="{=goodsView['goodsDiscount']}" />
            <input type="hidden" name="goodsDiscountUnit" value="{=goodsView['goodsDiscountUnit']}" />

            <input type="hidden" name="taxFreeFl" value="{=goodsView['taxFreeFl']}" />
            <input type="hidden" name="taxPercent" value="{=goodsView['taxPercent']}" />

            <input type="hidden" name="scmNo" value="{=goodsView['scmNo']}" />
            <input type="hidden" name="brandCd" value="{=goodsView['brandCd']}" />
            <input type="hidden" name="cateCd" value="{=goodsView['cateCd']}" />
            <input type="hidden" id="set_dc_price" value="0" />

            <!--{ ? goodsView['timeSaleFl'] }-->
            <!--{ ? goodsView['timeSaleInfo']['mileageFl'] =='n' }-->
            <input type="hidden" name="goodsMileageExcept" value="y" />
            <!--{ / }-->
            <!--{ ? goodsView['timeSaleInfo']['memberDcFl'] =='n' }-->
            <input type="hidden" name="memberBenefitExcept" value="y" />
            <!--{ / }-->
            <!--{ ? goodsView['timeSaleInfo']['couponFl'] =='n' }-->
            <input type="hidden" name="couponBenefitExcept" value="y" />
            <!--{ / }-->
            <!--{ / }-->
            <input type="hidden" id="goodsOptionCnt" value="1" />
            <input type="hidden" name="useBundleGoods" value="1" />
            <input type="hidden" name="goodsDeliveryFl" value="{=goodsView['delivery']['basic']['goodsDeliveryFl']}" />
            <input type="hidden" name="sameGoodsDeliveryFl" value="{=goodsView['delivery']['basic']['sameGoodsDeliveryFl']}" />
            <div class="detail_info_top">
                <!--{ ? in_array('goodsIcon',displayAddField) && goodsView['goodsIcon'] }-->
                <div class="prd_icon">{goodsView['goodsIcon']}</div>
                <!--{ / }-->
                <!--{ ? goodsView['brandNm'] }-->
                <p class="brand">{goodsView['brandNm']}</p>
                <!--{ / }-->

                <h3>
                    <!--{ ? goodsView['timeSaleFl'] && goodsView['timeSaleInfo']['goodsNmDescription'] }-->
                    [{=goodsView['timeSaleInfo']['goodsNmDescription']}]
                    <!--{ / }-->
                    {=gd_isset(goodsView['goodsNmDetail'])}
                </h3>
                <div class="price_box">
                    <div class="desc">{goodsView['shortDescription']}</div>
                    <div class="price_content">
                        <!--{ ? goodsView['soldOut'] =='y' && soldoutDisplay.soldout_price == 'text'}-->
                        <strong class="price">{=soldoutDisplay.soldout_price_text}</strong>
                        <!--{ : goodsView['soldOut'] =='y' && soldoutDisplay.soldout_price == 'custom'}-->
                        <img src="{soldoutDisplay.soldout_price_img}">
                        <!--{ : }-->
                        <!--{ ? goodsView['goodsPriceString'] !='' }-->
                        <strong class="price">{goodsView['goodsPriceString']}</strong>
                        <!--{ : }-->

                        <!-- //myCouponSalePrice.s -->
                        <!--{ ? gd_isset(goodsView['myCouponSalePrice']) > 0 && ((!goodsView['timeSaleFl']) || (goodsView['timeSaleFl'] && couponUse == 'y')) }-->
                        <span class="coupon_price">{=__('내 쿠폰적용가')} </span>
                        <strong class="price">{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['myCouponSalePrice'])}</strong><span class="won2">{=gd_global_currency_string()}</span>
                        <!--{ ? goodsView['timeSaleFl'] && goodsView['timeSaleInfo']['goodsPriceViewFl'] =='y' && goodsView['oriGoodsPrice'] > 0 }-->
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['oriGoodsPrice'])}{=gd_global_currency_string()}</del>
                        <!--{ : }-->
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}</del><span class="won1">{=gd_global_currency_string()}</span>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!-- //myCouponSalePrice.e -->

                        <!--{ ? goodsView['couponPrice'] > 0 && ((!goodsView['timeSaleFl']) || (goodsView['timeSaleFl'] && couponUse == 'y')) }-->
                        <!--{ ? gd_isset(goodsView['myCouponSalePrice']) > 0 }--><br /><!--{ / }-->
                        <span class="coupon_price">{=__('쿠폰적용가')} </span><strong class="price">{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['couponPrice'])}</strong><span class="won2">{=gd_global_currency_string()}</span>
                        <!--{ / }-->
                        <!--{ ? goodsView['timeSaleFl'] && goodsView['timeSaleInfo']['goodsPriceViewFl'] =='y' && goodsView['oriGoodsPrice'] > 0 }-->
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['oriGoodsPrice'])}{=gd_global_currency_string()}</del><br />
                        <span class="time_sale_price">{=__('타임세일가')} </span><strong class="price">{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}</strong><span class="won">{=gd_global_currency_string()}</span>
                        <!--{ : }-->
                        <!--{ ? goodsView['displayCouponPrice'] !== 'y' }-->
                        <strong class="price">{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}</strong><span class="won">{=gd_global_currency_string()}</span>
                        <!--{ ? goodsView['fixedPrice'] && goodsView['fixedPrice'] > 0 }-->
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['fixedPrice'])}</del><span class="won1">{=gd_global_currency_string()}</span>
                        <!--{ / }-->
                        <!--{ : goodsView['couponPrice'] > 0 }-->
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}</del><span class="won1">{=gd_global_currency_string()}</span>
                        <!--{ / }-->
                        <!--{ / }-->

                        <em class="add_currency">{=gd_global_add_currency_display(goodsView['goodsPrice'])}</em>

                        <!--{ ? goodsView['dcPrice'] > 0 }-->
                        <br /><span class="coupon_price">{=__('할인적용가')}</span><strong class="price">{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'] - goodsView['dcPrice'])}</strong><span class="won">{=gd_global_currency_string()}</span>
                        <del>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}</del><span class="won1">{=gd_global_currency_string()}</span>
                        <!--{ / }-->

                        <!--{ / }-->
                        <!--{ / }-->
                        {=myappGoodsBenefitMessage}
                        <!--{ ? empty(couponArrData) === false }-->
                        <div class="coupon_box">
                            <!--{ ? gd_is_login() === false }-->
                            <button id="lnCouponDown" class="detail_coupon_btn btn_alert_login">{=__('쿠폰받기')}</button>
                            <!--{ : }-->
                            <a href="../goods/layer_coupon_down.php?goodsNo={goodsView.goodsNo}" class="detail_coupon_btn" data-toggle="modal"  data-cache="false" data-target="#popupCoupon" data-type="post" >{=__('쿠폰받기')}</a>
                            <!--{ / }-->
                        </div>
                        <!--{ / }-->
                    </div>


                </div>
            </div>


            <div class="st_buy_content"></div>

<!--            &lt;!&ndash;{ ? goodsView['optionFl'] == 'y' || goodsView['optionTextFl'] == 'y' || goodsView['addGoods'] }&ndash;&gt;-->
<!--            <div class="item_add_option_box">-->
<!--                &lt;!&ndash;{ ? goodsView['addGoods'] }&ndash;&gt;-->
<!--                &lt;!&ndash;{ @ goodsView['addGoods'] }&ndash;&gt;-->
<!--                <dl>-->
<!--                    <dt>-->
<!--                        <button type="button" class="create_service_btn">제작서비스란?</button>&lt;!&ndash;{ ? .mustFl =='y' }&ndash;&gt;<strong> ({=__('필수')})</strong><input type="hidden" name="addGoodsInputMustFl[]" value="{.key_}">&lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        <div class="create_service_modal">-->
<!--                            <div class="content">-->
<!--                                <img src="../img/goods/create_service.png" alt="">-->
<!--                            </div>-->
<!--                            <div class="back"></div>-->
<!--                        </div>-->
<!--                    </dt>-->
<!--                    <dd>-->
<!--                        <select name="addGoodsInput{.key_}" class="chosen-select" onchange="goodsViewController.add_goods_select(this)" data-key="{.key_}"&lt;!&ndash;{ ? goodsView['orderPossible'] != 'y' }&ndash;&gt; disabled="disabled"&lt;!&ndash;{ / }&ndash;&gt;>-->
<!--                        <option value="">{=__('추가상품')}</option>-->
<!--                        &lt;!&ndash;{ @ .addGoodsList }&ndash;&gt;-->
<!--                        <option-->
<!--                        &lt;!&ndash;{ ? .addGoodsImageFl=='y' }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? ..imageSrc }&ndash;&gt;-->
<!--                        data-img-src="{..imageSrc}"-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        data-img-src="blank"-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;value="{=..addGoodsNo}{=c.INT_DIVISION}{=..goodsPrice}{=c.STR_DIVISION}{=..goodsNm}-->
<!--                        &lt;!&ndash;{ ? ..optionNm }&ndash;&gt;({=..optionNm})&lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        {=c.STR_DIVISION}{=rawurlencode(gd_html_add_goods_image(..addGoodsNo, ..imageNm, ..imagePath, ..imageStorage, 30, ..goodsNm, '_blank'))}{=c.STR_DIVISION}{=.key_}{=c.STR_DIVISION}{=..stockUseFl}{=c.STR_DIVISION}{=..stockCnt}"-->
<!--                        &lt;!&ndash;{ ? ..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0')  }&ndash;&gt;-->
<!--                        disabled="disabled"-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;>{=..goodsNm}-->
<!--                        &lt;!&ndash;{ ? ..optionNm || gd_isset(..goodsPrice) != '0' || (..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0')) }&ndash;&gt;-->
<!--                        (-->
<!--                        &lt;!&ndash;{ ? ..optionNm }&ndash;&gt;-->
<!--                        {=..optionNm}-->
<!--                        &lt;!&ndash;{ ? gd_isset(..goodsPrice) != '0' || (..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0')) }&ndash;&gt;-->
<!--                        /-->
<!--                        &lt;!&ndash;{ ? gd_isset(..goodsPrice) != '0'  }&ndash;&gt;-->
<!--                        {=gd_global_currency_symbol()}-->
<!--                        &lt;!&ndash;{ ? gd_isset(..goodsPrice) > 0   }&ndash;&gt;+&lt;!&ndash;{ / }&ndash;&gt;{=gd_global_money_format(..goodsPrice)}{=gd_global_currency_string()}-->
<!--                        &lt;!&ndash;{ ? ..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0') }&ndash;&gt; / {=__('품절')}&lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        {=__('품절')}-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : gd_isset(..goodsPrice) != '0' || (..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0')) }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? gd_isset(..goodsPrice) != '0' }&ndash;&gt;-->
<!--                        {=gd_global_currency_symbol()}-->
<!--                        &lt;!&ndash;{ ? gd_isset(..goodsPrice) > 0 }&ndash;&gt;+&lt;!&ndash;{ / }&ndash;&gt;{=gd_global_money_format(..goodsPrice)}{=gd_global_currency_string()}-->
<!--                        &lt;!&ndash;{ ? ..soldOutFl =='y' || (..stockUseFl =='1' && ..stockCnt == '0') }&ndash;&gt; / {=__('품절')}&lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        {=__('품절')}-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        {=__('품절')}-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        )-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;</option>-->

<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        </select>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--                &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                <span class="txt">*제작 서비스는 사진 접수 후 업무일 기준 2~3일 소요됩니다.</span>-->
<!--            </div>-->
<!--            &lt;!&ndash; //item_add_option_box &ndash;&gt;-->
<!--            &lt;!&ndash;{ / }&ndash;&gt;-->







<!--            <div class="detail_sub_info">-->
<!--                { ? goodsView['makerNm'] }-->
<!--                <dl>-->
<!--                    <dt>{=__('제조사')}</dt>-->
<!--                    <dd>{goodsView['makerNm']}</dd>-->
<!--                </dl>-->
<!--                { / }-->
<!--                { ? goodsView['originNm'] }-->
<!--                <dl>-->
<!--                    <dt>{=__('원산지')}</dt>-->
<!--                    <dd>{goodsView['originNm']}</dd>-->
<!--                </dl>-->
<!--                { / }-->
<!--                &lt;!&ndash;{ ? !gGlobal.isFront }&ndash;&gt;-->
<!--                <dl>-->
<!--                    <dt>{=__('배송정보')}</dt>-->
<!--                    <dd>-->
<!--                        &lt;!&ndash;{ ? goodsView['multipleDeliveryFl'] === true }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'fixed'  }&ndash;&gt;-->
<!--                        <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['firstCharge']['0']['price'])}{=gd_global_currency_string()}</span>-->
<!--                        &lt;!&ndash;{ ? addGlobalCurrency }&ndash;&gt;-->
<!--                        <span>{=gd_global_add_currency_display(goodsView['delivery']['firstCharge']['0']['price'])}</span>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['firstCharge'][goodsView['selectedDeliveryPrice']]['price'])}{=gd_global_currency_string()}</span>-->
<!--                        &lt;!&ndash;{ ? addGlobalCurrency }&ndash;&gt;-->
<!--                        <span>{=gd_global_add_currency_display(goodsView['delivery']['firstCharge'][goodsView['selectedDeliveryPrice']]['price'])}</span>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        <a href="../goods/goods_info.php?target=detailConditionalShipping" data-toggle="modal" data-cache="false" data-target="#popupDetailInfo" class="condition_del">({=__('조건부배송')})</a>-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'free'  }&ndash;&gt;-->
<!--                        <span>{=__('무료')}</span>-->
<!--                        &lt;!&ndash;{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'fixed'  }&ndash;&gt;-->
<!--                        <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['charge']['0']['price'])}{=gd_global_currency_string()}</span>-->
<!--                        &lt;!&ndash;{ ? addGlobalCurrency }&ndash;&gt;-->
<!--                        <span>{=gd_global_add_currency_display(goodsView['delivery']['charge']['0']['price'])}</span>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                        <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['charge'][goodsView['selectedDeliveryPrice']]['price'])}{=gd_global_currency_string()}</span>-->
<!--                        &lt;!&ndash;{ ? addGlobalCurrency }&ndash;&gt;-->
<!--                        <span>{=gd_global_add_currency_display(goodsView['delivery']['charge'][goodsView['selectedDeliveryPrice']]['price'])}</span>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        <a href="../goods/goods_info.php?target=detailConditionalShipping" data-toggle="modal" data-cache="false" data-target="#popupDetailInfo" class="condition_del">({=__('조건부배송')})</a>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? gd_isset(goodsView['delivery']['basic']['areaFl']) == 'y'  }&ndash;&gt;-->
<!--                        <a href="../goods/goods_info.php?target=detailRegionalShipping" data-toggle="modal" data-cache="false" data-target="#popupDetailInfo" class="area_del">{=__('지역별 추가배송')}</a>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;                        &lt;!&ndash;{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) != 'free' }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ? gd_isset(goodsView['delivery']['basic']['collectFl']) == 'pre'  }&ndash;&gt;-->
<!--                        {=__('주문시결제')}({=__('선결제')})-->
<!--                        &lt;!&ndash;{ : gd_isset(goodsView['delivery']['basic']['collectFl']) == 'later'  }&ndash;&gt;-->
<!--                        {=__('상품수령시결제')}({=__('착불')})-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->

<!--                        &lt;!&ndash;{ ? gd_isset(deliveryMethodFlText) }&ndash;&gt;-->
<!--                        <div style="margin-top: 5px;">{deliveryMethodFlText}</div>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                    </dd>-->
<!--                </dl>-->
<!--                &lt;!&ndash;{ / }&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="share_btn_box">-->
<!--                <ul>-->
<!--                    &lt;!&ndash;{ ? snsShareUseFl }&ndash;&gt;<li class="d_share"><button class="share_btn">{=__('공유하기')}</button></li>&lt;!&ndash;{ / }&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="d_wish"><button id="wishBtn" class="btn_add_wish">{=__('찜하기')}</button></li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </div>-->
            <div class="price-result">
                <!--
                <span class="price-result-value">123,456,789</span>
                <span class="unit">
                    원
                </span>-->
            </div>
        </form>
    </div>
    <!-- 구매하기 하단 영역 -->
<!--    <div class="detail_buy">-->
<!--        <div class="detail_buy_top_btn">-->
<!--            <div class="detail_open_close"><a class="st_buy_close">{=__('열기/닫기')}</a></div>-->
<!--            <div class="ly_buy_dn js_goods_view_buy_btn">-->
<!--                <div class="detail_prd_btn">-->
<!--                    <ul>-->
<!--                        &lt;!&ndash;{ ?goodsView['restockUsableFl'] === 'y' && !gGlobal.isFront }&ndash;&gt;-->
<!--                        <li class="restock"><a class="detail_restock_btn btn_add_restock"><img src="../img/icon/icon_restock_red.png" alt="{=__('재입고알림 아이콘')}" />{=__('재입고알림')}</a></li>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                        &lt;!&ndash;{ ?goodsView['orderPossible'] == 'n' }&ndash;&gt;-->
<!--                        <li><a class="detail_prd_no_btn">{=__('구매불가')}</a></li>-->
<!--                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a id="cartBtn" class="detail_cart_btn st_btn_buy basket" data-effect="st-effect-15" data-goods-no="{=goodsView['goodsNo']}"  data-pay="cart" >{=__('장바구니')}</a></li>&ndash;&gt;-->
<!--                        <li class="free_sian" &lt;!&ndash;{ ? freeSian!='Y' }&ndash;&gt;style="display:none;"&lt;!&ndash;{ / }&ndash;&gt;><a id="free_sian" href="javascript:freeSian('{=goodsView['goodsNo']}');" class="btn_free orange button">무료시안 제작</a></li>-->
<!--                        <li class="buy_button" &lt;!&ndash;{ ? freeSian=='Y' }&ndash;&gt;style="display:none;"&lt;!&ndash;{ / }&ndash;&gt;><a class="detail_order_btn st_btn_buy" data-effect="st-effect-15" data-goods-no="{=goodsView['goodsNo']}"  data-pay="cart" >{=__('바로구매')}</a></li>-->
<!--                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="divAddPay" class="js_goods_add_pay" style="display:none">-->
<!--            &lt;!&ndash;{ ? payco }&ndash;&gt;-->
<!--            <div class="snsbtn">-->
<!--                <div class="js_payco_btn">{payco}</div>-->
<!--            </div>-->
<!--            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--            &lt;!&ndash;{ ? naverPay }&ndash;&gt;-->
<!--            <div class="snsbtn">-->
<!--                <div class="js_naver_btn">{naverPay}</div>-->
<!--            </div>-->
<!--            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
    <!-- // 구매하기 영역 -->
    <div id="detailGoodsMustInfo" style="display:none">
        <div class="ly_head">
            <h1 class="h_tit">{=__('필수정보')}</h1>
        </div>
        <div class="ly_ct">
            <div class="lst_info">
                <!--{ ? goodsView['goodsMustInfo'] }-->
                <table width="100%" border="0" cellpadding="0" cellspacing="1" class="table_style2">
                    <tbody>
                    <!--{ @ goodsView['goodsMustInfo'] }-->
                    <tr>
                        <!--{ @ .value_ }-->
                        <th>
                            <!--{..value_['infoTitle']}-->
                        </th>
                        <td <!--{ ? (count(.value_) == 1) }-->colspan="3"<!--{ / }-->><!--{..value_['infoValue']}--></td>
                        <!--{ / }-->
                    </tr>
                    <!--{ / }-->
                    </tbody>
                </table>
                <!--{ / }-->
            </div>
        </div>
    </div>
    <!--{ ? (gd_isset(goodsView['delivery']['basic']['fixFl']) != 'free' && gd_isset(goodsView['delivery']['basic']['fixFl']) != 'fixed') ||  goodsView['multipleDeliveryFl'] === true }-->
    <!-- 조건부 배송 레이어 -->
    <div id="detailConditionalShipping" style="display:none">
        <div class="detail_shipping">
            <div class="ly_head">
                <h2 class="h_tit">{=__('조건부 배송')}</h2>
            </div>
            <div class="ly_content">
                <div class="ly_dev_wrap lst_info">
                    <h2 class="tit">{goodsView['delivery']['basic']['fixFlText']}</h2>
                    <!--{ ? goodsView['multipleDeliveryFl'] === true }-->
                    <div class="ly_btn_wrap">
                        <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) != 'fixed'  }-->
                        <div class="ly_btn <!--{ ? count(goodsView['delivery']['basic']['deliveryMethodFlData']) == 2 }-->two<!--{ : }-->three<!--{ / }-->">
                            <!--{ @ goodsView['delivery']['basic']['deliveryMethodFlData']}-->
                            <!--{ ? count(goodsView['delivery']['basic']['deliveryMethodFlData']) == 2 && .index_ % 2 == 0 }--><div class="row"><!--{ : }--><!--{ ? .index_ % 3 == 0 }--><div class="row"><!--{ / }--><!--{ / }-->
                            <a class="delivery-method" onclick="selectDeliveryMethod(this, '{=.key_}')">{=.value_}</a>
                            <!--{ ? count(goodsView['delivery']['basic']['deliveryMethodFlData']) == 2 &&  .index_ % 2 == 1 }--></div><!--{ : }--><!--{ ? .index_ % 3 == 2 }--></div><!--{ : }--><!--{ ? count(goodsView['delivery']['basic']['deliveryMethodFlData']) - .index_ < 3 && ((count(goodsView['delivery']['basic']['deliveryMethodFlData']) % 3 == 1 && .index_ % 3 == 0) || (count(goodsView['delivery']['basic']['deliveryMethodFlData']) % 3 == 2 && .index_ % 3 == 1)) }--></div><!--{ / }--><!--{ / }--><!--{ / }-->
                        <!--{ / }-->
                    </div>
                    <script type="text/javascript">
                        function selectDeliveryMethod(e, method) {
                            $(e).parents(".ly_btn").find("a").removeClass("on");
                            $(e).addClass("on");
                            $('.delivery-method-tr').hide();
                            $('.delivery-method-tr').filter('[data-method="' + method + '"]').show();
                        }
                        $(function(){
                            $('.delivery-method').eq(0).trigger('click');
                        })
                    </script>
                    <!--{ / }-->
                </div>
                <!--{ / }-->
                    <div class="type_cont">
                        <!--{ ? goodsView['multipleDeliveryFl'] === true }-->
                        <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'fixed' }-->
                        <!--{ @ goodsView['delivery']['multiCharge'][0] }-->
                        <!--{ ? gd_isset(.sno) }-->
                        <dl>
                            <dt>{=goodsView['delivery']['basic']['deliveryMethodFlData'][.key_]}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(.price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(.price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->
                        <!--{ ? gd_isset(goodsView['delivery']['basic']['rangeRepeat']) != 'y'  }-->
                        <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                        <!--{ @ goodsView['delivery']['multiCharge'] }-->
                        <!--{ @ .value_ }-->
                        <!--{ ? gd_isset(..sno) }-->
                        <!--{ ? ..unitEnd > 0 }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=gd_global_money_format(..unitStart)}{..unitText} {=__('이상')} ~ {=gd_global_money_format(..unitEnd)}{..unitText} {=__('미만')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ : }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=gd_global_money_format(..unitStart)}{..unitText} {=__('이상')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                        <!--{ @ goodsView['delivery']['multiCharge'] }-->
                        <!--{ @ .value_ }-->
                        <!--{ ? gd_isset(..sno) }-->
                        <!--{ ? ..unitEnd > 0 }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=number_format(..unitStart)}{..unitText} {=__('이상')} ~ {=number_format(..unitEnd)}{..unitText} {=__('미만')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ : }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=number_format(..unitStart)}{..unitText} {=__('이상')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->
                        <!--{ @ goodsView['delivery']['multiCharge'] }-->
                        <!--{ @ .value_ }-->
                        <!--{ ? gd_isset(..sno) }-->
                        <!--{ ? ..unitEnd > 0 }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=number_format(..unitStart, 2)}{..unitText} {=__('이상')} ~ {=number_format(..unitEnd, 2)}{..unitText} {=__('미만')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ : }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>{=number_format(..unitStart, 2)}{..unitText} {=__('이상')}</dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->
                        <!--{ @ goodsView['delivery']['multiCharge'] }-->
                        <!--{ @ .value_ }-->
                        <!--{ ? gd_isset(..sno) }-->
                        <!--{ ? .index_ == 0 }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(..unitStart)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(..unitStart)}
                                <!--{ : }-->
                                {=number_format(..unitStart, 2)}
                                <!--{ / }-->
                                {..unitText} {=__('이상')} ~
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(..unitEnd)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(..unitEnd)}
                                <!--{ : }-->
                                {=number_format(..unitEnd, 2)}
                                <!--{ / }-->
                                {..unitText} {=__('미만')}
                            </dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ : }-->
                        <dl class="delivery-method-tr" data-method="{=..key_}">
                            <dt>
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(..unitStart)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(..unitStart)}
                                <!--{ : }-->
                                {=number_format(..unitStart, 2)}
                                <!--{ / }-->
                                {..unitText} {=__('이상')}
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(..unitEnd)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(..unitEnd)}
                                <!--{ : }-->
                                {=number_format(..unitEnd, 2)}
                                <!--{ / }-->
                                {..unitText} {=__('마다 추가')}
                            </dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(..price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(..price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->



                        <!--{ ? gd_isset(goodsView['delivery']['basic']['rangeRepeat']) != 'y'  }-->
                        <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'weight'  }-->
                        <!--{ @ goodsView['delivery']['charge'] }-->
                        <!--{ ? .unitEnd > 0 }-->
                        <dl>
                            <dt>{=number_format(.unitStart, 2)}{.unitText} {=__('이상')} ~ {=number_format(.unitEnd, 2)}{.unitText} {=__('미만')}</dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ : }-->
                        <dl>
                            <dt>{=number_format(.unitStart, 2)}{.unitText} {=__('이상')} ~ </dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                        <!--{ @ goodsView['delivery']['charge'] }-->
                        <!--{ ? .unitEnd > 0 }-->
                        <dl>
                            <dt>{=gd_global_money_format(.unitStart, 2)}{.unitText} {=__('이상')} ~ {=gd_global_money_format(.unitEnd, 2)}{.unitText} {=__('미만')}</dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ : }-->
                        <dl>
                            <dt>{=gd_global_money_format(.unitStart, 2)}{.unitText} {=__('이상')} ~ </dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->
                        <!--{ @ goodsView['delivery']['charge'] }-->
                        <!--{ ? .unitEnd > 0 }-->
                        <dl>
                            <dt>{=number_format(.unitStart)}{.unitText} {=__('이상')} ~ {=number_format(.unitEnd)}{.unitText} {=__('미만')}</dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ : }-->
                        <dl>
                            <dt>{=number_format(.unitStart)}{.unitText} {=__('이상')} ~ </dt>
                            <dd>{=gd_global_currency_display(.price)}</dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ : }-->
                        <!--{ @ goodsView['delivery']['charge'] }-->
                        <!--{ ? .index_ == 0 }-->
                        <dl>
                            <dt>
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(.unitStart)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(.unitStart)}
                                <!--{ : }-->
                                {=number_format(.unitStart, 2)}
                                <!--{ / }-->
                                {.unitText} {=__('이상')} ~
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(.unitEnd)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(.unitEnd)}
                                <!--{ : }-->
                                {=number_format(.unitEnd, 2)}
                                <!--{ / }-->
                                {.unitText} {=__('미만')}
                            </dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(.price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(.price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ : }-->
                        <dl>
                            <dt>
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(.unitStart)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(.unitStart)}
                                <!--{ : }-->
                                {=number_format(.unitStart, 2)}
                                <!--{ / }-->
                                {.unitText} {=__('이상')}
                                <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'price'  }-->
                                {=gd_global_money_format(.unitEnd)}
                                <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'count' }-->
                                {=number_format(.unitEnd)}
                                <!--{ : }-->
                                {=number_format(.unitEnd, 2)}
                                <!--{ / }-->
                                {.unitText} {=__('마다 추가')}
                            </dt>
                            <dd>
                                {=gd_global_currency_symbol()}{=gd_global_money_format(.price)}{=gd_global_currency_string()}
                                <!--{ ? addGlobalCurrency }-->
                                <span>{=gd_global_add_currency_display(.price)}</span>
                                <!--{ / }-->
                            </dd>
                        </dl>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //조건부 배송 레이어 -->
    <!--{ / }-->
    <!--{ ? gd_isset(goodsView['delivery']['basic']['areaFl']) == 'y'  }-->
    <!-- 지역별 배송비 레이어 -->
    <div id="detailRegionalShipping" style="display:none">
        <div class="detail_shipping">
            <div class="ly_head">
                <h2 class="h_tit">{=__('지역별 추가 배송비')}</h2>
            </div>
            <div class="ly_ct">
                <div class="lst_info">
                    <div class="type_cont">
                        <table width="100%" cellspacing="0" cellpadding="0" class="table_style3">
                            <caption>{=__('지역별 추가 배송비')}</caption>
                            <colgroup>
                                <col width="50%" />
                                <col width="50%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th>{=__('지역')}</th>
                                <th>{=__('추가 배송비')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--{ @ goodsView['delivery']['areaDetail'] }-->
                            <tr>
                                <td class="country">{.addArea}</td>
                                <td>{=gd_global_currency_symbol()}{=gd_global_money_format(.addPrice)}{=gd_global_currency_string()}
                                    <!--{ ? addGlobalCurrency }-->
                                    <span>{=gd_global_add_currency_display(.addPrice)}</span>
                                    <!--{ / }-->
                                </td>
                            </tr>
                            <!--{ / }-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //지역별 배송비 레이어 -->
    <!--{ / }-->
    <div class="detail_btm_tab_menu_box">
        <div class="detail_btm_tab_menu">
            <ul class="detail_sub_lst">
                <li id="goodsDescription" class="selected">
                    <a href="#" data-target="js_goods_description">{=__('상세정보')}</a>
                </li>
                <li id="goodsInfo">
                    <a href="#" data-target="js_goods_detail_infotext">{=__('제작과정')}</a>
                </li>
                <!--{ ? canGoodsReview || plusReviewConfig.isShowGoodsPage == 'y'}-->
                <li id="detailReview" class="js_board_{bdGoodsReviewId}">
                    <a href="#" data-target="js_board_{bdGoodsReviewId}_view"  data-bdid="{bdGoodsReviewId}">
                        {=__('상품후기')}
                        <span class="itemnum">({goodsReviewCount+plusReview.info.reviewCount})</span>
                    </a>
                </li>
                <!--{/}-->
                <li id="detailQna" class="js_board_{bdGoodsQaId}">
                    <a data-target="js_board_{bdGoodsQaId}_view" data-bdid="{bdGoodsQaId}" class="js_accordian">
                        {=__('배송 및 환불')}
<!--                        <span class="itemnum">({goodsQaCount})</span>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="detail_info_box js_goods_info">
        <div class="view_box0  js_goods_description">
            <!-- 상품상세 공통정보 관리를 상세정보 상단에 노출-->
            <div>{=gd_isset(goodsView['commonContent'])}</div>
            <div>{=gd_isset(goodsView['goodsDescriptionMobile'])}</div>
            <!--{ ? goodsView['externalVideoFl'] =='y'  && goodsView['externalVideoUrl'] }-->
            <div style="text-align:center" id="external-video">
                {=gd_youtube_player(goodsView['externalVideoUrl'], goodsView['externalVideoWidth'], goodsView['externalVideoHeight'])}
            </div>
            <!--{ / }-->
            <!--{ ? goodsView['goodsMustInfo'] }-->
            <div class="openblock js_openblock">
                <div class="openblock_header">
                    <h3>{=__('상품필수 정보')}</h3>
                    <button class="toggle_btn"><span>{=__('열기/닫기')}</span></button>
                </div>
                <div class="openblock_content">
                    <!--{ @ goodsView['goodsMustInfo'] }-->
                    <!--{ @ .value_ }-->
                    <dl>
                        <dt><!--{..value_['infoTitle']}--></dt>
                        <dd><!--{..value_['infoValue']}--></dd>
                    </dl>
                    <!--{ / }-->
                    <!--{ / }-->
                </div>
            </div>
            <!--{ / }-->
        </div>
        <div class="view_box0 js_goods_detail_infotext" style="display:none">
            <div class="openblock">
                <div class="openblock_header">
                    <h3>{=__('기본정보')}</h3>
                </div>
                <div class="openblock_content" >
                    <dl>
                        <!--{ @ displayField }-->
                        <!--{? .value_ :'fixedPrice'}-->
                        <!--{ ? gd_isset(goodsView['fixedPrice']) > 0 && goodsView['goodsPriceDisplayFl'] =='y'}-->
                        <dt>{=__('정가')}</dt>
                        <dd>{=fixedPriceTag}{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['fixedPrice'])}{=fixedPriceTag2}{=gd_global_currency_string()}</dd>
                        <!--{ / }-->
                        <!--{: 'goodsPrice'}-->
                        <dt> <!--{ ? goodsView['timeSaleFl'] }-->{=__('타임세일가')}<!--{ : }-->{=__('판매가')}<!--{ / }--></dt>
                        <dd>
                            <!--{ ? goodsView['soldOut'] =='y' && soldoutDisplay.soldout_price == 'text'}-->
                            {=soldoutDisplay.soldout_price_text}
                            <!--{ : goodsView['soldOut'] =='y' && soldoutDisplay.soldout_price == 'custom'}-->
                            <img src="{soldoutDisplay.soldout_price_img}">
                            <!--{ : }-->
                            <!--{ ? goodsView['goodsPriceString'] !='' }-->
                            {goodsView['goodsPriceString']}
                            <!--{ : }-->
                            <!--{ ? goodsView['timeSaleFl']  && goodsView['timeSaleInfo']['goodsPriceViewFl'] =='y' && goodsView['oriGoodsPrice'] > 0 }-->
                            {=goodsPriceTag}{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['oriGoodsPrice'])}{=goodsPriceTag2}{=gd_global_currency_string()}
                            {=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}{=gd_global_currency_string()}
                            <!--{ : }-->
                            {=goodsPriceTag}{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'])}{=goodsPriceTag2}{=gd_global_currency_string()}
                            <!--{ / }-->

                            <!--{ ? addGlobalCurrency }-->
                            <span>{=goodsPriceTag}{=gd_global_add_currency_display(goodsView['goodsPrice'])}{=goodsPriceTag2}</span>
                            <!--{ / }-->

                            <!--{ / }-->
                            <!--{ / }-->
                        </dd>
                        <!--{: 'couponPrice'}-->
                        <!--{ ? gd_isset(goodsView['couponPrice']) > 0 && couponUse == 'y' && goodsView['goodsPriceDisplayFl'] =='y'}-->
                        <dt>{=__('쿠폰적용가')}</dt>
                        <dd>
                            {=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['couponPrice'])}{=gd_global_currency_string()}
                            (-{=gd_global_money_format(goodsView['couponSalePrice'])}{=gd_global_currency_string()}<!--{ ? in_array('dcRate', displayAddField) && gd_isset(goodsView['couponDcRate']) }-->, {=goodsView['couponDcRate']}%<!--{ / }-->)
                        </dd>
                        <!--{ / }-->
                        <!--{: 'myCouponPrice'}-->
                        <!--{ ? gd_isset(goodsView['myCouponSalePrice']) > 0 && couponUse == 'y' && goodsView['goodsPriceDisplayFl'] =='y'}-->
                        <dt>{=__('내 쿠폰적용가')}</dt>
                        <dd>
                            {=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['myCouponSalePrice'])}{=gd_global_currency_string()}
                            (-{=gd_global_money_format(goodsView['myCouponPrice'])}{=gd_global_currency_string()}<!--{ ? in_array('dcRate', displayAddField) && gd_isset(goodsView['myCouponDcRate']) }-->, {=goodsView['myCouponDcRate']}%<!--{ / }-->)
                        </dd>
                        <!--{ / }-->
                        <!--{ : 'goodsDiscount' }-->
                        <!--{ ? goodsView['dcPrice'] > 0 }-->
                        <dt>{=__('할인적용가')}</dt>
                        <dd>
                            {=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['goodsPrice'] - goodsView['dcPrice'])}{=gd_global_currency_string()}
                            <!--{ ? addGlobalCurrency }-->
                            <span>{=gd_global_add_currency_display(goodsView['goodsPrice'] - goodsView['dcPrice'])}</span>
                            <!--{ / }-->
                            <!--{ ? in_array('dcRate', displayAddField) && gd_isset(goodsView['goodsDcRate']) }--> <span>({=goodsView['goodsDcRate']}%)</span><!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{: 'maxOrderCnt'}-->
                        <!--{ ? !(goodsView['minOrderCnt'] === '1' && goodsView['maxOrderCnt'] === '0')}-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>
                            <!--{ ? goodsView['fixedOrderCnt'] == 'option' }-->옵션당
                            <!--{ : goodsView['fixedOrderCnt'] == 'goods' }-->상품당
                            <!--{ : goodsView['fixedOrderCnt'] == 'id' }-->ID당
                            <!--{ / }-->
                            <!--{ ? goodsView['minOrderCnt']}-->{=__('최소 %s개', goodsView['minOrderCnt'])} <!--{ / }--> <!--{ ? goodsView['maxOrderCnt'] }-->/ {=__('최대 %s개', goodsView['maxOrderCnt'])}<!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{: 'benefit'}-->
                        <dt class="benefits dn">{=__(displayDefaultField[.value_])}</dt>
                        <dd class="benefits dn">
                            <div>
                                <p class="benefits_dc_desc">{=__('할인')} : <strong class="total_benefit_price"></strong> [<span class="benefit_price"></span>]</p>
                                <p class="benefits_mileage_desc">{=__('적립')} {=gd_display_mileage_name()} : <strong class="total_benefit_mileage"></strong> [<span class="benefit_mileage"></span>]</p>
                            </div>
                        </dd>
                        <!--{: 'couponDownload'}-->
                        <!--{ ? empty(couponArrData) === false }-->
                        <dt class="coupon">{=__('쿠폰')}</dt>
                        <dd>
                            <!--{ ? gd_is_login() === false }-->
                            <button class="detail_coupon_btn1 btn_alert_login">{=__('쿠폰받기')}</button>
                            <!--{ : }-->
                            <a href="../goods/layer_coupon_down.php?goodsNo={goodsView.goodsNo}" class="detail_coupon_btn1" data-toggle="modal"  data-cache="false" data-target="#popupCoupon" data-type="post" >{=__('쿠폰받기')}</a>
                            <!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{: 'delivery'}-->
                        <!--{ ? !gGlobal.isFront }-->
                        <dt class="delivery">{=__('배송비')}</dt>
                        <dd>
                            <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) == 'free'  }-->
                            <span>{=__('무료')}</span>
                            <!--{ : gd_isset(goodsView['delivery']['basic']['fixFl']) == 'fixed'  }-->
                            <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['charge']['0']['price'])}{=gd_global_currency_string()}</span>
                            <!--{ ? addGlobalCurrency }-->
                            <span>{=gd_global_add_currency_display(goodsView['delivery']['charge']['0']['price'])}</span>
                            <!--{ / }-->
                            <!--{ : }-->
                            <span>{=gd_global_currency_symbol()}{=gd_global_money_format(goodsView['delivery']['charge'][goodsView['selectedDeliveryPrice']]['price'])}{=gd_global_currency_string()}</span>
                            <!--{ ? addGlobalCurrency }-->
                            <span>{=gd_global_add_currency_display(goodsView['delivery']['charge'][goodsView['selectedDeliveryPrice']]['price'])}</span>
                            <!--{ / }-->
                            <a href="../goods/goods_info.php?target=detailConditionalShipping" data-toggle="modal" data-cache="false" data-target="#popupDetailInfo" class="condition_del">({=__('조건부배송')})</a>
                            <!--{ / }-->
                            <!--{ ? gd_isset(goodsView['delivery']['basic']['areaFl']) == 'y'  }-->
                            <a href="../goods/goods_info.php?target=detailRegionalShipping" data-toggle="modal" data-cache="false" data-target="#popupDetailInfo" class="area_del">{=__('지역별 추가배송')}</a>
                            <!--{ / }-->
                            <!--{ ? gd_isset(goodsView['delivery']['basic']['fixFl']) != 'free' }-->
                            <!--{ ? gd_isset(goodsView['delivery']['basic']['collectFl']) == 'pre'  }-->
                            {=__('주문시결제')}({=__('선결제')})
                            <!--{ : gd_isset(goodsView['delivery']['basic']['collectFl']) == 'later'  }-->
                            {=__('상품수령시결제')}({=__('착불')})
                            <!--{ / }-->
                            <!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{ : 'goodsWeight' }-->
                        <!--{ ? gd_isset(goodsView['goodsWeight']) > 0 && gd_isset(goodsView['goodsVolume']) > 0 }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=goodsView['goodsWeight']}{=weight.unit} / {=goodsView['goodsVolume']}{=gd_isset(volume.unit, '㎖')}</dd>
                        <!--{ : }-->
                        <!--{ ? gd_isset(goodsView['goodsWeight']) > 0 }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=goodsView['goodsWeight']}{=weight.unit}</dd>
                        <!--{ / }-->
                        <!--{ ? gd_isset(goodsView['goodsVolume']) > 0 }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=goodsView['goodsVolume']}{=gd_isset(volume.unit, '㎖')}</dd>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{: 'addInfo'}-->
                        <!--{ ?  empty(goodsView['addInfo']) === false }-->
                        <!-- 추가항목 -->
                        <!--{ @ goodsView['addInfo'] }-->
                        <dt>{=__(..infoTitle)}</dt>
                        <dd>{=..infoValue}</dd>
                        <!--{ / }-->
                        <!-- // 추가항목 -->
                        <!--{ / }-->
                        <!--{: 'effectiveStartYmd'}-->
                        <!--{ ? (goodsView['effectiveStartYmd'] != '0000-00-00 00:00:00' && goodsView['effectiveStartYmd']) || (goodsView['effectiveEndYmd'] != '0000-00-00 00:00:00' && goodsView['effectiveEndYmd']) }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>
                            <!--{ ? goodsView['effectiveStartYmd'] != '0000-00-00 00:00:00' && goodsView['effectiveStartYmd'] }-->
                            {=gd_date_format(__('Y년 m월 d일'), goodsView['effectiveStartYmd'])}
                            <!--{ / }-->

                            <!--{ ? goodsView['effectiveEndYmd'] != '0000-00-00 00:00:00' && goodsView['effectiveEndYmd'] }-->
                            ~ {=gd_date_format(__('Y년 m월 d일'), goodsView['effectiveEndYmd'])}
                            <!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{: 'salesStartYmd'}-->
                        <!--{ ? (goodsView['salesStartYmd'] != '0000-00-00 00:00:00' && goodsView['salesStartYmd']) || (goodsView['salesEndYmd'] != '0000-00-00 00:00:00' && goodsView['salesEndYmd']) }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>
                            <!--{ ? goodsView['salesStartYmd'] != '0000-00-00 00:00:00' && goodsView['salesStartYmd'] }-->
                            {=gd_date_format(__('Y년 m월 d일'), goodsView['salesStartYmd'])}
                            <!--{ / }-->

                            <!--{ ? goodsView['salesEndYmd'] != '0000-00-00 00:00:00' && goodsView['salesEndYmd'] }-->
                            ~ {=gd_date_format(__('Y년 m월 d일'), goodsView['salesEndYmd'])}
                            <!--{ / }-->
                        </dd>
                        <!--{ / }-->
                        <!--{: 'salesUnit'}-->
                        <!--{ ? gd_isset(goodsView['salesUnit']) > 1 }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=number_format(goodsView['salesUnit'])}{=__('개')}</dd>
                        <!--{ / }-->
                        <!--{: 'totalStock'}-->
                        <!--{ ? goodsView['stockFl']=='y' }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=number_format(goodsView['totalStock'])}{=__('개')}</dd>
                        <!--{ / }-->
                        <!--{:}-->
                        <!--{ ? gd_isset(goodsView[.value_]) }-->
                        <dt>{=__(displayDefaultField[.value_])}</dt>
                        <dd>{=goodsView[.value_]}</dd>
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ / }-->
                        <!--{ ? naverPay}-->
                        <dt id="naver-mileage-accum" class="hidden">{=__('네이버')}&nbsp;&nbsp;<br/>{=__('마일리지')} : <span id="naver-mileage-accum-rate"></span> {=__('적립')}</dt>
                        <!--{ / }-->
                        <!--{ ? infoDelivery }-->
                        <dt>{=__('배송안내')}</dt>
                        <dd>{infoDelivery}</dd>
                        <!--{ / }-->
                        <!--{ ? infoExchange }-->
                        <dt>{=__('교환안내')}</dt>
                        <dd>{infoExchange}</dd>
                        <!--{ / }-->
                        <!--{ ? infoRefund }-->
                        <dt>{=__('환불안내')}</dt>
                        <dd>{infoRefund}</dd>
                        <!--{ / }-->
                        <!--{ ? infoAS }-->
                        <dt>{=__('AS안내')}</dt>
                        <dd>{infoAS}</dd>
                        <!--{ / }-->
                    </dl>
                </div>
            </div>
        </div>
    </div>



    <div class="js_goods_info">
        <!--{ ? plusReviewConfig.isShowGoodsPage == 'y' }-->
        {=includeFile(includePlusReviewFile)}
        <!--{/}-->
        <!--{ ? canGoodsReview}-->
        <div class="detail_board_box js_board_{bdGoodsReviewId}_view" data-bdid="{bdGoodsReviewId}" style="display:none">
            <div class="item_list_head">
                <div class="item_list_write_box">
                    <a href="../board/write.php?bdId={bdGoodsReviewId}&goodsNo={goodsView.goodsNo}&gboard=r&windowType=popup" class="detail_write_btn" data-target="#popupBoard">{=__('후기작성')}</a>
                </div>
            </div>
            <div class="item_list"></div>
        </div>
        <!--{/}-->
        <!--{ ? canGoodsQa }-->
        <div class="detail_board_box js_board_{bdGoodsQaId}_view" data-bdid="{bdGoodsQaId}" style="display:none">
            <!--{ ? infoDelivery }-->
            <div class="delivery_layer section_cont_layer" id="DeliverySection">
                <div class="center_layer">
                    <div>{infoDelivery}</div>
                </div><!-- .center_layer -->
            </div><!-- .delivery_layer -->
            <!--{ / }-->
<!--            <div class="item_list_head">-->
<!--                <div class="item_list_write_box">-->
<!--                    <a href="../board/write.php?bdId={bdGoodsQaId}&goodsNo={goodsView.goodsNo}&gboard=r&windowType=popup" class="detail_write_btn" data-target="#popupBoard">{=__('문의하기')}</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item_list"></div>-->
        </div>
        <!--{/}-->
    </div>
    <!--{ ? relation.relationFl!= 'n' }-->
    <div class="related_goods">
        <h3>{=__('관련 상품')}</h3>
        <ul class="list">
            <!--{ ? widgetGoodsList}-->{=includeWidget('goods/_goods_display.html')}<!--{ / }-->
        </ul>
    </div>
    <!--{ / }-->
</div>
<!-- 비밀글 클릭시 인증 레이어 -->
<form id="frmWritePassword">
    <div class="cite_layer dn js_password_layer zidx320" data-sno="">
        <div class="wrap">
            <h4>{=__('비밀번호 인증')}</h4>
            <div>
                <p>{=__('비밀번호를 입력해 주세요.')}</p>
                <input type="password" name="writerPw">
                <a href="javascript:void(0)" class="d_pw_confirm_btn layer_close_btn js_submit">{=__('확인')}</a>
            </div>
            <button type="button" class="close" title="{=__('닫기')}">{=__('닫기')}</button>
        </div>
    </div>
</form>
<!-- 장바구니 담기 레이어 -->
<!--{ ? cartInfo.moveCartPageFl == 'n' && cartInfo.moveCartPageDeviceFl != 'pc' }-->
<div id="addCartLayer" class="add_cart_layer dn">
    <div class="wrap">
        <div>
            <p><strong>{=__('상품이 장바구니에 담겼습니다.')}</strong><br />{=__('바로 확인하시겠습니까?')}</p>
        </div>
        <div class="btn_box">
            <button class="btn layer_cartaddcancel btn_close">{=__('취소')}</button>
            <button class="btn layer_cartaddconfirm btn_cart">{=__('확인')}</button>
        </div>
    </div>
</div>
<!--{ / }-->
<!--{ ? cartInfo.wishPageMoveDirectFl == 'n' && cartInfo.moveWishPageDeviceFl != 'pc' }-->
<!-- 찜리스트 레이어 -->
<div id="addWishLayer" class="add_wish_layer dn">
    <div class="wrap">
        <div>
            <p><strong>{=__('상품이 찜 리스트에 담겼습니다.')}</strong><br />{=__('바로 확인하시겠습니까?')}</p>
        </div>
        <div class="btn_box">
            <button class="btn layer_wishaddcancel btn_close">{=__('취소')}</button>
            <button class="btn layer_wishaddconfirm btn_wish">{=__('확인')}</button>
        </div>
    </div>
</div>
<!--{ / }-->
<div id="layerDim" class="dn zidx310">&nbsp;</div>
<script type="text/javascript" src="../js/gd_board_goods.js" charset="utf-8"></script>

<script>

    function freeSian(goodsNo){

        var url = "/autorender/autorender_user.php";
        var myWindow = window.open('', 'autorender');

        $.post(url, {goodsNo:goodsNo}, function(data) {
            var $data = JSON.parse(data);
            if ($data['state']=="notlogin") {
                myWindow.close();
                location.href = "/member/login.php";
            } else if ($data['state']=="error") {
                myWindow.close();
                alert($data['msg']);
            } else if ($data['state']=="ok") {
                var $url = "https://app.aileenstory.com/!/autorender/uploads/"+$data['no']+"/"+$data['createNm'];
                myWindow.location.href = $url;
            } else {
                myWindow.close();
                alert('알수 없는 오류가 발생했습니다. 다시 시도해 주세요.');
            }
        });

    }

</script>

{=fbGoodsViewScript}
{#footer}
