{*** 장바구니형 | goods/list/list_11.html ***}
<!--{ ? goodsList }-->
<!--{ @ goodsList }-->
<!--{ @ .value_}-->
<li class="goods_prd_item11 <!--{ ? themeInfo.lineCnt > 1 }-->list_num_{=themeInfo.lineCnt}<!--{ / }-->">
	<div class="goods_prd_item11_box">
		<div class="goods_prd_img">
			<div class="img_box">
				<a href="{=gd_goods_url(..goodsUrl, ..goodsNo, 1)}" target="<!--{ ? themeInfo.relationLinkFl == 'blank' }-->_blank<!--{ : }-->_self<!--{ / }-->">
					<!--{ ? in_array('img',themeInfo.displayField) && gd_isset(..goodsImage) }--><div class="img">{..goodsImage}</div><!--{ / }-->
					<!--{ ? themeInfo.soldOutIconFl == 'y'  && ..soldOut =='y' &&  soldoutDisplay.soldout_overlay != '0' }-->
					<span class="soldout_img" title="{=__('품절상품입니다.')}" style="background-image:url('{soldoutDisplay.soldout_overlay_img}');">{=__('품절')}</span>
					<!--{ / }-->
					<!--{ ? ..timeSaleFl }-->
					<span class="timesale_img"><img src="../../img/icon/icon_timesale.png" alt="{=__('타임세일')}">{=__('타임세일')}</span>
					<!--{ / }-->
					<!--{ ? in_array('coupon',themeInfo.displayField) && ..couponPrice != '' }-->
					<span class="coupon_img" <!--{ ? !in_array('img',themeInfo.displayField) && gd_isset(..goodsImage) }-->style="right:initial;" <!--{ / }-->>
						<img src="../../img/icon/icon_coupon_img.png" alt="{=__('타임세일')}">
					</span>
					<!--{ / }-->
				</a>
			</div>
		</div>
		<!--{ ? in_array('goodsColor',themeInfo.displayField) }-->
		{..goodsColor}
		<!--{ / }-->
		<div class="goods_prd_content">
			<div class="goods_list_info">
				<a href="{=gd_goods_url(..goodsUrl, ..goodsNo, 1)}" target="<!--{ ? themeInfo.relationLinkFl == 'blank' }-->_blank<!--{ : }-->_self<!--{ / }-->">
				<!--{ ? themeInfo.iconFl == 'y' }-->
				<div class="goods_prd_icon">{..goodsIcon}</div>
				<!--{ / }-->
				<!--{ ? themeInfo.soldOutIconFl == 'y'  && ..soldOut =='y' && soldoutDisplay.soldout_icon != 'disable' }-->
				<div class="goods_prd_soldout"><img src="{soldoutDisplay.soldout_icon_img}"></div>
				<!--{ / }-->
					<ul class="goods_info_list">
						<!--{ ? in_array('brandCd',themeInfo.displayField) && gd_isset(..brandNm) }-->
						<li class="brand_name">{..brandNm}</li>
						<!--{ / }-->
						<!--{ ? in_array('makerNm',themeInfo.displayField) && gd_isset(..makerNm) }-->
						<li class="maker_name">{..makerNm}</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsNm',themeInfo.displayField) && gd_isset(..goodsNm) }-->
						<li class="prd_name">{..goodsNm}</li>
						<!--{ / }-->
						<!--{ ? in_array('shortDescription',themeInfo.displayField) && gd_isset(..shortDescription) }-->
						<li class="short_des">{..shortDescription}</li>
						<!--{ / }-->
						<!--{ ? in_array('fixedPrice',themeInfo.displayField) && gd_isset(..fixedPrice) && ..fixedPrice > 0  && ..goodsPriceDisplayFl =='y' }-->
						<li class="<!--{ ? in_array('fixedPrice', themeInfo.priceStrike)}-->fixed_price<!--{ / }-->">
							{=gd_global_currency_symbol()}{=gd_global_money_format(..fixedPrice)}{=gd_global_currency_string()}
							<span class='add_currency'>{=gd_global_add_currency_display(..fixedPrice)}</span>
						</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsPrice',themeInfo.displayField) && gd_isset(..goodsPrice) }-->
						<li class="price<!--{ ? !..timeSaleFl }--><!--{ ? in_array('goodsPrice', themeInfo.priceStrike) && ((in_array('coupon', themeInfo.displayField) && ..couponPrice != '' && ..goodsPriceDisplayFl =='y') || (in_array('goodsDiscount', themeInfo.displayField) && ..dcPrice > 0)) }--> fixed_price<!--{ / }--><!--{ / }-->">
							<span <!--{ ? !(in_array('coupon',themeInfo.displayField) && ..couponPrice != '') }-->class="c_price"<!--{ / }-->>
								<!--{ ? themeInfo.soldOutIconFl == 'y'  && ..soldOut =='y' && soldoutDisplay.soldout_price == 'text'}-->
								{=soldoutDisplay.soldout_price_text}
								<!--{ : themeInfo.soldOutIconFl == 'y'  && ..soldOut =='y' && soldoutDisplay.soldout_price == 'custom'}-->
								<img src="{soldoutDisplay.soldout_price_img}">
								<!--{ : }-->
								<!--{ ? ..goodsPriceString !='' }-->
								{..goodsPriceString}
								<!--{ : }-->
								<!--{ ? ..timeSaleFl && ..timeSaleGoodsPriceViewFl =='y' && ..goodsPriceDisplayFl =='y' }-->
								<span class="ori_price"> {=gd_global_currency_symbol()}{=gd_global_money_format(..oriGoodsPrice)}{=gd_global_currency_string()} <span class='add_currency'>{=gd_global_add_currency_display(..oriGoodsPrice)}</span></span><br/>
								{=gd_global_currency_symbol()}{=gd_global_money_format(..goodsPrice)}</em>{=gd_global_currency_string()} <i class="i_time_icon"></i><!--{ ? gd_isset(..timeSaleLeftTimeTxt) }--><span class='time_sale_text'> {..timeSaleLeftTimeTxt}</span><!--{ / }-->
								<!--{ : }-->
								{=gd_global_currency_symbol()}{=gd_global_money_format(..goodsPrice)}</em>{=gd_global_currency_string()}
								<!--{ / }-->
								<span class='add_currency'>{=gd_global_add_currency_display(..goodsPrice)}</span>
								<!--{ / }-->
								<!--{ / }-->
							</span>
						</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsDiscount', themeInfo.displayField) && ..dcPrice > 0 && ..goodsPriceDisplayFl =='y' }-->
						<li class="price">
							{=__('할인가')} : {=gd_global_currency_symbol()}{=gd_global_money_format(..goodsPrice - ..dcPrice)}{=gd_global_currency_string()} {=gd_global_add_currency_display(..goodsPrice - ..dcPrice)}<!--{ ? in_array('dcRate', themeInfo.displayAddField) && gd_isset(..goodsDcRate) }--> <span>({=..goodsDcRate}%)</span><!--{ / }-->
						</li>
						<!--{ / }-->
						<!--{ ? in_array('coupon',themeInfo.displayField) && ..couponPrice != '' && ..goodsPriceDisplayFl =='y'  }-->
						<li class="coupon_price">
							{=__('쿠폰가')} :
							<span class="coupon_price1">
								{=gd_global_currency_symbol()}{=gd_global_money_format(..couponPrice)}{=gd_global_currency_string()}
								<span class='add_currency'>{=gd_global_add_currency_display(..couponPrice)}</span>
								<!--{ ? in_array('dcRate', themeInfo.displayAddField) && gd_isset(..couponDcRate) }--> <span>({=..couponDcRate}%)</span><!--{ / }-->
							</span>
						</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsDcPrice',themeInfo.displayField) && gd_isset(..goodsDcPrice)  && ..goodsPriceDisplayFl =='y' }-->
						<li class="dc_price">{=__('상품할인')} : {=gd_global_money_format(..goodsDcPrice)} {=gd_global_currency_string()}</li>
						<!--{ / }-->
						<!--{ ? in_array('mileage',themeInfo.displayField) && gd_isset(..mileageBasic)  && ..goodsPriceDisplayFl =='y' }-->
						<li class="list_mileage">{=mileageData['name']} :  {..mileageBasic} {=mileageData['unit']}</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsModelNo',themeInfo.displayField) && gd_isset(..goodsModelNo)  }-->
						<li class="model_no">{=__('모델번호')} : {..goodsModelNo}</li>
						<!--{ / }-->
						<!--{ ? in_array('goodsNo',themeInfo.displayField) && gd_isset(..goodsNo) }-->
						<li class="prd_code">{=__('상품코드')} : {..goodsNo}</li>
						<!--{ / }-->
					</ul>
				</a>
				<!--{ ?..soldOut != 'y' }-->
				<ul class="btn_area">
					<li><input type="button" value="{=__('찜하기')}" class="btn_add_wish{mainData.sno}{mainData.groupSno} related_wish_btn" data-goods-no="{..goodsNo}" data-optionfl="{..optionFl}" data-min-order-cnt="{..minOrderCnt}" data-goods-nm="{..goodsNm}" data-goods-price="{..goodsPrice}" data-goods-image-src="{..goodsImageSrc}" data-sales-unit="{=..salesUnit}" data-fixed-sales="{=..fixedSales}" data-fixed-order-cnt="{=..fixedOrderCnt}"></li>
					<li><input type="button" value="{=__('장바구니')}" data-key="optionViewLayer" data-type="directCart" class="js_option_layer related_cart_btn" data-goodsno="{..goodsNo}"></li>
					<li><input type="button" value="{=__('바로구매')}" data-key="optionViewLayer" data-type="directOrder" class="js_option_layer related_buy_btn" data-goodsno="{..goodsNo}"></li>
				</ul>
				<!--{ / }-->
			</div>
		</div>
	</div>
</li>
<!--{ / }-->
<!--{ / }-->
<!-- 타임세일 더보기 -->
<!--{ ? totalPage > 1 && timeSaleInfo.moreBottomFl == 'y' && themeInfo.displayType != '04' && themeInfo.displayType != '05' && themeInfo.displayType != '06' && themeInfo.displayType != '07' }-->
<div class="btn_goods_down_more">
	<input type="hidden" name="totalPage" value="{totalPage}" >
	<button type="button" class="main_more_btn btn_time_sale_bottom_more" data-page="2">{=__('더보기')}</button>
</div>
<!--{ / }-->
<!--{ : }-->
<li class="no_bx">
    <p><strong>{=__('상품이 존재하지 않습니다.')}</strong></p>
</li>
<!--{ / }-->
<!-- 장바구니 담기 레이어 -->
<!--{ ? cartInfo.moveCartPageFl == 'n' && cartInfo.moveCartPageDeviceFl != 'pc' }-->
<div id="addCartLayer" class="add_cart_layer dn">
	<div class="wrap">
		<div>
			<p><strong>{=__('상품이 장바구니에 담겼습니다.')}</strong><br />{=__('바로 확인하시겠습니까?')}</p>
		</div>
		<div class="btn_box">
			<button class="btn layer_cartaddcancel btn_close">{=__('취소')}</button>
			<button class="btn layer_cartaddconfirm btn_cart">{=__('확인')}</button>
		</div>
	</div>
</div>
<!--{ / }-->
<!--{ ? cartInfo.wishPageMoveDirectFl == 'n' && cartInfo.moveWishPageDeviceFl != 'pc' }-->
<div id="addWishLayer" class="add_wish_layer dn">
	<div class="wrap">
		<div>
			<p><strong>{=__('상품이 찜 리스트에 담겼습니다.')}</strong><br />{=__('바로 확인하시겠습니까?')}</p>
		</div>
		<div class="btn_box">
			<button class="btn layer_wishaddcancel btn_close">{=__('취소')}</button>
			<button class="btn layer_wishaddconfirm btn_wish">{=__('확인')}</button>
		</div>
	</div>
</div>
<!--{ / }-->
<div id="optionViewLayer" class="layer_wrap dn"></div>
<form id="frmWishTemplateView" method="post">
    <input type="hidden" name="mode" value="wishIn">
    <input type="hidden" name="cartMode" value="">
    <input type="hidden" name="optionFl" value="">
</form>

<script type="text/javascript">
<!--

// DOM 로드
$(document).ready(function() {
    if ($('body #layerDim').length < 1) {
        var addHtml = '<div id="layerDim" class="dn zidx310"></div>';
        $('body').append(addHtml);
    }

    //찜하기
	$('.btn_area').on('click', '.btn_add_wish{mainData.sno}{mainData.groupSno}', function(e){
        e.stopImmediatePropagation();
        <!--{ ? gd_is_login() === false }-->
        alert("{=__('로그인하셔야 본 서비스를 이용하실 수 있습니다.')}");
        document.location.href = "../member/login.php";
        return false;
        <!--{ : }-->

        {wishScript}
        var minOrderCnt = 1;
        if ($(this).data('min-order-cnt')) {
            minOrderCnt = parseInt($(this).data('min-order-cnt'));
            if (minOrderCnt > 1) {
                alert(__('최소 %s개 이상 구매가능합니다', minOrderCnt));
            }
        }
        $('#frmWishTemplateView input[name=\'cartMode\']').val($(this).data('goods-no'));
        $('#frmWishTemplateView input[name=\'optionFl\']').val($(this).data('optionfl'));

        var params = $('#frmWishTemplateView').serialize();

        $.ajax({
            method: "POST",
            cache: false,
            url: '../mypage/wish_list_ps.php',
            data: params,
            success: function (data) {
                // error 메시지 예외 처리용
                if (!_.isUndefined(data.error) && data.error == 1) {
                    alert(data.message);
                    return false;
                }

                <!--{ ? cartInfo.wishPageMoveDirectFl == 'y' || (cartInfo.wishPageMoveDirectFl == 'n' && cartInfo.moveWishPageDeviceFl == 'pc') }-->
                location.href = "../mypage/wish_list.php";
                return false;
                <!--{ / }-->

                $("#addWishLayer").removeClass('dn');
                $('#layerDim').removeClass('dn');
                return false;
            },
            error: function (data) {
                alert(data.message);
            }
        });

		return false;
		<!--{ / }-->
	});

    // 장바구니 이동 레이어
    <!--{ ? cartInfo.moveCartPageFl == 'n' && cartInfo.moveCartPageDeviceFl != 'pc' }-->
    $('.layer_cartaddconfirm').click(function(){
        location.href = '../order/cart.php';
    });
    <!--{ / }-->

    // 찜리스트 레이어
    <!--{ ? cartInfo.wishPageMoveDirectFl == 'n' && cartInfo.moveWishPageDeviceFl != 'pc' }-->
    $('.layer_wishaddconfirm').click(function(){
        $('#addWishLayer').addClass('dn');
        $('#layerDim').addClass('dn');
        location.href = '../mypage/wish_list.php';
    });
    <!--{ / }-->

    // 타임세일 더보기
    $('.btn_time_sale_bottom_more').on('click', function(e){
        gd_get_list_more($(this).data('page'));
    });
});

// 타임세일 더보기
function gd_get_list_more(page) {
    var displayType = $('input[name="displayType"]').val();
    var sort = $('select[name="goods_sort"]').val();
    var totalPage = $('input[name="totalPage"]').val();

    $.post('./time_sale_ps.php', {'mode' : 'get_more', 'more' : page, 'displayType' : displayType, 'sno' : '{timeSaleInfo.sno}','sort' : sort}, function (data) {
        $('.goods_product_list').html(data);
        if (parseInt(page) + 1 > totalPage) {
            $('.btn_time_sale_bottom_more').hide();
        } else {
            $('.btn_time_sale_bottom_more').data('page', parseInt(page) + 1);
        }
    });
}
//-->
</script>
