{*** 주문완료 | order/order_end.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/order.css" rel="stylesheet">
<div class="payment_layer">
<section class="section_container">
    <div class="center_layer">
<!--        <div class="top_layer">-->
<!--            <ul class="tab_area inline">-->
<!--                <li class="on">-->
<!--                    <a href="#" onclick="return false">{=__('주문완료')}</a>-->
<!--                    <span class="underline"></span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>  -->
        <div class="section_layer content_box">
            <div class="order_wrap">
                <div class="order_tit">
                    <h2>주문완료</h2>
                    <ol>
                        <li >
                            <span>1. 장바구니</span>
                            <span>
                               <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li>
                            <span>2. 주문서작성</span>
                            <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li><span class="active">3. 주문완료</span></li>
                    </ol>
                </div><!-- //order_tit -->
                <!-- //member_tit -->
                <div class="order_cont">
                    <div class="order_end">
        
                        <!--{ ? gd_isset(orderInfo.orderStatus) == 'o' }-->
                        <!-- 주문 접수 완료 -->
                        <div class="order_end_completion">
                            <span><i class="xi-check-circle"></i></span>
                            <p><strong>{=__('주문이 정상적으로 접수 되었습니다.')}</strong><br /><em>{=__('감사합니다.')}</em></p>
                        </div>
                        <!--{ : orderInfo.orderStatus == 'p' }-->
                        <!-- 결제 완료 -->
                        <div class="order_end_completion">
                            <span><i class="xi-check-circle"></i></span>
                            <p><strong>{=__('결제가 완료 되었습니다.')}</strong><br /><em>{=__('감사합니다.')}</em></p>
                        </div>
                        <!--{ : orderInfo.orderStatus == 'f' }-->
                        <!-- 결제 실패 -->
                        <div class="order_end_completion">
                            <span><i class="xi-check-circle"></i></span>
                            <p>
                                <!--{ ? gd_pg_result_recheck(orderInfo.pgName) === true }-->
                                <strong>{=__('결제가 정상적으로 이루어지지 않았습니다. [결제확인] 버튼을 클릭하여 정상여부를 다시 확인해주시기 바랍니다.')}</strong><br /><em>{=__('지속적으로 문제가 발생될 경우 관리자에게 문의 하시기 바랍니다.')}</em>
                                <!--{ : }-->
                                <strong>{=__('결제가 정상적으로 이루어지지 않았습니다. 다시 결제 진행을 해주시기 바랍니다.')}</strong><br /><em>{=__('지속적으로 문제가 발생될 경우 관리자에게 문의 하시기 바랍니다.')}</em>
                                <!--{ / }-->
                            </p>
                        </div>
                        <!--{ : empty(orderInfo.orderStatus) === false }-->
                        <!-- 재접속 등에 의한 기주문 완료 건으로 접속시 -->
                        <div class="order_end_completion">
                            <span><i class="xi-check-circle"></i></span>
                            <p><strong>{=__('이미 결제가 완료된 주문입니다.')}</strong><br /><em>{=__('감사합니다.')}</em></p>
                        </div>
                        <!--{ : }-->
                        <!-- 재접속 등에 의한 기주문 완료 건으로 접속시 -->
                        <div class="order_end_completion">
                            <span><i class="xi-check-circle"></i></span>
                            <p><strong>{=__('주문 정보가 없습니다. 다시 확인 바랍니다.')}</strong><br /><em>{=__('지속적으로 문제가 발생될 경우 관리자에게 문의 하시기 바랍니다.')}</em></p>
                        </div>
                        <!--{ / }-->
        
                        <!--{ ? empty(orderInfo.orderStatus) === false }-->
                        <div class="order_zone_tit">
                            <h4>{=__('주문요약정보')}</h4>
                        </div>
        
                        <div class="order_table_type">
                            <table class="table_left table no_header">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:85%;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>{=__('결제수단')}</th>
                                    <td><div class="pay_with_list">
                                        <strong><!--{ ? gd_isset(orderInfo.settleGateway) == 'e' }-->{=__('에스크로')}<!--{ / }-->{=gd_isset(orderInfo.settleName)}</strong>
                                        <ul>
                                            <!--{ ? gd_isset(orderInfo.settleGateway) == 'f' }-->
                                            <!--작업자는 간편결제 내용을 작성해주세요.-->
                                            <!--{ : }-->
                                            <!--{ ? gd_isset(orderInfo.settleKind) == 'gb' }-->
                                            <li>{=__('입금은행')} : {=gd_isset(orderInfo.bankAccount[0])}</li>
                                            <li>{=__('입금계좌')} : {=gd_isset(orderInfo.bankAccount[1])}</li>
                                            <li>{=__('예금주명')} : {=gd_isset(orderInfo.bankAccount[2])}</li>
                                            <li>{=__('입금금액')} : <strong class="deposit_money">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong></li>
                                            <li>{=__('입금자명')} : {=gd_isset(orderInfo.bankSender)}</li>
                                            <!--{ : }-->
                                            <!--{ ? gd_isset(orderInfo.settleMethod) == 'c' }-->
                                            <li>{=gd_isset(orderInfo.pgSettleNm[0])}</li>
                                            <li>{=__('결제금액')} : <strong class="deposit_money">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong></li>
                                            <!--{ : gd_isset(orderInfo.settleMethod) == 'b' }-->
                                            <li>{=__('이체은행')} : {=gd_isset(orderInfo.pgSettleNm[0])}</li>
                                            <li>{=__('결제금액')} : <strong class="deposit_money">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong></li>
                                            <!--{ : gd_isset(orderInfo.settleMethod) == 'v' }-->
                                            <li>{=__('입금은행')} : {=gd_isset(orderInfo.pgSettleNm[0])}</li>
                                            <li>{=__('가상계좌')} : {=gd_isset(orderInfo.pgSettleNm[1])}</li>
                                            <!--{ ? gd_isset(orderInfo.pgSettleNm[2]) != '' }-->
                                            <li>{=__('예금자명')} : {=gd_isset(orderInfo.pgSettleNm[2])}</li>
                                            <!--{ / }-->
                                            <!--{ ? gd_isset(orderInfo.pgSettleCd[0]) != '' }-->
                                            <li>{=__('송금일자')} : {=gd_date_format('Y-m-d', gd_isset(orderInfo.pgSettleCd[0]))} {=__('까지')}</li>
                                            <!--{ / }-->
                                            <li>{=__('입금금액')} : <strong class="deposit_money">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong></li>
                                            <!--{ : gd_isset(orderInfo.settleMethod) == 'h' }-->
                                            <!--{ ? gd_isset(orderInfo.pgSettleNm[0]) != '' }-->
                                            <li>{=__('통신사')} : {=gd_isset(orderInfo.pgSettleNm[0])}</li>
                                            <!--{ / }-->
                                            <!--{ ? gd_isset(orderInfo.pgSettleCd[0]) != '' }-->
                                            <li>{=__('결제 휴대폰 번호')} : {=gd_isset(orderInfo.pgSettleCd[0])}</li>
                                            <!--{ / }-->
                                            <li>{=__('결제금액')} : <strong class="deposit_money">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong></li>
                                            <!--{ / }-->
                                            <!--{ / }-->
                                            <!--{ / }-->
                                        </ul>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{=__('주문번호')}</th>
                                    <td>{orderInfo.orderNo}</td>
                                </tr>
                                <!--{ ? orderInfo.orderStatus == 'f' }-->
                                <tr>
                                    <th>{=__('결제실패사유')}</th>
                                    <td>{=gd_isset(orderInfo.pgFailReason)}</td>
                                </tr>
                                <!--{ ? gd_pg_result_recheck(orderInfo.pgName) === true }-->
                                <tr>
                                    <th>{=__('결제확인')}</th>
                                    <td><a href="../payment/{=orderInfo.pgName}/pg_result_recheck.php?orderNo={orderInfo.orderNo}" class="normal-btn small2"><em>{=__('결제확인')}</em></a></td>
                                </tr>
                                <!--{ / }-->
                                <!--{ : }-->
                                <tr>
                                    <th>{=__('주문일자')}</th>
                                    <td>{orderInfo.regDt}</td>
                                </tr>
                                <tr>
                                    <th>{=__('주문상품')}</th>
                                    <td>{orderInfo.orderGoodsNm}</td>
                                </tr>
                                <tr>
                                    <th>{=__('주문자명')}</th>
                                    <td>{orderInfo.orderName}</td>
                                </tr>
<!--                                -->
<!--                                <tr>-->
<!--                                    <th>{=__('배송정보')}</th>-->
<!--                                    <td>-->
<!--                                        &lt;!&ndash;{ ? orderInfo.multiShippingFl == 'y' }&ndash;&gt;-->
<!--                                        <div class="order_table_type">-->
<!--                                            <table class="table_left">-->
<!--                                                <colgroup>-->
<!--                                                    <col style="width:15%;">-->
<!--                                                    <col style="width:85%;">-->
<!--                                                </colgroup>-->
<!--                                                <tr>-->
<!--                                                    <th>{=__('메인 배송지')}</th>-->
<!--                                                    <td>-->
<!--                                                        <p>-->
<!--                                                            <strong>{=gd_isset(orderInfo.receiverName)}</strong> <br />-->
<!--                                                            &lt;!&ndash;{ ? gGlobal.isFront }&ndash;&gt;-->
<!--                                                            [{=gd_isset(orderInfo.receiverZonecode)}] {=gd_isset(orderInfo.receiverAddressSub)}, {=gd_isset(orderInfo.receiverAddress)}, {=gd_isset(orderInfo.receiverState)}, {=gd_isset(orderInfo.receiverCity)}, {=gd_isset(orderInfo.receiverCountry)}<br />-->
<!--                                                            (+{=gd_isset(orderInfo.receiverPhonePrefix)}) {=gd_isset(orderInfo.receiverPhone)}  / (+{=gd_isset(orderInfo.receiverCellPhonePrefix)}) {=gd_isset(orderInfo.receiverCellPhone)}<br />-->
<!--                                                            {=__('남기실 말씀')} : {=gd_isset(orderInfo.orderMemo)}-->
<!--                                                            &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                                                            [{=gd_isset(orderInfo.receiverZonecode)}] {=gd_isset(orderInfo.receiverAddress)} {=gd_isset(orderInfo.receiverAddressSub)}<br />-->
<!--                                                            {=gd_isset(orderInfo.receiverPhone)}  /  {=gd_isset(orderInfo.receiverCellPhone)}&lt;!&ndash;{ ? orderInfo.receiverUseSafeNumberFl == 'w' || orderInfo.receiverUseSafeNumberFl == 'y' }&ndash;&gt;&nbsp;({=__('안심번호 사용')})&lt;!&ndash;{ / }&ndash;&gt;<br />-->
<!--                                                            {=__('남기실 말씀')} : {=gd_isset(orderInfo.orderMemo)}-->
<!--                                                            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                                        </p>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                &lt;!&ndash;{ ? multiOrderInfo }&ndash;&gt;-->
<!--                                                &lt;!&ndash;{ @ multiOrderInfo.receiverNm }&ndash;&gt;-->
<!--                                                <tr>-->
<!--                                                    <th>{=__('추가 배송지')}{=.index_ + 1}</th>-->
<!--                                                    <td>-->
<!--                                                        <p>-->
<!--                                                            <strong>{=gd_isset(multiOrderInfo.receiverNm[.index_])}</strong> <br />-->
<!--                                                            &lt;!&ndash;{ ? gGlobal.isFront }&ndash;&gt;-->
<!--                                                            [{=gd_isset(multiOrderInfo.receiverZonecode[.index_])}] {=gd_isset(multiOrderInfo.receiverAddressSub[.index_])}, {=gd_isset(multiOrderInfo.receiverAddress[.index_])}, {=gd_isset(multiOrderInfo.receiverState[.index_])}, {=gd_isset(multiOrderInfo.receiverCity[.index_])}, {=gd_isset(multiOrderInfo.receiverCountry[.index_])}<br />-->
<!--                                                            (+{=gd_isset(multiOrderInfo.receiverPhonePrefix[.index_])}) {=gd_isset(multiOrderInfo.receiverPhone[.index_])}  / (+{=gd_isset(multiOrderInfo.receiverCellPhonePrefix[.index_])}) {=gd_isset(multiOrderInfo.receiverCellPhone[.index_])}<br />-->
<!--                                                            {=__('남기실 말씀')} : {=gd_isset(multiOrderInfo.orderMemo[.index_])}-->
<!--                                                            &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                                                            [{=gd_isset(multiOrderInfo.receiverZonecode[.index_])}] {=gd_isset(multiOrderInfo.receiverAddress[.index_])} {=gd_isset(multiOrderInfo.receiverAddressSub[.index_])}<br />-->
<!--                                                            {=gd_isset(multiOrderInfo.receiverPhone[.index_])}  /  {=gd_isset(multiOrderInfo.receiverCellPhone[.index_])}&lt;!&ndash;{ ? multiOrderInfo.receiverUseSafeNumberFl[.index_] == 'w' || multiOrderInfo.receiverUseSafeNumberFl[.index_] == 'y' }&ndash;&gt;&nbsp;({=__('안심번호 사용')})&lt;!&ndash;{ / }&ndash;&gt;<br />-->
<!--                                                            {=__('남기실 말씀')} : {=gd_isset(multiOrderInfo.orderMemo[.index_])}-->
<!--                                                            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                                        </p>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                                &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                            </table>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                                        <p>-->
<!--                                            <strong>{=gd_isset(orderInfo.receiverName)}</strong> <br />-->
<!--                                            &lt;!&ndash;{ ? gGlobal.isFront }&ndash;&gt;-->
<!--                                            [{=gd_isset(orderInfo.receiverZonecode)}] {=gd_isset(orderInfo.receiverAddressSub)}, {=gd_isset(orderInfo.receiverAddress)}, {=gd_isset(orderInfo.receiverState)}, {=gd_isset(orderInfo.receiverCity)}, {=gd_isset(orderInfo.receiverCountry)}<br />-->
<!--                                            (+{=gd_isset(orderInfo.receiverPhonePrefix)}) {=gd_isset(orderInfo.receiverPhone)}  / (+{=gd_isset(orderInfo.receiverCellPhonePrefix)}) {=gd_isset(orderInfo.receiverCellPhone)}<br />-->
<!--                                            {=__('남기실 말씀')} : {=gd_isset(orderInfo.orderMemo)}-->
<!--                                            &lt;!&ndash;{ : }&ndash;&gt;-->
<!--                                            [{=gd_isset(orderInfo.receiverZonecode)}] {=gd_isset(orderInfo.receiverAddress)} {=gd_isset(orderInfo.receiverAddressSub)}<br />-->
<!--                                            {=gd_isset(orderInfo.receiverPhone)}  /  {=gd_isset(orderInfo.receiverPhone)}  /  {=gd_isset(orderInfo.receiverCellPhone)}&lt;!&ndash;{ ? orderInfo.receiverUseSafeNumberFl == 'w' || orderInfo.receiverUseSafeNumberFl == 'y' }&ndash;&gt;&nbsp;({=__('안심번호 사용')})&lt;!&ndash;{ / }&ndash;&gt;<br />-->
<!--                                            {=__('남기실 말씀')} : {=gd_isset(orderInfo.orderMemo)}-->
<!--                                            &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                        </p>-->
<!--                                        &lt;!&ndash;{ / }&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr>
                                    <th>{=__('상품 금액')}</th>
                                    <td><strong class="order_payment_sum">{=gd_global_currency_display(gd_isset(orderInfo.totalGoodsPrice))}</strong>
                                        <span class="add_currency">{=gd_global_add_currency_display(gd_isset(orderInfo.totalGoodsPrice))}</span>
                                    </td>
                                </tr>
                                <!--{ ? gGlobal.isFront }-->
                                <tr>
                                    <th>{=__('총 무게')}</th>
                                    <td><strong>{=number_format(orderInfo.totalDeliveryWeight, 2)}kg</strong></td>
                                </tr>
                                <!--{ / }-->
                                <tr>
                                    <th>{=__('배송비')}</th>
                                    <td>{=__('기본배송')} {=gd_global_currency_display(gd_isset(orderDeliveryInfo.deliveryPolicyCharge))}
                                        <span class="add_currency">{=gd_global_add_currency_display(gd_isset(orderDeliveryInfo.deliveryPolicyCharge))}</span>
                                        <!--{ ? orderInfo.multiShippingFl == 'y' }-->
                                        <!--{ ? orderDeliveryInfo.orderInfoCharge }-->
                                        (<!--{ @ orderDeliveryInfo.orderInfoCharge }-->
                                        <!--{ ? .index_ == 0 }-->{=__('메인 배송지')}<!--{ : }-->{=__('추가 배송지')}{=.index_}<!--{ / }--> : {=gd_global_currency_display(gd_isset(.value_))}
                                        <!--{ / }-->)
                                        <!--{ / }-->
                                        <!--{ / }-->
                                    </td>
                                </tr>
                                <!--{ ? orderDeliveryInfo.deliveryAreaCharge > 0}-->
                                <tr>
                                    <th>{=__('지역별 배송비')}</th>
                                    <td>{=gd_global_currency_display(gd_isset(orderDeliveryInfo.deliveryAreaCharge))}</td>
                                </tr>
                                <!--{ / }-->
                                <!--{ ? gGlobal.isFront }-->
                                <tr>
                                    <th>{=__('해외배송 보험료')}</th>
                                    <td>
                                        <strong>{=gd_global_currency_display(gd_isset(orderInfo.totalDeliveryInsuranceFee))}</strong>
                                        <!--{ ? gGlobal.isFront && gGlobal.useAddCurrency }-->
                                        {=gd_global_add_currency_symbol()}<span class="add_currency">{=gd_global_add_money_format(gd_isset(orderInfo.totalDeliveryInsuranceFee))}</span>{=gd_global_add_currency_string()}
                                        <!--{ / }-->
                                    </td>
        
                                </tr>
                                <!--{ / }-->
                                <!--{ ? depositUse.payUsableFl === 'y' && orderInfo.useDeposit > 0 }-->
                                <tr>
                                    <th>{=__('사용')} {=depositUse.name}</th>
                                    <td><strong>{=gd_money_format(orderInfo.useDeposit)}{depositUse.unit}</strong></td>
                                </tr>
                                <!--{ / }-->
                                <!--{ ? mileage.useFl === 'y' && orderInfo.useMileage > 0 }-->
                                <tr>
                                    <th>{=__('사용')} {=mileage.name}</th>
                                    <td><strong>{=gd_money_format(orderInfo.useMileage)}{mileage.unit}</strong></td>
                                </tr>
                                <!--{ / }-->
                                <tr>
                                    <th>{=__('할인 및 적립')}</th>
                                    <td>
                                        <ul class="order_benefit_list">
                                            <li class="order_benefit_sale">
                                                <em>{=__('할인')} : <strong>(-) {=gd_global_currency_display(orderInfo.totalGoodsDcPrice + (orderInfo.totalMemberDcPrice + orderInfo.totalMemberOverlapDcPrice) + orderInfo.totalCouponGoodsDcPrice + orderInfo.totalCouponOrderDcPrice + orderInfo.totalCouponDeliveryDcPrice + orderInfo.totalMemberDeliveryDcPrice)}</strong>
                                                    <span>(
                                                    {=__('상품')} {=gd_global_currency_display(orderInfo.totalGoodsDcPrice)}
                                                        <!--{ ? !gGlobal.isFront }-->
                                                    , {=__('회원')} {=gd_global_currency_display(orderInfo.totalMemberDcPrice + orderInfo.totalMemberOverlapDcPrice)}
                                                    , {=__('배송비')} {=gd_global_currency_display(orderInfo.totalMemberDeliveryDcPrice)}
                                                    , {=__('상품쿠폰')} {=gd_global_currency_display(orderInfo.totalCouponGoodsDcPrice)}
                                                    , {=__('주문쿠폰')} {=gd_global_currency_display(orderInfo.totalCouponOrderDcPrice)}
                                                    , {=__('배송비쿠폰')} {=gd_global_currency_display(orderInfo.totalCouponDeliveryDcPrice)}
                                                        <!--{ / }-->
                                                    )</span>
                                                    <!--{ ? !gGlobal.isFront && gGlobal.useAddCurrency }-->
                                                    <!--{ ? (orderInfo.totalGoodsDcPrice + (orderInfo.totalMemberDcPrice + orderInfo.totalMemberOverlapDcPrice) + orderInfo.totalCouponGoodsDcPrice + orderInfo.totalCouponOrderDcPrice + orderInfo.totalCouponDeliveryDcPrice + orderInfo.totalMemberDeliveryDcPrice) != 0 }-->{=gd_global_add_currency_symbol()}<!--{ / }--><span class="add_currency" style="color: #717171;">{=gd_global_add_money_format(orderInfo.totalGoodsDcPrice + (orderInfo.totalMemberDcPrice + orderInfo.totalMemberOverlapDcPrice) + orderInfo.totalCouponGoodsDcPrice + orderInfo.totalCouponOrderDcPrice + orderInfo.totalCouponDeliveryDcPrice + orderInfo.totalMemberDeliveryDcPrice)}</span>
                                                    <!--{ / }-->
                                                </em>
                                            </li>
                                            <!--{ ? mileage.useFl === 'y' }-->
                                            <li class="order_benefit_mileage">
                                                <!--{ ? orderInfo.mileageGiveExclude === 'n' && orderInfo.useMileage > 0 }-->
                                                <em>{=__('적립')} {=mileage.name} : {=__('마일리지 지급정책에 의거하여 마일리지를 사용한 주문 건에 대해 적립마일리지를 지급하지 않습니다.')}</em>
                                                <!--{ : }-->
                                                <em> {=__('적립')} {=mileage.name} : <strong>(+) {=gd_money_format(orderInfo.totalGoodsMileage + orderInfo.totalMemberMileage + orderInfo.totalCouponGoodsMileage + orderInfo.totalCouponOrderMileage)}{=mileage.unit}</strong>
                                                    <span>(
                                                        <!--{ ? orderInfo.totalGoodsMileage > 0 }-->{=__('상품')} {=gd_money_format(orderInfo.totalGoodsMileage)}{=mileage.unit}<!--{ / }-->
                                                        <!--{ ? orderInfo.totalMemberMileage > 0 }-->, {=__('회원')} {=gd_money_format(orderInfo.totalMemberMileage)}{=mileage.unit}<!--{ / }-->
                                                        <!--{ ? orderInfo.totalCouponGoodsMileage > 0 }-->, {=__('상품쿠폰')} {=gd_money_format(orderInfo.totalCouponGoodsMileage)}{=mileage.unit}<!--{ / }-->
                                                        <!--{ ? orderInfo.totalCouponOrderMileage > 0 }-->, {=__('주문쿠폰')} {=gd_money_format(orderInfo.totalCouponOrderMileage)}{=mileage.unit}<!--{ / }-->
                                                    )</span>
                                                </em>
                                                <!--{ / }-->
                                            </li>
                                            <!--{ / }-->
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{=__('총 결제금액')}</th>
                                    <td><strong class="order_payment_sum">{=gd_global_currency_display(gd_isset(orderInfo.settlePrice))}</strong>
                                        <span class="add_currency">{=gd_global_add_currency_display(gd_isset(orderInfo.settlePrice))}</span>
                                    </td>
                                </tr>
                                <!--{ ? gd_isset(orderInfo.settleGateway) == 'o' }-->
                                <tr>
                                    <th>{=__('승인금액')}</th>
                                    <td><strong class="deposit_money">{=orderInfo.overseasSettleCurrency} {=gd_isset(orderInfo.overseasSettlePrice)}</strong></td>
                                </tr>
                                <!--{ / }-->
                                <tr>
                                    <th>{=__('현금영수증')}</th>
                                    <td>
                                        <!--{ ? orderInfo.receiptFl == 'r' }-->
                                        {=__('소득공제용')} or {=__('지출증빙용 신청완료')}
                                        <!--{ : }-->
                                        {=__('미발급')}
                                        <!--{ / }-->
                                    </td>
                                </tr>
                                <tr>
                                    <th>{=__('세금계산서')}</th>
                                    <td>
                                        <!--{ ? orderInfo.receiptFl == 't' }-->
                                        {=__('신청완료')}
                                        <!--{ : }-->
                                        {=__('미발급')}
                                        <!--{ / }-->
                                    </td>
                                </tr>
                                <!--{ / }-->
                            </table>
                        </div><!-- .order_table_type -->
                        <!--{ / }-->
                        <div class="btn_center_box button_area inline">
                            <a href="/" class="btn_order_end_ok button orange"><em>{=__('확인')}</em></a>
                        </div>
                    </div>
                    <!-- //order_end -->
                </div>
                <!-- //order_cont -->
            </div>
            <!-- //order_wrap -->
        </div>
    </div><!-- .center_layer -->
</section>
</div>
{=naverCommonInflowScript}
{=fbOrderEndScript}
{ # footer }
