{*** 상품리스트 | goods/goods_list.php ***}
{#header}
<div class="goods_list">
	<!-- 설문조사 배너 -->{=pollViewBanner()}<!-- 설문조사 배너 -->
	<!-- gd5 상단 하위 카테고리 -->
	<!--{ ? themeInfo.cateHtml1Mobile }--><div>{=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml1Mobile))}</div><!--{ / }-->
	<!--{ ? naviDisplay.naviUse =='y' }-->
	<div class="goods_list_category">
		<ul>
			<!--{ @ dataSubCategory( cateCd, cateType ) }-->
			<li {.style} <!--{ ? cateCd == .cateCd }-->class="selected" <!--{ / }-->><a href="?{cateType}Cd={.cateCd}" >{.cateNm} <!--{ ? naviDisplay.naviCount =='y' }--><span>({.goodsCnt+0})</span> <!--{ / }--></a></li>
			<!--{ / }-->
		</ul>
	</div>
	<!--{ / }-->
	<!--{ ? themeInfo.recomDisplayMobileFl == 'y'  && widgetGoodsList}-->
	<div class="goods_list_recom">
		<!--{ ? themeInfo.cateHtml2Mobile }-->
		<div class="user_tune">{=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml2Mobile))}</div>
		<!--{ / }-->

		<h3>{=__('추천상품')}
			<div class="more_btn_box">
				<a class="recommend_more_btn" href="../goods/goods_recom.php?{cateType}Cd={=cateCd}">{=__('더보기')}</a>
			</div>
		</h3>
		<!-- 추천상품 -->
		<ul class="recommend_prd_list">
			{=includeWidget('goods/_goods_display.html')}
		</ul>
		<!-- 추천상품 -->
	</div>
	<!--{ / }-->
	<div id="goodslist" class="goods_list_content">
		<!--{ ? themeInfo.cateHtml3Mobile }--><div>{=stripslashes(str_replace('&nbsp;', ' ', themeInfo.cateHtml3Mobile))}</div><!--{ / }-->
		<div class="goods_top_box">
			<div class="goods_arr_box">
				<div class="goods_sort">
					<div class="inp_sel">
						<select name="goods_sort" onchange="gd_get_list(1,true);">
							<option value="">{=__('상품정렬')}</option>
							<option value="date">{=__('등록순')}</option>
							<option value="price_asc">{=__('낮은가격순')}</option>
							<option value="price_dsc">{=__('높은가격순')}</option>
						</select>
					</div>
				</div>
				<div class="goods_view_type">
					<input type="hidden" name="displayType" value="{themeInfo.displayType}" >
					<ul>
						<li><button class="<!--{ ? themeInfo.displayType =='02' }-->on<!--{ / }-->" data-key="02" >list</button></li>
						<li><button class="<!--{ ? themeInfo.displayType =='09' }-->on<!--{ / }-->" data-key="09">gallery_type1</button></li>
						<li><button class="<!--{ ? themeInfo.displayType =='01' }-->on<!--{ / }-->" data-key="01">gallery_type2</button></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="goods_list_box">
			<ul class="goods_product_list">{ # goodsTemplate }</ul>
			<div class="btn_box">
				<button type="button" class="more_btn" data-page="2" >{=__('더보기')}</button>
			</div>
			<div class="loading_img"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	<!--
	<!--{ ? cateType == 'cate' }-->
	var keyValue = 'C{gGlobal.locale}{cateCd}';
	<!--{ : }-->
	var keyValue = 'B{gGlobal.locale}{brandCd}';
	<!--{ / }-->

	var key = {
		html: 'html' + keyValue,
		page: 'page' + keyValue,
		viewType: 'viewType' + keyValue,
		sortType: 'sortType' + keyValue,
		endFlag: 'endflag' + keyValue,
	};

	var gdStorage = gd_load_session(key.html);
	var gdPage = gd_load_session(key.page);
	var gdViewType = gd_load_session(key.viewType);
	var gdSortType = gd_load_session(key.sortType);
	var endFlag = gd_load_session(key.endFlag);

	$(document).ready(function(){
		if (gdStorage) {
			$(".goods_product_list").html(gdStorage);
			$('.btn_box button').data('page',parseInt(gdPage)+1);
			$('.goods_view_type ul li button [data-key!="' + gdViewType + '"]').removeClass('on');
			$('.goods_view_type ul li button [data-key="' + gdViewType + '"]').addClass('on');
			$('input[name="displayType"]').val(gdViewType);
			$('select[name="goods_sort"]>option[value="' + gdSortType + '"]').prop('selected', true);
		}
		$('.btn_box button.more_btn').on('click', function(e){
			gd_get_list($(this).data('page'),false);
		});

		$('.goods_view_type ul li').on('click', function(e){
			$(".goods_view_type ul li button").removeClass('on');
			$('input[name="displayType"]').val($(this).find('button').data('key'));
			$(this).find('button').addClass('on');
			gd_get_list('1',true);
    });

		$(document).on('click','.btn_alert_login',function (e){
			alert("{=__('로그인하셔야 본 서비스를 이용하실 수 있습니다.')}");
			document.location.href = "../member/login.php";
			return false;
		});

		$('body').on('click', '.js_option_layer', function(e){
			var params = {
				type : $(this).data('type'),
				sno: $(this).data('sno'),
				goodsNo: $(this).data('goodsno')
			};

			$('#popupOption').modal({
				remote: '../goods/layer_option.php',
				cache: false,
				params: params,
				type : 'POST',
				show: true
			});
		});

	});

	function before_more_btn() {
        $('.goods_product_list').on('click', function(){return false;})
        $('.btn_box button').hide();
        $('.loading_img').append('<img src="../img/icon/icon_loading.gif">');
	}

	function after_more_btn() {
        $('.goods_product_list').off('click');
        $('.btn_box button').show();
        $('.loading_img img').remove();
	}

	var endflag = false;
	function gd_get_list(page, reloadFl){
		var displayType = $('input[name="displayType"]').val();
		var sort =  $('select[name="goods_sort"]').val();

		$.ajax({
			method		: 'GET',
			url			: './goods_list.php',
			data		: {
			    'mode' : 'data',
				'cateCd' : '{cateCd}',
				'brandCd' : '{brandCd}',
				'cateType' : '{cateType}',
				'displayType' : displayType,
				'page' : page,
				'sort' : sort
			},
			beforeSend	: function(){
                before_more_btn();
			},
			success	: function(data){
                after_more_btn();

                if($(data).filter("li.no_bx").length) {
                    if(page =='1' && endflag == false) {
                        $(".goods_product_list").append(data);
                        gd_save_session(key.endFlag, true);
                        gd_save_session(key.html, $('.goods_product_list').html());
                        endflag = true;
                        if ($(data).find('.goods_list_info').length < {themeInfo.lineCnt * themeInfo.rowCnt}) {
                            $('.more_btn').hide();
                        }
                    } else {
                        alert("{=__('더이상 상품이 없습니다')}");
                        $('.more_btn').hide();
                    }

                } else {
                    if(reloadFl === true) $(".goods_product_list").html(data);
                    else  $(".goods_product_list").append(data);

                    $('.btn_box button').data('page',parseInt(page)+1);
                    gd_save_session(key.html, $('.goods_product_list').html());
                    gd_save_session(key.page, parseInt(page));
                    if ($(data).find('.goods_list_info').length < {themeInfo.lineCnt * themeInfo.rowCnt}) {
                        $('.more_btn').hide();
                    }
                }
			}
		});
		gd_save_session(key.sortType, sort);
		gd_save_session(key.viewType, displayType);
	}

	//-->
</script>

{#footer}
