{*** 상단 메인파일 | outline/header/main.php ***}
<header class="header_container">
    <!--{=includeFile("proc/_menu_login.html")}-->
    <div class="logo_wrapper">
        <div class="center_layer">
            <div class="logo_layer">
                <a href="/"><img src="../../img/common/logo.png"></a>
            </div><!-- .logo_layer -->
            <ul class="search_layer inline">
                <li class="menu">
                    <a href="/board/list.php?bdId=goodsreview"><img src="../../img/common/menu_review1.png" alt=""></a>
                </li>
                <li class="separate"></li>
                <li class="menu">
                    <a href="/board/list.php?bdId=event"><img src="../../img/common/menu_event1.png" alt=""></a>
                </li>
<!--                <li class="separate"></li>-->
<!--                <li class="search">-->
<!--                    <input type="text" name="keyword" value="" id="search-form" autocomplete="off">-->
<!--                    <a href="#" onclick="return false;" class="searchbtn"><i class="xi-search"></i></a>-->
<!--                </li>-->
            </ul><!-- .search_layer -->
        </div><!-- .center_layer -->
    </div><!-- .logo_wrapper -->
    <!--{=includeFile("proc/_menu_category.html")}-->

    <div class="banner_wrapper swiper-container" id="MainBannerSlide">
        <div class="banner_layer swiper-wrapper">
            <!--{ @dataBanner('2536020156', true) }-->
            <div class="swiper-slide" style="background-image:url({.bannerImageUrl});" onclick="location.href='{.bannerLink}'; return false;"></div>
            <!--{ / }-->
        </div>
<!--        <div class="logo_layer"><a href="/"><img src="../../img/common/logo.png"></a></div>-->
        <div class="over_layer">
            <div class="center_layer">
                <div class="pager_area" id="MainBannerPager"></div>
<!--                <ul class="link_area inline">-->
<!--                    <li>-->
<!--                        <a href="/board/list.php?bdId=goodsreview"><img src="../../img/common/menu_review.png" alt=""></a>-->
<!--                    </li><li class="separate"></li><li>-->
<!--                        <a href="/board/list.php?bdId=event"><img src="../../img/common/menu_event.png" alt=""></a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
    </div><!-- .banner_wrapper -->
</header>

<script>
    var main_banner_slide = new Swiper('#MainBannerSlide', {
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        centeredSlides: true,
        autoplay: {
            delay: 3300,
            disableOnInteraction: false,
        },
        pagination: {
            el: '#MainBannerPager',
            clickable: true,
        },
    });
</script>
