{*** 상단 기본파일 | outline/header/standard.php ***}
<header class="header_container">
    <!--{=includeFile("proc/_menu_login.html")}-->
    <div class="logo_wrapper">
        <div class="center_layer">
            <div class="logo_layer">
                <a href="/"><img src="../../img/common/logo.png"></a>
            </div><!-- .logo_layer -->
            <ul class="search_layer inline">
                <li class="menu">
                    <a href="/board/list.php?bdId=goodsreview"><img src="../../img/common/menu_review1.png" alt=""></a>
                </li>
                <li class="separate"></li>
                <li class="menu">
                    <a href="/board/list.php?bdId=event"><img src="../../img/common/menu_event1.png" alt=""></a>
                </li>
<!--                <li class="separate"></li>-->
<!--                <li class="search">-->
<!--                    <input type="text" name="keyword" value="" id="search-form" autocomplete="off">-->
<!--                    <a href="#" onclick="return false;" class="searchbtn"><i class="xi-search"></i></a>-->
<!--                </li>-->
            </ul><!-- .search_layer -->
        </div><!-- .center_layer -->
    </div><!-- .logo_wrapper -->
    <!--{=includeFile("proc/_menu_category.html")}-->
</header>

<script>
    var main_banner_slide = new Swiper('#MainBannerSlide', {
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        centeredSlides: true,
        autoplay: {
            delay: 3300,
            disableOnInteraction: false,
        },
        pagination: {
            el: '#MainBannerPager',
            clickable: true,
        },
    });
</script>
