{*** 인트로 - 회원전용 | intro/intro.php ***}
{ # share_header }
{=acecounterScript}
<div class="member">
	<div class="msg">
        <strong>{=__('회원 전용으로 운영되는 쇼핑몰입니다.')}</strong>
        <p>{=__('로그인 / 회원가입 후 이용이 가능합니다.')}</p>
    </div>
	<div class="login_box">
		<form id="formLogin" name="login_form" action="{=loginActionUrl}" method="post">
			<fieldset>
				<legend>{=__('로그인 영역')}</legend>
				<input type="hidden" name="returnUrl" value="{returnUrl}"/>
				<input type="hidden" name="close" value=""/>
				<input type="hidden" name="saveFlag" value="{data.saveFlag}"/>
				<input type="hidden" id="mode" name="mode" value="{modeLogin}"/>
				<dl>
					<dt><label for="loginId">{=__('아이디')}</label></dt>
					<dd><input type="text" id="loginId" name="loginId" value="{data.loginId}" placeholder="{=__('아이디')}"></dd>
				</dl>
				<dl>
					<dt><label for="loginPwd">{=__('비밀번호')}</label></dt>
					<dd><input type="password" placeholder="{=__('비밀번호')}" id="loginPwd" name="loginPwd" value="{data.loginPwd}"></dd>
				</dl>
				<div class="inp_chk">
					<input type="checkbox" name="saveAutoLogin" value="y" id="saveAutoLogin" <!--{? !empty(data.loginId) && !empty(data.loginPwd)}checked="checked"{/}--> />
					<label for="saveAutoLogin">{=__('로그인 상태 유지')}</label>
				</div>
				<div class="submit">
					<button type="submit" class="member_login_order_intro_btn">{=__('로그인')}</button>
				</div>
				<!-- //submit -->
			</fieldset>
		</form>
		<!--{? usePaycoLogin || useFacebookLogin || useNaverLogin || useKakaoLogin || useWonderLogin }-->
		<ul class="sns_login">
			<!--{ ? usePaycoLogin }-->
			<li class="payco js_btn_payco_login"><img src="../img/etc/txt_mo_payco.png" alt="{=__('PAYCO')} {=__('아이디 로그인')}"></li>
			<!--{ / }-->
			<!--{ ? useFacebookLogin }-->
			<li class="facebook js_btn_facebook_login" data-facebook-url="{=facebookUrl}"><img src="../img/etc/txt_mo_facebook.png" alt="{=__('FACEBOOK')} {=__('아이디 로그인')}"></li>
			<!--{ / }-->
			<!--{? useNaverLogin}-->
			<li class="naver js_btn_naver_login"><img src="../img/etc/txt_mo_naver.png" alt="{=__('네이버')}{=__('아이디 로그인')}" /></li>
			<!--{/}-->
			<!--{ ? useKakaoLogin }-->
			<li class="kakao js_btn_kakao_login" data-kakao-type="login" data-return-url="{=returnUrl}"><img src="../img/etc/txt_mo_kakao.png" alt="{=__('카카오')}{=__('아이디 로그인')}"></li>
			<!--{ / }-->
			<!--{ ? useWonderLogin }-->
			<li class="wonder js_btn_wonder_login" data-wonder-type="login" data-wonder-url="{=wonderReturnUrl}"><img src="../img/etc/txt_mo_wonder.png" alt="{=__('위메프')}{=__('아이디로 로그인')}"></li>
			<!--{ / }-->
		</ul>
		<!-- //sns_login -->
		<!--{ / }-->
		<ul class="login_find">
			<li><a href="../member/join_method.php">{=__('회원가입')}</a></li>
			<li><a href="../member/find_id.php">{=__('아이디찾기')}</a></li>
			<li><a href="../member/find_password.php">{=__('비밀번호찾기')}</a></li>
		</ul>
		<!-- //login_find -->
	</div>
	<!-- //login_box -->
</div>

<script type="text/javascript" src="../js/jquery/jquery.serialize.object.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('#formLogin').validate({
		dialog: false,
		rules: {
			loginId: {
				required: true
			},
			loginPwd: {
				required: true
			}
		},
		messages: {
			loginId: {
				required: "{=__('아이디를 입력해주세요')}"
			},
			loginPwd: {
				required: "{=__('패스워드를 입력해주세요')}"
			}
		}, submitHandler: function (form) {
			var params = $(form).serializeArray();
			params.push({name: "mode", value: "login"});
			$.post('{=loginActionUrl}', params).done(function (data) {
				var code = data.code;
				var message = data.message;
				var url = data.url;
				if (_.isUndefined(code) && _.isUndefined(message)) {
					var returnUrl = '{=returnUrl}';
					if (_.isEmpty(returnUrl)) {
						location.href = '/';
					} else {
						/*로그인 출석 체크 알림창 문구 출력*/
                        var attendanceCheck = data;
                        var start = attendanceCheck.indexOf("msg");
                        if(start != -1) {
                            var end = attendanceCheck.indexOf(';', start + 1);
                            var attendaceLoginMsg = attendanceCheck.substring(start + 5, end - 1);
                            alert(attendaceLoginMsg);
                        }
						location.href = returnUrl;
					}
				} else {
					alert(message);
					if (_.isUndefined(url) === false) {
						location.href = url;
					}
				}
			});
		}
	});
});
</script>

{ # share_footer }


