@charset "utf-8";

/* 카테고리 proc/_category_all.html */
.category_side {width:274px; margin:0 auto;}
.category_side > li {padding:0 15px 0 15px;} 
.category_side > li ul {display:none; border-top:1px solid #ccaab0;}
.category_side > li a {position:relative; display:block; padding:12px 0 12px 0; font-size:16px; color:#262626;}
.category_side > li a > img{max-width:100%;}
/* 1차 카테고리 타이틀 */
.category_side > li > a { font-weight:bold;}
.category_side > li > a.on {color:#f39618;}
/* 2차 카테고리 타이틀 */
.category_side > li > ul > li > a {padding-left:10px;}
.category_side > li > ul > li > a.on {color:#f39618; font-weight:bold;}
/* 3차 카테고리 타이틀 */
.category_side > li > ul > li > ul > li > a {padding-left:15px; font-size:14px; color:#747474;}
.category_side > li > ul > li > ul > li > a.on {color:#f39618; font-weight:bold;}
/* 4차 카테고리 타이틀 */
.category_side > li > ul > li > ul > li > ul > li > a {padding-left:25px; font-size:12px; color:#767676;}
.category_side > li > ul > li > ul > li > ul > li > a.on {color:#f39618; font-weight:bold;}
/* 하위카테고리가 있을경우 아이콘 */
.category_side li a span.icon_plus {position:absolute; top:50%; right:0; display:block; width:12px; height:7px; margin:-3px 0 0 0; background:url('../../img/icon/icon_left_arrow.png') no-repeat center; font-size:0; vertical-align:middle; background-size:12px 7px;}
.category_side li a.on span.icon_plus {background:url('../../img/icon/icon_left_arrow_on.png') no-repeat center; background-size:12px 7px;}
/* 하위카테고리가 없을경우 아이콘 */
.category_side li a.icon_arrow {/*background:url('../../img/icon/icon_arrow_right.png') no-repeat right center; background-size:6px 10px;*/}


 /* SELECT 다국어 proc/_global_select.html */
.mod_language {}
.mod_language .language_tit {display:block; padding-right:19px; text-align:right; }
.mod_language .language_tit span {display:block; padding-right:25px; font-size:15px; line-height:0; color:#262626; 
background:url('../../img/icon/icon_arrow.png') no-repeat right center; background-size:11px 6px;}
.mod_language .language_tit span.on {background:url('../../img/icon/icon_arrow_on.png') no-repeat right center; background-size:11px 6px;}
.mod_language .language_tit img {width:22px; margin-right:10px; font-size:0; vertical-align:middle;}
.mod_language .language_list {display:none; position:absolute; top:48px; right:0; padding:0px 20px 0 20px; font-size:15px; background:#f3f3f3; z-index:400;}
.mod_language .language_list li {padding:5px 0;}
.mod_language .language_list li img {width:22px; margin-right:10px; font-size:0; vertical-align:middle;}
/* SELECT 다국어(텍스트없음) */
.mod_language .language_tit2 span {padding-right:10px;}
.mod_language .language_list2 {padding:0px 29px 0 20px;}
/* 일렬로 정렬 */
.mod_language .language_list3 {padding-right:3px; font-size:0; text-align:right;}
.mod_language .language_list3 li {display:inline-block; padding:17px 4px 0 4px; vertical-align:top;}

/*** [위젯] 메인 상품 출력 | proc/_goods_display_main.html ***/
._goods_display_main {}
._goods_display_main h3 {position:relative; display:block; padding:8px 94px 8px 10px; font-size:16px; color:#181818; border-bottom:1px solid #f3f2f2; text-align:left; font-weight:bold;}
._goods_display_main h3 .more_btn_box {position:absolute; top:6px; right:10px;}
._goods_display_main .main_prd_list {padding:0 5px 0 5px; font-size:0;}
._goods_display_main .btn_box {padding:15px 15px 15px 15px;}

/*** 레이어 팝업 검색 | proc/_header_search.html ***/
._header_search {}
._header_search .layer_search_box {position:relative; background:#f0f0f0;}
._header_search .layer_search_box fieldset {}
._header_search .layer_search_box fieldset legend {display:none;}
._header_search .layer_search_box dl {padding:10px 142px 10px 15px;}
._header_search .layer_search_box dl dt {display:none;}
._header_search .layer_search_box dl dd {width:100%;}
._header_search .layer_search_box dl dd .keyword_box {position:relative;}
._header_search .layer_search_box dl dd .keyword_box input {width:100%; height:40px; border:1px solid #dadada; padding:0 30px 0 0; text-indent:10px;}
._header_search .layer_search_box dl dd .keyword_box button {position:absolute; top:9px; right:10px; display:inline-block; width:21px; height:21px; background:url('../../img/icon/icon_x.png') no-repeat center; background-size:21px; font-size:0; border:none;}
/* 검색 내용 */
._header_search .layer_search_content {position:relative; overflow-y:scroll;}
._header_search .layer_search_content .search_bx_area {display:table; width:100%; background:#f2f2f2; border-bottom:1px solid #e2e2e2;}
._header_search .layer_search_content .search_bx_area .latest_search_tab {display:table-cell;padding:5px 2px 5px 2px; background:#ffffff;  }
._header_search .layer_search_content .search_bx_area .latest_search_tab h3 {display:block; padding:2px 0 2px 0; text-align:center; color:#999999;}
._header_search .layer_search_content .search_bx_area .latest_search_tab.on {border-bottom:2px solid #f39618;}
._header_search .layer_search_content .search_bx_area .on h3 {color:#484848; }
._header_search .layer_search_content .search_bx_area .latest_search_tab:first-child {padding-left:4px;}
._header_search .layer_search_content .search_bx_area .latest_search_tab:last-child {padding-right:4px;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box {position:absolute; top:37px; left:0; width:100%;}
/* 최근검색 리스트 / 인기검색어 */
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list {width:100%; font-size:0;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li {width:100%;  border-bottom:1px solid #e5e5e5;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div {display:inline-block; font-size:13px; vertical-align:top;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div.link {width:70%;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li a {overflow:hidden; display:block; font-size:13px; padding:5px 20px 5px 0; text-indent:15px; white-space:nowrap; text-overflow:ellipsis; line-height:20px;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div.date {width:20%; padding:5px 0 5px 0; font-size:10px; line-height:18px; text-align:right; color:#999999;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div.date {}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div.keyword_delete {width:10%; padding:5px 0 5px 0; text-align:center;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_list li div.keyword_delete button {display:inline-block; width:18px; height:18px; font-size:0; background:url('../../img/icon/icon_x1.png') no-repeat center; background-size:6px; border:none; vertical-align:top;}
._header_search .layer_search_content .search_bx_area .latest_search_list_box .latest_search_del {padding:8px 10px 8px 0; text-align:right;}

/*** [위젯] 인기상품 | proc/_populate.html ***/
._populate {position:relative;overflow:hidden;}
._populate .rank_top_box .rank_visible_sec {width:100%; padding:0 10px 5px 10px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; font-size:0;}
._populate .rank_top_box .rank_visible_sec .hot_item_tit {display:inline-block; width:90px; padding:10px 0 2px 0; color:#383838; font-size:14px; font-weight:bold; vertical-align:top;}
._populate .rank_top_box .rank_visible_sec .hot_item_tit strong {color:#f39618; font-size:14px;}
/* 롤 오버형 */
._populate .rank_top_box .rank_visible_sec .rolling_rank_list {display:inline-block; width:calc(100% - 90px); margin:3px 0 0 0; }
._populate .rank_top_box .rank_visible_sec .rolling_rank_list ul {width:100%; font-size:14px;}
._populate .rank_top_box .rank_visible_sec .rolling_rank_list ul li {position:relative; width:100%; padding:0 150px 0 25px;}
._populate .rank_top_box .rank_visible_sec .rolling_rank_list ul li em {position:absolute; top:8px; left:0; width:18px; background:#bababa; border-radius:2px; font-size:11px; color:#fff; text-align:center; line-height:18px;}
._populate .rank_top_box .rank_visible_sec .rolling_rank_list li a {overflow:hidden; display:inline-block; width:70%; padding:9px 0px 0 25px; color:#333; font-size:14px; line-height:14px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
._populate .rank_top_box .rank_visible_sec .rolling_rank_list .top1 em,
._populate .rank_top_box .rank_visible_sec .rolling_rank_list .top2 em,
._populate .rank_top_box .rank_visible_sec .rolling_rank_list .top3 em {background:#999999;}
/* 더보기 버튼 */
._populate .rank_top_box .rank_visible_sec .popular_more01 {display:none; position:absolute; top:8px; right:10px;}
.popular_more_btn {display:inline-block; padding:6px 9px 5px 9px; border:1px solid #cccccc; border-radius:4px; font-size:11px; color:#1c1c1c; background:#fff;}
/* 내림버튼 */
._populate .rank_top_box .rank_visible_sec .popular_more02 {position:absolute; top:50px; right:10px;}
._populate .rank_top_box button {position:absolute; top:0px; right:0px; display:inline-block; width:42px; height:40px; background:#fafafa url('../../img/icon/icon_open.png') no-repeat center; background-size:13px 8px; border:1px solid #e0e0e0; border-right:none; font-size:0; text-indent:-9999px; text-align:center; }
._populate .rank_top_box button.on {background:#fafafa url('../../img/icon/icon_close.png') no-repeat center; background-size:13px 8px;}
/* 펼침형 */
._populate .rank_top_box .layer_rank_list {display:none; padding:15px 0 0 0; border-bottom:1px solid #cccccc;}
._populate .rank_top_box .layer_rank_list ul {padding:0 0 6px 0;}
._populate .rank_top_box .layer_rank_list li {overflow:hidden; padding:0 70px 12px 0; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; }
._populate .rank_top_box .layer_rank_list li em {display:inline-block; margin:0 8px 0 15px; width:18px; height:18px; line-height: 18px; background:#bababa; border-radius:2px; font-size: 11px; color:#fff; text-align:center;}
._populate .rank_top_box .layer_rank_list .top1 em,
._populate .rank_top_box .layer_rank_list .top2 em,
._populate .rank_top_box .layer_rank_list .top3 em {background:#999999;}
._populate .rank_top_box .layer_rank_list li:first-child a {color:#333333;}
._populate .rank_top_box .layer_rank_list li a {color:#666666; font-size:14px;}
/* 펼치시 숨김 */
._populate .rolling_rank_list li.hide {display:none;}
/* on class 경우 보임 */
._populate .rank_top_box .on {display:block;}

/*** 검색 추천상품   proc/_recom_goods.html ***/
.goods_prd_item_s {padding:15px 0; border-top:1px solid #e2e3e3; width:150px; margin:0 auto;}
.goods_prd_item_s .goods_prd_img {width:100%; padding-bottom:10px; vertical-align:top;}
.goods_prd_item_s .goods_prd_img .img_box {position:relative;}
.goods_prd_item_s .goods_prd_img .img_box .img {font-size:0; line-height:0; display:inline-block;}
.goods_prd_item_s .goods_prd_img .img_box .img img {max-width:100%; border:1px solid #e5e5e5; box-sizing:border-box;}
.goods_prd_item_s .goods_prd_content {vertical-align:top;}
.goods_prd_item_s .goods_prd_content a {}
.goods_prd_item_s .goods_prd_content .goods_prd_icon {font-size:16px;}
.goods_prd_item_s .goods_prd_content .goods_prd_soldout {padding:2px 0 2px 0;}
.goods_prd_item_s .goods_prd_content .goods_prd_soldout img {height:18px;}
.goods_prd_item_s .goods_prd_content .goods_info_list {}
.goods_prd_item_s .goods_prd_content .goods_info_list li {padding:1px 0 1px 0; word-break:keep-all; color:#3e3d3c; font-size:14px;}

/* 브랜드명 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.brand_name {font-weight:bold; color:#999999;}
/* 제조사 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.maker_name {font-weight:bold; color:#999999;}
/* 짧은설명 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.short_des {font-weight:bold; color:#999999;}
/* 마일리지 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.list_mileage {font-weight:bold; color:#999999;}
/* 모델번호 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.model_no {font-weight:bold; color:#999999;}
/* 상품코드 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.prd_code {font-weight:bold; color:#999999;}
/* 판매가격 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.price {font-weight:bold;}
/* 정가 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.fixed_price {text-decoration:line-through;}
/* 쿠폰 가격 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.coupon_price .coupon_price1 {font-weight:bold;}
/* 할인 가격 */ .goods_prd_item_s .goods_prd_content .goods_info_list li.dc_price{font-weight:bold;}
.goods_prd_item_s .soldout_img {position:absolute; top:0; left:0; display:block; font-size:0; width:100%; height:100%; z-index:10; background-size:100%; background-position:center; background-repeat:no-repeat;}

/* 상품 대표 색상 */
.goods_prd_item_s .color_chip{margin:0 0 7px; padding:0; overflow:hidden;}
.goods_prd_item_s .color_chip > div{width:8px; height:8px; text-indent:-9999px; border:#dfdfdf 1px solid; float:left; margin:3px 4px 0 0;}
