@charset "utf-8";

/**
* 1.0 - 글쓰기
* -----------------------------------------------------------------------------
*/
.board_zone_write .title_area {
    position: relative;
    padding-bottom: 13px;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #4c4c4c;
}
.board_zone_write .btn {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    background-color: #666;
}
.board_zone_write .btn.white {
    color: #333;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
.board_zone_write .btn_goods_select {
    margin-bottom: 10px;
}
.board_zone_write .select_item_img img {
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.board_zone_write .select_item_info > em,
.board_zone_write .select_item_info > strong {
    display: block;
    margin-top: 5px;
}
.board_zone_write .select_item_info > .select_item_button {
    margin-top: 5px;
}
.board_zone_write .form_element {
    margin-bottom: 5px;
}
.board_zone_write .button_area {
    margin-top: 40px;
}
.board_write_agree {
    padding: 15px 5px 7px;
    font-family: 'Noto Sans KR';
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}
.board_write_agree .link_agree_go {
    margin-left: 5px;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    text-decoration: underline;
}
.board_write_agree .link_agree_go i {
    margin-left: 3px;
    font-size: 10px;
}
.board_zone_write .table > tbody > tr > th {
    font-family: 'Noto Sans KR';
    font-size: 12px;
}
.board_zone_write .table > tbody > tr > td {
    font-size: 12px;
}
.board_zone_write .table > tbody > tr > td input.text {
    height: 25px;
}
