@charset "utf-8";

/**
* 1.0 - 상단
* -----------------------------------------------------------------------------
*/
.board_zone_view  {
    padding: 0 0 30px;
    border-bottom: 2px solid #000;
}
.board_zone_view .board_view_tit {
    font-size: 18px;
    font-weight: bold;
}
.board_zone_view .board_view_info {
    margin-top: 15px;
    color: #999;
}
.board_zone_view .board_view_info > span {
    display: inline-block;
}
.board_zone_view .board_view_info > span.separate {
    margin: 0 10px;
}

/**
* 2.0 - 컨텐츠
* -----------------------------------------------------------------------------
*/
.board_view_attach {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}
.board_view_attach > strong,
.board_view_attach > span {
    display: inline-block;
}
.board_view_attach > span {
    margin-left: 10px;
}
.board_view_attach > span a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
    color: #666;
}
.board_view_attach > span a:first-child {
    margin-left: 0;
}
.board_view_content {
    padding: 0;
}
.board_view_content .seem_cont {
    padding-top: 20px;
}
.board_view_content .seem_cont img {
    width: auto;
    max-width: 100%;
}
.board_view_content .board_view_qa {
    padding-top: 20px;
}
.board_view_content .board_view_qa .seem_cont {
    float: left;
    padding-top: 0;
    width: calc(100% - 30px);
    box-sizing: border-box;
}
.board_view_content .board_view_qa .view_answer_box,
.board_view_content .board_view_qa .view_question_box {
    overflow: hidden;
}
.board_view_content .board_view_qa .view_answer_box {
    margin-top: 20px;
}
.board_view_content .board_view_qa .view_answer_tit,
.board_view_content .board_view_qa .view_question_tit {
    float: left;
    width: 25px;
    font-weight: bold;
}
.board_view_content .board_view_qa .view_question_tit {
    color: #999;
}
.board_view_content .board_view_qa .view_answer_tit {
    color: #fc9e03;
}
.board_view_content .board_view_qa .view_answer_info {
    margin-bottom: 10px;
}
.board_view_content .board_view_qa .view_answer_info strong,
.board_view_content .board_view_qa .view_answer_info span {
    display: inline-block;
}
.board_view_content .board_view_qa .view_answer_info span {
    font-weight: normal;
    color: #999;
}
.board_view_content .board_view_qa .view_answer_info span:before {
    content: '|';
    padding: 0 5px;
}
.view_goods_select .view_goods_select_item {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
.view_goods_select .view_goods_select_item > span {
    display: block;
    float: left;
}
.view_goods_select .view_goods_select_item > span a {
    display: block;
}
.view_goods_select .view_goods_select_item > span img {
    max-width: 100%;
}
.view_goods_select .view_goods_select_item > span.view_select_item_img {
    width: 130px;
}
.view_goods_select .view_goods_select_item > span.view_select_item_info {
    position: relative;
    margin-left: 20px;
    width: calc(100% - 150px);
}
.view_goods_select .view_goods_select_item > span.view_select_item_info > em {
    display: block;
    margin-top: 20px;
}
.view_goods_select .view_goods_select_item > span.view_select_item_info > strong {
    display: block;
    margin-top: 10px;
}
.view_goods_select .view_goods_select_item > span.view_select_item_info > strong > span {
    display: inline-block;
    margin-right: 10px;
}
.view_goods_select .view_goods_select_item > span.view_select_item_info > strong > span.text_type_cont {
    margin-left: 10px;
    margin-right: 0;
}
.view_goods_select .view_goods_select_item > span.view_select_item_info > a.link {
    position: absolute;
    top: 32px;
    right: 10px;
    color: #666;
}

/**
* 3.0 - 댓글
* -----------------------------------------------------------------------------
*/
.board_view_comment { 
    margin-top: 50px;
}
.board_view_comment .view_comment_top {
    position: relative;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.board_view_comment .view_comment_top > span {
    display: inline-block;
}
.board_view_comment .view_comment_top .rating_star_box {
    margin-left: 30px;
}
.board_view_comment .view_comment_top .rating_star_box .rating_star {
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.board_view_comment .view_comment_top .comment_best_num {
    position: absolute;
    top: 16px;
    right: 20px;
}
.board_view_comment .view_comment_top .comment_best_num .btn_comment_best {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.board_view_comment .board_comment_write {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}
.board_view_comment .board_comment_write.inner {
    margin-top: 15px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.board_view_comment .board_comment_write .form_element {
    margin-bottom: 10px;
}
.board_view_comment .board_comment_write .comment_textarea {
    position: relative;
}
.board_view_comment .board_comment_write .comment_textarea textarea {
    width: calc(100% - 90px);
    height: 80px;
}
.board_view_comment .board_comment_write .comment_textarea .btn_comment_box {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
}
.board_view_comment .board_comment_write .comment_textarea .btn_comment_box .btn_comment_ok {
    display: block; 
    width: 100%;
    height: 100%;
}
.board_view_comment .board_comment_write .comment_input {
    margin-top: 5px;
}
.board_view_comment .board_comment_write .comment_input .checkbox {
    margin-left: 20px;
    margin-right: 0;
}
.board_view_comment .board_comment_write .comment_input .agree_total_btn {
    margin-left: 5px;
    text-decoration: underline;
}
.board_view_comment .view_comment_list > ul > li {
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
.board_view_comment .view_comment_list > ul > li .comment_name_area {
    overflow: hidden;
}
.board_view_comment .view_comment_list > ul > li .comment_name_area .comment_name {
    float: left;
    width: 100px;
}
.board_view_comment .view_comment_list > ul > li .comment_name_area .comment_cont {
    float: left;
    padding-right: 200px;
    width: calc(100% - 100px);
    box-sizing: border-box;
}
.board_view_comment .view_comment_list > ul > li .comment_name_area .comment_cont .board_day_time {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.board_view_comment .view_comment_list > ul > li .comment_btn_area {
    position: absolute;
    top: 15px;
    right: 20px;
}
.board_view_comment .view_comment_list > ul > li .comment_btn_area .btn_gray_list {
    display: inline-block;
}
.board_view_comment .view_comment_list > ul > li .comment_btn_area .btn_gray_small {
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/**
* 4.0 - 버튼
* -----------------------------------------------------------------------------
*/
.board_button_area {
    margin-top: 30px;
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #ddd;
}
.board_button_area .button {
    display: inline-block;
    padding: 0 20px;
    width: auto;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}