@charset "utf-8";

/**
* 1.0 - 상단
* -----------------------------------------------------------------------------
*/
.top_layer {
    position: relative;
}
.top_layer:after {
    content: '';
    display: block;
    clear: both;
}
.top_layer ul.tab_area {
    float: left;
}
.top_layer ul.tab_area > li {
    position: relative;
    padding-bottom: 20px;
    font-size: 19px;
    box-sizing: border-box;
}
.top_layer ul.tab_area > li.separate {
    margin-left: 18px;
    margin-right: 18px;
}
.top_layer ul.tab_area > li .underline {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    font-size: 0;
    background-color: #000;
}
.top_layer ul.tab_area > li a {
    color: #bbb;
}
.top_layer ul.tab_area > li.on a {
    color: #000;
}
.top_layer ul.tab_area > li.on .underline {
    display: block;
}
.top_layer .select_area {
    float: right;
    width: 130px;
}

/**
* 2.0 - 갤러리
* -----------------------------------------------------------------------------
*/
.gallery_layer {
    position: relative;
    padding: 0 7px;
    overflow: hidden;
}
.gallery_layer > li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
    width: 362px;
}
.gallery_layer > li:nth-of-type(3n) {
    margin-right: 0;
}
.gallery_layer > li.no_gallery {
    margin-right: 0;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ddd;
}
.gallery_layer > li .thumb {
    border-radius: 12px;
    background-color: #efefef;
    overflow: hidden;
}
.gallery_layer > li .thumb img {
    max-width: 100%;
}
.gallery_layer > li .title {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #666;
}
.gallery_layer > li .desc {
    margin-top: 10px;
    font-size: 12px;
    color: #ff67a6;
}
.gallery_layer > li .seo {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.gallery_layer > li .price {
    margin-top: 16px;
    padding-top: 15px;
    font-size: 12.5px;
    border-top: 1px solid #ddd;
}
.gallery_layer > li .price .og {
    text-decoration: line-through;
    color: #a9a9a9;
}
.gallery_layer > li .price .dc {
    letter-spacing: 0.3px;
    color: #424242;
}
.gallery_layer > li .price .arrow {
    margin: 0 5px;
}
.box_layer {
    background-color: #fff;
}
.box_layer > ul {
    overflow: hidden;
}
.box_layer > ul > li {
    float: left;
    margin-right: 12px;
    width: calc(25% - 9px);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.box_layer > ul > li:nth-of-type(4n) {
    margin-right: 0;
}
.box_layer > ul > li a {
    display: block;
}
.box_layer > ul > li .thumb {
    margin: 5px 5px 0;
    width: calc(100% - 10px);
    height: 185px;
    background-color: #ccc;
}
.box_layer > ul > li .title {
    margin-top: 5px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
    border-top: 1px solid #efefef;
}
.box_layer > ul > li .desc {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.box_layer > ul > li .price {
    margin: 25px 0 30px;
    font-size: 16px;
    color: #666;
}
.box_layer > ul > li .price .og {
    text-decoration: line-through;
}
.box_layer > ul > li .price .dc {
    font-weight: 700;
    color: #fc9e03;
}

/**
* 4.0 - 웹진
* -----------------------------------------------------------------------------
*/
.webzine_layer {
    position: relative;
    margin-top: 50px;
}
.webzine_layer > li {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.webzine_layer > li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.webzine_layer > li.no_cont {
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.webzine_layer > li .thumbnail {
    float: left;
    margin-right: 85px;
}
.webzine_layer > li .info {
    float: left;
    width: 490px;
}
.webzine_layer > li .info .title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
}
.webzine_layer > li .info .desc {
    margin-bottom: 35px;
    font-size: 14px;
    color: #999;
}
.webzine_layer > li .info .period {
    margin-bottom: 35px;
    color: #fc9e03;
}
.webzine_layer > li .info .button_area {
    width: 180px;
}
.webzine_layer > li .info .button_area .button {
    line-height: 3.5em;
    font-size: 14px;
}

/**
* 5.0 - 컨텐츠
* -----------------------------------------------------------------------------
*/
.section_layer {
    margin-top: 50px;
}
.section_layer .title_area .button_area {
    position: absolute;
    top: 10px;
    right: 0;
}
.title_area .cs_info {
    position: absolute;
    top: -108px;
    right: 0;
}

/**
* 6.0 - 검색
* -----------------------------------------------------------------------------
*/
.search_area {
    margin-bottom: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.search_area .field {
    height: 34px;
}
.search_area .field:after {
    content: '';
    display: block;
    clear: both;
}
.search_area .field .key,
.search_area .field .value {
    float: left;
}
.search_area .field .key {
    margin-right: 10px;
    min-width: 100px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
}
.search_area .field .key .chosen-container {
    width: 100px !important;
    height: 34px !important;
}
.search_area .field .key .chosen-container-single .chosen-single {
    height: 34px !important;
    line-height: 34px !important;
}
.search_area .field .key .chosen-container-single .chosen-single div {
    top: 3px;
}
.search_area .field .value .text_input,
.search_area .field .value .date_check_list,
.search_area .field .value .date_check_calendar,
.search_area .field .value .button_area {
    display: inline-block;
    overflow: hidden;
}
.search_area .field .value .date_check_list button {
    display: block;
    float: left;
    width: 60px;
    height: 34px;
    box-sizing: border-box;
    text-align: center;
    color: #999;
    border: 1px solid #dedede;
    border-left: 0;
    background-color: #fff;
}
.search_area .field .value .date_check_list button:first-child {
    border-left: 1px solid #dedede;
}
.search_area .field .value .date_check_list button.on {
    color: #fff;
    background-color: #333;
}
.search_area .field .value .date_check_calendar,
.search_area .field .value .button_area {
    margin-left: 10px;
}
.search_area .field .value .date_check_calendar input {
    padding: 0 10px;
    width: 100px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}
.search_area .field .value .text_input input {
    padding: 0 10px;
    width: 500px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}
.search_area .field .value .button_area .button {
    width: 100px;
    height: 34px;
    line-height: initial;
    font-size: 13px;
}

/* 2020.07.03 새로운 css */


.card_list_section .top_layer ul .list .off{
    display: inline-block;
}

.card_list_section .top_layer ul .list .on{
    display: none;
}

.card_list_section .top_layer ul .list.active .off{
    display: none;
}

.card_list_section .top_layer ul .list.active .on{
    display: inline-block;
}

.custom_wrapper{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #c9cdce;
    box-sizing: border-box;
    padding-top: 40px;
}

.invitation_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invitation_box .sub_title{
    font-size: 20px;
    color: #b08ccb;
    font-weight: bold;
}

.invitation_box .title{
    margin: 30px 0 60px;
    font-size: 23px;
    color:#888;
    font-weight: bold;
    line-height: 1.2;
}

.invitation_box .btn_box button{
    width: 270px;
    height: 57px;
    display: inline-block;
    background-color: #878787;
    border-radius: 4px;
    color: #fff;
    font-size: 19px;
}

.invitation_box .right{
    /*display: flex;*/
    display: none;
    align-items: center;
}

.invitation_box .right .right_content{
    display: flex;
}

.invitation_box .right .image_box{
    margin-left: 100px;
}

.card_list_section .item_list_box{
    margin-top: 100px;
    position: relative;
    max-height: 440px;

}

.card_list_section .item_list_box .slide_box{
    display: none;
    height: 100%;
    max-height: 440px;
}

.card_list_section .item_list_box .swiper-slide{
    text-align: center;
    position: relative;
    max-height: 500px;
}



.card_list_section .item_list_box .swiper-slide .image_box{
    position: absolute;
    left: 24.5%;
    top: 13%;
    max-width: 192px;
    width: 100%;
    height: 100%;
    max-height: 335px;
}

.card_list_section .item_list_box .swiper-slide .image_box img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}



.card_list_section .item_list_box .swiper-button-prev,
.card_list_section .item_list_box .swiper-button-next{
    width: 40px;
    height: 80px;
    background-size: 40px 80px;
}

.card_list_section .item_list_box .swiper-button-prev{
    background-image: url('../img/card/arrow_left.png');
}

.card_list_section .item_list_box .swiper-button-next{
    background-image: url('../img/card/arrow_right.png');
}
.card_list_section .item_list_box .swiper-button-next:after,
.card_list_section .item_list_box .swiper-button-prev:after{
    display: none;
}

.card_list_section .item_list_box .swiper-pagination{
    width: 100%;
    bottom: -50px;
}

.card_list_section .item_list_box  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 0 6px;
}

.card_list_section .item_list_box  .swiper-pagination-bullet:focus{
    outline: none;
}

.card_list_section .item_list_box .swiper-pagination-bullet-active{
    background: #fc9e03;
}


/* 샘플모달 css */

.sample_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.sample_modal.active{
    display: flex;
}

.sample_modal .back{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}



.sample_modal .content{
    width: 100%;
    height: 100%;
    max-width: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.sample_modal .content .image_box{
    width: 100%;
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    background-color: #fff;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sample_modal .content .image_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.sample_modal .content .image_box img{
    display: block;
    width: 100%;
    height: auto;
}

.sample_modal .content .close_btn{
    color: #fff;
    background-color: transparent;
}


