@charset "utf-8";

/**
* 1.0 - 상단
* -----------------------------------------------------------------------------
*/
.top_layer img {
    display: block;
    max-width: 100%;
}
.top_layer .l_layer {
    float: left;
    width: 700px;
}
.top_layer .r_layer {
    float: right;
    width: 430px;
}
.item_info_box .item_detail_tit {
    position: relative;
    padding-bottom: 13px;
    border-bottom: 2px solid #565656;
}
.item_info_box .item_detail_tit h3 {
    font-family: 'Noto Sans KR';
    font-size: 18px;
}
.item_info_box .item_detail_tit .desc {
    margin-top: 7px;
    font-family: 'Noto Sans KR';
    font-size: 13px;
    color: rgb(252, 158, 3);
}
.item_info_box .item_detail_tit .btn_qa_share_box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.item_info_box .item_detail_tit .btn_qa_share_box .target_sns_share a {
    display: block;
    padding: 11px 10px;
    font-size: 12px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
}
.item_info_box .item_detail_tit .btn_qa_share_box .layer_area {
    position: relative;
    top: -2px;
    padding: 15px 10px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    z-index: -1;
}
.item_info_box .item_detail_tit .btn_qa_share_box .layer_area img {
    display: inline-block;
}
.item_info_box .item_detail_tit .btn_qa_share_box .layer_area .ly_close {
    position: absolute;
    top: 15px;
    right: 10px;
}
.item_info_box .item_detail_tit .btn_qa_share_box .layer_area .sns_list li span {
    font-size: 11px;
}
.item_info_box .item_detail_tit .btn_qa_share_box .layer_area .sns_copy_url input[type=text] {
    padding: 0 0 0 10px;
    width: calc(100% - 80px);
    height: 31px;
    line-height: 31px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: #fff;
}
.item_info_box .item_detail_list > dl {
    padding: 10px 5px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}
.item_info_box .item_detail_list > dl:after {
    content: '';
    display: block;
    clear: both;
}
.item_info_box .item_detail_list > dl > dt {
    float: left;
    width: 150px;
    color: #666;
}
.item_info_box .item_detail_list > dl > dd {
    position: relative;
    float: right;
    width: calc(100% - 170px);
    text-align: right;
}
.item_info_box .item_detail_list .item_price {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}
.item_info_box .item_detail_list .fixed_price {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 12px;
    border-bottom: 0;
}
.item_info_box .item_detail_list .item_price > dd {
    font-weight: 800;
    color: #fc9e03;
}
.item_info_box .item_detail_list .fixed_price > dd {
    font-weight: 400;
    color: #565656;
}
.item_info_box .item_add_option_box {
    padding: 10px 0;
}
.item_info_box .item_add_option_box > dl {
    padding: 5px 5px;
    font-size: 12px;
}
.item_info_box .item_add_option_box > dl:after {
    content: '';
    display: block;
    clear: both;
}
.item_info_box .item_add_option_box > dl > dt {
    float: left;
    width: 150px;
    line-height: 43px;
    color: #666;
}
.item_info_box .item_add_option_box > dl > dt strong {
    color: #f38093;
}
.item_info_box .item_add_option_box > dl > dd {
    position: relative;
    float: right;
    width: calc(100% - 170px);
    text-align: right;
}
.item_info_box .item_add_option_box > dl > dd input[type=text].text,
.item_info_box .item_add_option_box > dl > dd .chosen-select {
    width: 100%;
}
.item_info_box .item_add_option_box > dl > dd .chosen-drop {
    font-size: 12px;
}
.item_info_box .item_choice_list {
    border-top: 1px solid #ddd;
}
.item_info_box .item_choice_list .option_display_area {
    width: 100%;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > th,
.item_info_box .item_choice_list .option_display_area > tbody > tr > td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border-bottom: 0;
    background-color: #fff;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr.check > th,
.item_info_box .item_choice_list .option_display_area > tbody > tr.check > td {
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
    background-color: #f7f7f7;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td:last-child {
    padding-right: 0;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.cart_prdt_name {
    width: 150px;
    padding-right: 0;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.cart_prdt_name .text_type_cont {
    display: block;
    margin-top: 5px;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.cart_prdt_name .item_choice_photo {
    display: none;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.cart_prdt_name .cart_btn_box {
    display: block;
    margin-top: 5px;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.cart_prdt_qty {
    position: relative;
    padding-left: 15px;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td.item_choice_price {
    padding-right: 0;
    text-align: right;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > td .delete_add_goods {
    position: relative;
    top: 2px;
}
.item_info_box .item_choice_list .option_display_area > tbody > tr > th .btn,
.item_info_box .item_choice_list .option_display_area > tbody > tr > td .btn {
    display: inline-block;
    margin-left: 5px;
    padding: 0 7px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    box-sizing: border-box;
    color: #333;
    border: 1px solid #dedede;
    background-color: #fff;
}
.top_layer .end_price > dl {
    padding: 15px 5px;
    color: #666;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.top_layer .end_price > dl:first-child {
    border-top: 0;
}
.top_layer .end_price > dl > dt {
    float: left;
}
.top_layer .end_price > dl > dd {
    float: right;
}
.top_layer .end_price > dl.total_amount {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.top_layer .end_price > dl.total_amount > dt {
    color: #000;
}
.top_layer .end_price > dl.total_amount > dd {
    color: #fc9e03;
}
.top_layer .button_area {
    margin-top: 5px;
}
.top_layer .button_area .two {
    margin-top: 6px;
}

/**
* 2.0 - 설명
* -----------------------------------------------------------------------------
*/
.section_cont_layer {
    padding: 40px 0 20px;
}
.section_menu_layer {
    margin-bottom: 30px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.section_menu_layer > ul > li {
    display: inline-block;
    width: 25%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.section_menu_layer > ul > li:first-child {
    border-left: 1px solid #ddd;
}
.section_menu_layer > ul > li a {
    display: block;
    padding: 20px 0;
    font-size: 14px;
    color: #aaa;
}
.section_menu_layer > ul > li.on a {
    font-weight: 600;
    color: #000;
}
.section_menu_layer > ul > li a .itemnum{
    color: #fc9e03 ;
}
.detail_layer {
    position: relative;
    margin-top: 30px;
}
.detail_layer img {
    display: block;
    max-width: 100%;
}
.detail_layer .bg_area {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 370px;
    background-color: #f9f9f9;
    z-index: -1;
}
.detail_layer .video_area {
    padding-top: 40px;
    text-align: center;
}
.detail_layer .detail_area {
    padding-top: 70px;
    text-align: center;
}
.detail_layer .detail_area img {
    display: inline-block;
}
.review_layer {
    padding-top: 30px;
}
.review_layer .table.c_table > tbody > tr > .board_tit {
    text-align: left;
}
.review_layer .button_area {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}





/*  2020-09-10 신규  */

.item_add_option_box .create_service_btn{
    background-color: #f38093 ;
    color: #fff;
    border-radius: 4px;
    width: 95px;
    height: 35px;
}

.item_add_option_box .create_service_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    padding-top: 50px;
    box-sizing: border-box;
    display: none;
}

.item_add_option_box .create_service_modal .back,
.guidance_modal .back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.item_add_option_box .create_service_modal .content{
    position: relative;
    z-index: 100;
    text-align: center;
    height: 100%;
    overflow: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.item_add_option_box .create_service_modal .content img{
    display: block;
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.btn_choice_box .button_area {
    display: flex;
    align-items: center;

}

.top_layer .button_area .two{
    margin-top: 0;
    width: 100%;
}

#guidance_btn{
    background-color: #595959;
    color: #fff;
    margin-left: 5px;
}

.guidance_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

.guidance_modal .content{
    z-index: 100;
    width: 1000px;
}


