/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.hidden_label {
    display: block;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
}

/*body.not-scroll{*/
/*    overflow: hidden;*/
/*}*/

html {
    font-size: 14px;
    height: 100%;
}


#app {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    /*padding: 1rem;*/
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    padding: 0.65rem 0.7rem;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #5b5b5b;
    font-size: 1rem;
}

.ml {
    margin-left: 1rem;
}

.input {
    display: block;
    width: 100%;
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
}

.input:focus {
    border: 1px solid #e5958c;
}

.input + .input {
    margin-top: 1rem;
}

.input_box + .input_box {
    margin-top: 1rem;
}

.select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
}

.select:focus {
    border: 1px solid #e5958c;
}

.textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
    resize: none;
}

.loading_box{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

#app header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
}

#app header .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#app header .left_box .logo_box{
    margin-right: 0.5rem;
}


.header_btn_box button{
    margin-left: 0.5rem;
    border-radius: 20px;
}

.header_btn_box button.card_save3{
    margin-left: 0;
}

.header_close_btn_box {
    display: none;
}

#app .content {
    width: 100%;
    /*height: calc(100vh - 120px);*/
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    padding-bottom: 70px;
}

.content .left_content {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    padding: 1rem;
    box-sizing: border-box;
}

/*.content .left_content::-webkit-scrollbar {*/
/*    display: none; !* Chrome, Safari, Opera*!*/
/*}*/


.input_wrapper {
    width: 100%;
}

.input_wrapper + .input_wrapper {
    margin-top: 2rem;
}

.input_wrapper .top {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}

.input_wrapper .top .top_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input_wrapper .top h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    width: 100%;
    margin-bottom: 0.75rem;
}

.input_wrapper .top span {
    color: #909090;
    font-size: 0.9rem;
}

.input_area{
    display: flex;
}

.input_area .input{
    margin-top: 0;
}

.input_area .input:first-child{
    width: 30%;
    margin-right: 0.5rem;
}

.input_area .input:last-child{
    flex: 1;
}

.input_area + div{
    margin-top: 0.5rem;
}

.space_bar{
    margin: 2rem 0;
}

.name_check_box {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: #909090;
}

.default_address.active{
    color: red;
}

.main_img{
    position: relative;
}

.image_box label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
    position: relative;
}

.image_box label:before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

.image_box label i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_img .main_image_modify_btn{
    width: 100%;
    margin-top: 1rem;
    display: none;
    font-size: 15px;
}

.main_img .img_box{
    position: relative;
    display: none;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
}
.main_img .img_box:before{
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

.main_img .img_box .img_item{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
}

.main_img .img_box .img_item .main_image_content{
    position: absolute;
    width: 93.5%;
    left: 3.4%;
    top: 20%;
    padding-bottom: 93%;
    overflow: hidden;
    background-color: #000;
}

.main_img .img_box .img_item .main_image_content img{
    display: block;
    width: 100%;
    height: auto;
    /*object-fit: cover;*/
    position: absolute;
    left: 0;
    top: 0;
}

.main_img .img_box .img_item .back_img{
    width: auto;
    height: 100%;
    display: block;
    position: relative;
    z-index: 100;
}

.main_image_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    display: none;
}

.main_image_modal .back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main_image_modal .modal_content{
    position: relative;
    z-index: 100;
    max-width: 400px;
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto;
}

.main_image_modal .img_sell_box{
    position: absolute;
    z-index: 200;
    overflow: hidden;
}

.main_image_modal .img_sell_box .sell{
    display: block;
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    left: 0px;
    top: 0px;
    /* transform: translate(-50%, -50%); */
    object-fit: cover;
}

.main_image_modal .modal_content .back_img{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
}

.main_image_modal .modal_content .modal_image_box{
    position: relative;
}


.main_image_modal .modal_content .center_img_box{
    position: absolute;
    /*width: 93.5%;*/
    left: 3.4%;
    top: 20%;
    padding-bottom: 93%;
    overflow: hidden;
    background-color: #000;
}


.main_image_modal .modal_content .center_img_box img{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    /*transform: translate(-50%, -50%);*/
    /*object-fit: cover;*/
}
.main_image_modal .modal_content .controller_box{
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
}

.main_image_modal .modal_content .controller_box ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_image_modal .modal_content .controller_box ul li{
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #646464;
    box-sizing: border-box;
}

.main_image_modal .modal_content .controller_box ul li:first-child{
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}

.main_image_modal .modal_content .controller_box ul li button{
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.main_image_modal .modal_content .controller_box ul li img{
    margin-right: 3px;
}

.main_image_modal .modal_content .btn_box{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
}

.main_image_modal .modal_content .btn_box button{
    box-sizing: border-box;
    border:1px solid #646464;
    height: 33px;
    width: 150px;
    border-radius: 18px;
}

.main_image_modal .modal_content .btn_box .img_save{
    color: #ff9000;
    margin-right: 1rem;
}

.main_image_modal .modal_content .btn_box .close{
    color: #646464;
}


.toggle_btn_container {
    padding: 10px 15px;
    box-sizing: border-box;
    background: #767676;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    border-radius: 4px;
}

.toggle_btn_container .toggle_txt {
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.toggle_btn_container .toggle_input {
    display: none;
}

.toggle_btn_container .toggle_input + .toggle_label {
    background: #b8b8b8;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    box-sizing: border-box;
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.toggle_btn_container .toggle_input + .toggle_label:after,
.toggle_btn_container .toggle_input + .toggle_label:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.toggle_btn_container .toggle_input + .toggle_label:after {
    left: 0;
}

.toggle_btn_container .toggle_input + .toggle_label:before {
    display: none;
}

.toggle_btn_container .toggle_input:checked + .toggle_label:after {
    left: 50%;
}

.toggle_btn_container .toggle_input + .toggle_label {
    background: #b8b8b8;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

.toggle_btn_container .toggle_input + .toggle_label:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.toggle_btn_container .toggle_input:checked + .toggle_label {
    background: #36ec73;
}

.plus_name {
    display: none;
}

.plus_name.active {
    display: block;
}

.datepicker {
    position: relative;
    display: flex;
    align-items: center;
}

.datepicker .icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.datepicker .piker_input_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.datepicker .piker_input_box #datepicker {
    width: 100%;
    /*margin-right: 0.5rem;*/
}




/*.datepicker .piker_input_box .select {*/
/*    width: 20%;*/
/*}*/

/*.datepicker .piker_input_box .select select {*/
/*    border: none;*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: transparent;*/
/*    -webkit-appearance: none;*/
/*}*/

.datepicker .picker_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    /*padding: 0.5rem;*/
    display: none;
}

.datepicker .picker_box.active {
    display: block;
}

.datepicker .picker_box .back{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.datepicker .picker_box #calendar{
    position: relative;
    z-index: 200;
}

.datepicker .calender_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: #7d7d7d;
    color: #fff;
}

.datepicker .calender_header button {
    width: 30px;
    height: 30px;
    color: #fff;
}

.datepicker .calender_day{
    box-sizing: border-box;
    color: #ff9127;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.datepicker .calender_day span{
    width: 14.28%;
    text-align: center;
}

.datepicker .calendar_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0.5rem 0.5rem;
    box-sizing: border-box;
}

.datepicker .calendar_body div {
    width: 14.28%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.datepicker .calendar_body div.not_click {
    color: #ccc;
    pointer-events: none;
}

.datepicker .calendar_body div .day {
    display: none;
}


.datepicker .day_input_box{
    width: 40%;
    margin-left: 0.5rem;
    position: relative;
}

.datepicker .day_modal{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;

    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    /*padding: 0.5rem;*/
    display: none;
}

.datepicker .day_modal.active{
    display: flex;
}

.datepicker .day_modal .back{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.datepicker .day_modal .modal_content{
    position: relative;
    z-index: 110;
    width: 100%;
}

.datepicker .day_modal .header{
    text-align: center;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    background-color: #7d7d7d;
    color: #fff;
}

.datepicker .day_modal .body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    box-sizing: border-box;
}

.datepicker .day_modal #hour{
    width: 20%;
}

.datepicker .day_modal #minute{
    width: 20%;
}

.datepicker .day_modal label{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.datepicker .calendar_body div:nth-child(1){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(2){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(3){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(4){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(5){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(6){*/
/*    display: none;*/
/*}*/
/*.datepicker .calendar_body div:nth-child(7){*/
/*    display: none;*/
/*}*/


.invitation_preview_btn {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #505050;
    color: #FFF;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 1rem;
}

.invitation_modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 200;
    display: none;
}

.invitation_modal .back {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.invitation_modal .modal_content {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 100;
    margin: auto;
}

.invitation_modal .modal_content .header {
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
}

.invitation_modal .modal_content .main {
    padding: 1rem;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
}

.invitation_modal .modal_content .main ul li {
    background-color: #fbfbfb;
    padding: 1rem;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    cursor: pointer;
    white-space: pre-line;
    line-height: 2;
}

.invitation_modal .modal_content .main ul li + li {
    margin-top: 1rem;
}

.invitation_modal .modal_content .btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitation_modal .modal_content .btn_box button {
    display: block;
    width: 50%;
    padding: 1rem 0;
    box-sizing: border-box;
    border-top: 1px solid #e9e9e9;
    transition: 0.3s;
}

.invitation_modal .modal_content .btn_box button:hover {
    background-color: #5b5b5b;
    color: #fff;
}


#location .map_box {
    margin-top: 1rem;
    width: 100%;
    position: relative;
}

#location .map_box:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.location .map_box .daum_map_box,
.location .map_box .naver_map_box {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.location.Ac_daum .map_box .daum_map_box {
    display: block;
}

.location.Ac_naver .map_box .naver_map_box {
    display: block;
}

.location .map_select_btn_box {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location .map_select_btn_box button {
    width: 47.5%;
    padding: 15px 0;
    border: 2px solid #d6d6d6;
    border-radius: 3px;
    color: #d5d5d5;
    transition: 0.3s;
}

.location.Ac_daum .map_select_btn_box button.daum_btn {
    background: #ff9900;
    color: #FFF;
    border: 2px solid #ff9900;
}

.location.Ac_naver .map_select_btn_box button.google_btn {
    background: #ff9900;
    color: #FFF;
    border: 2px solid #ff9900;
}

.location .input_box .search_input {
    display: block;
}

.location .traffic_sub_select {

    display: none;
}

.location.active .traffic_sub_select {
    display: block;
}

.location .traffic_sub_select textarea{
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #fafbfb;
    resize: none;
}

.location .traffic_sub_select .title_box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    color: #d6d6d6;
    cursor: pointer;
    font-size: 14px;
}

.location .traffic_sub_select .title_box .fa-sort-up {
    display: none;
}

.location .traffic_sub_select.active .title_box .fa-sort-up {
    display: inline-block;
}

.location .traffic_sub_select.active .title_box .fa-caret-down {
    display: none;
}

.location .traffic_sub_select ul {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.location .traffic_sub_select.active ul {
    height: auto;
}

.location .traffic_sub_select ul li {
    padding: 10px 20px;
    border-top: 1px solid #ececec;
    cursor: pointer;
    font-size: 14px;
}


.location .traffic_sub_box {
    border: 1px solid #d6d6d6;
    background: #fbfbfb;
    margin-bottom: 20px;
    display: none;
}

.location.active .traffic_sub_box.on {
    display: block;
}

.location .traffic_sub_box .title_box {
    padding: 10px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.location .traffic_sub_box .traffic_content_box textarea {
    border: none;
    resize: none;
    display: block;
    outline: none;
    padding: 10px 15px;
    box-sizing: border-box;
    min-height: 100px;
    font-size: 12px;
}

.location .traffic_sub_box .title_box i {
    cursor: pointer;
}


.photo_box {
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    background: #fbfbfb;
    border: 1px solid #e9e9e9;
}

.photo_box_ul {
    display: flex;
    flex-wrap: wrap;
}

.photo_box_ul li {
    box-sizing: border-box;
    margin: 10px 0;
    position: relative;
    border: 1px solid #e9e9e9;
}

.photo_box_ul li.create_photo_box {
    background: #ababab;
}

/*.photo_box_ul li {*/
/*    width: 100%;*/
/*}*/

.photo_box_ul li {
    width: 47.5%;
    margin-left: 5%;
}

.photo_box_ul li:nth-child(2n+1) {
    margin-left: 0;
}

.photo_box_ul li:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.photo_box_ul li.create_photo_box label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_box_ul li.create_photo_box label i {
    color: #FFF;
}

.photo_box_ul li.detail_photo_box img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
}

.photo_box_ul li.detail_photo_box button {
    position: absolute;
    z-index: 100;
    right: -10px;
    top: -10px;
}

.video_input {
    display: none;
    position: relative;
}

.video_input.active {
    display: block;
}

.video_input input{
    display: none;
}

.video_input label{
    display: block;
    width: 100%;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border:1px solid #ababab;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    cursor:pointer;
}

.video_input .loading_box{
    display: none;
}


/*.video_input button {*/
/*    padding: 0.5rem;*/
/*    border-radius: 2px;*/
/*    background-color: #5b5b5b;*/
/*    color: #fff;*/
/*    width: 50px;*/
/*    margin-left: 1rem;*/
/*}*/

/*.video_input button.active {*/
/*    pointer-events: none;*/
/*}*/

.video_container {
    display: block;
    width: 100%;
    margin-top: 1rem;

}

.video_play_box {
    width: 100%;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    background: #fbfbfb;
    border: 1px solid #e9e9e9;
}

.video_play_box .iframe_box {
    display: block;
    position: relative;
}

.video_play_box .iframe_box:before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

.video_play_box .iframe_box iframe {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.video_play_close_btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    z-index: 100;
    background-color: #5b5b5b;
    border-radius: 2px;
}


.video_play_close_btn span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.video_play_close_btn span.line1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.video_play_close_btn span.line2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*.option_box .thank_box .toggle_btn_container {*/
/*    border: 1px solid #e1e1e1;*/
/*    border-left: 0;*/
/*    border-right: 0;*/
/*    background: #fff;*/
/*}*/

.option_box .toggle_btn_container {

}

.option_box .toggle_txt p {
    display: inline-block;
    padding-right: 10px;
}

.option_box .toggle_txt > span {
    font-size: 12px;
    color: #fff;
    display: block;
    margin-top: 0.5rem;
}

.option_box .toggle_txt .question_box {
    display: inline-block;
    position: relative;
}

.option_box .toggle_txt .question_text {
    position: absolute;
    width: 300px;
    text-align: center;
    color: #FFF;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 10px);
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 100;
    display: none;
}

.option_box .toggle_txt .question_text:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
}

.option_box .toggle_txt .question_text p {
    margin: 0;
    color: #fff;
}

.option_box .toggle_txt i {
    color: #d5d5d5;
    cursor: pointer;
}

.option_box .toggle_txt i:hover + .question_text {
    display: block;
}

@media screen and (max-width: 411px) {
    #app header .left_box .logo_box{
        margin-bottom: 1rem;
    }
    .header_btn_box button.card_save3{
        margin-left: 0;
    }
}


@media screen and (min-width: 800px) {
    #app header {
        border-bottom: none;
    }

    /*#app header .left_box {*/
    /*    width: 50%;*/
    /*}*/



    .header_close_btn_box {
        display: block;
    }

    #app .content {
        height: calc(100vh - 85px);
        padding-bottom: 0;
    }

    /*.content .left_content {*/
    /*    width: 50%;*/
    /*}*/

    .input_wrapper .top h3 {
        width: auto;
        margin-bottom: 0;
    }



    .photo_box_ul li {
        width: 47.5%;
        margin-left: 5%;
    }

    .photo_box_ul li:nth-child(2n+1) {
        margin-left: 0;
    }
}





.content .right_content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.modal_close_btn{
    position: absolute;
    right: 2rem;
    top: 1rem;
    display: block;
    z-index: 200;
}


.modal_close_btn button{
    color: #222;
}

.content .right_content .image_box{
    text-align: center;
    position: relative;
}

.content .right_content .cover_box{
    display: inline-block;
    position: relative;
}

.content .right_content .cover_img{
    object-fit: contain;
}

.content .right_content .img_content {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 11.8%;
    transform: translateX(-50%);
    width: 87%;
    height: 76.5%;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content .right_content .img_content img {
    display: block;
    width: 100%;
    height: auto;
    /*display: none;*/
}

.content .right_content .img_content iframe{
    display: none;
    width: 100%;
    height: 100%;
}



@media screen and (min-width: 800px) {
    .content .right_content {
        position: relative;
        width: 50%;
        display: block;
        background-color: transparent;
    }
    .content .right_content .image_box{
        height: 100%;
    }
    .content .right_content .cover_box{
        height: 100%;
    }
    .content .right_content .cover_img{
        width: auto;
        height: 100%;
    }
    .modal_close_btn{
        display: none;
    }
}


.save_loading_box{
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.save_loading_box .back{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
}

.save_loading_box .loading{
    position: relative;
    z-index: 100;
    color: #fff;
}




.free_view_box{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.frre_content{
    width: 100%;
    height: 100%;
}

.frre_content iframe{
    width: 100%;
    height: 100%;
}


