@charset "utf-8";

body {min-width: 100%; font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', AppleGothic, Helvetica, sans-serif; font-size: 13px; font-weight: 400; -webkit-font-smoothing: antialiased; overflow: hidden;}
a {text-decoration: none; color: #000;}
input.text {padding: 0 10px; width: 100%; height: 43px; font-family: 'Noto Sans KR'; font-size: 12px; box-sizing: border-box; border: 1px solid #dedede; background-color: #fff;}
input::placeholder {color: #999;}
textarea.text {padding: 15px 10px; width: 100%; font-family: 'Noto Sans KR'; font-size: 12px; box-sizing: border-box; border: 1px solid #dedede; background-color: #fff;}
textarea::placeholder {color: #999;}

.goods_pic_wrapper {height: 100%; overflow-y: auto;}

.goods_pic_header {position: relative; padding: 20px; box-sizing: border-box; overflow: hidden;}
.goods_pic_header .video_area .video {position: relative; height:0; padding-bottom: 56.25%;}
.goods_pic_header .video_area .video iframe {position: absolute; top: 0; right: 0; width: 100%; height: 100%;}
.goods_pic_header .header_area {box-sizing: border-box;}
.goods_pic_header .header_area.left {float: left; width: calc(100% - 100px);}
.goods_pic_header .header_area.right {float: right; width: 100px;}
.goods_pic_header .header_area .title {margin-top: 15px; line-height: 1.5em; font-family: 'Noto Sans KR'; font-size: 20px;}
.goods_pic_header .header_area .desc {margin-top: 13px; font-size: 13px; color: #ccc;}
.goods_pic_header .header_area .btn {display: block; margin-top: 20px; text-align: center;}
.goods_pic_header .header_area .btn img {display: inline-block; width: 50px;}
.goods_pic_header .header_area .btn div {margin-top: 10px;}

.goods_pic_menu {position: relative; overflow: hidden;}
.goods_pic_menu > li {float: left; width: 16.666%; height: 60px; line-height: 60px; font-size: 15px; text-align: center; color: #bbb; cursor: pointer;}
.goods_pic_menu > li .underline {display: none; position: relative; top: -15px; height: 2px; font-size: 0; background-color: #fc9e03;}
.goods_pic_menu > li a {display: inline-block; font-family: 'Noto Sans KR'; color: #434343;}
.goods_pic_menu > li.on a {color: #fc9e03;}
.goods_pic_menu > li.on .underline {display: block;}

.goods_pic_total {position: relative; padding: 20px 0; font-family: 'Noto Sans KR'; font-size: 16px; text-align: center; color: #fff; background-color: #333;}
.goods_pic_total .active {color: #fc9e03;}
.goods_pic_total .icon_list {position: absolute; top: 20px; right: 20px; text-align: right;}
.goods_pic_total .icon_list > li {display: inline-block; margin-left: 7px; width: 20px;}
.goods_pic_total .icon_list > li img {display: block; max-width: 100%;}

.goods_pic_body {padding: 15px 15px 80px; background-color: #e0e0e0;}
.goods_pic_body .section_area {margin-top: 10px; padding: 25px 15px; border-radius: 10px; border: 1px solid #ddd; background-color: #fff;}
.goods_pic_body .section_area:first-child {margin-top: 0;}
.goods_pic_body .section_area img {display: block; max-width: 100%;}
.goods_pic_body .section_area textarea.text {background-color: #fff;}
.goods_pic_body .section_area input[type=file] {display: none;}
.goods_pic_body .section_area .title {position: relative; padding-left: 37px; font-family: 'Noto Sans KR'; font-size: 18px; font-weight: 500; cursor: pointer;}
.goods_pic_body .section_area .title .icon {position: absolute; top: -6px; left: 0; width: 30px;}
.goods_pic_body .section_area .title .check {position: absolute; top: -6px; right: 0; width: 30px;}
.goods_pic_body .section_area .title.default {padding-left: 0;}
.goods_pic_body .section_area ul.form {margin-top: 25px;}
.goods_pic_body .section_area ul.form > li {position:relative; margin-top: 10px;}
.goods_pic_body .section_area ul.form > li:first-child {margin-top: 0;}
.goods_pic_body .section_area ul.form > li .must {position:absolute; top:15px; right:10px; font-size:12px; color:#f38093;}
.goods_pic_body .section_area ul.upload {margin-top: 25px; text-align: center; overflow: hidden;}
.goods_pic_body .section_area ul.upload > li {display: inline-block; width: 265px; height: 148px; box-sizing: border-box; border: 1px solid #ddd; background-repeat: no-repeat; background-position: center center; background-size: contain; background-color: #f0f0f0;}
.goods_pic_body .section_area ul.upload > li:first-child {margin-right: 5px;}
.goods_pic_body .section_area ul.upload > li.file {position: relative;}
.goods_pic_body .section_area ul.upload > li.file .explain {position: absolute; top: 50%; left: 0; margin-top: -2.7em; width: 100%; line-height: 1.5em; text-align: center; cursor: pointer; color: #999;}
.goods_pic_body .section_area ul.upload > li.file .explain i {margin-bottom: 5px; font-size: 30px;}
.goods_pic_body .section_area ul.upload > li.file.over {background-color: #fc9e03;}
.goods_pic_body .section_area ul.upload > li.file.over .explain {color: #fff;}
.goods_pic_body .section_area .upload_file_count {margin-top: 5px; font-size: 12px; text-align: right; color: #fc9e03;}
.goods_pic_body .section_area .uploaded_files {margin-top: 10px; padding: 10px 15px 16px; box-sizing: border-box; border: 1px solid #ddd; background-color: #f9f9f9;}
.goods_pic_body .section_area .uploaded_files .list {position: relative; display: inline-block; margin: 6px 3px 0; width: 160px; height: 90px; box-sizing: border-box; background-repeat: no-repeat; background-position: center center; background-size: contain; background-color: #ddd; overflow: hidden;}
.goods_pic_body .section_area .uploaded_files .list a {display: block; position: absolute; top: 5px; right: 5px; padding: 5px; color: #fff; border-radius: 2em; background-color: #434343;}
.goods_pic_body .section_area .uploaded_files .list .file_type {position: absolute; top: 50%; left: 0; margin-top: -1.6em; width: 100%; line-height: 1.5em; font-size: 12px; text-align: center; color: #fff;}
.goods_pic_body .section_area .uploaded_files .list .file_type i {margin-bottom: 3px; font-size: 23px;}
.goods_pic_body .section_area .desc {margin-top: 15px; color: #000;}
.goods_pic_body .section_area .input {position: relative; margin-top: 20px;}
.goods_pic_body .section_area .input .cont {padding-right: 50px;}
.goods_pic_body .section_area .input .length {position: absolute; top: 15px; right: 15px; font-size: 12px; color: #999;}
.goods_pic_body .section_area .input .check_text_count {margin-top: 5px; font-size: 12px; text-align: right; color: #999;}
.goods_pic_body .default_area textarea.text {height: 150px;}
.goods_pic_body .extra_area textarea.text {height: 68px;}

.goods_pic_footer {position: fixed; bottom: 0; left: 0; width: 100%; box-sizing: border-box; background-color: #fff;}
.goods_pic_footer > ul {text-align: center;}
.goods_pic_footer > ul > li {display: inline-block; width: 50%;}
.goods_pic_footer > ul > li .button {height: 50px; line-height: 50px; font-size: 16px; border-radius: 0;}
.goods_pic_footer > ul > li .button.gray {background-color: #434343 !important;}