@charset "utf-8";

/**
* 1.0 - Common
* -----------------------------------------------------------------------------
*/
body {
    min-width: 1200px;
    font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', AppleGothic, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #000;
}

strong {
    font-weight: 500;
}

strong.bold {
    font-weight: 700;
}

strong.bolder {
    font-weight: 800;
}

label {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    position: relative;
    top: 1px;
}

input.text {
    padding: 0 10px;
    height: 43px;
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
    border: 1px solid #dedede;
    background-color: #fff;
}

textarea.text {
    padding: 10px;
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
    border: 1px solid #dedede;
    background-color: #fff;
}

.dn {
    display: none !important;
}

.db {
    display: block !important;
}

.oh {
    overflow: hidden !important;
}

/* Section */
.center_layer {
    margin: 0 auto;
    width: 1200px;
}

.center_layer:after {
    content: '';
    display: block;
    clear: both;
}

.section_container {
    position: relative;
    padding: 70px 0 100px;
}

.title_area {
    position: relative;
}

.title_area .title {
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 20px;
}

.title_area .button {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    border: 0;
    background-color: #333;
}

/* inline */
ul.inline > li {
    display: inline-block;
}

ul.inline > li.separate {
    margin: 0 10px;
}

/* Text */
.text_orange {
    color: #fc9e03 !important;
}

.text_pink {
    color: #f38093 !important;
}

.text_blue {
    color: #329cff !important;
}

.text_green {
    color: #13cf00 !important;
}

.text_gray {
    color: #999 !important;
}

.text_left {
    text-align: left !important;
}

/* 셀렉트박스 */
select {
    height: 43px;
    color: #717171;
    vertical-align: top;
    outline: none;
}

.chosen-container {
    height: 43px;
    vertical-align: top;
    text-align: left;
}

.chosen-container-single .chosen-single {
    height: 43px;
    line-height: 43px;
    color: #717171;
    vertical-align: top;
    outline: none;
    border: 1px solid #ddd;
}

.chosen-container-single .chosen-single div {
    top: 8px;
}

.chosen-container-active .chosen-single {
    box-shadow: none;
}

.chosen-container .chosen-results li {
    float: none;
}

.chosen-container .chosen-drop {
    margin-top: 0;
    border: 1px solid #ddd;
    border-top: none 0;
}

.chosen-container .chosen-results li.active-result {
    text-align: left;
}

.chosen-container .chosen-results li.disabled-result {
    text-align: left;
}

/* Selectbox */
.select_area {
    position: relative;
}

.select_area .selected {
    position: relative;
    padding: 13px 10px;
    font-family: 'Noto Sans KR';
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
}

.select_area .selected i {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 15px;
}

.select_area > ul {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    padding: 5px 0;
    width: 100%;
    max-height: 190px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    overflow-y: auto;
    z-index: 100;
}

.select_area > ul > li {
    padding: 7px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

/* Popup */
.popup_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -250px;
    padding: 20px 30px;
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    background-color: #fff;
}

.popup_modal .btn_popup_hide {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}

.popup_modal .subject {
    line-height: 1.6em;
    font-size: 16px;
}

/* Count */
.count {
    display: inline-block;
}

.count .goods_qty {
    display: block;
    position: relative;
    width: 50px;
}

.count .goods_qty input.text {
    width: 100%;
    text-align: center;
}

.count .goods_qty > span {
    position: absolute;
    top: 0;
    right: -23px;
}

.count .goods_qty > span > button.up,
.count .goods_qty > span > button.down {
    display: block;
    font-size: 18px;
    text-align: center;
}

.count .goods_qty > span > button.down {
    margin-top: 7px;
}

/* Rating */
ul.rating_star_list > li {
    margin-left: 10px;
}

ul.rating_star_list > li:first-child {
    margin-left: 0;
}

ul.rating_star_list > li input[type=radio] {
    position: relative;
    top: 4px;
}

.rating_star {
    display: inline-block;
    width: 88px;
    height: 15px;
    background: url("../img/board/icon_star_bg.png") no-repeat left top;
    vertical-align: middle;
    text-indent: -9999px;
}

.rating_star span {
    display: block;
    height: 15px;
    background: url("../img/board/icon_star_fill.png") no-repeat left top;
}

/* Tab Menu */
.tab_menu {
    margin-bottom: 20px;
    overflow: hidden;
}

.tab_menu > li {
    float: left;
    margin-left: 10px;
}

.tab_menu > li:first-child {
    margin-left: 0;
}

.tab_menu > li a {
    display: block;
    padding: 15px 25px;
    color: #999;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.tab_menu > li.on a {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

/* Table */
.table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.table > thead > tr > th,
.table > thead > tr > td {
    padding: 20px 10px;
    font-family: 'Noto Sans KR';
    text-align: center;
    vertical-align: middle;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
}

.table > thead > tr > th {
    font-weight: 500;
    background-color: #fff;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    padding: 10px 10px;
    font-family: 'Noto Sans KR';
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > th {
    background-color: #f9f9f9;
}

.table > tbody > tr.notice > th,
.table > tbody > tr.notice > td,
.table > tbody > tr.toggle_faq > th,
.table > tbody > tr.toggle_faq > td {
    background-color: #f9f9f9;
}

.table > tbody > tr .faq_type,
.table > tbody > tr .btn_view,
.table > tbody > tr .view {
    display: inline-block;
}

.table > tbody > tr .faq_type {
    width: 30px;
    vertical-align: top;
}

.table > tbody > tr .view {
    position: relative;
    top: -2px;
    line-height: 1.6em;
}

.table > tbody > tr > td .js_icon {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-left: 4px;
}

.table > tbody > tr > td.reviews_new_box {
    padding-bottom: 30px !important;
}

.table > tbody > tr > td.reviews_new_box .board_cont {
    line-height: 1.6em;
    text-align: left;
    color: #444;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_view_attach {
    margin-top: 10px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_view_attach a {
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
    color: #329cff;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment {
    margin-top: 30px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_top {
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box {
    margin-top: 20px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box .form_element {
    margin-bottom: 5px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box .comment_textarea {
    overflow: hidden;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box .comment_textarea textarea.text {
    float: left;
    width: 89%;
    height: 82px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box .comment_textarea .btn_comment_box {
    float: right;
    width: 10%;
}

.table > tbody > tr > td.reviews_new_box .board_cont .board_comment_box .comment_textarea .btn_comment_box .button {
    height: 82px;
    line-height: 82px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #c7c7c7;
    background-color: #c7c7c7;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li {
    margin-top: 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li:first-child {
    margin-top: 0;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item {
    position: relative;
    overflow: hidden;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item .comment_name {
    float: left;
    width: 105px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item .comment_cont {
    float: left;
    width: 600px;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item .comment_cont .board_day_time {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    color: #a1a1a1;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item .btn {
    float: right;
    text-align: right;
}

.table > tbody > tr > td.reviews_new_box .board_cont .view_comment_list > ul > li .comment-item .btn span {
    display: inline-block;
}

.review-board td .comment-wrap .ctt .text
.table.c_table > tbody > tr > th,
.table.c_table > tbody > tr > td {
    padding: 20px 10px;
    text-align: center;
}

.table.c_table > tbody > tr > .no {
    width: 30px;
}

.table.c_table > tbody > tr > .title {
    text-align: left;
}

.table.no_header > tbody > tr:first-child th,
.table.no_header > tbody > tr:first-child td {
    border-top: 2px solid #000;
}

.table.normal > tbody > tr:first-child th,
.table.normal > tbody > tr:first-child td {
    border-top: 1px solid #ddd;
}

/* Pagination */
.pagination {
    margin-top: 30px;
}

#ajax-goods-goodsreview-list .pagination {
    margin-top: 30px;
}

.pagination > ul {
    text-align: center;
}

.pagination > ul > li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #fff;
}

.pagination > ul > li.on {
    color: #fff;
    background-color: #000;
}

/* Button */
.button_area {
    text-align: center;
}

.button_area .separate {
    display: inline-block;
    font-size: 0;
    margin: 0 2px;
}

.button_area > ul {
    overflow: hidden;
}

.button_area > ul > li {
    float: left;
}

.button_area > ul.one > li {
    width: 100% !important;
}

.button_area > ul.two > li {
    float: left !important;
    width: calc(50% - 3px) !important;
}

.button_area > ul.two > li:last-child {
    float: right !important;
}

.button_area > ul.vertical > li {
    display: inline-block;
    float: none;
    margin-top: 6px;
    width: 100%;
}

.button_area > ul.vertical > li:first-child {
    margin-top: 0;
}

.button_area > ul.p80 > li {
    width: 80%;
}

.button_area .link i {
    position: relative;
    top: 1px;
}

.button {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 48px;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button i {
    position: relative;
    top: 1px;
    margin-left: 5px;
}

.button.small {
    height: 35px;
    line-height: 33px;
    font-size: 13px;
}

.button.w100 {
    width: 100px;
}

.button.inline {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.button.pink {
    border-color: #f38093 !important;
    background-color: #f38093 !important;
}

.button.orange {
    border-color: #fc9e03 !important;
    background-color: #fc9e03 !important;
}

.button.green {
    border-color: #13cf00 !important;
    background-color: #13cf00 !important;
}

.button.black {
    border-color: #333 !important;
    background-color: #333 !important;
}

.button.deepgray {
    border-color: #666 !important;
    background-color: #666 !important;
}

.button.gray {
    border-color: #a9a9a9 !important;
    background-color: #a9a9a9 !important;
}

.button.border {
    border-color: #fff !important;
    background-color: #fff !important;
}

.button.border.orange {
    color: #fc9e03 !important;
    border-color: #fc9e03 !important;
}

.button_area.inline {
    text-align: center;
}

.button_area.inline.left {
    text-align: left;
}

.button_area > ul.two .button {
    width: 100%;
}

.button_area.inline .button {
    display: inline-block !important;
    width: auto !important;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn_gray_small {
    display: inline-block;
    padding: 7px 10px;
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    text-align: center;
}

.btn_gray_small img {
    position: relative;
    top: 2px;
}

/* 파일첨부 버튼 꾸미기 */
.file_upload_sec {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.file_upload_sec .file_text {
    float: left;
    padding: 0 10px;
    width: 230px;
    height: 25px;
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
    border: 1px solid #dedede;
    background-color: #fff;
}

.file_upload_sec .btn_upload_box {
    overflow: hidden;
    position: relative;
    float: left;
    width: 150px;
    padding: 0 0 0 6px;
}

.file_upload_sec .btn_upload_box .btn_upload {
    width: 70px;
    height: 25px;
    color: #333;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    text-align: center;
}

.file_upload_sec .btn_upload_box .file {
    position: absolute;
    top: 0;
    right: 76px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/* 추가,삭제 버튼 */
.file_upload_sec .btn_upload_box .btn_gray_big {
    width: 62px;
    height: 25px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #666;
    background: #666;
    text-align: center;
}

.file_upload_sec .form_element {
    display: block;
    width: 100%;
    padding: 0 10px 3px 0;
}

.file_upload_sec .link_file_down {
    padding: 0 10px 0 0;
}

.file_upload_sec .link_file_down:hover {
    text-decoration: underline;
}

/* 자동등록방지 */
.capcha {
    display: table;
    margin: 10px 0 10px 0;
}

.capcha_img {
    display: table-cell;
    width: 304px;
    height: 106px;
    border: 1px solid #d6d6d6;
    text-align: center;
    vertical-align: middle;
}

.capcha_txt {
    display: table-cell;
    padding: 0 0 0 20px;
}

.capcha_txt p {
    margin: 0 0 10px 0;
}

.capcha_txt .btn_gray_list {
    display: block;
    margin: 10px 0 0 0;
}

/* 스크롤 배너 */
.scroll_wrap {
    position: fixed;
    top: 50%;
    right: 10px;

    /*width: 80px;*/
    z-index: 100;

    /*top: 50%;*/
    /*right: 50%;*/
    /*margin: -138px -800px 0 0;*/
    /*width: 80px;*/

}

.scroll_wrap .right_banner{
    /*transform: translateX(20px);*/
    /*transition: 1s;*/
    display: none;
}

.scroll_wrap .right_banner.active{
    opacity: 1;
    transform: translateX(0);
    display: block;
}

.scroll_wrap .right_banner a {
    display: block;
    margin-top: 5px;
}

.scroll_wrap .right_banner a:first-child {
    margin-top: 0;
}

/**
* 2.0 - Header
* -----------------------------------------------------------------------------
*/
.header_container {
    padding-top: 40px;
}

.header_container .top_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
    overflow: hidden;
    z-index: 100;
}

.header_container .top_wrapper .login_layer {
    float: right;
    margin-top: 13px;
}

.header_container .top_wrapper .login_layer > li a {
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}

.header_container .top_wrapper .login_layer > li a:hover {
    color: #fc9e03;
}

.header_container .top_wrapper .login_layer > li .hline {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 1px;
    height: 8px;
    font-size: 0;
    background-color: #666;
}

.header_container .banner_wrapper {
    position: relative;
    height: 350px;
    text-align: center;
    overflow: hidden;
}

.header_container .banner_wrapper .swiper-slide {
    position: relative;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_container .banner_wrapper .swiper-slide img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -950px;
    width: 1900px;
}

.header_container .banner_wrapper .logo_layer {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -570px;
    z-index: 2;
}

.header_container .banner_wrapper .over_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    z-index: 2;
}

.header_container .banner_wrapper .over_layer .pager_area {
    /*float: left;*/
    margin-left: auto;
    margin-top: 19px;
}

.header_container .banner_wrapper .over_layer .pager_area .swiper-pagination-bullet {
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 5px;
    background-color: #fff;
}

.header_container .banner_wrapper .over_layer .pager_area .swiper-pagination-bullet-active {
    width: 20px;
    background-color: #fc9e03;
}

.header_container .banner_wrapper .over_layer .link_area {
    float: right;
    margin-top: 18px;
    font-size: 15px;
}

.header_container .banner_wrapper .over_layer .link_area > li a {
    color: #fff;
}

.header_container .logo_wrapper {
    height: 95px;
}

.header_container .logo_wrapper .logo_layer {
    position: relative;
    float: left;
    top: 43px;
}

.header_container .logo_wrapper .search_layer {
    position: relative;
    float: right;
    top: 40px;
    text-align: right;
}

.header_container .logo_wrapper .search_layer > li.separate {
    margin-left: 16px;
    margin-right: 16px;
}

.header_container .logo_wrapper .search_layer > li.menu a {
    position: relative;
    top: 2px;
    font-size: 15px;
    color: #323434;
}

.header_container .logo_wrapper .search_layer > li.on a {
    color: #fc9e03;
}

.header_container .logo_wrapper .search_layer > li.search {
    position: relative;
}

.header_container .logo_wrapper .search_layer > li.search input {
    padding: 9px 30px 9px 10px;
    font-size: 15px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.header_container .logo_wrapper .search_layer > li.search .searchbtn {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 16px;
    color: #aaa;
}

.header_container .menu_wrapper {
    height: 62px;
    box-sizing: border-box;
    border: 1px solid #c9cdce;
    border-top-color: #eaeaea;
    background-color: #fff;
}

.header_container .menu_wrapper .separate {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -2px;
    width: 1px;
    height: 21px;
    font-size: 0;
    background-color: #ddd;
}

.header_container .menu_wrapper .all_layer {
    position: relative;
    float: left;
    margin-top: 22px;
    padding-right: 30px;
    font-size: 12px;
}

.header_container .menu_wrapper .all_layer a {
    display: block;
    color: #999;
}

.header_container .menu_wrapper .all_layer a:hover {
    color: #000;
}

.header_container .menu_wrapper .all_layer .icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.header_container .menu_wrapper .all_layer .text {
    position: relative;
    top: -3px;
}

.header_container .menu_wrapper .menu_layer {
    position: relative;
    float: left;
    margin-top: 22px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 15px;
}

.header_container .menu_wrapper .menu_layer .inline > li {
    padding-left: 40px;
}

.header_container .menu_wrapper .menu_layer .inline > li:first-child {
    padding-left: 0;
}

.header_container .menu_wrapper .link_layer {
    float: right;
}

.header_container .menu_wrapper .link_layer .inline > li {
    padding-left: 23px;
}

/**
* 3.0 - Foooter
* -----------------------------------------------------------------------------
*/
.footer_container {
    position: relative;
    padding-bottom: 60px;
}

.footer_container .left_layer {
    float: left;
    width: 60%;
}

.footer_container .right_layer {
    float: right;
    width: 40%;
}

.footer_container .line_wrapper {
    position: absolute;
    top: 258px;
    left: 0;
    width: 100%;
    height: 1px;
    font-size: 0;
    background-color: #e0e0e0;
}

.footer_container .top_wrapper {
    padding: 25px 0;
    font-size: 15px;
    color: #fff;
    background-color: #454545;
}

.footer_container .top_wrapper ul.inline {
    position: relative;
    top: 2px;
}

.footer_container .top_wrapper ul.inline > li.separate {
    margin: 0 20px;
    height: 13px;
    overflow: hidden;
}

.footer_container .top_wrapper .right_layer {
    text-align: right;
}

.footer_container .cs_wrapper {
    position: relative;
    margin-top: 25px;
}

.footer_container .cs_wrapper .title {
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
}

.footer_container .cs_wrapper .phone {
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    font-size: 40px;
    letter-spacing: 2px;
    color: #000;
}

.footer_container .cs_wrapper ul.desc {
    padding: 10px 0 0 5px;
}

.footer_container .cs_wrapper ul.desc > li {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.footer_container .cs_wrapper ul.desc > li span {
    display: inline-block;
}

.footer_container .cs_wrapper ul.desc > li .key1,
.footer_container .cs_wrapper ul.desc > li .key2 {
    margin-right: 7px;
}

.footer_container .cs_wrapper ul.desc > li .val {
    width: 150px;
}

.footer_container .cs_wrapper .link {
    position: absolute;
    right: 0;
    bottom: 20px;
    text-align: right;
}

.footer_container .cs_wrapper .link > li {
    margin-left: 5px;
}

.footer_container .cs_wrapper .link .z_btn {
    display: inline-block;
    position: relative;
    padding: 13px 20px;
    border: 1px solid #bbb;
}

.footer_container .cs_wrapper .link .z_btn i {
    margin-top: 2px;
    margin-left: 48px;
    color: #bbb;
}

.footer_container .copy_wrapper {
    margin-top: 50px;
}

.footer_container .copy_wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.footer_container .copy_wrapper .title {
    margin-top: 20px;
    font-weight: 600;
}

.footer_container .copy_wrapper .desc {
    margin-top: 20px;
    line-height: 1.5em;
    font-size: 12px;
    color: #777;
}

.footer_container .copy_wrapper .copy {
    margin-top: 15px;
    font-size: 12px;
    color: #777;
}

.footer_container .copy_wrapper .sns {
    text-align: right;
}

.footer_container .copy_wrapper .sns > li {
    margin-left: 5px;
}

/**
* 4.0 - All Menu
* -----------------------------------------------------------------------------
*/
.all_menu_wrapper {
    display: none;
}

.all_menu_wrapper .background_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    z-index: 2000;
}

.all_menu_wrapper .all_menu_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2001;
}

.all_menu_wrapper .all_menu_layer .close_button {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    color: #fff;
    z-index: 2002;
}

.all_menu_wrapper .all_menu_layer .all_menu {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -13%;
}

.all_menu_wrapper .all_menu_layer .all_menu > li {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    color: #fff;
}

.all_menu_wrapper .all_menu_layer .all_menu > li.separate {
    margin: 0 50px;
    font-size: 0;
}


.all_menu_wrapper .all_menu_layer .all_menu > li a {
    display: block;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.7);
}

.all_menu_wrapper .all_menu_layer .all_menu > li a:hover {
    color: rgba(255, 255, 255, 1);
}

.all_menu_wrapper .all_menu_layer .all_menu > li .title {
    position: relative;
    left: -4px;
    font-size: 17px;
}

.all_menu_wrapper .all_menu_layer .all_menu > li .line {
    margin: 40px 0 20px;
    width: 30px;
    height: 2px;
    font-size: 0;
    background-color: #fff;
}



/* 2020-09-22 */


.payment_layer{
    background: #f8f8f8;
}

.payment_layer .section_container .center_layer{
    width: 950px;
    background: #ffffff;
    padding: 60px 113px;
    box-sizing: border-box;
}

.payment_layer .order_wrap .order_tit{
    padding-bottom: 25px;
    border-bottom: 2px solid #111111;
}

.payment_layer .order_wrap .order_tit:after {
    display: block;
    content: '';
    clear: both;
}

.payment_layer .order_wrap .order_tit h2{
    float: left;
    font-size: 23px;
    color: #292929;
    line-height: 1;
    margin: 0;
}

.payment_layer .order_wrap .order_tit > ol{
    float: right;
    line-height: 23px;
    position: relative;
    top: 0;
    text-align: left;
}

.payment_layer .order_wrap .order_tit > ol:after {
    display: block;
    content: '';
    clear: both;
}

.payment_layer .order_wrap .order_tit > ol li{
    float: left;
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 400;
}


.payment_layer .order_wrap .order_tit > ol li span.active {
    color: #373737;
    font-weight: 600;
}

.payment_layer .order_wrap .order_tit > ol li span .fas {
    margin-left: 5px;
    margin-right: 5px;
}


.payment_layer .custom_table{
    margin-top: 25px;
}

.custom_table h3{
    font-size: 15px;
    color: #292929;
    line-height: 34px;
    font-weight: 600;
}

.custom_table .table_box{
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
}

.custom_table .table_box table{
    width: 100%;
}

.custom_table .table_box thead{
    display: none;
}

.custom_table .table_box .order_table_type td {
    height: auto;
    padding: 18px 0;
    position: relative;
    width: 100%;
}

.custom_table .table_box .pick_add_cont{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.custom_table .order_table_type .pick_add_cont .pick_add_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_table .order_table_type .pick_add_cont .pick_add_info em a{
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 600;
}

.custom_table .table_box .pick_add_cont .pick_price{
    font-size: 14px;
    color: #ff9b00;
    font-weight: 600;
}


.payment_layer .order_txt {
    margin-top: 35px;
    display: block;
    font-size: 13px;
    color: #ff4e00;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.5px;
}




.custom_header > tbody > tr:first-child th,
.custom_header > tbody > tr:first-child td {
    border-top: 1px solid #eaeaea;
}

.custom_header > tbody > tr > th{
    background-color: #fff;
}


.custom_header input.text{
    background: #fbfbfb;
    border: 1px solid #ececec;
    border-radius: 2px;
    width: 100%;
    line-height: 44px;
    height: 44px;
    outline: none;
}

.custom_header .order_view_info .address_postcode{
    margin-bottom: 0;
}

.custom_header .member_email input.text{
    width: 52%;
    margin-right: 2%;
}

.custom_header .member_address input.text{
    background: #fff;
    margin-bottom: 10px;
}
