@charset "utf-8";

/**
* Table of Contents:
*
* 1.0 - 상단 바로가기
* 2.0 - 인기영상, 추천영상
* -----------------------------------------------------------------------------
*/

/**
* 1.0 - 상단 바로가기
* -----------------------------------------------------------------------------
*/
.section_container {
    padding-top: 0;
}
.bgbox_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 622px;
    background-color: #f3f3f3;
}
.shortcut_wrapper {
    position: relative;
    background-color: #fbfbfb;
}
.l_layer {
    float: left;
    width: 560px;
}
.r_layer {
    float: right;
    width: 270px;
}
.c_layer {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    width: 290px;
}
.shortcut_layer {
    padding: 50px 0 25px;
    overflow: hidden;
}
.shortcut_layer > li {
    float: left;
    text-align: center;
}
.shortcut_layer > li.separate {
    position: relative;
    top: 5px;
    width: 1px;
    height: 144px;
    font-size: 0;
    background-color: #e9e9e9;
}
.shortcut_layer > li:nth-of-type(1) {
    width: 196px;
}
.shortcut_layer > li:nth-of-type(3) {
    width: 220px;
}
.shortcut_layer > li:nth-of-type(5) {
    width: 260px;
}
.shortcut_layer > li:nth-of-type(7) {
    width: 245px;
}
.shortcut_layer > li:nth-of-type(9) {
    width: 275px;
}
.shortcut_layer > li:last-child {
    display: none;
}
.top_area {
    overflow: hidden;
}
.bottom_area {
    margin-top: 25px;
}
.bottom_area .banner_area {
    position: relative;
}
.bottom_area .banner_area .pager_area {
    position: absolute;
    bottom: 18px;
    left: 23px;
    z-index: 2;
}
.bottom_area .banner_area .pager_area .swiper-pagination-bullet {
    display: inline-block;
    margin: 0 5px 0 0;
}
.bottom_area .banner_area .swiper-pagination-bullet-active {
    background-color: #000;
}
.l_area {
    float: left;
    width: 270px;
}
.r_area {
    float: right;
    width: 270px;
}
.cont_area.margin {
    margin-top: 15px;
}
.cont_area .title {
    position: relative;
    font-weight: 700;
}
.cont_area .title .pager {
    position: absolute;
    bottom: 1px;
    right: 0;
}
.cont_area .title .pager .swiper-pagination-bullet {
    display: inline-block;
    margin: 0 0 0 5px;
}
.cont_area .title .pager .swiper-pagination-bullet-active {
    background-color: #000;
}
.cont_area .thumb {
    margin-top: 16px;
    width:100%;
}
.cont_area .desc {
    margin-top: 12px;
    line-height: 1.5em;
    font-size: 12px;
}
.cont_area .desc .summary {
    margin-top: 5px;
}
.cont_area .tip {
    margin-top: 16px;
}
.cont_area .tip > li {
    max-height: 70px;
    overflow: hidden;
}
.cont_area .tip > li a {
    display: block;
}
.cont_area .tip > li .icon {
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 10px;
}

/**
* 2.0 - 인기영상, 추천영상
* -----------------------------------------------------------------------------
*/
.newest_wrapper {
    margin-top: 60px;
}
.newest_wrapper .big_title {
    font-size: 23px;
    text-align: center;
}
.newest_wrapper .small_title {
    margin-top: 10px;
    font-size: 8px;
    text-align: center;
    letter-spacing: 1px;
    color: #4c4c4c;
}
.best_wrapper .tab_layer {
    margin-top: 50px;
    height: 53px;
    overflow: hidden;
}
.best_wrapper .tab_layer > li {
    float: left;
    width: 20%;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}
.best_wrapper .tab_layer > li img {
    display: block;
    max-width: 100%;
}
.best_wrapper .box_layer {
    padding: 64px 57px;
    box-sizing: border-box;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    background-color: #fff;
}
.best_wrapper .box_layer > ul {
    display: none;
    overflow: hidden;
}
.best_wrapper .box_layer > ul.one {
    display: block;
}
.best_wrapper .box_layer > ul > li {
    float: left;
    margin-right: 21px;
    width: calc(33.333% - 14px);
    text-align: center;
    box-sizing: border-box;
}
.best_wrapper .box_layer > ul > li:nth-of-type(3n) {
    margin-right: 0;
}
.best_wrapper .box_layer > ul > li a {
    display: block;
}
.best_wrapper .box_layer > ul > li .thumb {
    margin: 5px 5px 0;
    width: calc(100% - 10px);
    height: 185px;
    background-color: #ccc;
}
.best_wrapper .box_layer > ul > li .title {
    margin-top: 5px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
    border-top: 1px solid #efefef;
}
.best_wrapper .box_layer > ul > li .desc {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.best_wrapper .box_layer > ul > li .price {
    margin: 25px 0 30px;
    font-size: 16px;
    color: #666;
}
.best_wrapper .box_layer > ul > li .price .og {
    text-decoration: line-through;
}
.best_wrapper .box_layer > ul > li .price .dc {
    font-weight: 700;
    color: #fc9e03;
}
.hot_wrapper .gallery_layer {
    margin-top: calc(50px - 15px);
}
.hot_wrapper .gallery_layer > li {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    width: calc(20% - 12px);
    height: 200px;
    background-color: #eee;
}
.hot_wrapper .gallery_layer > li:nth-of-type(5n) {
    margin-right: 0;
}
.hot_wrapper .gallery_layer > li a {
    display: block;
}
.hot_wrapper .box_layer {
    margin-top: 20px;
}
.hot_wrapper .box_layer .thumb {
    width: 100%;
    height: 320px;
    background-color: #ccc;
}
.hot_wrapper .box_layer .info {
    margin-top: 10px;
    padding: 15px 5px;
    line-height: 1.5em;
    box-sizing: border-box;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
.hot_wrapper .box_layer .info .left {
    float: left;
    width: 210px;
}
.hot_wrapper .box_layer .info .right {
    float: right;
    width: 300px;
}
.hot_wrapper .box_layer .info .title {
    font-weight: 600;
    font-size: 12px;
}
.hot_wrapper .box_layer .info .price {
    font-weight: 200;
    font-size: 12px;
}
.hot_wrapper .box_layer .info .desc {
    font-size: 12px;
}
.hot_wrapper .swiper-button-next,
.hot_wrapper .swiper-button-prev {
    margin-top: -60px;
    width: auto;
    height: auto;
    font-size: 60px;
    color: #fff;
    background: none;
}
.hot_wrapper .swiper-button-next {
    right: 0;
    text-align: right;
}
.hot_wrapper .swiper-button-prev {
    left: 0;
    text-align: left;
}