@charset "utf-8";

/**
* 1.0 - 로그인
* -----------------------------------------------------------------------------
*/
.login_section {
    margin: 0 auto;
    padding: 50px 0 70px;
    width: 580px;
}
.login_section .login_layer {
    margin: 17px 0 0;
    padding: 50px 80px 60px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.login_section .login_layer label {
    position: relative;
    top: -2px;
}
.login_section .login_layer input[type=text],
.login_section .login_layer input[type=password],
.login_section .login_layer input[type=email] {
    padding: 0 20px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    box-sizing: border-box;
    color: #666;
    border: 1px solid #e0e0e0;
}
.login_section .login_layer .help,
.login_section .login_layer .msg,
.login_section .login_layer .text_warning,
.login_section .login_layer .text_pass {
    margin-top: 15px;
    line-height: 1.6em;
    font-size: 12px;
    color: #999;
}
.login_section .login_layer .msg,
.login_section .login_layer .text_warning,
.login_section .login_layer .text_pass {
    margin-top: 5px;
}
.login_section .login_layer .text_warning {
    color: #fc9e03;
}
.login_section .login_layer .text_pass {
    color: #13cf00;
}
.login_section .login_layer .important {
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 14px;
}
.login_section .login_layer .icon {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
.login_section .login_layer .important_area {
    margin-top: 15px;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    text-align: center;
}
.login_section .login_layer .description {
    margin-top: 20px;
    line-height: 1.6em;
    text-align: center;
}
.login_section .login_layer .title_area {
    position: relative;
    padding-bottom: 13px;
    font-size: 16px;
    font-weight: 700;
    color: #fc9e03;
    border-bottom: 3px solid #fc9e03;
}
.login_section .login_layer .title_area .explain {
    position: absolute;
    bottom: 13px;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
.login_section .login_layer .desc_area {
    margin-top: 13px;
    font-weight: 400;
}
.login_section .login_layer .import_area {
    margin: 40px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.login_section .login_layer .input_member {
    margin-top: 20px;
    overflow: hidden;
}
.login_section .login_layer .input_member > li.block {
    margin-top: 10px;
}
.login_section .login_layer .input_member > li.block:first-child {
    margin-top: 0;
}
.login_section .login_layer .input_member > li.left {
    float: left;
    width: calc(100% - 110px);
}
.login_section .login_layer .input_member > li.right {
    float: right;
    width: 100px;
}
.login_section .login_layer .input_member > li .input_text {
    margin-top: 10px;
}
.login_section .login_layer .input_member > li .button {
    display: block;
    width: 100%;
    height: 96px;
    line-height: 96px;
    text-align: center;
    color: #fff;
    background-color: #fc9e03;
}
.login_section .login_layer .link {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.login_section .login_layer .link > li {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
}
.login_section .login_layer .link > li.left {
    float: left;
    width: 200px;
}
.login_section .login_layer .link > li.right {
    float: right;
    text-align: right;
}
.login_section .login_layer .link > li.separate {
    float: right;
    margin: 0 10px;
    font-size: 0;
    width: 1px;
    background-color: #e0e0e0;
}
.login_section .login_layer .link > li a {
    text-decoration: underline;
    color: #666;
}
.login_section .login_layer .button_area {
    margin-top: 15px;
}
.login_section .login_layer .button_area.inner {
    margin-top: 0;
}
.login_section .login_layer .button_area > ul {
    text-align: center;
    overflow: hidden;
}
.login_section .login_layer .button_area.inner > ul {
    text-align: left;
}
.login_section .login_layer .button_area > ul > li {
    display: inline-block;
    float: none;
    margin: 0 5px;
    width: calc(25% - 10px);
}
.login_section .login_layer .button_area > ul.two > li {
    margin: 0;
}
.login_section .login_layer .button_area.inner > ul > li {
    margin: 0 3px 0 0;
    width: auto;
}
.login_section .login_layer .button_area .button,
.login_section .login_layer .button_area a {
    display: block;
    width: 100%;
    height: 53px;
    line-height: 53px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
}
.login_section .login_layer .button_area.inner .button,
.login_section .login_layer .button_area.inner a {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 35px;
    line-height: 33px;
    font-size: 12px;
}
.login_section .login_layer .button_area .button:not(:first-child) {
    margin-top: 10px;
}
.login_section .login_layer .button_area.inner .button:not(:first-child) {
    margin-top: 0;
}
.login_section .login_layer .button_area .button i {
    position: relative;
    top: 2px;
    margin-right: 5px;
    font-size: 18px;
}
.login_section .login_layer .button_area .button.naver {
    border-color: #13cf00;
    background-color: #13cf00;
}
.login_section .login_layer .button_area .button.kakao {
    color: #3c3c3b;
    border-color: #fdc300;
    background-color: #fdc300;
}
.login_section .login_layer .button_area .button.white {
    color: #4c4c4c;
    border-color: #e0e0e0;
    background-color: #fff;
}
.login_section .login_layer .button_area .button.orange {
    color: #fff;
    border-color: #fc9e03;
    background-color: #fc9e03;
}
.login_section .login_layer .button_area.sns_button a {
    margin-top:5px;
}
.login_section .login_layer .button_area.sns_button a:first-child {
    margin-top:0;
}
.login_section .login_layer .guest_area {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}
.login_section .login_layer .guest_area .title {
    font-size: 16px;
}
.login_section .login_layer .guest_area .input {
    margin-top: 20px;
    overflow: hidden;
}
.login_section .login_layer .guest_area .input > li.left {
    float: left;
    width: 130px;
}
.login_section .login_layer .guest_area .input > li.right {
    float: right;
    width: calc(100% - 140px);
}
.login_section .login_layer .guest_area .button {
    display: block;
    width: 100%;
    height: 53px;
    line-height: 53px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
}

/**
* 2.0 - 회원가입
* -----------------------------------------------------------------------------
*/
.join_section {
    width: 950px;
}
.join_section .join_layer {
    margin: 17px 0 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.join_section .join_layer .table > tbody > tr > th {
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    background: #ffffff;
    font-size: 13px;
    color: #646464;
    font-weight: 400;
}
.join_section .join_layer .table .important_icon{
    background: url(../img/common/icon_dot.png) no-repeat 100% center;
    padding-right: 10px;
}
.join_section .join_layer .btn {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    background-color: #666;
}
.join_section .join_layer .title_area {
    color: #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
}
.join_section .join_layer .input_member > li.block {
    margin-top: 25px;
}
.join_section .join_layer .input_member > li.block .btn.total {
    top: -3px;
    margin-left: 10px;
}
.join_section .join_layer .agreement_box {
    margin-top: 10px;
    padding: 20px;
    height: 150px;
    line-height: 1.6em;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    overflow-y: auto;
}
.join_section .join_layer .button_area {
    margin-top: 30px;
}
.join_section .join_layer .member_email input[type=text] {
    width: calc(100% - 133px);
}
.join_section .join_layer .member_email .chosen-container {
    width: 130px !important;
}
.join_section .join_layer .member_email .chosen-container-active .chosen-single {
    box-shadow: none;
}
.join_section .join_layer .member_address .address_postcode .zipcode {
    width: calc(100% - 133px);
}
.join_section .join_layer .member_address .address_postcode .btn {
    width: 130px;
    height: 43px;
    line-height: 43px;
}
.join_section .join_layer .member_address .address_input {
    margin-top: 5px;
}
.join_section .join_layer .member_address .js_address_sub {
    margin-top: 5px;
}

/**
* 3.0 - 회원정보
* -----------------------------------------------------------------------------
*/
.join_section .join_layer .member_pw_change > dl {
    margin-top: 10px;
}
.join_section .join_layer .member_pw_change > dl dt {
    margin-bottom: 5px;
}








/* 2020-09-07 custom css */

.custom_join_layer{
    background-color: #f8f8f8;
}

.custom_join{
    background-color: #fff;
    padding: 60px 113px;
    box-sizing: border-box;
}

.custom_join .member_tit{
    padding-bottom: 25px;
    border-bottom: 2px solid #111111;
}

.custom_join .member_tit:after{
    display: block;
    content: '';
    clear: both;
}

.custom_join .member_tit h2 {
    float: left;
    font-size: 23px;
    color: #292929;
    line-height: 1;
    margin: 0;
}

.custom_join .member_tit ol {
    float: right;
    line-height: 23px;
}

.custom_join .member_tit ol:after{
    display: block;
    content: '';
    clear: both;
}

.custom_join .member_tit ol li {
    float: left;
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 400;
}

.custom_join .member_tit ol li span.active{
    color: #373737;
    font-weight: 600;
}

.custom_join .member_tit ol li span .fas{
    margin-left: 5px;
    margin-right: 5px;
}


.custom_input_member{

}

.custom_input_member li{
    border-bottom: 1px solid #eaeaea;
    padding: 30px 0 26px;
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.input_element{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.sub_input{
    color: #646464;
    font-weight: normal;
}

.sub_input + div{
    margin-top: 20px;
}

.login_section .login_layer .input_element input{
    top: 0;
    margin: 0 15px 0 0;
    border-radius: 0;
    width: 15px;
    height: 15px;

}

.login_section .login_layer .input_element label{
    font-weight: 500;
    font-size: 13px;
    top: 0;
}

.login_section .login_layer .input_element label strong{
    margin-left: 10px;
}

.login_section .login_layer .input_element a{
    display: block;
    vertical-align: top;
    margin-left: 10px;
    border: 1px solid #dadada;
    padding: 0 5px;
    line-height: 18px;
    height: 18px;
    color: #8d8d8d;
    font-size: 10px;
    background: linear-gradient(180deg, #fdfdfd, #fafafa);
    text-decoration: none;
}
























