/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.hidden_label {
    display: block;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
    height: 100%;
}

#app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card_skin_select_modal{
    width: 100%;
    height: 100%;
}

.card_skin_select_modal .content{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;
}

.card_skin_select_modal .content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_skin_select_modal .content header button{
    background-color: transparent;
    color: #7f7f7f;
}

.card_skin_select_modal .select_content{
    display: flex;
    align-items: flex-start;
}

.card_skin_select_modal .select_content .left{
    width: 50%;
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
}

.card_skin_select_modal .select_content .left:before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    background-color: #ccc;
    height: 100%;
}

.card_skin_select_modal .skin_list_box{
    max-height: calc(100vh - 240px);
    overflow-y: auto;
}

.card_skin_select_modal .category_select ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.card_skin_select_modal .category_select ul li{
    cursor: pointer;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border:1px solid #ccc;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    font-size: 17px;
    margin: 0 10px;
}

.card_skin_select_modal .category_select ul li.active{
    background-color: #5b5b5b;
    color: #fff;
    border:1px solid #5b5b5b;
}

.card_skin_select_modal .skin_list_box ul{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_skin_select_modal .skin_list_box ul.active{
    display: flex;
}

.card_skin_select_modal .skin_list_box ul li{
    border:1px solid #bdbdbd;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 47.5%;
    margin-bottom: 20px;
    position: relative;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.card_skin_select_modal .skin_list_box ul li.active{
    background-color: #686868;
    border:1px solid #686868;
}


.card_skin_select_modal .skin_list_box ul li div{
    position: relative;
}

.card_skin_select_modal .skin_list_box ul li > div:before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.card_skin_select_modal .skin_list_box ul li img.out_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 100;
}

.card_skin_select_modal .skin_list_box ul li .in_img_box{
    position: absolute;
    left: 37.5%;
    top: 11%;
    height: 78%;
    width: 25%;
}

.card_skin_select_modal .skin_list_box ul li img.in_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card_skin_select_modal .skin_list_box ul li .search_icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 22px;
    height: 25px;
    color: #fff;
    display: none;
    z-index: 200;
}

.card_skin_select_modal .skin_ok_btn{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #c1c1c1;
    box-sizing: border-box;
    text-align: center;
}

.card_skin_select_modal .skin_ok_btn button{
    display: inline-block;
    color: #fff;
    background-color: #5b5b5b;
    height: 50px;
    width: 240px;
    border-radius: 25px;
}

.card_skin_select_modal .right{
    width: 50%;
    position: relative;
    display: block;
}

.modal_close_btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: none;
    z-index: 200;
}

.modal_close_btn button{
    color: #fff;
}

.card_skin_select_modal .right .image_box{
    text-align: center;
    position: relative;
}

.card_skin_select_modal .right .cover_box{
    display: inline-block;
    position: relative;
}

.card_skin_select_modal .right .cover_img{
    object-fit: contain;
}

/*.card_skin_select_modal .right .img_content{*/
/*    position: absolute;*/
/*    box-sizing: border-box;*/
/*    left: 50%;*/
/*    top:12.5%;*/
/*    width: 86.5%;*/
/*    max-height: 76%;*/
/*    height: 100%;*/
/*    transform: translateX(-50%);*/
/*    background-color: #fff;*/
/*    overflow-y: auto;*/
/*    -ms-overflow-style: none; !* IE and Edge *!*/
/*    scrollbar-width: none; !* Firefox *!*/
/*}*/

.card_skin_select_modal .right .img_content{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 11.8%;
    transform: translateX(-50%);
    width: 87%;
    height: 76.5%;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.card_skin_select_modal .right .img_content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.card_skin_select_modal .right .img_content img{
    display: block;
    width: 100%;
    height: auto;
}


@media screen and (max-width:799px) {
    .card_skin_select_modal .select_content .left{
        width: 100%;
        padding-right: 0;
    }
    .card_skin_select_modal .select_content .left:before{
        display: none;
    }

    .close_btn_box{
        display: none;
    }

    .card_skin_select_modal .right{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(0,0,0,0.5);
        display: none;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 1000;
    }

    .modal_close_btn{
        display: block;
    }

    .card_skin_select_modal .skin_list_box ul li .search_icon.active{
        display: block;
    }

    .card_skin_select_modal .right .image_box{
        padding-top: 3rem;
        height: 100%;
        box-sizing: border-box;
    }

    .card_skin_select_modal .right .cover_box{
        max-width: 350px;
        max-height: 704px;
        width: auto;
        height: 100%;
    }

    .card_skin_select_modal .right .cover_img{
        display: block;
        max-width: 350px;
        width: auto;
        height: 100%;
    }


}
