@charset "utf-8";

/**
* 1.0 - 마이페이지
* -----------------------------------------------------------------------------
*/
.top_layer .mypage_area {
    /*position: absolute;*/
    /*bottom: 17px;*/
    /*right: 0;*/
    /*float: right;*/
    display: inline-block;
    /*width: 100%;*/
    line-height: 1.4em;
    font-size: 19px;
    font-weight: 400;
    color: #999;
    text-align: right;
}
.table > tbody > tr > td .order {
    margin-top: 8px;
}
.table > tbody > tr > td .order a {
    text-decoration: underline;
    color: #329cff;
}
.table > tbody > tr > td .product {
    overflow: hidden;
}
.table > tbody > tr > td .product .thumbnail {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    background-color: #efefef;
}
.table > tbody > tr > td .product .info {
    float: left;
    margin-left: 10px;
    width: 200px;
}
.table > tbody > tr > td .product .info > li {
    margin-top: 7px;
    color: #999;
}
.table > tbody > tr > td .product .info > li:first-child {
    margin-top: 2px;
}
.table > tbody > tr > td .product .info > li.name {
    color: #000;
}
.table > tbody > tr > td .product .info > li.icon span {
    display: inline-block;
    margin-top: 0;
    padding: 3px 5px;
    font-family: dotum;
    font-size: 11px;
    color: #fff;
    background-color: #666;
}
.box_layer {
    padding-top: 20px;
    border-top: 2px solid #000;
}
.box_layer > ul {
    margin-top: -50px;
}

/**
* 2.0 - 고객센터
* -----------------------------------------------------------------------------
*/
.top_layer .cs_area {
    position: absolute;
    bottom: -132px;
    right: 0;
    width: 280px;
    text-align: right;
}
.section_layer.cs_section {
    position: relative;
    padding-top: 120px;
}
.section_layer.cs_section > .button_area {
    position: absolute;
    top: 32px;
    left: 0;
    width: 150px;
}

/**
* 3.0 - 회원정보, 회원탈퇴
* -----------------------------------------------------------------------------
*/
.my_page_member {
    margin-top: 50px;
}
.my_page_member .title_area {
    position: relative;
    padding-bottom: 13px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.my_page_member .title_area .explain {
    position: absolute;
    bottom: 13px;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
.my_page_member .help,
.my_page_member .msg,
.my_page_member .text_warning,
.my_page_member .text_pass {
    margin-top: 5px;
    line-height: 1.6em;
    font-size: 12px;
    color: #999;
}
.my_page_member .mypage_zone_tit {
    margin: 30px 0 10px;
    font-size: 14px;
    font-weight: bold;
}
.my_page_member .unregister_info {
    line-height: 1.5em;
}
.my_page_member.login_section,
.my_page_member.join_section {
    margin: 50px 0 0;
    padding: 0;
    width: 100%;
}
.my_page_member.login_section .login_layer,
.my_page_member.join_section .join_layer {
    margin: 0;
    padding: 0;
    border: 0;
}

/**
* 4.0 - 쿠폰
* -----------------------------------------------------------------------------
*/
.mypage_breakdown_tab {
    margin-top: 30px;
}
.mypage_breakdown_tab > ul > li {
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}
.mypage_breakdown_tab > ul > li:first-child {
    margin-left: 0;
}
.mypage_breakdown_tab > ul > li a {
    display: block;
    padding: 10px 30px;
    color: #999;
    border: 1px solid #ddd;
    background-color: #efefef;
}
.mypage_breakdown_tab > ul > li.on a {
    color: #fff;
    border-color: #000;
    background-color: #000;
}
.mypage_table_type .pick_list_day {
    display: block;
    margin: -10px 0 10px;
    font-size: 14px;
    text-align: right;
}
.mypage_table_type .mypage_coupon_name strong {
    display: inline-block;
}
.mypage_table_type .use_case_layer {
    margin-top: 20px;
}
.mypage_table_type .use_case_layer .use_case_list {
    margin-top: 10px;
}
.mypage_table_type .use_case_layer .use_case_list > dl {
    margin-top: 10px;
}
.mypage_table_type .use_case_layer .use_case_list > dl:first-child {
    margin-top: 0;
}
.mypage_table_type .use_case_layer .use_case_list > dl > dt {
    margin-bottom: 5px;
}
.mypage_table_type .use_case_layer .use_case_list > dl > dd {
    line-height: 1.3em;
    font-size: 12px;
}


/* 2020-06-29 새로 만든 마이페이지 css */

.my_page_content{
    display: block;
    margin-top: 50px;
    line-height: 18px;
}

.my_page_content .menu_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_page_content .menu_box a{
    display: block;
    width: 50%;
    background-color: #fff;
    padding: 15px 0;
    box-sizing: border-box;
    outline: none;
    border:1px solid #d2d2d2;
    text-align: center;
}

.my_page_content .menu_box a.active{
    border-top: 2px solid #000;
}

.my_page_content .menu_box a:last-child{
    border-left: none;
}

.my_page_content .menu_box a:focus{
    outline: none;
}

.my_page_content .content{
    display: none;
}

.my_page_content .content.active{
    display: block;
}


.mypage_table_upload table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.mypage_table_upload .td_left {
    text-align: left;
}

.mypage_table_upload td {
    padding: 42px 0;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    vertical-align: top;
}

.mypage_table_upload.self td{
    vertical-align: middle;
}

.mypage_table_upload .self_bar{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.mypage_table_upload .self_td{
    text-align: right;
}

.mypage_table_upload .pick_add_cont .pick_add_img {
    display: table-cell;
    width: 140px;
    padding-left: 30px;
    vertical-align: top;
}

.mypage_table_upload .pick_add_cont .pick_add_img img {
    width: 100%;
    height: auto;
    border: 0px solid #dbdbdb;
    vertical-align: middle;
}

.mypage_table_upload .pick_add_cont .pick_add_info {
    padding: 0 0 0 25px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}


.mypage_table_upload .pick_add_cont .pick_add_info .title {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.mypage_table_upload .pick_add_cont .pick_add_info > em {
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 300;
    display: block;
}

.mypage_table_upload .pick_add_cont .pick_add_info .title em{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.mypage_table_upload .pick_add_cont .pick_add_info .title span {
    display: block;
    margin-left: 10px;
    color: #fff;
    background-color: #ffb507;
    padding: 0 3px;
}

.mypage_table_upload .pick_add_cont .pick_add_info div {
    display: block;
    margin-top: 5px;
}

.mypage_table_upload .pick_add_cont .pick_add_info div > span {
    font-size: 12px;
    color: #10a6fc;
    font-weight: 400;
    margin-right: 10px;
    display: block;
}

.mypage_table_upload .pick_add_cont .pick_add_info div > .font {
    font-size: 12px;
    color: #ff4e14;
    font-weight: 600;
}



.mypage_table_upload .table_btn{
    margin: 0 5px;
    display: inline-block;
    padding-right: 60px;
    width: 180px;
    height: 54px;
    border: 2px solid #535353;
    background-color: #fff;
    font-size: 15px;
    color: #535353;
    font-weight: bold;
    line-height: 52px;
    box-sizing: border-box;
}

.mypage_table_upload .table_btn.disabled{
    border-color: #d8d8d8;
    color: #d8d8d8;
    pointer-events: none;
}

.mypage_table_upload .table_btn.active{
    border-color: #fc9e03;
    color: #fc9e03;
}

.mypage_table_upload .table_btn.upload_btn{
    background:  url(../img/icon/photo_off.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.upload_btn.disabled{
    background:  url(../img/icon/photo_modify.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.upload_btn.active{
    background:  url(../img/icon/photo_on.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.upload_btn.not{
    display: none;
}

.mypage_table_upload .table_btn.video_btn{
    background:  url(../img/icon/play_off.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.video_btn.disabled{
    background:  url(../img/icon/play_modify.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.video_btn.active{
    background:  url(../img/icon/play_on.png) 83% center no-repeat;
}

.mypage_table_upload .table_btn.video_btn.not{
    display: none;
}

.mypage_table_upload td .expiration_period {
    text-align: left;
    padding-left: 53px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
}

.mypage_table_upload div.c_button {
    border-left: 1px solid #ddd;
    padding-left: 30px;
}

.mypage_table_upload .btn_review_write {
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 2px;
    width: 85px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mypage_table_upload .payment_btn{
    width: 110px;
    height: 54px;
    color: #535353;
    font-weight: bold;
    line-height: 52px;
    display: block;
    border: 2px solid #535353;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.mypage_table_upload .payment_btn.disabled{
    border-color: #d8d8d8;
    color: #d8d8d8;
    pointer-events: none;
}

.mypage_table_upload .payment_btn.active{
    background-color: #535353;
    color: #fff;
}

.mypage_table_upload em {
    font-weight: 400;
    font-size: 12px;
    color: #9a9a9a;
}

.mypage_table_upload .code_btn a {
    background: none;
    border: 1px solid #434343;
    background-color: #434343;
    cursor: pointer;
}

.mypage_table_upload .code_btn a em {
    color: #fff;
}


/* 2020-07-01 새로 만든 마이페이지 카드 테이블 css */


.mypage_table_card{

}

.mypage_table_card table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    border-top: 2px solid #444444;
}

.mypage_table_card th {
    padding: 23px 0px;
    font-size: 12px;
    color: #292929;
    font-weight: 600;
    background: #fafafa;
    border-bottom: 1px solid #d6d6d6;
}

.mypage_table_card td {
    padding: 30px 0px;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 400;
    border-bottom: 1px solid #d6d6d6;
}

.mypage_table_card table td.order_day_num {
    border-bottom: 1px solid #d6d6d6;
    line-height: 22px;
}

.mypage_table_card .td_left {
    text-align: left;
}

.mypage_table_card .pick_add_cont {
    display: table;
    position: relative;
}

.mypage_table_card td > strong {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 400;
}

.mypage_table_card table td.order_day_num em {
    display: block;
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 300;
}

.mypage_table_card .order_num_link {
    font-size: 12px;
    color: #10a6fc;
    font-weight: 300;
}

.mypage_table_card .btn_mobile_make {
    width: 115px;
    height: 44px;
    line-height: 44px;
    border: 0;
    border-radius: 2px;
    background: #1f1f1f;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}


.mypage_table_card .btn_mobile_share {
    width: 115px;
    height: 44px;
    line-height: 44px;
    border: 0;
    border-radius: 2px;
    background: #aaa;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: block;
}

.mypage_table_card .btn_mobile_share.not {
    background: #e8e8e8;
    color: #fff;
}

.mypage_table_card .btn_review_write {
    display: inline-block;
    background: linear-gradient(180deg, #fdfdfd, #fafafa);
    border: 1px solid #dadada;
    border-radius: 2px;
    width: 85px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mypage_table_card  .btn_review_write em {
    font-weight: 400;
    font-size: 12px;
    color: #9a9a9a;
}




/* 2020-05-05 새로 만든 마이페이지 모바일 카드 css */


.my_card_purchase_box{
    margin-top: 20px;
    border-top: 2px solid #000;
}

.my_card_purchase_box ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdcdc;
}

.my_card_purchase_box ul li .left{
    display: flex;
    align-items: center;
}

.my_card_purchase_box ul li .pick_img{
    max-width: 70px;
}
.my_card_purchase_box ul li .pick_img a{
    display: inline-block;
    position: relative;
}

.my_card_purchase_box ul li .pick_img .out_img{
    display: block;
    width: 100%;
    height: auto;
}

.my_card_purchase_box ul li .pick_img a .in_img_box{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 11.8%;
    transform: translateX(-50%);
    width: 87%;
    height: 76.5%;
    background-color: #fff;
    /*z-index: 100;*/
}

.my_card_purchase_box ul li .pick_img a .in_img_box img{
    display: block;
    width: 100%;
    height: auto;
}


.my_card_purchase_box ul li .pick_info{
    margin-left: 100px;
}

.my_card_purchase_box ul li .pick_info .day{
    font-size: 12px;
    color: #aaaaaa;
}

.my_card_purchase_box ul li .pick_info .title{
    font-weight: bold;
    font-size: 13px;
    color: #7a7a7a;
    margin-top: 5px;
    margin-bottom: 8px;
}

.my_card_purchase_box ul li .pick_info .number{
    color: #fc9e03;
}

.my_card_purchase_box ul li .right{
    display: flex;
    align-items: flex-start;
}

.my_card_purchase_box ul li .card_btn_box{
    margin-right: 50px;
}

.my_card_purchase_box ul li .card_btn_box button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
    width: 150px;
    border:2px solid #535353;
    background-color: transparent;
    margin: 0 auto 10px;
}

.my_card_purchase_box ul li .card_btn_box button span{
    margin-right: 5px;
    font-weight: 500;
}

.my_card_purchase_box ul li .card_btn_box p{
    color: #585858;
    font-weight: bold;
}

.my_card_purchase_box ul li .card_btn_box p span{
    color: #ff5b27;
}

.my_card_purchase_box ul li .link_copy button{
    background-color: transparent;
    height: 50px;
    box-sizing: border-box;
    border:2px solid #fc9e03;
    width: 100px;
    color: #fc9e03;
}

.my_card_purchase_box ul li .link_copy button.not{
    pointer-events: none;
    color: #ccc;
    border:2px solid #ccc;
}


.custom_layer{
    width: 1330px;
}




.video_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

.video_modal .back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.video_modal .video_content{
    position: relative;
    z-index: 100;
    width: 100%;
}

.video_modal .video_content .btn_box{
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.video_modal .video_content .btn_box span{
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.video_modal .video_content .btn_box span.line1{
    transform: translate(-50% , -50%) rotate(45deg);
}

.video_modal .video_content .btn_box span.line2{
    transform: translate(-50% , -50%) rotate(-45deg);
}

.video_modal .video_content .video_box{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.video_modal .video_content .video_box:before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.video_modal .video_content .video_box video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
