@charset "utf-8";

/**
* 1.0 - 상단
* -----------------------------------------------------------------------------
*/
.order_wrap .order_tit {
    position: relative;
}
.order_wrap .order_tit > ol {
    position: absolute;
    top: -40px;
    right: 0;
    text-align: right;
}
.order_wrap .order_tit > ol > li {
    display: inline-block;
    font-size: 16px;
    color: #999;
}
.order_wrap .order_tit > ol > li.separate {
    margin: 0 10px;
    font-size: 14px;
}
.order_wrap .order_tit > ol > li.page_on {
    font-weight: bold;
    color: #000;
}
.order_wrap .order_zone_tit,
.order_wrap .mypage_zone_tit {
    margin: 30px 0 10px;
    font-size: 14px;
    font-weight: bold;
}
.order_wrap .order_zone_tit .js_pay_content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
.order_wrap .table > tbody > tr > td {
    line-height: 1.5em;
}
.order_wrap .no_data {
    display: block;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
    color: #777;
    border: 1px solid #ddd;
}

/**
* 2.0 - 장바구니 테이블
* -----------------------------------------------------------------------------
*/
.order_table_type .order_day_num .order_num_link {
    display: block;
    margin-top: 5px;
    text-decoration: underline;
    color: #fc9e03;
}
.order_table_type .order_day_num .btn_claim {
    margin-top: 10px;
}
.order_table_type .td_delivery {
    line-height: 1.3em;
    color: #999;
}
.order_table_type .pick_add_cont {
    box-sizing: border-box;
}
.order_table_type .pick_add_cont:after {
    content: '';
    display: block;
    clear: both;
}
.order_table_type .pick_add_cont .btn {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    background-color: #666;
}
.order_table_type .pick_add_cont .pick_add_img {
    display: block;
    float: left;
    width: 60px;
}
.order_table_type .pick_add_cont .pick_add_img img {
    border: 1px solid #dedede;
}
.order_table_type .pick_add_cont .pick_add_info {
    float: left;
    width: calc(100% - 60px);
    line-height: 1.4em;
}
.order_table_type .pick_add_cont .pick_add_info .pick_btn_box {
    margin-bottom: 5px;
}
.order_table_type .pick_add_list {
    margin-top: 10px;
    border-top: 1px dashed #ddd;
}
.order_table_type .pick_add_list .pick_add_cont {
    padding-top: 10px;
}
.order_table_type .pick_add_list .pick_add_cont .pick_add_plus {
    display: block;
    float: left;
    margin-right: 18px;
}
.order_table_type .pick_add_list .pick_add_cont .pick_add_plus:before {
    content: '└';
    margin-right: 3px;
}
.order_table_type .pick_add_list .pick_add_cont .pick_add_info {
    width: calc(100% - 120px);
}
.order_table_type .order_goods_num strong {
    display: block;
}
.order_table_type .order_goods_num .btn_gray_list {
    margin-top: 7px;
}

/**
* 3.0 - 하단
* -----------------------------------------------------------------------------
*/
.order_wrap .btn_left_box {
    margin-top: 20px;
}
.order_wrap .btn_left_box a {
    display: inline-block;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
.order_wrap .btn_left_box a i {
    margin-right: 3px;
    font-size: 10px;
}
.order_wrap .price_sum {
    margin-top: 20px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    text-align: right;
}
.order_wrap .price_sum .price_sum_list > dl,
.order_wrap .price_sum .price_sum_list > span {
    display: inline-block;
}
.order_wrap .price_sum .price_sum_list > dl > dt {
    color: #999;
}
.order_wrap .price_sum .price_sum_list > dl > dd {
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
}
.order_wrap .price_sum .price_sum_list > dl.price_total > dd {
    color: #fc9e03;
}
.order_wrap .price_sum .price_sum_list > span {
    position: relative;
    top: -2px;
    margin: 0 13px;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    background-color: #aaa;
}
.order_wrap .price_sum .price_sum_list > span.equal {
    background-color: #000;
}
.order_wrap .price_sum .tobe_mileage {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 16px;
    border-top: 1px dashed #ddd;
}
.order_wrap .btn_order_box {
    margin-top: 20px;
    overflow: hidden;
}
.order_wrap .btn_order_box > span {
    display: block;
}
.order_wrap .btn_order_box .btn_left_box,
.order_wrap .btn_order_box .btn_right_box {
    margin: 0;
    width: 50%;
}
.order_wrap .btn_order_box .btn_left_box {
    float: left;
    text-align: left;
}
.order_wrap .btn_order_box .btn_left_box .button {
    margin-right: 5px;
}
.order_wrap .btn_order_box .btn_right_box {
    float: right;
    text-align: right;
}
.order_wrap .btn_order_box .btn_right_box .button {
    margin-left: 5px;
}
.order_wrap .chk_none {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    text-align: right;
}
.order_wrap .chk_none i {
    position: relative;
    top: 1px;
    font-size: 16px;
    color: #000;
}

/**
* 4.0 - 주문하기
* -----------------------------------------------------------------------------
*/
.order_view_info .btn {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    background-color: #666;
}
.order_view_info .table > tbody > tr.total_price > th {
    font-weight: normal;
}
.order_view_info .table > tbody > tr.total_price > td {
    font-size: 16px;
}
.order_view_info .shipping_info_table .form_element ul.inline {
    
}
.order_view_info .address_postcode {
    margin-bottom: 5px;
}
.order_view_info .address_postcode .btn_post_search {
    display: inline-block;
    padding: 0 10px;
    height: 43px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: #666;
}
.order_view_info .order_money_use .form_element {
    margin-top: 5px;
}
.order_wrap .order_benefit_list > li {
    margin-top: 5px;
}
.order_wrap .order_benefit_list > li:first-child {
    margin-top: 0;
}
.order_wrap .payment_progress_list {
    border-top: 2px solid #000;
}
.order_wrap .payment_progress_list dl:after {
    content: '';
    display: block;
    clear: both;
}
.order_wrap .payment_progress_list dl > dt,
.order_wrap .payment_progress_list dl > dd {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.order_wrap .payment_progress_list dl > dt {
    font-size: 13px;
    background-color: #f9f9f9;
}
.order_wrap .pay_bankbook_box {
    margin-top: 20px;
    padding: 0 20px;
}
.order_wrap .pay_bankbook_box > ul {
    margin-top: 10px;    
}
.order_wrap .pay_bankbook_box > ul > li {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
}
.order_wrap .pay_bankbook_box > ul > li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.order_wrap .pay_bankbook_box > ul strong {
    display: inline-block;
    width: 60px;
    height: 43px;
    line-height: 43px;
}
.order_wrap .cash_tax_get {
    border-top: 1px solid #999;
}
.order_wrap .cash_tax_get dl:after {
    content: '';
    display: block;
    clear: both;
}
.order_wrap .cash_tax_get dl > dt,
.order_wrap .cash_tax_get dl > dd {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.order_wrap .cash_tax_get dl > dt {
    font-size: 13px;
    background-color: #f9f9f9;
}
.order_wrap .payment_progress_select > li {
    margin-left: 10px;
}
.order_wrap .payment_progress_select > li:first-child {
    margin-left: 0;
}
.order_wrap .payment_final_total dl {
    overflow: hidden;
}
.order_wrap .payment_final_total dl > dt,
.order_wrap .payment_final_total dl > dd {
    float: left;
    padding: 0 20px;
    height: 100px;
    line-height: 100px;
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.order_wrap .payment_final_total dl > dt {
    width: 180px;
    font-family: 'Noto Sans KR';
    background-color: #f9f9f9;
}
.order_wrap .payment_final_total dl > dd {
    width: calc(100% - 180px);
    font-family: 'Noto Sans KR';
    font-size: 18px;
    color: #fc9e03;
}
.order_wrap .payment_final_check {
    padding: 10px;
    font-size: 16px;
    text-align: right;
}
.order_wrap .payment_final .button_area {
    margin-top: 30px;
}
.order_wrap .addition_info input[type=text] {
    width: 100%;
}

/**
* 5.0 - 주문완료
* -----------------------------------------------------------------------------
*/
.order_end .order_end_completion {
    padding: 20px 0;
    text-align: center;
    background-color: #efefef;
}
.order_end .order_end_completion span {
    display: block;
    margin-bottom: 5px;
    font-size: 40px;
}
.order_end .order_end_completion p {
    display: block;
    line-height: 1.5em;
    font-size: 16px;
}
.order_end .button_area {
    margin-top: 30px;
}