@charset "utf-8";
/* CSS Document */
body {min-width:100%;}

/* 개인정보 수집항목 동의 */
.board_commen_agree{margin:10px 0 0 0; border-bottom:1px solid #dbdbdb;}
.board_commen_agree h5{font-size:12px;}
.board_commen_agree .form_element{display:block;}
.board_commen_agree textarea{display:inline-block; width:100%; margin:10px 0 0 0; padding:10px 10px 10px 10px;}
.board_commen_agree .agree_choice_box{padding:10px 0 10px 0; color:#777777; font-size:11px;}
.board_commen_agree .link_agree_go{font-size:11px; text-decoration:underline;}

/* 개인정보 수집항목 동의 */
.board_commen_agree{margin:0;}
.board_commen_agree h5{font-size:12px;}
.board_commen_agree textarea{display:inline-block; width:100%; margin:10px 0 0 0; padding:10px 10px 10px 10px;}
.board_commen_agree .textarea_box{display:inline-block; width:99%; height:120px; margin:10px 0 0 0; border:1px solid #d6d6d6; overflow-y:scroll;}
.board_commen_agree .textarea_txt{padding:10px 0 10px 15px; line-height:1.6em; font-size:12px; color:#a9a9a9;}
.board_commen_agree .form_element{display:block;}
.board_commen_agree .agree_choice_box{padding:5px 0 10px 0; color:#777777; font-size:11px;}
.board_commen_agree .link_agree_go{font-size:11px; text-decoration:underline;}
.board_commen_agree .entry_name_pw{padding:10px 0 0 0; border-top:1px dotted #cccccc;}
.board_commen_agree .entry_name_pw dl{display:inline-block; margin:0 30px 0 0; font-size:0;}
.board_commen_agree .entry_name_pw dt{display:inline-block; padding:0 10px 0 0; font-size:12px;}
.board_commen_agree .entry_name_pw dd{display:inline-block; font-size:12px;}
.board_commen_agree a{font-size:11px; text-decoration:underline;}

/* 자동등록방지 */
.capcha{display:table; margin:10px 0 10px 0;}
.capcha_img{display:table-cell; width:304px; height:106px; border:1px solid #d6d6d6; text-align:center; vertical-align:middle;}
.capcha_txt{display:table-cell; padding:0 0 0 20px;}
.capcha_txt p{margin:0 0 10px 0;}
.capcha_txt .btn_gray_list{display:block; margin:10px 0 0 0;}

/* ------------------------ 상품후기 쓰기, 상품문의 쓰기 ------------------------ */
.board_write_popup input[type=text].text,
.board_write_popup input[type=password].text {height:26px; line-height:26px;}
.board_write_popup .top_item_photo_info{overflow:hidden; padding:0 0 15px 0;}
.board_write_popup .item_photo_box{display:table-cell; float:left; position:relative; width:92px; text-align:center; vertical-align:middle; border:1px solid #ebebeb;}
.board_write_popup .item_photo_box img{width:92px; height:auto;}
.board_write_popup .item_info_box{float:left; width:490px; padding:0 0 0 15px;}
.board_write_popup .item_info_box h5{padding:0 0 5px 0; font-size:18px;}
.board_write_popup .item_info_box em{color:#a9a9a9;}

/*팝업 속성 */
.board_write_popup .ly_tit{padding:13px 15px 11px 15px;}
.board_write_popup .ly_tit h4{padding:0 30px 15px 0; font-size:18px; border-bottom:1px solid #999999;}
.board_write_popup .ly_cont{min-height:250px; padding:15px 15px 26px 15px;}

/* 글쓰기 */
.board_write_popup .board_write_box{margin:10px 10px 0 0; padding:0 0 10px 0; border-top:1px solid #dbdbdb;}
.board_write_popup .board_write_table{width:100%; margin:0 0 20px 0; border:0; border-spacing:0; border-collapse:collapse; /*border-top:1px solid #3c3c3c;*/}
.board_write_popup .board_write_table th{padding:13px 0 0 25px; font-weight:bold; border-bottom:1px solid #dbdbdb; background:#fbfbfb; text-align:left; vertical-align:top;}
.board_write_popup .board_write_table td{height:28px; margin:0; padding:7px 0 7px 15px; border-bottom:1px solid #dbdbdb; background:#ffffff;}
.board_write_popup .board_write_table td > input{width:312px;}

.board_write_popup .board_write_box .category_select select{width:150px;}
.board_write_popup .board_write_box .write_title{width:90%;}
.board_write_popup .board_write_box .wirte_editor .form_element{margin:0 0 5px 0;}
.board_write_popup .board_wirte_agree{margin:0 10px 0 0; padding:0 0 10px 0;}

.board_write_popup .board_write_box .rating_star_list{margin:6px 0 0 0;}
.board_write_popup .board_write_box .rating_star_list li{display:inline-block; margin:0 10px 0 0;}

.board_write_popup .button_area {margin-top:20px; margin-right:10px;}