@charset "utf-8";

/**
* Table of Contents:
*
* 1.0 - 상단 
* 2.0 - 갤러리
* -----------------------------------------------------------------------------
*/

/**
* 1.0 - 상단
* -----------------------------------------------------------------------------
*/
.top_layer:after {
    content: '';
    display: block;
    clear: both;
}
.top_layer ul.tab_area {
    float: left;
}
.top_layer ul.tab_area > li {
    position: relative;
    padding-bottom: 20px;
    font-size: 1.538em;
    box-sizing: border-box;
}
.top_layer ul.tab_area > li.separate {
    margin-left: 18px;
    margin-right: 18px;
}
.top_layer ul.tab_area > li .underline {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    font-size: 0;
    background-color: #000;
}
.top_layer ul.tab_area > li a {
    color: #bbb;
}
.top_layer ul.tab_area > li.on a {
    color: #000;
}
.top_layer ul.tab_area > li.on .underline {
    display: block;
}
.top_layer .select_area {
    float: right;
    width: 130px;
}

/**
* 2.0 - 갤러리
* -----------------------------------------------------------------------------
*/
.gallery_layer {
    position: relative;
    overflow: hidden;
}
.gallery_layer > li {
    float: left;
    margin-top: 50px;
    margin-right: 81px;
    width: calc(33.333% - 54px);
}
.gallery_layer > li:nth-of-type(3n) {
    margin-right: 0;
}
.gallery_layer > li .thumb {
    height: 183px;
    background-color: #efefef;
}
.gallery_layer > li .title {
    margin-top: 25px;
    font-size: 1.385em;
}
.gallery_layer > li .desc {
    margin-top: 10px;
    color: #999;
}
.gallery_layer > li .price {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 1.231em;
    border-top: 1px solid #ddd;
}
.gallery_layer > li .price .og {
    text-decoration: line-through;
    color: #666;
}
.gallery_layer > li .price .dc {
    font-weight: 700;
    color: #f6af00;
}