@charset "UTF-8";

.dn, .hidden {display:none;}
.c_red,.c-red, .c_point {color:#ab3e55;}
.c_blue,.c-blue {color:#1200ff;}

/* 팝업관련 */
.ly_pop {position:fixed; background:#ffffff; z-index:1001;}
.ly_head {position:relative; height:42px; padding:0 71px; z-index:10; background:#fff; border-bottom:1px solid #c3c3c3; text-align:center; line-height:45px}
.ly_head .h_tit {color:#333; font-size:15px}
.ly_ct {overflow:hidden; overflow-y:scroll; -webkit-overflow-scrolling:touch; }

/*** 회원로그인 | member/join_agreement.html & member/join.html ***/

/* 회원가입 스탭 */
.join_step {padding:10px 10px 10px 10px;}
.join_step ul {display:table; width:100%;}
.join_step ul li {position:relative; display:table-cell; padding:0 10px; font-size:14px; text-align:center; border:1px solid #d6d6d6; border-right:none; vertical-align:middle; line-height:1em; height:40px;}

/* 회원가입 스탭 OFF */
.join_step ul li:last-child {border-right:1px solid #d6d6d6;}
.join_step ul li::before {position:absolute; top:-1px; right:-1px; display:block; margin:0 -21px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#D6D6D6;}
.join_step ul li:last-child::before {display:none;}
.join_step ul li::after {position:absolute; top:-1px; right:-1px; display:block; margin:0 -20px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#ffffff;}
.join_step ul li:last-child::after {display:none;}

/* 회원가입 스탭 ON */
.join_step ul li.on {color:#ffffff; background:#3e3d3c; border:1px solid #3e3d3c; border-right:none;}
.join_step ul li.on::before {position:absolute; top:-1px; right:-1px; display:block; margin:0 -21px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#3e3d3c;}
.join_step ul li.on:last-child::before {display:none;}
.join_step ul li.on::after {position:absolute; top:-1px; right:-1px; display:block; margin:0 -20px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#3e3d3c;}
.join_step ul li.on:last-child::after {display:none;}

/* RADIO */
.inp_rdo {display:inline-block; padding:5px 0 5px 0;}
.inp_rdo input {display:inline-block; width:20px; height:20px; margin:-3px 5px 0 0; vertical-align:middle; background:url('../img/icon/icon_rad_chk.png') no-repeat center; background-size:100%; border:none;}
.inp_rdo input:checked {background:url('../img/icon/icon_rad_chk_on.png') no-repeat center; background-size:100%;}
.inp_rdo label {margin:0 15px 0 0;}

/* CHECK BOX */
.inp_chk input {display:inline-block; width:20px; height:20px; margin:-3px 5px 0 0; vertical-align:middle; background:url('../img/icon/icon_chk.gif') no-repeat center; background-size:100%; border:none;}
.inp_chk input:checked {background:url('../img/icon/icon_chk_on.gif') no-repeat center; background-size:100%;}
.inp_chk label {}

/* SELECT BOX */
.inp_sel{}
.inp_sel select{width:100%; height:31px; padding:0 33px 0 6px; background:#fff url('../img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px; font-size:13px; color:#333; border:1px solid #c3c3c3; box-sizing:border-box; vertical-align:1px;}

/*───────────────────────────────────────────────────────────

	 TABLE STYLE

───────────────────────────────────────────────────────────*/

/* 세금계산서 발행 */
.table_style0 {}
.table_style0 caption {display:none;}
.table_style0 tbody {}
.table_style0 tbody th {padding:8px 0 5px 0; font-size:14px; vertical-align:top;}
.table_style0 tbody td {padding:0 0 5px 0; font-size:14px;}

/* 예치금 테이블 */
.table_style1 {}
.table_style1 caption {display:none;}
.table_style1 th {padding:10px 10px 7px 10px; border-bottom:1px solid #e8e8e8; background:#f9f9f9; font-weight:normal; color:#5e5e5e; font-size:13px; text-align:center;}
.table_style1 td {padding:10px 10px 7px 10px; border-bottom:1px solid #e8e8e8; font-weight:bold; color:#5e5e5e; font-size:13px; text-align:center; word-break:keep-all;}

/* 배송지 등록 */
.table_style2 {}
.table_style2 caption {display:none;}
.table_style2 tbody {}
.table_style2 tbody th {padding:0 0 5px 0; font-size:14px; text-align:left; vertical-align:top;}
.table_style2 tbody td {padding:0 0 5px 0; font-size:14px;}

/* 지역별 배송비 레이어 정보*/
.table_style3 {}
.table_style3 caption {display:none;}
.table_style3 th {padding:8px 0 8px 0; text-align:center; border:1px solid #e8e8e8; border-left:none; background:#f9f9f9;}
.table_style3 td {padding:7px 0 7px 0; text-align:center; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8;}
.table_style3 th:last-child, .table_style3 td:last-child {border-right:none;}

/* 주문서 작성 */
.table_style4 {border-top:1px solid #e8e8e8;}
.table_style4 caption {display:none;}
.table_style4 th {width:82px; padding:10px 10px 7px 24px; border-bottom:1px solid #e8e8e8; background:#f9f9f9; font-weight:normal; color:#5e5e5e; font-size:13px; text-align:left;}
.table_style4 th.required {background:#f9f9f9 url('../img/icon/icon_squre_red.png') no-repeat 15px center;}
.table_style4 td {padding:10px 10px 7px 14px; border-bottom:1px solid #e8e8e8; color:#5e5e5e; font-size:12px; text-align:left; word-break:keep-all;}
.table_style4 .add_currency {color: #717171;}

/* Slider */
.slider-wrap {position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slider-wrap .slick-list {position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slider-wrap .slick-track,
.slider-wrap .slick-list { -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slider-wrap .slick-track {position: relative; top:0; left:0; display:block;}
.slider-wrap .slick-track:before,
.slider-wrap .slick-track:after {display: table; content: '';}
.slider-wrap .slick-track:after {clear: both;}
.slider-wrap .slick-loading .slick-track {visibility: hidden;}
.slider-wrap .slick-slide {display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slider-wrap .slick-slide img {display:block;}
.slider-wrap .slick-slide.slick-loading img {display:none;}
.slider-wrap .slick-slide.dragging img {pointer-events: none;}
.slider-wrap .slick-slide  {display: block;}
.slider-wrap .slick-loading .slick-slide {visibility: hidden;}
.slider-wrap .slick-vertical .slick-slide {display: block; height:auto; border:1px solid transparent;}
.slider-wrap .slick-arrow.slick-hidden {display: none;}
.slider-wrap .slick-arrow {border:none; background:none;}

/* 딤 팝업 배경*/
#layerDim {position:fixed; left:0; top:0; width:100%; height:100%; z-index:50; background:rgba(0,0,0,0.8);/*background:#000; opacity:0.5; filter:alpha(opacity=50);*/ }


/*───────────────────────────────────────────────────────────

	 리스트 타입 및 옵션 (장바구니,찜리스트,상품상세)

───────────────────────────────────────────────────────────*/


/*** 쿠폰 적용 레이어 | goods/layer_coupon_apply.php ***/
.layer_coupon_apply {position:relative; overflow:hidden; overflow-y:scroll; height:100%; background:#fff;}
.layer_coupon_apply .ly_content {overflow-x:hidden; overflow-y:auto; padding:0 15px 150px 15px;}
.layer_coupon_apply .ly_content .ly_coupon_list {}
.layer_coupon_apply .ly_content .ly_coupon_list dl {border-bottom:1px solid #cccccc; padding:15px 0 15px 0;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt {font-size:0;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt div {display:inline-block; font-size:12px;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt div.c_point { margin:0 10px 0 0; font-weight:bold;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dd {padding:10px 0 0 25px; color:#9d9d9d;}
.layer_coupon_apply .ly_content .no_data {padding:20px 0 20px 0; text-align:center;}
.layer_coupon_apply .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply .btn_box span {display:block; padding:10px;}

/*** 쿠폰 다운받기 레이어 | goods/layer_coupon_down.php ***/

.layer_coupon_down {}
.layer_coupon_down {position:relative; background:#fff;}
.layer_coupon_down .ly_content {padding:0; }
.layer_coupon_down .ly_content .coupondown {}
/* 쿠폰 다운받기 상단 */
.layer_coupon_down .ly_content .coupondown .my_info {}
.layer_coupon_down .ly_content .coupondown .my_info ul {display:table; width:100%; padding:2px 0 2px 0; border-top:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; background:#f2f3f3;}
.layer_coupon_down .ly_content .coupondown .my_info ul li {display:table-cell; width:50%; }
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(1) strong {display:inline-block; margin:0 0 0 10px; font-size:14px; line-height:36px;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(1) strong span {font-size:14px; color:#fa2828; font-weight:bold;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(2) {padding-bottom:5px; text-align:right;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(2) a {margin:0 10px 0 0;}
/* 쿠폰 다운받기 리스트 */
.layer_coupon_down .ly_content .coupon_down_list {padding:15px 15px 15px 15px;}
.layer_coupon_down .ly_content .coupon_down_list ul {}
.layer_coupon_down .ly_content .coupon_down_list ul li {display:table; width:100%; padding:10px 0 10px 0;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left {display:table-cell; width:80%; vertical-align:middle;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl {}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt {font-size:14px; font-weight:bold;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt strong {color:#fa2828;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dd {}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dd .chk_img {width:13px; margin:0 5px 0 0;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_right {display:table-cell; width:20%; text-align:center; vertical-align:middle;}
.layer_coupon_down .close_btn {position:absolute; top:0; right:0; z-index:100;}

/*** 옵션 선택 레이어 | goods/layer_option.php ***/

.layer_option {position:relative;}
.layer_option .js_option_scroll {overflow-y:auto;}
.layer_option .ly_buy_info {}
/* 팝업시 닫기 */
.layer_option .close_btn {position:absolute; top:0; right:0; z-index:100;}
/* 적용하기 위치 */
.layer_option .popup_dn {position:fixed; bottom:0; left:0; width:100%;}
.layer_option .popup_dn .btn_box2 {}
.layer_option .popup_dn .btn_box2 span {display:block; margin:10px 10px 10px 10px;}
/* 세로 스크롤 고정 */
.layer_option .ly_buy_info {padding:15px 15px 15px 15px;}
.layer_option .ly_buy_info .ly_opt .bn_opt {display:block; position:relative; width:100%; height:33px; border:1px solid #c7c7c7; font-size:13px; color:#777; text-align:left; text-indent:11px; z-index:100; background:#fff url('../img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px;}
.layer_option .ly_buy_info .ly_opt .bn_opt.selected { border:1px solid #999;}
.layer_option .ly_buy_info .ly_opt > li {margin-bottom:10px;}
.layer_option .ly_buy_info .ly_opt li .optbx {position:relative; margin:-1px 0 0 0; border:1px solid #999; z-index:1; background:#ffffff;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst {}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst .disabled {color:lightgray !important;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li {position:relative; min-height:42px; text-indent:10px; border-bottom:1px solid #c7c7c7; font-weight:bold; font-size:13px; color:#555; line-height:42px; vertical-align:middle;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li:last-child {border-bottom:none;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li > img {width:41px; height:41px;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li em {display:block; position:relative; padding:8px 0 7px; color:#555; word-break:break-all; z-index:30;}
/* 배송비 */
.layer_option .select_box_view {padding:15px 15px 15px 15px;}
.layer_option .select_box_view .bn_opt {display:block; position:relative; width:100%; height:33px; border:1px solid #c7c7c7; font-size:13px; color:#777; text-align:left; text-indent:11px; z-index:100; background:#fff url('../img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px;}
.layer_option .select_box_view .bn_opt.selected { border:1px solid #fa2828;}
.layer_option .select_box_view .optbx {position:relative; margin:-1px 0 0 0; border:1px solid #fa2828; z-index:1; background:#ffffff;}
.layer_option .select_box_view .optbx .optlst {}
.layer_option .select_box_view .optbx .optlst li {position:relative; min-height:42px; text-indent:10px; border-bottom:1px solid #c7c7c7; font-weight:bold; font-size:13px; color:#555; line-height:42px; vertical-align:middle;}
.layer_option .select_box_view .optbx .optlst li:last-child {border-bottom:none;}
.layer_option .select_box_view .optbx .optlst li > img {width:41px; height:41px;}
.layer_option .select_box_view .optbx .optlst li em {display:block; position:relative; padding:8px 0 7px; color:#555; word-break:break-all; z-index:30;}
/* 찜리스트 */
.layer_option .btn_wish_box {display:table; width:100%; padding:0 0 4px 0;}
.layer_option .btn_wish_box li {display:table-cell; width:50%;}
.layer_option .btn_wish_box li:nth-child(1) {padding:0 2px 0 0;}

/* 멀티옵션 */
.layer_option .ly_buy_info .ly_opt li.multi_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 싱글옵션 */
.layer_option .ly_buy_info .ly_opt li.singel_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 추가옵션 */
.layer_option .ly_buy_info .ly_opt li.add_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 텍스트 입력 필드 */
.layer_option .ly_buy_info .ly_opt li .option_input input {width:100%; height:34px; border:1px solid #c7c7c7; text-indent:10px; box-sizing:border-box;}
/* 총 합계 */
.total_price_box {padding:15px 15px 15px 15px; text-align:right; border-top:1px solid #3e3d3c;}
.total_price_box ul {display:inline-block;}
.total_price_box ul li {}
.total_price_box ul li dl {display:table; width:100%;}
.total_price_box ul li dl dt {display:table-cell; width:90px; font-size:13px; text-align:left; vertical-align:middle;}
.total_price_box ul li dl dd {display:table-cell; font-size:15px; font-weight:bold; text-align:right; vertical-align:middle;}
.total_price_box ul li.total dl dt {font-weight:bold;}
/* 팝업창일때 하단 버튼 간격 */
.popup_price {padding-bottom:65px;}
/* 옵션 선택 */
.view_order_goods {position:relative; padding:15px 15px 15px 15px; background:#f9f9f9; border-bottom:1px solid #c9c9c9;}
.view_order_goods:first-child {border-top:1px solid #c9c9c9;}
.view_order_goods dl {}
.view_order_goods dl dt {font-size:12px; font-weight:bold;}
.view_order_goods dl dd {}
.view_order_goods dl dd em {font-style:normal;}
.view_order_goods dl dd .price_info {display:table; width:100%;}
.view_order_goods dl dd .price_info .count {display:table-cell; width:50%;padding:5px 0 0 0; vertical-align:top;}
.view_order_goods dl dd .price_info .count button {vertical-align:middle;}
.view_order_goods dl dd .price_info .count input[type=number] {width:44px; height:34px; border:1px solid #c9c9c9; font-weight:bold; text-align:center; vertical-align:middle; box-sizing:border-box;}
.view_order_goods dl dd .price_info .right {display:table-cell; width:50%; text-align:right; vertical-align:middle;}
.view_order_goods dl dd .price_info .right .btn_wrap {padding:5px 0 0 0;}
.view_order_goods dl dd .price_info .right .btn_wrap ul {text-align:right;}
.view_order_goods dl dd .price_info .right .btn_wrap ul li {display:inline-block;}
.view_order_goods dl dd .price_info .right .price {padding:5px 0 0 0; font-size:15px; font-weight:bold; text-align:right;}

/* 추가상품 선택 */
.view_order_add_goods {position:relative; margin:15px 0 0 0; padding:5px 0 15px 0; background:#f9f9f9; border-bottom:1px solid #c9c9c9;}
.view_order_add_goods:first-child {border-top:1px solid #c9c9c9;}
.view_order_add_goods dl {}
.view_order_add_goods dl dt {font-size:12px; font-weight:bold; vertical-align:middle;}
.view_order_add_goods dl dt div {display:table-cell; vertical-align:middle;}
.view_order_add_goods dl dt div.addname {padding:0 0 0 5px;}
.view_order_add_goods dl dd {}
.view_order_add_goods dl dd em {font-style:normal;}
.view_order_add_goods dl dd .price_info {display:table; width:100%;}
.view_order_add_goods dl dd .price_info .count {display:table-cell; width:70%;padding:5px 0 0 0; vertical-align:top;}
.view_order_add_goods dl dd .price_info .count button {vertical-align:middle;}
.view_order_add_goods dl dd .price_info .count input[type=number] {width:44px; height:34px; border:1px solid #c9c9c9; font-weight:bold; text-align:center; vertical-align:middle; box-sizing:border-box;}
.view_order_add_goods dl dd .price_info .right {display:table-cell; width:30%; text-align:right; vertical-align:middle;}
.view_order_add_goods dl dd .price_info .right .btn_wrap {padding:5px 0 0 0;}
.view_order_add_goods dl dd .price_info .right .price {padding:5px 0 0 0; font-size:15px; font-weight:bold; text-align:right;}

/* 스크롤 고정 */
.scroll_vertical_fix::-webkit-scrollbar {width:4px;}
.scroll_vertical_fix::-webkit-scrollbar-thumb {width:4px; background-color:#a9a9a9;}
/* 기본 사이즈 */
.option_scroll {overflow-x:hidden; overflow-y:auto; min-height:200px;}
/* 쿠폰 취소 변경 */
.coupon_btn_box button {margin:2px 0 2px 0;}


/*** 배송지 관리 | mypage/layer_shipping_address_regist.html 주문 & 마이페이지 공통 ***/
.layer_shipping_address_regist {}
.layer_shipping_address_regist {position:relative; background:#fff;}
.layer_shipping_address_regist .ly_content {padding:15px 15px 15px 15px; }
.layer_shipping_address_regist .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_shipping_address_regist td input[type=text] {width:100%; height:36px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}
.layer_shipping_address_regist .zipcode_box .zipcode_top {position:relative; padding-right:70px;}
.layer_shipping_address_regist .zipcode_box .zipcode_top .zipcode_num {}
.layer_shipping_address_regist .zipcode_box .zipcode_top .zipcode_btn_box {position:absolute; top:0; right:0; width:66px;}
.layer_shipping_address_regist .zipcode_box input {margin:0 0 5px 0;}
.layer_shipping_address_regist .inp_chk_box {padding:10px 0 0 0;}
.layer_shipping_address_regist .btn_box {display:table; width:100%; padding:10px 0 0 0;}
.layer_shipping_address_regist .btn_box li {display:table-cell;}
.layer_shipping_address_regist .btn_box li:nth-child(1) {padding:0 2px 0 0;}
.layer_shipping_address_regist .btn_box li:nth-child(2) {padding:0 0 0 2px;}

/* 장바구니 이동 레이어 및 찜리스트 이동 레이어 */
.zidx310 {z-index:310 !important; }
.zidx320 {z-index:320 !important; }
.add_cart_layer, .add_wish_layer {position:fixed; top:50%; left:50%; z-index:311; width:307px; height:218px; margin:-96px 0 0 -153px; }
.add_cart_layer .wrap, .add_wish_layer .wrap {position:relative; height:216px; background:#fff; border:1px solid #ab3e55; }
.add_cart_layer p {margin:30px 0 0; padding:62px 0 0; background:url(../img/icon/icon_mcart.png) no-repeat center top; background-size:50px 42px; color:#000000; font-size:13px; line-height:22px; text-align:center; }
.add_wish_layer p {margin:30px 0 0; padding:62px 0 0; background:url(../img/icon/icon_mwish.png) no-repeat center top; background-size:50px 42px; color:#000000; font-size:13px; line-height:22px; text-align:center; }
.add_cart_layer .btn_box, .add_wish_layer .btn_box {margin:30px 10px 10px 10px; padding:0 !important; }
.add_cart_layer .btn, .add_wish_layer .btn {display:inline-block; width:138px; font-size:12px; overflow:hidden; height:42px; -webkit-box-sizing:border-box; font-weight:bold; font-style:normal; text-align:center; vertical-align:middle; line-height:36px; background:#ab3e55; color:#ffffff; border:1px solid #ab3e55; }
.add_cart_layer .btn_close, .add_wish_layer .btn_close {color:#ab3e55; background:#fff; margin-right:4px; }

/*** 미확인 입금자 리스트 (PC 동일 적용) | service/ghost_depositor.php ***/
.m_ghost_depositor.pc .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}
.ly_pop .m_ghost_depositor.pc .close_btn {display:block;}
.m_ghost_depositor.pc .lys_close_btn{background:url('../img/icon/icon_x5.png') no-repeat center; background-size:17px;}
.m_ghost_depositor.pc #ghost_depositor_cont .top_banner img{width:100%;}
.m_ghost_depositor.pc .datepicker_area{margin-top:10px; position:relative; z-index:1;}
.m_ghost_depositor.pc .datepicker_area > div:first-child{padding:0 15px;}
.m_ghost_depositor.pc .datepicker_area > div:first-child:after{content:''; display:block; clear:both;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div{float:right; width:48%;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div:first-child{float:left;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div strong{font-size:13px; color:#666666; display:block; margin-bottom:13px;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div input{width:100%; height:38px; border:1px solid #dbdbdb; color:#333333; text-indent:10px; box-sizing:border-box;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div:first-child input{background: url('../img/icon/icon_calendar.png') no-repeat right center; background-size:36px auto;}
.m_ghost_depositor.pc .datepicker_area > .piker_search_btn{margin:10px 0 0; text-align:center;}
.m_ghost_depositor.pc .datepicker_area > .piker_search_btn button{font-size:14px; font-weight:bold; color:#fff; width:120px; height:39px; border:none; position:relative; top:0; right:0; display:inline;}
.m_ghost_depositor.pc .ghost_depositor_table{margin-top:15px;}
.m_ghost_depositor.pc .ghost_depositor_table table{text-align:center; width:100%; table-layout:fixed;}
.m_ghost_depositor.pc .ghost_depositor_table table th{padding:8px 7px;}
.m_ghost_depositor.pc .ghost_depositor_table table th{font-size:12px; font-weight:bold; color:#808080; background:#fafafa; border-bottom:1px solid #f0f0f0; border-top:1px solid #e0e0e0;}
.m_ghost_depositor.pc .ghost_depositor_table table td{padding:10px 7px; word-break:break-all;}
.m_ghost_depositor.pc .ghost_depositor_more_btn{margin:10px 0 30px; padding:0 15px;}
.m_ghost_depositor.pc .ghost_depositor_more_btn .more_btn{font-size:14px; font-weight:bold; color:#666666; background:#f0f0f0; border-color:#e0e0e0;}
.m_ghost_depositor.pc .ghost_depositor_no_list{background:url('../img/icon/icon_ex.png') center 80px no-repeat; background-size:80px; padding-top:185px;}
.m_ghost_depositor.pc .ghost_depositor_no_list p{font-size:15px; font-weight:bold; color:#666666; text-align:center;}

/*** 미확인 입금자 리스트 (모바일 별도 적용) | service/ghost_depositor.php ***/
.m_ghost_depositor.mobile .ly_head{background:#54688f; border-bottom:#54688f 1px solid;}
.m_ghost_depositor.mobile .ly_head .h_tit{font-size:15px; font-weight:bold; color:#ffffff; line-height:42px;}
.m_ghost_depositor.mobile .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}
.ly_pop .m_ghost_depositor.mobile .close_btn {display:block;}
.m_ghost_depositor.mobile .lys_close_btn{background:url('../img/icon/icon_x6.png') no-repeat center; background-size:17px;}
.m_ghost_depositor.mobile .datepicker_area{padding:15px 0 0; background:#54688f; position:relative; z-index:1;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child{padding:0 21px;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div{margin-top:9px;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child{margin-top:0;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div input{font-size:14px; color:#333333; width:100%; height:38px; border:1px solid #dbdbdb; color:#333333; text-indent:10px; background-color:#ffffff; border-radius:5px; box-sizing:border-box;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child input{background-image:url('../img/icon/icon_calendar.png'); background-repeat:no-repeat; background-position:right center; background-size:36px auto;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div input::placeholder{color:#888888;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child input[type="date"]:not(.has-value):before{content: attr(placeholder); color:#888888;}
.m_ghost_depositor.mobile .datepicker_area > .piker_search_btn{margin:15px 0 0; text-align:center;}
.m_ghost_depositor.mobile .datepicker_area > .piker_search_btn button{font-size:15px; font-weight:bold; color:#fff; width:100%; height:45px; border:none; position:relative; top:0; right:0; display:inline; background:#39476b;}
.m_ghost_depositor.mobile .datepicker_area > .txt_infor{padding:12px 21px; background:#f9f9f9; border-bottom:#f0f0f0 1px solid; text-align:center;}
.m_ghost_depositor.mobile .ghost_depositor_li li{border-bottom:#f0f0f0 1px solid; padding:19px 30px;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div{margin-top:7px;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child{margin-top:0;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:after{content:''; display:block; clear:both;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div > p{font-size:12px; color:#333333; float:right; width:50%; text-align:right; line-height:1.3em; word-break:break-all;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div > p:first-child{float:left; width:40%; text-align:left;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child > p{font-size:16px; font-weight:bold; color:#54688f;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child > p:first-child{color:#333333;}
.m_ghost_depositor.mobile .ghost_depositor_more_btn{margin:10px 0 30px; padding:0 15px;}
.m_ghost_depositor.mobile .ghost_depositor_more_btn .more_btn{font-size:14px; font-weight:bold; color:#666666; background:#f0f0f0; border-color:#e0e0e0;}
.m_ghost_depositor.mobile .ghost_depositor_no_list{background:url('../img/icon/icon_ex.png') center 80px no-repeat; background-size:80px; padding-top:185px;}
.m_ghost_depositor.mobile .ghost_depositor_no_list p{font-size:15px; font-weight:bold; color:#666666; text-align:center;}

/*** 미확인 입금자 배너 이미지 ***/
.btn_ghost_depositor{display:block;}
.btn_ghost_depositor img{width:100%;}
.btn_ghost_depositor.type_pc{width:192px; margin:0 auto;}

/*** 주문취소 사유 레이어 ***/
.layer_wrap{position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.8); z-index:500;}
.layer_cont{width:306px; position:absolute; top:0; left:50%; margin:0 0 0 -153px; background:#fff; padding-bottom:9px;}
.layer_cont .tit h4{font-size:14px; font-weight:bold; color:#333333; text-align:center; line-height:40px; border-bottom:#e0e0e0 1px solid;}
.refund_detail_infor{background:#fafafa; padding:11px 15px; color:#333333; border-bottom:#f0f0f0 1px solid;}
.refund_detail_infor li:after{content:''; display:block; clear:both;}
.refund_detail_infor li > *{display:block; float:left;}
.refund_detail_infor li > strong{margin-right:4px;}
.refund_detail_infor li.gods_tit{max-height:36px; overflow:hidden;}
.refund_detail_infor li.gods_tit > strong{width:63px; margin-right:0;}
.refund_detail_infor li.gods_tit > span{width:210px;}
.refund_detail_txt{padding:12px 12px 0; overflow-y:auto; height:164px; }
.layer_cont .bot_btn{margin:20px 3.5% 0; width:93%;}
.layer_cont .bot_btn button{font-size:12px;}

/** 조건별 배송비 테이블 **/
.ly_dev_wrap .ly_btn_wrap{ padding:0 10px 0 10px;}
.ly_dev_wrap .ly_btn{display:table;margin:30px 0 0 0;border-collapse: collapse;width:100%;}
.ly_dev_wrap .ly_btn:first-child{margin:10px 0 0 0;}
.ly_dev_wrap .ly_btn .row{display:table-row;}
.ly_dev_wrap .ly_btn a{display: table-cell;width:50%;font-size:12px; color:#333; text-align:center;vertical-align:middle;border:1px solid #e7e7e7;box-sizing:border-box;padding:9px 10px 9px 10px;background-color:#f2f2f2;}
.ly_dev_wrap .ly_btn.three a{width:33.3px;}
.ly_dev_wrap .ly_btn a.on{position:relative;color:#fff;background-color:#2a2a2a;border:1px solid #2a2a2a;}
.ly_dev_wrap .tbl2 table{border-left:0; border-right:0;border-top:0;}
.ly_dev_wrap .tbl2 td{font-weight:normal;color:#222;padding:6px 10px 6px;}
.ly_dev_wrap .tbl2 tr:first-child td{border-top:0;}

/* 비회원 주문불가 안내 */
.cert_warning{width:100%;letter-spacing:-0.5px;padding:20px 30px 40px 30px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.cert_warning .cert_warning_wrap{ padding:105px 0 0 0;  background:url('../img/intro/blackout.png') no-repeat center top; background-size:95px auto;text-align:center;box-sizing:border-box;text-align:center;margin:15px 0 0 0;}
.cert_warning .cert_warning_wrap strong{font-size:13px;color:#333;}
.cert_warning .cert_warning_wrap p{display:block;font-size:12px;color:#333;padding:15px 15px 15px 15px;margin:20px 0 0 0;text-align:center;background-color:#f9f9f9;}
.cert_warning .cert_warning_wrap p span{display:block;}
.cert_warning .cert_warning_wrap p a{text-decoration:underline;font-weight:bold;}
.cert_warning .cert_warning_wrap > a{margin:30px 0 0 0;}

/* 14세 이상 동의 추가 */
.cert{background-color: #f9f9f9;border-top:1px solid #e8e8e8;text-align:center;overflow: hidden;}
.cert p{font-size:13px; color:#5e5e5e;margin:15px 0 13px 0;}
.cert .cert_btn{padding:0 10px 20px 10px;}
.cert .cert_btn ul{display:table; width:100%;}
.cert .cert_btn ul li{display:table-cell; padding:0 5px 0 5px;}
.cert .cert_btn ul li a{font-size:12px;padding: 7px 0 7px 0;}
