{*** 복수배송지 상품 선택 | order/delivery_goods_select.php ***}

<div class="layer_option js_layer_option ly_ct order">
    <div class="ly_head">
        <h1 class="h_tit">{=__('상품 선택')}</h1>
    </div>
    <div class="pay">
        <ul class="my_goods">
            <!--{ @ cartInfo }-->
            <!--{ @ .value_ }-->
            <!--{ @ ..value_ }-->
            <input type="hidden" name="cartSno[]" data-scm-no="{...scmNo}" data-delivery-sno="{...deliverySno}" value="{...sno}" />
            <li class="view_order_goods" data-parent-cart-sno="{...parentCartSno}" <!--{ ? ...equalGoodsNo !== true && (...goodsDeliveryFl == 'y' || (...goodsDeliveryFl == 'n' && ...sameGoodsDeliveryFl == 'y'))}-->style="margin-top:0;"<!--{ / }-->>
                <div class="info">
                    <a href="../goods/goods_view.php?goodsNo={=...goodsNo}">
                        <div class="goods_info">
                            <div class="itemhead">
                                <div class="thmb_box">
                                    <div class="thmb">
                                        {=...goodsImage}
                                        <!--{ ? ...timeSaleFl }-->
                                        <div class="timesale_box">
                                            <img src="../img/icon/icon_timesale.png" alt="{=__('타임세일')}">
                                            <span class="timetext">{=__('타임세일')}</span>
                                        </div>
                                        <!--{ / // food-story 타임세일}-->
                                    </div>
                                </div>
                            </div>
                            <div class="itembody">
                                <p class="name">{=...goodsNm}</p>
                                <!--{ ? ...orderPossible === 'n' }-->
                                <p>{=__('구매 불가')}: {=...orderPossibleMessage}</p>
                                <!--{ / }-->
                                <!--{ ? ...duplicationGoods === 'y' }-->
                                <p>{=__('중복 상품')}</p>
                                <!--{ / }-->
                                <!--{ @ ...option }-->
                                <!--{ ? ....optionName }-->
                                <p>
                                    {=....optionName} :
                                    {=....optionValue}
                                    <!--{ ? ((....index_ + 1) == ....size_) && ....optionPrice != 0 && optionPriceFl == 'y' }-->
                                    (<!--{ ? ....optionPrice > 0 }-->+<!--{ / }-->{=gd_global_currency_display(....optionPrice)})
                                    <!--{ / }-->
                                    <!--{ ? ((....index_ + 1) == ....size_) }-->
                                    <!--{ ? empty(....optionDeliveryStr) === false }-->[{....value_.optionDeliveryStr}]<!--{ / }-->
                                    <!--{ / }-->
                                </p>
                                <!--{ / }-->
                                <!--{ / }-->

                                <!--{ @ ...optionText }-->
                                <!--{ ? ....optionValue }-->
                                <p >
                                    {=....optionName} :
                                    {=....optionValue}
                                    <!--{ ? ....optionTextPrice != 0 && optionPriceFl == 'y' }-->
                                    (<!--{ ? ....optionTextPrice > 0 }-->+<!--{ / }-->{=gd_global_currency_display(....optionTextPrice)})
                                    <!--{ / }-->

                                </p>
                                <!--{ / }-->
                                <!--{ / }-->
                            </div>
                        </div>
                    </a>
                    <div class="price_info" style="display:table;">
                        <div style="float:right;">
                        <span class="count" style="display:table-cell; vertical-align: top;">
                            <button type="button" class="detail_down_btn down goods_cnt" title="{=__('감소')}">{=__('감소')}</button>
                            <input type="number" class="text goodsCnt_0" title="{=__('수량')}" name="goodsCnt[]" value="{=gd_isset(nowData['goods'][...goodsNo][...sno], 0)}" data-max-cnt="{=...goodsCnt - setData['goods'][...goodsNo][...sno]}" data-cart-sno="{...sno}" data-goods-no="{...goodsNo}" data-fixed-sales="{=...fixedSales}" data-fixed-order-cnt="{=...fixedOrderCnt}" data-min-order-cnt="{=...minOrderCnt}" data-goods-key="{=...goodsKey}" data-sales-unit="<!--{ ? ...fixedSales == 'option' }-->{...salesUnit}<!--{ : }-->1<!--{ / }-->" data-real-sales-unit="{...salesUnit}" data-goods-nm="{=gd_remove_only_tag(...goodsNm)}" data-option-nm="{=...optionNm}" data-parent-cart-sno="{...parentCartSno}" data-goods-delivery-fl="{...goodsDeliveryFl}" data-same-goods-delivery-fl="{...sameGoodsDeliveryFl}" style="vertical-align:bottom;">
                            <button type="button" class="detail_up_btn up goods_cnt" title="{=__('증가')}">{=__('증가')}</button>
                        </span>
                            <span class="quantity">&nbsp;/&nbsp;{=...goodsCnt - setData['goods'][...goodsNo][...sno]}</span>
                        </div>
                    </div>
                </div>
            </li>
            <!--{ ? empty(...addGoods) === false }-->
            <!--{ @ ...addGoods }-->
            <li class="view_order_goods" data-parent-cart-sno="{...parentCartSno}"style="margin-top:0;">
                <div class="info">
                    <div class="goods_info">
                        <div class="add_title" style="margin-bottom:10px;">추가상품</div>
                        <div class="itemhead">
                            <div class="thmb_box">
                                <div class="thmb">{=....addGoodsImage}</div>
                            </div>
                        </div>
                        <div class="itembody">
                            {=....addGoodsNm}
                            <!--{ ? ....optionNm }-->
                            <div>
                                {=__('옵션')}:{=....optionNm}
                            </div>
                            <!--{ / }-->
                        </div>
                    </div>
                    <div class="price_info">
                        <div style="float:right;">
                            <!--{ ? ....addGoodsMustFl == 'y' }--><span class="required-add-goods">({=__('필수')})</span> <!--{ / }-->
                            <span class="count">
                                <button type="button" class="detail_down_btn down goods_cnt" title="{=__('감소')}">{=__('감소')}</button>
                                <input type="number" class="text goodsCnt_0" title="{=__('수량')}" name="addGoodsCnt[]" value="{=gd_isset(nowData['addGoods'][....addGoodsNo][...sno], 0)}" data-max-cnt="{=....addGoodsCnt - setData['addGoods'][....addGoodsNo][...sno]}" data-cart-sno="{...sno}" data-parent-goods-no="{...goodsNo}" data-add-goods-no="{....addGoodsNo}" data-must-fl="{=....addGoodsMustFl}" data-sales-unit="1" data-real-sales-unit="1" data-goods-nm="{=gd_remove_only_tag(....addGoodsNm)}" style="vertical-align:bottom;">
                                <button type="button" class="detail_up_btn up goods_cnt" title="{=__('증가')}">{=__('증가')}</button>
                            </span>
                            <span class="quantity">&nbsp;/&nbsp;{=....addGoodsCnt - setData['addGoods'][....addGoodsNo][...sno]}</span>
                        </div>
                    </div>
                </div>
            </li>
            <!--{ / }-->
            <!--{ / }-->

            <!--{ ? deliveryBasicInfo }-->
            <!--{ ? (...goodsDeliveryFl == 'y' && ...sameGoodsDeliveryFl != 'y' && ...key_ == '0') || (...goodsDeliveryFl == 'n' && ...sameGoodsDeliveryFl == 'y' && ...equalGoodsNo === true) || (...goodsDeliveryFl == 'n' && ...sameGoodsDeliveryFl != 'y') }-->
            <!-- 배송방법 -->
            <div class="delivery_method" data-parent-cart-sno="{...parentCartSno}" style="width:96%; margin:10px auto;">
                <input type="hidden" name="multiShippingDeliveryMethodFl[]" value="{...goodsDeliveryMethodFl}" data-cart-sno="{...sno}" data-parent-cart-sno="{...parentCartSno}">
                <input type="hidden" name="multiShippingDeliveryCollectFl[]" value="{...deliveryCollectFl}" data-cart-sno="{...sno}" data-parent-cart-sno="{...parentCartSno}">
                <div class="select_box_view js_goods_delivery_methodFl">
                    <button type="button" class="bn_opt js_goods_delivery_methodFl_select">배송방식 : <!--{ ? ...goodsDeliveryMethodFl == 'etc'}-->{deliveryMethodEtc}<!--{ : }-->{deliveryBasicName[...goodsDeliveryMethodFl]}<!--{ / }--></button>
                    <div class="optbx" style="display:none;">
                        <div class="scroll">
                            <ul class="optlst">
                                <!--{ @ deliveryBasicInfo[...deliverySno]['deliveryMethodFl'] }-->
                                <li data-key="{....value_}">{deliveryBasicName[....value_]}</li>
                                <!--{ / }-->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="select_box_view js_goods_delivery">
                    <button type="button" class="bn_opt js_goods_delivery_select">{=__('배송비')} : {deliveryCollect[deliveryBasicInfo[...deliverySno]['collectFl']][...deliveryCollectFl]}</button>
                    <div class="optbx" style="display:none;">
                        <div class="scroll">
                            <ul class="optlst">
                                <!--{ @ deliveryCollect[deliveryBasicInfo[...deliverySno]['collectFl']] }-->
                                <li data-key="{=....key_}">{....value_}</li>
                                <!--{ / }-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 배송방법 -->
            <!--{ / }-->
            <!--{ / }-->
            <!--{ / }-->
            <!--{ / }-->
            <!--{ / }-->
        </ul>
    </div>
    <div style="height:120px;"></div>
    <div class="ly_buy_dn popup_dn">
        <div class="btn_box2">
            <span>
				<a class="detail_apply_btn shipping_save_btn">{=__('확인')}</a>
            </span>
        </div>
    </div>
    <div class="close_btn">
        <button type="button" class="lys_close_btn ly_btn_close">{=__('닫기')}</button>
    </div>
</div>

<script type="text/html" class="template" id="selectGoodsRow">
    <tr class="add-select-goods-tr" style="border-bottom:1px solid #C9C9C9;">
        <td style="padding:5px;">
            <ul>
                <li>
                    <div class="info"><div class="goods_info"><%=goodsInfo%><div class="delivery-info" data-parent-cart-sno="<%=parentCartSno%>"><%=deliveryInfo%></div></div></div>
                </li>
            </ul>
        </td>
        <td align="center" width="50"><%=goodsCnt%></td>
        <td align="center" width="50"><button type="button" data-cart-sno="<%=cartSno%>" data-goods-no="<%=goodsNo%>" data-parent-goods-no="<%=parentGoodsNo%>" data-must-fl="<%=mustFl%>" data-type="<%=goodsType%>" data-parent-cart-sno="<%=parentCartSno%>" class="detail_apply_del delete_goods" style="position:relative; top:0;"><span class="sp">삭제</span></button></td>
    </tr>
</script>
<style>
    .view_order_goods {width:96%; margin:auto; border:1px solid #C9C9C9; margin-top:10px; padding:1%;}
    .view_order_goods .add {vertical-align:middle;}
    .table_cell {display:table-cell;}
    .price_info {clear:both; width:100%; margin:1% auto 0; padding:1%; border-top:1px solid #C9C9C9;}
    .price_info .count input[type=number] {width: 44px; height: 34px; border: 1px solid #c9c9c9; font-weight: bold; text-align: center; vertical-align: middle; box-sizing: border-box;}
    .count {display:table-cell;}
    .price_info span.required_add_goods, .price_info span.quantity {display:table-cell; height:31px; line-height:31px;}
    .itemhead {padding-bottom:10px;}
</style>
<script type="text/javascript">
    var shippingNo = '{=gd_isset(shippingNo, 0)}';

    $(function(){
        $('.goods_cnt').click(function(){
            var $target = $(this).closest('span.count').find('input[type="number"]');
            var param = {
                nowCnt: parseInt($target.val()),
                maxCnt: parseInt($target.data('max-cnt')),
                salesUnit: parseInt($target.data('sales-unit'))
            }

            var mode = 'up';
            if ($(this).hasClass('down') === true) {
                mode = 'down';
            }

            var cnt = '';
            switch (mode) {
                case 'up':
                    if (param.nowCnt >= param.maxCnt) {
                        return;
                    }
                    cnt = param.nowCnt + param.salesUnit;
                    break;
                case 'down':
                    if (param.nowCnt <= 0) {
                        return;
                    }
                    cnt = param.nowCnt - param.salesUnit;
                    break;
            }
            $target.val(cnt);
        });

        $('input[name="goodsCnt[]"], input[name="addGoodsCnt[]"]').blur(function(){
            var param = {
                nowCnt: parseInt($(this).val()),
                maxCnt: parseInt($(this).data('max-cnt')),
                salesUnit: parseInt($(this).data('sales-unit'))
            }
            var goodsNm = $(this).data('goods-nm');
            if ($(this).data('option-nm')) {
                goodsNm += ' - ' + $(this).data('option-nm');
            }

            if (param.nowCnt > param.maxCnt) {
                alert(__('%1$s 구매수량(%2$s개)를 초과하였습니다.', ['[' + goodsNm + ']', param.maxCnt]));
                $(this).val(param.maxCnt);
            }
            if (param.nowCnt > 0 && param.nowCnt % param.salesUnit > 0) {
                alert(__('%1$s %2$s개 단위로 묶음 주문 상품입니다. 배송지 별로 묶음 주문 수량을 설정하셔야만 배송지 설정이 가능합니다.', ['[' + goodsNm + ']', param.salesUnit]));
                $(this).val(param.nowCnt - (param.nowCnt % param.salesUnit));
            }
        });

        $('.shipping_save_btn').click(function(){
            gd_get_delivery_charge('close');
        });

        $.each($('.delivery_method'), function () {
            var parentCartSno = $(this).data('parent-cart-sno');

            $(this).insertAfter('.view_order_goods[data-parent-cart-sno="' + parentCartSno + '"]:last');
        });

        $(".js_goods_delivery_select").on('click', function(e){
            if($(this).next('div').is(':hidden')) {
                $(this).addClass("selected");
                $(this).next('div.optbx').show();
            } else {
                $(this).removeClass("selected");
                $(this).next('div.optbx').hide();
            }
        });

        $(".js_goods_delivery  ul.optlst").on('click',"li:not(.disabled)", function(e){
            $(this).closest('div.delivery_method').find('input[name="multiShippingDeliveryCollectFl[]"]').val($(this).data('key'));
            $(this).closest('div.delivery_method').find(".js_goods_delivery_select").html(__('배송비') + ' : ' + $(this).html());
            $(this).closest('div.delivery_method').find(".js_goods_delivery_select").removeClass("selected");
            $(this).closest('div.delivery_method').find(".js_goods_delivery_select").next('div.optbx').hide();
        });

        //배송방식 관련 select box
        $(".js_goods_delivery_methodFl_select").on('click', function(e){
            if($(this).next('div').is(':hidden')) {
                $(this).addClass("selected");
                $(this).next('div.optbx').show();
            } else {
                $(this).removeClass("selected");
                $(this).next('div.optbx').hide();
            }
        });
        $(".js_goods_delivery_methodFl ul.optlst").on('click',"li:not(.disabled)", function(e){
            $(this).closest('div.delivery_method').find('input[name="multiShippingDeliveryMethodFl[]"]').val($(this).data('key'));
            $(this).closest('div.delivery_method').find(".js_goods_delivery_methodFl_select").html(__('배송방식') + ' : ' + $(this).html());
            $(this).closest('div.delivery_method').find(".js_goods_delivery_methodFl_select").removeClass("selected");
            $(this).closest('div.delivery_method').find(".js_goods_delivery_methodFl_select").next('div.optbx').hide();
        });
    });

    function gd_get_delivery_charge(mode) {
        var msg = '';
        var totalGoodsCnt = 0;
        var setData = [];
        var goodsCntData = [];
        var postSetData = [];

        $('#popupShippingGoodsSelect input[name="cartSno[]"]').each(function(index){
            var cartData = {
                sno: $(this).val(),
                scmNo: $(this).data('scm-no'),
                deliverySno: $(this).data('delivery-sno'),
                goodsInfo: '',
                goodsData: '',
                addGoodsTotalCnt: 0,
                addGoodsNo: [],
                addGoodsCnt: [],
                addGoodsInfo: [],
                addGoodsData: [],
            };

            $('input[name="goodsCnt[]"][data-cart-sno="' + cartData.sno + '"], input[name="addGoodsCnt[]"][data-cart-sno="' + cartData.sno + '"]').each(function(){
                var name = this.name;

                if (name == 'goodsCnt[]') {
                    var goodsKey = $(this).data('goods-key');
                    var parentCartSno = cartData.sno;
                    totalGoodsCnt += parseInt($(this).val());
                    if (goodsCntData[goodsKey]) {
                        goodsCntData[goodsKey] += parseInt($(this).val());
                    } else {
                        goodsCntData[goodsKey] = parseInt($(this).val());
                    }
                    if ($(this).attr('data-goods-delivery-fl') == 'y' || ($(this).attr('data-goods-delivery-fl') != 'y' && $(this).attr('data-same-goods-delivery-fl') == 'y')) {
                        parentCartSno = $(this).attr('data-parent-cart-sno');
                    }

                    cartData.goodsNo = $(this).data('goods-no');
                    cartData.goodsCnt = $(this).val();
                    cartData.goodsInfo = $(this).closest('.view_order_goods').find('.goods_info').html();
                    cartData.goodsData = $(this);
                    cartData.deliveryMethodFl = $('input[name="multiShippingDeliveryMethodFl[]"][data-cart-sno="' + parentCartSno + '"]').val();
                    cartData.deliveryCollectFl = $('input[name="multiShippingDeliveryCollectFl[]"][data-cart-sno="' + parentCartSno + '"]').val();
                    cartData.goodsDeliveryFl = $(this).attr('data-goods-delivery-fl');
                    cartData.sameGoodsDeliveryFl = $(this).attr('data-same-goods-delivery-fl');
                    cartData.visitAddressUseFl = $('.order-goods-layout[data-goodsno="' + cartData.goodsNo + '"]').find('.visit-address-use-fl').val();
                    cartData.deliveryMethodVisitArea = $('.order-goods-layout[data-goodsno="' + cartData.goodsNo + '"]').find('.delivery-method-visit-area').val();
                    cartData.parentCartSno = parentCartSno;
                } else {
                    cartData.addGoodsTotalCnt += parseInt($(this).val());
                    cartData.addGoodsNo.push($(this).data('add-goods-no'));
                    cartData.addGoodsCnt.push($(this).val());
                    cartData.addGoodsInfo.push($(this).closest('.view_order_goods').find('.goods_info').html());
                    cartData.addGoodsData.push($(this));

                    if (cartData.goodsCnt > 0) {
                        if ($(this).data('must-fl') == 'y' && $(this).val() <= 0) {
                            msg = __('추가상품이 필수 선택인 상품이 있습니다. 추가상품도 함께 선택하셔야 배송지 선택이 가능합니다.');
                        }
                    } else {
                        if ($(this).val() > 0) {
                            msg = __('추가상품만 단독으로 배송지 선택은 불가합니다.');
                        }
                    }
                }
            });
            setData.push(cartData);

            // goodsInfo, addGoodsInfo 데이터는 특수문자로 인해 json 디코딩을 방해하므로 값 삭제 (처리페이지에서 사용하지 않음)
            var postCartData = $.extend(true, {}, cartData);
            delete postCartData.goodsInfo;
            delete postCartData.addGoodsInfo;
            postSetData.push(postCartData);
        });

        if (mode == 'close') {
            $.each(goodsCntData, function(index, value){
                if (_.isUndefined(value)) return true;

                var $data = $('input[name="goodsCnt[]"][data-goods-key="' + index + '"]');
                var goodsNm = $data.data('goods-nm');
                if ($data.data('option-nm')) {
                    goodsNm += ' - ' + $data.data('option-nm');
                }

                if ($data.data('fixed-sales') == 'goods') {
                    if (value > 0 && value % $data.data('real-sales-unit') > 0) {
                        msg = __('%1$s %2$s개 단위로 묶음 주문 상품입니다. 배송지 별로 묶음 주문 수량을 설정하셔야만 배송지 설정이 가능합니다.', ['[' + goodsNm + ']', $data.data('real-sales-unit')]);
                        return false;
                    }
                } else {
                    $.each($data, function(){
                        if ($(this).val() > 0 && $(this).val() % $(this).data('sales-unit') > 0) {
                            msg = __('%1$s %2$s개 단위로 묶음 주문 상품입니다. 배송지 별로 묶음 주문 수량을 설정하셔야만 배송지 설정이 가능합니다.', ['[' + goodsNm + ']', $(this).data('sales-unit')]);
                            return false;
                        }
                    });
                }
                if ($data.data('fixed-order-cnt') == 'goods' || $data.data('fixed-order-cnt') == 'id') {
                    if (value > 0 && $data.data('min-order-cnt') > 1 && $data.data('min-order-cnt') > value) {
                        msg = __('%1$s 최소 %2$s개 이상 선택하셔야합니다.', ['[' + goodsNm + ']', $data.data('min-order-cnt')]);
                        return false;
                    }
                } else {
                    $.each($data, function(){
                        if ($(this).val() > 0 && $(this).data('min-order-cnt') > 1 && $(this).data('min-order-cnt') > $(this).val()) {
                            msg = __('%1$s 최소 %2$s개 이상 선택하셔야합니다.', ['[' + goodsNm + ']', $(this).data('min-order-cnt')]);
                        }
                    });
                }
            });
            if (msg) {
                alert(msg);
                return false;
            }
        }

        var data = JSON.stringify(setData);
        var cartAllSno = [];
        $('input[name="cartSno[]"]').each(function(idx){
            cartAllSno.push($(this).val());
        });
        // 실제 처리페이지에 보낼 값
        var postData = JSON.stringify(postSetData);

        $.ajax({
            method: "POST",
            url: "../order/cart_ps.php",
            data: {mode: 'multi_shipping_delivery', address:'{address}', selectGoods: data, cartAllSno: cartAllSno, useDeliveryInfo: 'y'}
        }).success(function (getData) {
            var deliveryCharge = 0;
            var deliveryAreaPrice = 0;
            if (mode == 'close') {
                if (totalGoodsCnt > 0) {
                    $('.select_goods:eq(' + shippingNo + ')').removeClass('dn').find('table').empty();

                    var parentCartSno = '';
                    setData.forEach(function (goodsEle, goodsIdx) {
                        if (goodsEle.goodsCnt > 0) {
                            var deliverInfo = '';
                            if (getData.deliveryInfo[goodsEle.sno]) {
                                deliverInfo += getData.deliveryInfo[goodsEle.sno]['goodsDeliveryMethod'];
                                deliverInfo += ' {=gd_global_currency_symbol()}<span class="shipping-delivery-price">' + gd_money_format(getData.deliveryInfo[goodsEle.sno]['deliveryPrice']) + '</span>{=gd_global_currency_string()}';
                                deliverInfo += ' (' + getData.deliveryInfo[goodsEle.sno]['deliveryMethodFl'] + '-' + getData.deliveryInfo[goodsEle.sno]['goodsDeliveryCollectFl'] + ')';
                                parentCartSno = goodsEle.sno;
                            }
                            var content = {
                                goodsInfo: goodsEle.goodsInfo,
                                goodsCnt: goodsEle.goodsCnt,
                                cartSno: goodsEle.sno,
                                goodsNo: goodsEle.goodsNo,
                                parentGoodsNo: 0,
                                mustFl: 'n',
                                goodsType: 'goods',
                                parentCartSno: parentCartSno,
                                deliveryInfo: deliverInfo
                            };
                            var compiled = _.template($('#selectGoodsRow').html());
                            compiled = compiled(content);
                            $('.select_goods:eq(' + shippingNo + ')').find('table').append(compiled);

                            goodsEle.addGoodsInfo.forEach(function (addGoodsInfo, addGoodsIdx) {
                                if (goodsEle.addGoodsCnt[addGoodsIdx] > 0) {
                                    var content = {
                                        goodsInfo: addGoodsInfo,
                                        goodsCnt: goodsEle.addGoodsCnt[addGoodsIdx],
                                        cartSno: goodsEle.sno,
                                        goodsNo: goodsEle.addGoodsNo[addGoodsIdx],
                                        parentGoodsNo: goodsEle.goodsNo,
                                        mustFl: $(goodsEle.addGoodsData[addGoodsIdx]).data('must-fl'),
                                        goodsType: 'addGoods',
                                        parentCartSno: parentCartSno,
                                        deliveryInfo: ''
                                    };

                                    var compiled = _.template($('#selectGoodsRow').html());
                                    compiled = compiled(content);
                                    $('.select_goods:eq(' + shippingNo + ')').find('table').append(compiled);
                                }
                            });
                        }
                    });

                    deliveryCharge = getData.deliveryCharge;
                    deliveryAreaPrice = getData.deliveryAreaPrice;
                    $('input[name="multiDelivery[' + shippingNo + ']"]').val(deliveryCharge);
                    $('input[name="selectGoods[' + shippingNo + ']"]').val(postData);
                } else {
                    $('.select_goods:eq(' + shippingNo + ')').addClass('dn');
                    $('input[name="multiDelivery[' + shippingNo + ']"]').val('');
                    $('input[name="selectGoods[' + shippingNo + ']"]').val('');
                    $('.select_goods:eq(' + shippingNo + ')').find('table').empty();
                }
                alert(__('배송비가 %s 추가되었습니다.', gd_money_format(deliveryCharge + deliveryAreaPrice)));
                gd_get_delivery_area_charge();
                gd_set_real_settle_price();
                var deliveryVisit = set_shipping_delivery_visit(shippingNo);
                set_shipping_btn(shippingNo, deliveryVisit);
                $('.lys_close_btn.ly_btn_close').trigger('click');
            } else {
                $('.delivery_price').html(gd_money_format(getData.deliveryCharge));
            }
        });
    }
</script>
