{*** 쇼핑몰 메인본문 | main/index.php ***}
{ # header }
<script src="../js/slider/slick/slick.js" type="text/javascript" charset="utf-8"></script>

<div class="main">
	<!-- 슬라이더 -->
	<div class="main_slide">
		<!--{=includeFile('proc/_slider_main.html')}-->
	</div>
	<div class="main_tit"><span>에일린 베스트 영상</span></div>
	<div class="best_slide">
		<!--{=includeFile('proc/_slider_best.html')}-->
	</div>
	<div class="main_tit"><span>에일린 소식</span></div>
	<div class="notice_slide">
		<!--{=includeFile('proc/_slider_notice.html')}-->
	</div>
</div>
{=includeWidget('proc/_populate.html', 'sno', '1')}
<!-- //main -->
{ # footer }