{*** 목록 | list.php ***}
<div class="section_layer">
    <ul class="webzine_layer">
		<!--{? bdList.list}-->
		<!--{ @ bdList.list }-->
		<li>
			<div class="thumbnail">
				<a href="javascript:gd_btn_view('{req.bdId}',{.sno} , '{.auth.view}')">
					<img src="{=gd_isset(.viewListImage, 'img/etc/noimg.png')}" width="{bdList.cfg.bdListImgWidth}" height="{bdList.cfg.bdListImgHeight}" class="js_image_load" />
				</a>
			</div>
			<div class="info">
				<div class="title">{.subject}</div>
				<div class="desc">{.subSubject}</div>
				<div class="period">{.eventStart} ~ {.eventEnd}</div>
				<div class="button_area">
					<ul class="one">
						<li>
							<a href="javascript:gd_btn_view('{req.bdId}',{.sno} , '{.auth.view}')" class="button orange border">자세히보기</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<!--{/}-->
		<!--{:}-->
		<li class="no_cont">{=__('게시글이 존재하지 않습니다.')}</li>
		<!--{/}-->
	</ul><!-- .gallery_layer -->
	<div class="pagination">
		{bdList.pagination}
	</div>
</div><!-- .section_layer -->