{*** 상세보기 | view.php ***}
<div class="section_layer">
    <div class="board_zone_view">
        <div class="board_view_tit">
            <h3>
                <!--{ ? bdView.cfg.bdCategoryFl == 'y' && bdView.data.category}-->
                <span class="text_orange">[{bdView.data.category}]</span>
                <!--{/}-->
                {bdView.data.subject}
            </h3>
        </div>
        <div class="board_view_info">
            <span class="view_info_idip">
                <strong>{bdView.data.writer}</strong>
                <!--{? bdView.cfg.bdIpFl == 'y'}--><em>(IP: {bdView.data.writerIp})</em><!--{ / }-->
            </span>
            <span class="separate">|</span>
            <span class="view_info_day">
                <em>{bdView.data.regDate}</em>
            </span>
            <span class="separate">|</span>
            <span class="view_info_hits">
                <strong>{=__('조회수')}</strong> {=bdView.data.hit}
            </span>
        </div>
        <!-- //board_view_info -->
    </div><!-- .board_zone_view -->
    <!--{? bdView.data.isFile == 'y'}-->
    <div class="board_view_attach">
        <strong>
            <img src="{bdView.cfg.iconImage.attach_file.url}" alt="{=__('파일첨부 있음')}" style="margin-right:5px;"/>
            {=__('첨부파일')}:
        </strong>
        <span class="attach_list">
            <!--{ @ bdView.data.uploadedFile}-->
            <a href="./download.php?bdId={=bdView.cfg.bdId}&sno={req.sno}&fid={=.fid}">{.name}</a>
            <!--{/}-->
        </span>
    </div>
    <!-- //board_view_attach -->
    <!--{/}-->
    <!--{? bdView.cfg.bdLinkFl == 'y' && bdView.data.urlLink}-->
    <div class="board_view_attach">
        <strong>링크: </strong>
        <span><a href="{=gd_isset(bdView.data.urlLink)}" target="_blank">{=bdView.data.urlLink}</a></span>
    </div>
    <!-- //board_view_link -->
    <!--{/}-->
    <div class="board_view_content">
        <div class="view_goods_select">
            <!--{? bdView.data.isViewGoodsInfo == 'y' }-->
            <div class="view_goods_select_item">
                <span class="view_select_item_img">
                    <a href="../goods/goods_view.php?goodsNo={bdView.data.goodsNo}" target="_blank">
                        <img src="{bdView.data.goodsData.goodsImageSrc}" >
                    </a>
                </span>
                <span class="view_select_item_info">
                    <em>{bdView.data.goodsData.goodsNm}</em>
                    <strong>
                        <span>{=__('판매금액')}:</span>
                        <!--{? bdView.data.goodsData.goodsPriceString}-->
                        {=bdView.data.goodsData.goodsPriceString}
                        <!--{:}-->
                        {=gd_global_currency_symbol()}{=gd_global_money_format(bdView.data.goodsData.goodsPrice)}{=gd_global_currency_string()}
                        <!--{/}-->
                    </strong>
                    <a href="../goods/goods_view.php?goodsNo={bdView.data.goodsNo}" target="_blank" class="link"><i class="xi-angle-right"></i></a>
                </span>
            </div>
            <!-- //view_goods_select_item -->
            <!--{/}-->
            <!--{? bdView.data.isViewOrderInfo == 'y'}-->
            <!--{@ bdView.data.extraData.arrOrderGoodsData}-->
            <div class="view_goods_select_item">
                <span class="view_select_item_img">
                    <a href="../goods/goods_view.php?goodsNo={.goodsNo}" target="_blank">
                        <img src="{.goodsImageSrc}" >
                    </a>
                </span>
                <span class="view_select_item_info">
                    <em>{.goodsNm}</em>
                    <strong>
                        <span>{=__('판매금액')}:</span>
                        {=gd_global_currency_symbol()}{=gd_global_money_format(.totalGoodsPrice)}{=gd_global_currency_string()}
                        <span class="text_type_cont">({.optionName})</span>
                    </strong>
                    <a href="../goods/goods_view.php?goodsNo={.goodsNo}" target="_blank" class="link"><i class="xi-angle-right"></i></a>
                </span>
            </div>
            <!-- //view_goods_select_item -->
            <!--{/}-->
            <!--{/}-->
        </div>
        <!-- //view_goods_select -->
		<div class="board_view_qa">
			<div class="view_question_box">
				<div class="seem_cont">
					{bdView.data.workedContents}
				</div>
				<!-- //seem_cont -->
			</div>
			<!--{ ? bdView.cfg.bdReplyStatusFl == 'y' && bdView.data.replyStatus>1 && bdView.data.workedAnswerContents}-->
			<div class="view_answer_box">
				<div class="seem_cont">
                    <div class="view_answer_info">
                        <strong>{bdView.data.answerSubject}</strong>
                        <span class="view_info_idip">
                            <strong>{bdView.data.answerManagerNm}</strong>
                        </span>
                        <span class="view_info_day">
                            <em>{bdView.data.answerModDt}</em>
                        </span>
                    </div>
					<div>{bdView.data.workedAnswerContents}</div>
				</div>
				<!-- //seem_cont -->
			</div>
			<!-- //view_answer_box -->
			<!--{/}-->
		</div>
		<!-- //board_view_qa -->
    </div>
    <!-- //board_view_content -->
    <div class="board_button_area button_area">
        <!--{? bdView.data.auth.delete : 'y' : 'c'}-->
        <button type="button" class="btn_board_del button gray" onclick="gd_btn_delete('{req.bdId}',{req.sno},'{bdView.data.auth.modify}')"><strong>{=__('삭제')}</strong></button>
        <!--{/}-->
        <!--{? bdView.data.auth.modify : 'y' : 'c'}-->
        <button type="button" class="btn_board_edit button gray" onclick="gd_btn_modify_write('{req.bdId}',{req.sno},'{bdView.data.auth.modify}')"><strong>{=__('수정')}</strong></button>
        <!--{/}-->
        <!--{? bdView.data.auth.reply == 'y'}-->
        <button type="button" class="btn_board_reply button orange" onclick="gd_btn_reply_write('{req.bdId}',{req.sno})"><strong>{=__('답글')}</strong></button>
        <!--{/}-->
        <!--{? bdView.cfg.auth.list == 'y'}-->
        <button type="button" class="btn_board_list button black" onclick="gd_btn_list('{req.bdId}')"><strong>{=__('목록')}</strong></button>
        <!--{/}-->
    </div>
    <div class="board_view_comment">
        <div class="view_comment js_comment_area" data-bdId="{req.bdId}" data-sno="{req.sno}">
            <!--{ ? bdView.cfg.bdMemoFl == 'y' || bdView.cfg.bdRecommendFl == 'y'}-->
            <div class="view_comment_top">
                <!--{ ? bdView.cfg.bdMemoFl == 'y' }-->
                <span class="comment_num"><strong class="text_orange">{=number_format(bdView.data.memoCnt)}</strong> 개의 댓글이 있습니다.</span>
                <!--{/}-->
                <!--{ ? bdView.cfg.bdGoodsPtFl == 'y'}-->
                <span class="rating_star_box">
                    <em>{=__('별점')}</em>
                    <span class="rating_star">
                        <span style="width:{(bdView.data.goodsPt)*20}%;">&nbsp;</span>
                    </span>
                </span>
                <!--{/}-->
                <!--{? bdView.cfg.bdRecommendFl == 'y' }-->
                <span id="recommendCount" class="comment_best_num">
                    {=__('추천')}: <strong class="text_orange">{=bdView.data.recommend}</strong>
                    <a href="javascript:gd_recommend('{req.bdId}',{req.sno})" class="btn_comment_best"><em>{=__('추천하기')}</em></a>
                </span>
                <!--{/}-->
            </div>
            <!-- //view_comment_top -->
            <!--{/}-->
            <!--{ ? bdView.cfg.bdMemoFl == 'y'}-->
                <!--{? bdView.cfg.auth.memo == 'y'}-->
            <div class="board_comment_box js_form_write">
                <div class="board_comment_write">
                    <!--{ ? gd_is_login() }-->
                    <div class="form_element">
                    <!--{ secretReplyCheck.replyWrite }-->
                    </div>
                    <div class="comment_textarea">
                        <textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
                        <span class="btn_comment_box button_area"><button type="button" class="btn_comment_ok js_comment_btn_write button orange"><em>{=__('확인')}</em></button></span>
                    </div>
                    <!--{:}-->
                    <div class="form_element">
                    <!--{ secretReplyCheck.replyWrite }-->
                    </div>
                    <div class="comment_textarea">
                        <textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
                        <span class="btn_comment_box button_area"><button type="button" class="btn_comment_ok js_comment_btn_write button orange"><em>{=__('확인')}</em></button></span>
                    </div>
                    <div class="comment_input">
                        <input type="text" name="writerNm" placeholder="{=__('이름')}" autocomplete="off" class="text">
                        <input type="password" name="password" placeholder="{=__('비밀번호')}" autocomplete="off" class="text">
                        <input type="checkbox" id="infoCollectionAgreeWrite" name="checkCollectAgree" class="checkbox">
                        <label for="infoCollectionAgreeWrite">({=__('비회원')}) {=__('개인정보 수집항목 동의')}</label>
                        <a href="javascript:void(0)" onclick="gd_redirect_collection_agree()" class="agree_total_btn text_orange">{=__('전체보기')}</a>
                    </div>
                    <!--{/}-->
                </div>
                <!-- //board_comment_write -->
            </div>
            <!-- //board_comment_box -->
                <!--{:}-->
            <div class="board_comment_box js_form_write">
                <div class="board_comment_write">
                    <!--{ ? gd_is_login() }-->
                    {=__('댓글 권한이 없습니다.')}
                    <!--{:}-->
                    {=__('로그인을 하셔야 댓글을 등록하실 수 있습니다.')}
                    <!--{/}-->
                </div>
            </div>
                <!--{/}-->
            <div class="view_comment_list">
                <ul>
                    <!--{ @ bdView.data.memoList}-->
                    <li data-memosno="{.sno}" data-memoauth="{.auth}" class="js_data_comment_row <!--{? .groupThread}-->comment_reply<!--{/}-->">
                        <div class="comment_name_area">
                            <div class="comment_name">{.writer}</div>
                            <div class="comment_cont">
                                <!--{? bdView.data.allReplyShow == 'y' }-->
                                <em>{.workedMemo}</em>
                                <!--{:}-->
                                <!--{? .isSecretReply == 'y' }-->
                                <!--{? .isShowSecretReply == 'y' }-->
                                <em>{.workedMemo}</em>
                                <!--{:}-->
                                <input type="hidden" name="secretReply" value="y">
                                <em class="js_comment_btn_secret"><img src="{bdListCfg.iconImage.secret.url}" align=absmiddle>{=secretReplyCheck.secretReplyTitle}</em>
                                <!--{/}-->
                                <!--{:}-->
                                <em>{.workedMemo}</em>
                                <!--{/}-->
                                <!--{/}-->
                                <div class="board_day_time">{.regDt}</div>
                            </div>
                        </div>
                        <div class="comment_btn_area">
                            <!--{?! .groupThread}-->
                            <span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_reply"><span>{=__('답글')}</span></button></span>
                            <!--{/}-->
                            <!--{? .auth : 'y' : 'c'}-->
                            <span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_modify"><span>{=__('수정')}</span></button></span>
                            <span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_delete"><span>{=__('삭제')}</span></button></span>
                            <!--{/}-->
                        </div>
                        <div class="board_comment_box js_action_form" style="display:none">
                            <div class="board_comment_write inner">
                                <!--{ ? gd_is_login() }-->
                                <div class="form_element">
                                <!--{ secretReplyCheck.replyModify }-->
                                </div>
                                <div class="comment_textarea">
                                    <textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
                                    <span class="btn_comment_box button_area"><button type="button" class="btn_comment_ok js_comment_btn_action button orange"><em>{=__('확인')}</em></button></span>
                                </div>
                                <!--{:}-->
                                <div class="form_element">
                                <!--{ secretReplyCheck.replyModify }-->
                                </div>
                                <div class="comment_textarea">
                                    <textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
                                    <span class="btn_comment_box button_area"><button type="button" class="btn_comment_ok js_comment_btn_action button orange"><em>{=__('확인')}</em></button></span>
                                </div>
                                <div class="comment_input">
                                    <input type="text" name="writerNm" placeholder="{=__('이름')}" autocomplete="off" class="text">
                                    <input type="password" name="password" placeholder="{=__('비밀번호')}" autocomplete="off" class="text">
                                    <input type="checkbox" id="infoCollectionAgreeAction" name="checkCollectAgree" class="checkbox">
                                    <label for="infoCollectionAgreeAction">({=__('비회원')}) {=__('개인정보 수집항목 동의')}</label>
                                    <a href="javascript:void(0)" onclick="gd_redirect_collection_agree()" class="agree_total_btn text_orange">{=__('전체보기')}</a>
                                </div>
                                <!--{/}-->
                            </div>
                            <!-- //board_comment_write -->
                        </div>
                        <!-- //board_comment_box -->
                    </li>
                    <!--{/}-->
                </ul>
            </div>
            <!-- //view_comment_list -->
            <!--{/}-->
        </div><!-- .view_comment -->
    </div>
<!-- //board_view_comment -->
</div><!-- .section_layer -->

<!-- 레이어 호출시 딤처리 -->
<div id="layerDim" class="dn">&nbsp;</div>
<!-- //레이어 호출시 딤처리 -->
<!-- 비밀글 클릭시 인증 레이어 -->
<div id="lyPassword" class="dn layer_wrap password_layer" style="height: 226px">
    <div class="layer_wrap_cont">
        <div class="ly_tit">
            <h4>{=__('비밀번호 인증')}</h4>
        </div>
        <div class="ly_cont">
            <div class="scroll_box">
                <p>{=__('글 작성시 설정한 비밀번호를 입력해 주세요.')}</p>
                <input type="password" name="writerPw" class="text">
            </div>
            <!-- // -->
            <div class="btn_center_box button_area">
                <button type="button" class="btn_ly_password js_submit button black"><strong>{=__('확인')}</strong></button>
            </div>
        </div>
        <!-- //ly_cont -->
        <a href="#close" class="ly_close layer_close"><i class="xi-close"></i></a>
    </div>
    <!-- //layer_wrap_cont -->
</div>
<!-- //layer_wrap -->
<script type="text/javascript" src="\{=c.PATH_SKIN}js/gd_board_view.js" charset="utf-8"></script>
