{*** [위젯] 마이페이지 요약정보 | mypage/_member_summary.html ***}
<div class="top_layer custom_layer">
    <ul class="tab_area inline">
        <li>
            <a href="my_video.php">
                <img src="../img/sub/menu_mypage18<!--{?gThisPageName == 'my_video.php' || gThisPageName == 'mypage_create_service.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="my_card.php">
                <img src="../img/sub/menu_mypage19<!--{?gThisPageName == 'my_card.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="order_list.php">
                <img src="../img/sub/menu_mypage12<!--{?gThisPageName == 'order_list.php' || gThisPageName == 'order_view.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="mypage_goods_qa.php">
                <img src="../img/sub/menu_mypage13<!--{?gThisPageName == 'mypage_goods_qa.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="mypage_goods_review.php">
                <img src="../img/sub/menu_mypage14<!--{?gThisPageName == 'mypage_goods_review.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="coupon.php">
                <img src="../img/sub/menu_mypage17<!--{?gThisPageName == 'coupon.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="my_page_password.php">
                <img src="../img/sub/menu_mypage15<!--{?gThisPageName == 'my_page.php' || gThisPageName == 'my_page_password.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
        <li class="separate"></li>
        <li>
            <a href="hack_out.php">
                <img src="../img/sub/menu_mypage16<!--{?gThisPageName == 'hack_out.php'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt=""/>
            </a>
        </li>
<!--        <li class="separate"></li>-->
<!--        <li class="mypage_area">-->
<!--            <span class="text_orange">{=gMemberInfo.memNm}</span>님의<br>마이페이지 입니다-->
<!--        </li>-->
    </ul><!-- .tab_area -->
<!--    <div class="mypage_area">-->
<!--        <span class="text_orange">{=gMemberInfo.memNm}</span>님의<br>마이페이지 입니다-->
<!--    </div>-->
</div><!-- .top_layer -->
