{*** 마이페이지 > 회원탈퇴 | mypage/hack_out.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/member.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->
        <div class="my_page_member join_section login_section">
            <form id="formHackOut" name="formHackOut" action="../mypage/my_page_ps.php" method="post">
                <input type="hidden" name="mode" value="hackOut"/>
                <input type="hidden" name="snsType" value="{=snsType}"/>
                <div class="hack_out join_layer login_layer">
                    <div class="title_area">
                        {=__('회원탈퇴')}
                    </div>
                    <div class="mypage_unregister">
                        <div class="mypage_zone_tit">
                            <h3>01.{=__('회원탈퇴 안내')}</h3>
                        </div>
    
                        <div class="unregister_info">
                            {=nl2br(hackOutGuideContent)}
                        </div>
                        <!-- //unregister_info -->
    
                        <div class="mypage_zone_tit">
                            <h3>02.{=__('회원탈퇴 하기')}</h3>
                        </div>
    
                        <div class="mypage_table_type">
                            <table class="table normal">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:85%;">
                                </colgroup>
                                <tbody>
                                <!--{ ? snsType != 'naver' }-->
                                <!--{ ? snsType != 'kakao' }-->
                                <tr>
                                    <th scope="row">{=__('비밀번호')}</th>
                                    <td><input type="password" name="memPw" class="text" style="width:300px;"></td>
                                </tr>
                                <!--{ / }-->
                                <!--{ / }-->
                                <tr>
                                    <th scope="row">{=__('탈퇴사유')}</th>
                                    <td>
                                        <div class="form_element">
                                            {reasonCodeRadio}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{=__('남기실 말씀')}</th>
                                    <td><textarea cols="30" rows="5"  name="reasonDesc" class="text" style="width:100%;"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //mypage_unregister -->
    
                </div>
                <!-- //hack_out -->
    
                <div class="btn_center_box button_area inline" style="margin-top:30px;">
                    <a href="#" class="btn_claim_cancel btn_prev button orange"><em>{=__('이전으로')}</em></a>
                    <button type="submit" class="btn_claim_ok button gray"><em>{=__('탈퇴')}</em></button>
                </div>
            </form>
        </div>
    </div><!-- .center_layer -->
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formHackOut').validate({
            rules: {
                memPw: "required",
                "reasonCd[]": "required"
            }, messages: {
                memPw: "{=__('비밀번호를 입력해주세요')}",
                "reasonCd[]": "{=__('탈퇴사유를 1개 이상 체크하여 주시기바랍니다.')}"
            },
            submitHandler: function (form) {
                var params = $(form).serializeArray();
                var mileage = "{memberData['mileage']}";
                if (confirm("{=__('현재 보유중인 회원혜택')} : {=__('쿠폰')} " + "{memberCouponCount}" + "{=__('장')} / {=__('마일리지')}" + mileage + " \n{=__('탈퇴 시 보유중인  회원혜택은 모두 삭제됩니다.')} {=__('정말로 탈퇴하시곘습니까?')}")) {
                    form.action = '../mypage/hack_out_ps.php';
                    form.target = 'ifrmProcess';
                    form.submit();
                }
            }
        });
    });
</script>
{ # footer }
