{*** 마이페이지 | mypage/index.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/order.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->


        <div class="my_page_content">
            <div class="menu_box">
                <a href="./index.php" class="btn1 active">
                    업로드 및 영상확인
                </a>
                <a href="./mypage_create_service.php" class="btn2">
                    제작서비스 신청고객 (업로드 및 영상확인)
                </a>
            </div>

            <div class="content list1 active">
                <div class="mypage_table_upload">
                    <table>
                        <colgroup>
                            <col>
                            <col style="width:480px">
                            <col style="width:150px">
                        </colgroup>
                        <tbody>
                        <!--{ @ data }-->
                        <tr>
                            <td class="td_left">
                                <div class="pick_add_cont">
                                    <span class="pick_add_img">
                                      <a href="../goods/goods_view.php?goodsNo={.goodsCd}">
                                        <!--{ ? .imageName != '' && .imagePath != '' }-->
                                          <img src="/data/goods/{.imagePath}{.imageName}" width="50" alt="{.goodsNm}" title="{.goodsNm}" class="middle" />
                                          <!--{ : }-->
                                          <img src="/data/commonimg/ico_noimg_75.gif" width="50" alt="{.goodsNm}" title="{.goodsNm}" class="middle" />
                                          <!--{ / }-->
                                      </a>

                                    </span>
                                    <div class="pick_add_info">
                                        <em>{=date("Y.m.d", strtotime(.regDt))}</em>
                                        <p class="title">
                                            <a href="../goods/goods_view.php?goodsNo={.goodsCd}"><em>{.goodsNm}</em></a>
                                            <!--{ ? .state == '0' }-->
                                            <span>제작대기</span>
                                            <!--{ : .state == '1'}-->
                                            <span>제작요청</span>
                                            <!--{ : .state == '2'}-->
                                            <span>제작중</span>
                                            <!--{ : .state == '3'}-->
                                            <span>제작완료</span>
                                            <!--{ : }-->
                                            <span>자동삭제</span>
                                            <!--{ / }-->
                                        </p>
                                        <div>
                                            <span class="pick_number">
                                                {.createNm}
                                                <!--{ ? .odNo }-->
                                                    ({.odNo})
                                                <!--{ / }-->
                                            </span>
                                            <!--{ ? .payment == '0' }-->
                                            <span class="font">*무료 이용중입니다.</span>
                                            <!--{ / }-->
                                        </div>
                                    </div>
                                </div>
                                <!-- //pick_add_info -->
                            </td>
                            <td>
                                <!--{ ? .state == '1' || .state == '2' }-->
                                    <a href="javascript:alert('영상 제작중엔 수정이 불가능 합니다.');" class="table_btn upload_btn">
                                <!--{ : }-->
                                    <!--{ ? .modifyCount == '2' }-->
                                        <a href="javascript:alert('수정가능 횟수가 초과되었습니다.');" class="table_btn upload_btn">
                                    <!--{ : }-->
                                        <a href="javascript:upload('{.goodsCd}', '{.createNm}');" class="table_btn upload_btn ok">
                                    <!--{ / }-->
                                <!--{ / }-->
                                    <span>영상 제작하기</span>
                                </a>

                                <!--{ ? .moviePath != '' && .payment > 0}-->
                                <div class="button download_btn">
                                    <a href="javascript:download('{.moviePath}');" download class="skinbtn point2  btn_review_write"><em>영상 다운로드</em></a>
                                </div>
                                <!--{ : }-->
                                    <!--{ ? .sianPath == '' }-->
                                    <button class="table_btn video_btn disabled">영상확인</button>
                                    <!--{ : }-->
                                    <input type="hidden" class="sianPath" value="{.sianPath}">
                                    <button class="table_btn video_btn">영상확인</button>
                                    <!--{ / }-->
                                <!--{ / }-->

                                <div class="expiration_period">{.expiration_period}</div>
                            </td>


                            <td>
                                <input type="hidden" class="code_state" value="{.state }">
                                <input type="hidden" class="createNm" value="{.createNm }">
                                <div class="c_button">
                                    <input type="hidden" class="goodsCd" value="{.goodsCd}">
                                    <a class="payment_btn disabled">결제진행</a>
                                </div>
                            </td>
                        </tr>
                        <!--{ / }-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content list2 ">
                Lorem ipsum dolor.
            </div>
        </div>

        <div class="pagination">
            {page->getPage()}
        </div>

    </div><!-- .center_layer -->
</section><!-- .section_container -->

<script>

    function download($path) {
        document.querySelector('#downloadForm .path').value = $path
        document.querySelector("#downloadForm").submit();
    }

    function upload(goodsNo, createNo) {
        var url = '/autorender/autorender_user.php';
        var myWindow = window.open('about:blank', 'autorender', 'width=1024,height=761,scrollbars=auto');

        $.post(url, { goodsNo: goodsNo, createNo: createNo }, function(data) {
            var $data = JSON.parse(data);
            if ($data['state'] == 'notlogin') {
                location.href = '/member/login.php';
            } else if ($data['state'] == 'error') {
                alert($data['msg']);
            } else if ($data['state'] == 'ok') {
                var $url = 'https://app.aileenstory.com/!/autorender/uploads/' + $data['no'] + '/' + $data['createNm'];
                myWindow.location = $url;
            } else {
                alert('알수 없는 오류가 발생했습니다. 다시 시도해 주세요.');
            }
        });
    }

</script>

{ # footer }
