{*** 마이페이지 | mypage/my_card.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/order.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->


        <div class="my_card_purchase_box">
            <ul>
                <!--{ @ data }-->
                <li>
                    <div class="left">
                        <div class="pick_img">
                            <a href="#">
                                <img src="../img/card/phone.png" alt="" class="out_img">
                                <div class="in_img_box">
                                    <!--{ ? .thumb }-->
                                        <img src="/{.thumb}" alt="" class="in_img">
                                    <!--{ : }-->
                                        <img src="../img/card/phone_img01.png" alt="" class="in_img">
                                    <!--{ / }-->
                                </div>
                            </a>
                        </div>
                        <div class="pick_info">
                            <div class="day">{=date("Y.m.d", strtotime(.regDt))}</div>
                            <div class="title">모바일 청첩장</div>
                            <div class="number">{.odno}<span>(주문번호)</span></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="card_btn_box">
                            <button class="btn-open-pop" data-order-no="{.odno}" data-no="#writeCardLayer" data-id="card" data-category="{.category}" data-skin="{.skin}">
                                <span>초대장관리</span>
                                <img src="../img/icon/photo_off.png" alt="">
                            </button>
                            <p>*초대장은 <span>150일</span>이후 자동 삭제됩니다.</p>
                        </div>
                        <div class="link_copy">
                            <!--{ ? .url!='' }-->
                            <button class="btn-open-pop" data-no="#linkCopy" data-link-url="https://app.aileenstory.com/{.url}">
                                청첩장 <br>
                                링크 복사하기
                            </button>
                            <!--{ : }-->
                            <button class="not">
                                청첩장 <br>
                                링크 복사하기
                            </button>
                            <!--{ / }-->
                        </div>
                    </div>
                </li>
                <!--{ / }-->
            </ul>

        </div>

        <div class="pagination">
            {page->getPage()}
        </div>

    </div><!-- .center_layer -->
</section><!-- .section_container -->
<input type="text" id="urlAddress" style="position:absolute;top:-9999em;">

<script type="text/javascript">
    const btnOpenPop = document.querySelectorAll('.btn-open-pop');
    console.log(btnOpenPop)
    btnOpenPop.forEach((e) => {
        e.addEventListener('click', (v) => {
            v.preventDefault()
            const target = v.currentTarget

            let bdId;
            let orderNo;
            let category;
            let skin;
            let linkUrl

            if (target.getAttribute('data-no') === '#writeCardLayer') {
                bdId = target.getAttribute('data-id');
                orderNo = target.getAttribute('data-order-no');
                category = target.getAttribute('data-category');
                skin = target.getAttribute('data-skin');

                if (category==1) {
                    category='wedding';
                } else if (category==2) {
                    category='baby';
                } else if (category==3) {
                    category='old';
                }
                openLayer(bdId, orderNo, category, skin);
            }

            if (target.getAttribute('data-no') === '#linkCopy') {
                linkUrl = target.getAttribute('data-link-url');
                copy_url(linkUrl);
            }
        })
    });

    function copy_url(trb) {
        var agent = navigator.userAgent.toLowerCase();
        if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
            window.clipboardData.setData("Text", trb);
            alert('URL 주소가 복사 되었습니다\n원하는 곳에 붙여넣기(Ctrl+V) 해주세요.');
        }else{
            var urlAddress= $('#urlAddress');
            urlAddress.val(trb);
            urlAddress.css('display','block').select();
            document.execCommand("Copy");
            urlAddress.css('display','none');
            alert('URL 주소가 복사 되었습니다\n원하는 곳에 붙여넣기(Ctrl+V) 해주세요.');
        }
    }

    function openLayer(bdId, orderNo, category, skin) {
        let url = "";
        const qs = "bdId="+bdId+"&orderNo="+orderNo+"&category="+category+"&skin="+skin;

        if (bdId === "card") {
            url = "../goods/goods_card_write.php?";
            window.open(url+qs, bdId, 'width=645,height=840,scrollbars=yes');
        }
     }
</script>

{ # footer }
