{*** 마이페이지 > 회원 비밀번호 검증 | mypage/my_page_password.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->
        <div class="my_page_member my_page_password">
            <div class="title_area">
                {=__('회원정보 변경')}
                <span class="explain"><i class="xi-check-circle important text_pink"></i>{messages['info']}</span>
            </div>
            <form id="formFind">
                <table class="table_left table no_header">
                    <colgroup>
                        <col style="width:15%;">
                        <col style="width:85%;">
                    </colgroup>
                    <tbody>
                        <!--{?usePayco}-->
                        <tr>
                            <th>{=__('페이코 로그인')}</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="button" class="btn_pw_certify js_btn_payco_login button small orange" data-payco-type="my_page_password"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{:useFacebook}-->
                        <tr>
                            <th>{=__('페이스북 로그인')}</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="button" class="btn_pw_certify js_btn_facebook_re_auth button small orange" data-sns-type="my_page_password" data-re-authentication-url="{=facebookReAuthenticationUrl}"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{:useNaver}-->
                        <tr>
                            <th>{=__('네이버 아이디 로그인')}</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="button" class="btn_pw_certify js_btn_naver_login button small orange" data-naver-type="{=naverType}"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{:useKakao}-->
                        <tr>
                            <th>{=__('카카오 아이디 로그인')}</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="button" data-return-url="../mypage/my_page.php" class="btn_pw_certify js_btn_kakao_login button small orange" data-kakao-type="{=kakaoType}"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{:useWonder}-->
                        <tr>
                            <th>{=__('원더 로그인')}</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="button" class="btn_pw_certify js_btn_wonder_login button small orange" data-wonder-url="{=wonderReturnUrl}" data-wonder-type="{=wonderType}"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{:}-->
                        <tr>
                            <th>{=__('아이디')}</th>
                            <td><strong>{data['memId']}</strong></td>
                        </tr>
                        <tr>
                            <th>{=__('비밀번호')}</th>
                            <td>
                                <div class="member_warning">
                                    <input type="password" name="findPassword" id="findPassword" class="text">
                                    <div class="text_warning help">
                                        {=__('비밀번호가 일치하지 않습니다.')}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>인증</th>
                            <td>
                                <div class="button_area inline left">
                                    <button type="submit" class="btn_pw_certify button small orange"><em>{=__('인증하기')}</em></button>
                                    <a href="#" onclick="return false;" class="btn_pw_cancel js_btn_back button small gray"><em>{=__('취소')}</em></a>
                                </div>
                            </td>
                        </tr>
                        <!--{/}-->
                    </tbody>
                </table>
            </form>
        </div>
        <!-- //my_page_password -->
    </div><!-- .center_layer -->
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.js_btn_back').click(function () {
            window.location.href = '../mypage/index.php';
        });

        $('#formFind').validate({
            dialog: false,
            rules: {
                findPassword: {
                    required: true
                }
            },
            messages: {
                findPassword: {
                    required: "{=__('패스워드를 입력해주세요')}"
                }
            }, submitHandler: function (form) {
                var $target = $(':password#findPassword', form);
                if (!_.isEmpty($target.val())) {
                    var $ajax = $.ajax('../mypage/my_page_ps.php', {
                        type: "post", data: {
                            memPw: $target.val(),
                            mode: "verifyPassword"
                        }
                    });
                    $ajax.done(function (data, textStatus, jqXHR) {
                        console.log('gd_member ajax', data, textStatus, jqXHR);
                        var code = data.code;
                        var message = data.message;
                        if (_.isUndefined(code) && _.isUndefined(message)) {
                            top.location.href = "../mypage/my_page.php";
                        } else {
                            $(form).find('.member_warning').addClass('prior_wrong');
                            $(form).find('.text_warning').text(message);
                        }
                    });
                }
            }
        });
    });
</script>
{ # footer }
