{*** 마이페이지 | mypage/mypage_create_service.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/order.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->


        <div class="my_page_content">
            <div class="menu_box">
                <a href="./my_video.php" class="btn1 ">
                    업로드 및 영상확인
                </a>
                <a href="./mypage_create_service.php" class="btn2 active">
                    제작서비스 신청고객 (업로드 및 영상확인)
                </a>
            </div>

            <div class="content list1 active">
                <div class="mypage_table_upload self">
                    <table>
                        <colgroup>
                            <col>
                            <col style="width:150px">
                            <col style="width:480px">
                        </colgroup>
                        <tbody>
                        <!--{ @ data }-->
                        <tr>
                            <td class="td_left">
                                <div class="pick_add_cont">
                                    <span class="pick_add_img">

                                        <!--{ ? .goodsType=='goods' }-->
                                            <a href="../goods/goods_view.php?goodsNo={.goodsNo}">
                                        <!--{ : }-->
                                            <a href="javascript:;">
                                        <!--{ / }-->
                                              <!--{ ? .imageName != '' && .imagePath != '' && .goodsType=='goods' }-->
                                                <img src="/data/goods/{.imagePath}{.imageName}" width="50" alt="{.goodsNm}" title="{.goodsNm}" class="middle" />
                                              <!--{ : }-->
                                                <img src="/data/commonimg/ico_noimg_75.gif" width="50" alt="{.goodsNm}" title="{.goodsNm}" class="middle" />
                                              <!--{ / }-->
                                        </a>
                                    </span>
                                    <div class="pick_add_info">
                                        <em>{=date("Y.m.d", strtotime(.regDt))}</em>
                                        <p class="title">
                                            <!--{ ? .goodsType=='goods' }-->
                                                <a href="../goods/goods_view.php?goodsNo={.goodsNo}">
                                            <!--{ : }-->
                                                <a href="javascript:;">
                                            <!--{ / }-->

                                                <em>{.goodsNm}</em>
                                            </a>
<!--                                            <span>제작대기</span>-->
                                        </p>
                                        <div>
                                            <span class="pick_number">
                                              <!--{ ? .orderNo }-->
                                                    {.orderNo}
                                                <!--{ / }-->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- //pick_add_info -->
                            </td>
                            <td>
                                <span class="self_bar">
                                    <!--{ ? .status==1 }-->
                                    * 제작요청
                                    <!--{ : .status==2 }-->
                                    * 제작중
                                    <!--{ : .status==3 }-->
                                    * 제작완료
                                    <!--{ : .status==5 }-->
                                    * 수정요청
                                    <!--{ : .status==6 }-->
                                    * 수정중
                                    <!--{ : .status==7 }-->
                                    * 수정완료
                                    <!--{ : .status==8 }-->
                                    * 시안확정
                                    <!--{ : .status==4 }-->
                                    * 자동삭제
                                    <!--{ : }-->
                                    * 준비중
                                    <!--{ / }-->
                                </span>
                            </td>
                            <td class="self_td">
                                <!--{ ? .orderStatus === 'p1' }-->
                                    <!--{ ? .status!=4 && .status!=8 }-->
                                        <a href="javascript:;" onclick="window.open('https://app.aileenstory.com/!/create/uploads/{.goodsType}/{.goodsNo}/{.orderNo}/{.sno}'); return false;" class="table_btn upload_btn">
                                            <span>업로드 진행</span>
                                        </a>
                                    <!--{ / }-->

                                    <!--{ ? .status==3 || .status==7 || .status==8 }-->
                                        <button class="table_btn video_btn" onclick="">영상확인</button>
                                    <!--{ / }-->

                                    <!--{ ? .status==8 }-->
                                        <button class="table_btn video_btn active" onclick="">영상다운로드</button>
                                    <!--{ / }-->
                                <!--{ / }-->
                            </td>

                        </tr>
                        <!--{ / }-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- .center_layer -->
</section><!-- .section_container -->

<script>


</script>

{ # footer }
