{*** 마이페이지 > 상품문의 | mypage/index.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/mypage.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 마이페이지 회원 요약정보 -->
        {=includeWidget('mypage/_member_summary.html')}
        <!--// 마이페이지 회원 요약정보 -->
        <iframe name="ifrmMyPage" src="../board/list.php?bdId={bdId}&noheader=y&memNo={memNo}" width='100%' height='100%' marginwidth='0' marginheight='0' frameborder='no' scrolling='no' onload='gd_resize_frame(this)' ></iframe>
    </div><!-- .center_layer -->
</section>
{ # footer }