{*** [위젯] 마이페이지 요약정보 | mypage/_member_summary.php ***}
<!--{ ? checkLogin != 'guest' }-->
<div class="member_summary">
	<!-- 등급 혜택 -->
	<div class="member_name">
        <strong>{=gMember.memNm}</strong>{=__('님 마이페이지 입니다.')}
	</div>

</div>
<!--{ / }-->
