{*** 마이페이지 | mypage/index.php ***}
{ # header }
<div class="mypage_index">
	<!-- 마이페이지 회원 요약정보 -->
	{=includeWidget('mypage/_member_summary.html')}
	<!--// 마이페이지 회원 요약정보 -->
	<div class="mypage_menu">
		<h3 class="tit">{=__('마이페이지')}</h3>
		<ul>
            <li><a href="my_video.php"><span>{=__('업로드 및 영상확인')}</span></a></li>
            <li><a href="order_list.php"><span>{=__('주문내역')}</span></a></li>
            <li><a href="my_card.php"><span>{=__('초대장 관리')}</span></a></li>
			<!--{ ? canGoodsQa }-->
			<li><a href="mypage_goods_qa.php"><span>{=__('나의 상품문의')}</span></a></li>
			<!--{/}-->
            <!--{ ? canGoodsReview }-->
            <li><a href="mypage_goods_review.php"><span>{=__('나의 상품후기')}</span></a></li>
            <!--{/}-->
            <!--{? gd_use_coupon()}-->
            <li><a href="coupon.php"><span>{=__('쿠폰')}</span></a></li>
            <!--{/}-->
			<!--{ ? plusReviewConfig.useFl == 'y' }-->
			<li><a href="../board/plus_review_article.php?isMypage=y"><span>{=__('나의 플러스리뷰')}</span></a></li>
			<!--{/}-->
			<li><a href="shipping.php"><span>{=__('배송지 관리')}</span></a></li>
            <li><a href="my_page_password.php"><span>{=__('회원정보 변경')}</span></a></li>
			<li><a href="hack_out.php"><span>{=__('회원 탈퇴')}</span></a></li>
		</ul>
	</div>
	
	
	
</div>
<!-- //mypage_index -->
{ # footer }
<script type="text/javascript">
	$(function(){
		$('.depth1_list > a').on({
			'click':function(e){
				e.preventDefault();
				var uldp = $(this).parent().find('ul').css('display')
				if(uldp == 'none'){
					$(this).parent().find('ul').slideDown();
					$(this).parent().addClass('on');
				}else{
					$(this).parent().find('ul').slideUp();
					$(this).parent().removeClass('on');
				}
			}
		});
	});
</script>
