{*** 마이페이지 | mypage/my_video.php ***}
{ # header }

<link href="../css/mypage/mypage.css" rel="stylesheet">


<section class="section_container">
    <div class="my_page_content">
        <div class="menu_box">
            <a href="./my_video.php" class="btn1 active">
                업로드 및 영상확인
            </a>
            <a href="./mypage_create_service.php" class="btn2 ">
                제작서비스 신청고객
            </a>
        </div>
        <div class="content_box">
            <ul>
                <!--{ @ data }-->
                <li>
                    <div class="top">
                        <div class="img_box">
                            <a href="../goods/goods_view.php?goodsNo={.goodsCd}">
                                <!--{ ? .imageName != '' && .imagePath != '' }-->
                                    <img src="/data/goods/{.imagePath}{.imageName}" alt="{.goodsNm}" title="{.goodsNm}" />
                                <!--{ : }-->
                                    <img src="/data/commonimg/ico_noimg_75.gif" alt="{.goodsNm}" title="{.goodsNm}" />
                                <!--{ / }-->
                            </a>
                        </div>
                        <div class="pick_info">
                            <div class="day">{=date("Y.m.d", strtotime(.regDt))}</div>
                            <div class="title">
                                {.goodsNm}
                                <!--{ ? .state == '0' }-->
                                <span>제작대기</span>
                                <!--{ : .state == '1'}-->
                                <span>제작요청</span>
                                <!--{ : .state == '2'}-->
                                <span>제작중</span>
                                <!--{ : .state == '3'}-->
                                <span>제작완료</span>
                                <!--{ : }-->
                                <span>자동삭제</span>
                                <!--{ / }-->
                            </div>
                            <div class="number">
                                {.createNm}
                                <!--{ ? .odNo }-->
                                ({.odNo})(주문번호)
                                <!--{ / }-->
                            </div>
                            <!--{ ? .payment == '0' }-->
                                <div class="txt">*무료이용중입니다.</div>
                            <!--{ / }-->
                        </div>
                    </div>
                    <div class="btm">
                        <div class="btn_box">
                            <!--{ ? .state == '1' || .state == '2' }-->
                            <button type="button" onclick="alert('영상 제작중엔 수정이 불가능 합니다.');" class="create_btn">
                            <!--{ : }-->
                                <!--{ ? .modifyCount == '2' }-->
                                <button type="button" onclick="alert('수정가능 횟수가 초과되었습니다.');" class="create_btn">
                                <!--{ : }-->
                                <button type="button" onclick="upload('{.goodsCd}', '{.createNm}');" class="create_btn ok">
                                <!--{ / }-->
                            <!--{ / }-->
                                <span>영상 제작하기</span>
                            </button>

                            <!--{ ? .moviePath != '' && .payment > 0 }-->
                            <button class="button download_btn" type="button" onclick="download('{.moviePath}');">
                                <span>영상 다운로드</span>
                            </button>
                            <!--{ : }-->
                                <!--{ ? .sianPath == '' }-->
                                    <button class="video_btn not">
                                    <!--{ : }-->
                                    <input type="hidden" class="sianPath" value="{.sianPath}">
                                    <button onclick="movieView();" data-movie="{.moviePath}" data-sian="{.sianPath}"  class="video_btn">
                                    <!--{ / }-->
                                    <span>영상 확인하기</span>
                                </button>
                            <!--{ / }-->
                            <span class="bar"></span>
                            <!--{ ? .state == '3' && .payment == 0}-->
                                <button class="payment_btn ok">
                            <!--{ : }-->
                                <button class="payment_btn disabled">
                            <!--{ / }-->
                                <input type="hidden" class="code_state" value="{.state }">
                                <input type="hidden" class="createNm" value="{.createNm }">
                                <input type="hidden" class="goodsCd" value="{.goodsCd}">
                                <!--{ ? .state == '3' && .payment == 0}-->
                                    <span>결제하기</span>
                                <!--{ : }-->
                                    <span>결제하기</span>
                                <!--{ / }-->
                            </button>
                        </div>
                        <p>*{.expiration_period}</p>
                    </div>
                </li>
                <!--{ / }-->
<!--                <li>-->
<!--                    <div class="top">-->
<!--                        <div class="img_box">-->
<!--                            <img src="" alt="">-->
<!--                        </div>-->
<!--                        <div class="pick_info">-->
<!--                            <div class="day">2020.08.05</div>-->
<!--                            <div class="title">널 생각해</div>-->
<!--                            <div class="number">1254512<span>(주문번호)</span></div>-->
<!--                            <div class="txt">*무료이용중입니다.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="btm">-->
<!--                        <div class="btn_box">-->
<!--                            <button class="create_btn ok">-->
<!--                                <span>영상 제작하기</span>-->
<!--                            </button>-->
<!--                            <button class="video_btn not">-->
<!--                                <span>영상 확인하기</span>-->
<!--                            </button>-->
<!--                            <span class="bar"></span>-->
<!--                            <button class="payment_btn ok">-->
<!--                                <span>결제하기</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <p>*파일 보관 기간 <span>00일</span> 이후 삭제됩니다.</p>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="top">-->
<!--                        <div class="img_box">-->
<!--                            <img src="" alt="">-->
<!--                        </div>-->
<!--                        <div class="pick_info">-->
<!--                            <div class="day">2020.08.05</div>-->
<!--                            <div class="title">널 생각해</div>-->
<!--                            <div class="number">1254512<span>(주문번호)</span></div>-->
<!--                            <div class="txt">*무료이용중입니다.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="btm">-->
<!--                        <div class="btn_box">-->
<!--                            <button class="photo_btn">-->
<!--                                <span>사진업로드</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <p>*파일 보관 기간 <span>00일</span> 이후 삭제됩니다.</p>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>

        <div class="pagination">
            {page->getPage()}
        </div>

    </div>



    <form id="downloadForm" method="post" action="http://app.aileenstory.com/api/down.php">
        <input type="hidden" name="auth" value="{=auth_.auth}">
        <input type="hidden" name="auth_time" value="{=auth_.auth_time}">
        <input type="hidden" name="path" class="path" value="">
    </form>

    <div class="video_modal">
        <div class="video_content">
            <div class="btn_box" onclick="videoClose();">
                <span class="line1"></span>
                <span class="line2"></span>
            </div>
            <div class="video_box">
                <video playsinline oncontextmenu="return">
                    <source src="" type="">
                </video>
            </div>

        </div>
        <div class="back" onclick="videoClose();"></div>
    </div>
</section>


<script>

    function download($path) {
        document.querySelector('#downloadForm .path').value = $path
        document.querySelector("#downloadForm").submit();
    }

    function upload(goodsNo, createNo) {
        var url = '/autorender/autorender_user.php';
        var myWindow = window.open('about:blank', 'autorender');

        $.post(url, { goodsNo: goodsNo, createNo: createNo }, function(data) {
            var $data = JSON.parse(data);
            if ($data['state'] == 'notlogin') {
                location.href = '/member/login.php';
            } else if ($data['state'] == 'error') {
                alert($data['msg']);
            } else if ($data['state'] == 'ok') {
                var $url = 'https://app.aileenstory.com/!/autorender/uploads/' + $data['no'] + '/' + $data['createNm'];
                myWindow.location = $url;
            } else {
                alert('알수 없는 오류가 발생했습니다. 다시 시도해 주세요.');
            }
        });
    }

    // 결제 진행 코드
    var paymentBtn = document.querySelectorAll('.my_page_content .payment_btn');
    var codeState = document.querySelectorAll('.my_page_content .code_state');
    var createNm = document.querySelectorAll('.my_page_content .createNm');
    var goodsCd = document.querySelectorAll('.my_page_content .goodsCd');

    Array.prototype.slice.call(paymentBtn).forEach( function(e , i) {
        e.addEventListener('click' , function(){
            if (codeState[i].value == 3) {
                location.href = '../goods/goods_view.php?goodsNo='+goodsCd[i].value+'&createNm='+createNm[i].value;
                return;
            } else {
                alert('시안영상 제작 후 결제진행이 가능합니다.')
                return
            }
        })
    });


    function movieView(){
        const movie = $(event.target).data('movie');
        const sian = $(event.target).data('sian');

        document.querySelector('.video_modal').style.display = 'flex';
        const video = document.querySelector('.video_modal .video_box video');
        const video_source = document.querySelector('.video_modal .video_box video source');

        if (movie !== '') {
            video_source.src = 'https://app.aileenstory.com'+movie;
        } else {
            video_source.src = 'https://app.aileenstory.com'+sian;
        }

        video.load();
        video.play();
    }

    function videoClose() {
        document.querySelector('.video_modal').style.display = 'none';
        document.querySelector('.video_modal .video_box video').pause();
    }

</script>

{ # footer }
