{*** 마이페이지 | mypage/mypage_create_service.php ***}
{ # header }

<link href="../css/mypage/mypage.css" rel="stylesheet">


<section class="section_container">
    <div class="my_page_content">
        <div class="menu_box">
            <a href="./my_video.php" class="btn1 ">
                업로드 및 영상확인
            </a>
            <a href="./mypage_create_service.php" class="btn2 active">
                제작서비스 신청고객
            </a>
        </div>
        <div class="content_box">
            <ul>
                <!--{ @ data }-->
                <li>
                    <div class="top">
                        <div class="img_box">
                            <a href="../goods/goods_view.php?goodsNo={.goodsCd}">
                                <!--{ ? .imageName != '' && .imagePath != '' }-->
                                <img src="/data/goods/{.imagePath}{.imageName}" alt="{.goodsNm}" title="{.goodsNm}" />
                                <!--{ : }-->
                                <img src="/data/commonimg/ico_noimg_75.gif" alt="{.goodsNm}" title="{.goodsNm}" />
                                <!--{ / }-->
                            </a>
                        </div>
                        <div class="pick_info">
                            <div class="day">{=date("Y.m.d", strtotime(.regDt))}</div>
                            <div class="title"> {.goodsNm}</div>
                            <div class="number">{.orderNo}<span>(주문번호)</span></div>
                            <div class="txt">
                                <!--{ ? .status==1 }-->
                                * 제작요청
                                <!--{ : .status==2 }-->
                                * 제작중
                                <!--{ : .status==3 }-->
                                * 제작완료
                                <!--{ : .status==5 }-->
                                * 수정요청
                                <!--{ : .status==6 }-->
                                * 수정중
                                <!--{ : .status==7 }-->
                                * 수정완료
                                <!--{ : .status==8 }-->
                                * 시안확정
                                <!--{ : .status==4 }-->
                                * 자동삭제
                                <!--{ : }-->
                                * 준비중
                                <!--{ / }-->
                            </div>
                        </div>
                    </div>
                    <div class="btm">
                        <div class="btn_box">
                            <!--{ ? .orderStatus === 'p1' }-->
                            <!--{ ? .status!=4 && .status!=8 }-->
                            <button href="javascript:;" onclick="window.open('https://app.aileenstory.com/!/create/uploads/{.goodsType}/{.goodsNo}/{.orderNo}/{.sno}', '사진올리기', 'width=1024, height=761, toolbar=no, menubar=no, scrollbars=yes, resizable=yes'); return false;" class="photo_btn">
                                <span>업로드 진행</span>
                            </button>
                            <!--{ / }-->

                            <!--{ ? .status==3 || .status==7 || .status==8 }-->
                            <button class="video_btn" onclick="">영상확인</button>
                            <!--{ / }-->

                            <!--{ ? .status==8 }-->
                            <button class="button download_btn" type="button" onclick="download('{.moviePath}');">영상다운로드</button>
                            <!--{ / }-->
                            <!--{ / }-->

                        </div>

                    </div>
                </li>
                <!--{ / }-->
            </ul>
        </div>

        <div class="pagination">
            {page->getPage()}
        </div>

    </div>
</section>



{ # footer }
