@charset "utf-8";

/*** 상품이동형 | goods/list/list_04.html ***/
.goods_prd_item4_li {position:relative; width:100%; overflow:hidden; vertical-align:top;}
.goods_prd_item4 {display:table-cell;}
.goods_prd_item4 .goods_prd_item4_box {padding:15px 5px 15px 5px;}
.goods_prd_item4 .goods_prd_img {width:100%; padding-bottom:10px; vertical-align:top;}
.goods_prd_item4 .goods_prd_img .img_box {position:relative;}
.goods_prd_item4 .goods_prd_img .img_box .img {font-size:0; line-height:0;}
.goods_prd_item4 .goods_prd_img .img_box .img img {width:100%; border:1px solid #e5e5e5; box-sizing:border-box;}
.goods_prd_item4 .goods_prd_content {vertical-align:top;}
.goods_prd_item4 .goods_prd_content a {}
.goods_prd_item4 .goods_prd_content .goods_prd_icon {font-size:16px;}
.goods_prd_item4 .goods_prd_content .goods_prd_soldout {padding:2px 0 2px 0;}
.goods_prd_item4 .goods_prd_content .goods_prd_soldout img {height:18px;}
.goods_prd_item4 .goods_prd_content .goods_info_list {}
.goods_prd_item4 .goods_prd_content .goods_info_list li {padding:1px 0 1px 0; word-break:break-all; color:#3e3d3c; font-size:14px;}

/* 브랜드명 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.brand_name {font-weight:bold; color:#999999;}
/* 제조사 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.maker_name {font-weight:bold; color:#999999;}
/* 짧은설명 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.short_des {font-weight:bold; color:#999999;}
/* 마일리지 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.list_mileage {font-weight:bold; color:#999999;}
/* 모델번호 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.model_no {font-weight:bold; color:#999999;}
/* 상품코드 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.prd_code {font-weight:bold; color:#999999;}
/* 판매가격 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.price {font-weight:bold;}
/* 정가 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.fixed_price {text-decoration:line-through;}
/* 쿠폰 가격 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.coupon_price .coupon_price1 {font-weight:bold; color:#f39618;}
/* 할인 가격 */ .goods_prd_item4 .goods_prd_content .goods_info_list li.dc_price{font-weight:bold; color:#f39618;}

/* 타임 세일(기본가) */ .goods_prd_item4 .goods_prd_content .goods_info_list li.price .c_price {color:#f39618;}
/* 타임 세일(적용가) */ .goods_prd_item4 .goods_prd_content .goods_info_list li.price .c_price .ori_price {color:#f39618; text-decoration:line-through;}
/* 타임 세일(남은기간) */ .goods_prd_item4 .goods_prd_content .goods_info_list li.price .c_price .time_sale_text {color:#3e3d3c; font-size:11px;}

.goods_prd_item4 .soldout_img {position:absolute; top:0; left:0; display:block; font-size:0; width:100%; height:100%; z-index:10; background-size:100%; background-position:center; background-repeat:no-repeat;}
.goods_prd_item4 .timesale_img {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; background:rgba(0,0,0,.5); z-index:10; color:#ffffff; font-size:12px; text-align:center; box-sizing:border-box;}
.goods_prd_item4 .timesale_img img {width:15px; margin:0 3px 0 0; vertical-align:top;}
.goods_prd_item4 .coupon_img {position:absolute; top:0; right:0; z-index:1;}
.goods_prd_item4 .coupon_img img {width:34px;}
.goods_prd_item4 .add_currency {color:#717171; font-size:12px; font-weight:normal; text-align:right;}

/* 이전, 다음 버튼 */
.goods_prd_item4_li .prev {
	position: absolute;
	top: 45%;
	left: 10px;
	display: block;
	right: auto;
	width: 15px;
	height: 26px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	-webkit-transform: translate(0, -45%);
	-ms-transform: translate(0, -45%);
	transform: translate(0, -45%);
	cursor: pointer;
	z-index: 10;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23848484'%2F%3E%3C%2Fsvg%3E") no-repeat;
}
.goods_prd_item4_li .next {
	position: absolute;
	top: 45%;
	right: 10px;
	left: auto;
	display: block;
	width: 15px;
	height: 26px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	-webkit-transform: translate(0, -45%);
	-ms-transform: translate(0, -45%);
	transform: translate(0, -45%);
	cursor: pointer;
	z-index: 10;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23848484'%2F%3E%3C%2Fsvg%3E") no-repeat;
}
