@charset "utf-8";

/*** 스크롤형 | goods/list/list_06.html ***/
.goods_prd_item6_li {width:100%; overflow-x:auto; vertical-align:top; -webkit-overflow-scrolling:touch;}
.goods_prd_item6_li ul.goods_prd_item6_scroll {display:table; vertical-align:top;}
.goods_prd_item6_li ul.goods_prd_item6_scroll .swiper_slide {display:table-cell; vertical-align:top;}

.goods_prd_item6 .goods_prd_item6_box {padding:15px 5px 15px 5px;}
.goods_prd_item6 .goods_prd_img {width:100%; padding-bottom:10px; vertical-align:top;}
.goods_prd_item6 .goods_prd_img .img_box {position:relative;}
.goods_prd_item6 .goods_prd_img .img_box .img {font-size:0; line-height:0;}
.goods_prd_item6 .goods_prd_img .img_box .img img {width:100%; border:1px solid #e5e5e5; box-sizing:border-box;}
.goods_prd_item6 .goods_prd_content {vertical-align:top;}
.goods_prd_item6 .goods_prd_content a {}
.goods_prd_item6 .goods_prd_content .goods_prd_icon {font-size:16px;}
.goods_prd_item6 .goods_prd_content .goods_prd_soldout {padding:2px 0 2px 0;}
.goods_prd_item6 .goods_prd_content .goods_prd_soldout img {height:18px;}
.goods_prd_item6 .goods_prd_content .goods_info_list {}
.goods_prd_item6 .goods_prd_content .goods_info_list li {padding:1px 0 1px 0; word-break:break-all; color:#3e3d3c; font-size:14px;}

/* 브랜드명 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.brand_name {font-weight:bold; color:#999999;}
/* 제조사 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.maker_name {font-weight:bold; color:#999999;}
/* 짧은설명 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.short_des {font-weight:bold; color:#999999;}
/* 마일리지 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.list_mileage {font-weight:bold; color:#999999;}
/* 모델번호 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.model_no {font-weight:bold; color:#999999;}
/* 상품코드 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.prd_code {font-weight:bold; color:#999999;}
/* 판매가격 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.price {font-weight:bold;}
/* 정가 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.fixed_price {text-decoration:line-through;}
/* 쿠폰 가격 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.coupon_price .coupon_price1 {font-weight:bold; color:#f39618;}
/* 할인 가격 */ .goods_prd_item6 .goods_prd_content .goods_info_list li.dc_price{font-weight:bold; color:#f39618;}

/* 타임 세일(기본가) */ .goods_prd_item6 .goods_prd_content .goods_info_list li.price .c_price {color:#f39618;}
/* 타임 세일(적용가) */ .goods_prd_item6 .goods_prd_content .goods_info_list li.price .c_price .ori_price {color:#f39618; text-decoration:line-through;}
/* 타임 세일(남은기간) */ .goods_prd_item6 .goods_prd_content .goods_info_list li.price .c_price .time_sale_text {color:#3e3d3c; font-size:11px;}

.goods_prd_item6 .soldout_img {position:absolute; top:0; left:0; display:block; font-size:0; width:100%; height:100%; z-index:10; background-size:100%; background-position:center; background-repeat:no-repeat;}
.goods_prd_item6 .timesale_img {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; background:rgba(0,0,0,.5); z-index:10; color:#ffffff; font-size:12px; text-align:center; box-sizing:border-box;}
.goods_prd_item6 .timesale_img img {width:15px; margin:0 3px 0 0; vertical-align:top;}
.goods_prd_item6 .coupon_img {position:absolute; top:0; right:0; z-index:1;}
.goods_prd_item6 .coupon_img img {width:34px;}
.goods_prd_item6 .add_currency {color:#717171; font-size:12px; font-weight:normal; text-align:right;}

scroll-vertical-fix::-webkit-scrollbar-thumb {width:4px; background-color: #a9a9a9;}
