{*** 갤러리형 | goods/list/list_01.html ***}
<ul class="gallery_layer">
    <!--{ ? goodsList }-->
        <!--{ @ goodsList }-->
            <!--{ @ .value_ }--><li>
                <a href="{=gd_goods_url(..goodsUrl, ..goodsNo)}" <!--{ ? themeInfo.relationLinkFl == 'blank' }--> target="_blank"<!--{ / }-->>
                    <div class="thumb"><img src="{..goodsImageSrc}" alt="" onmouseover="this.src='{..goodsSubImage}'" onmouseleave="this.src='{..goodsImageSrc}'" /></div>
                    <div class="title">{..goodsNm}</div>
                    <div class="desc">{..shortDescription}</div>
                    <div class="seo">{..goodsSearchWord}</div>
                    <div class="price">
                        <!--{ ? ..fixedPrice != 0 && (..fixedPrice != ..goodsPrice) }-->
                            <span class="og">
                                {=gd_money_format(..fixedPrice)}won
                            </span>
                            <span class="arrow"><i class="xi-long-arrow-right" style="display:none;"></i></span>
                            <span class="dc">
                                {=gd_money_format(..goodsPrice)}won
                            </span>
                        <!--{ : }-->
                            <span class="dc">
                                {=gd_money_format(..goodsPrice)}won
                            </span>
                        <!--{ / }-->
                    </div>
                </a>
            </li><!--{ / }-->
        <!--{ / }-->
    <!--{ : }-->
        <li class="no_gallery"><strong>{=__('상품이 존재하지 않습니다.')}</strong></li>
    <!--{ / }-->
</ul>