{*** 우측 스크롤 배너 | proc/scroll_banner_right.htm ***}
<div class="right_banner">
    <!--{ @dataBanner('2458323267') }-->{.tag}<!--{ / }-->
</div>


<script>
    $(function(){
        const rightBanner = document.querySelector('.right_banner');
        let sizeEventStart = true;
        const initSize = {
            winW: "",
            winH: "",
            winY: ""
        };

        const sizeEvent = () => {
            initSize.winW = window.innerWidth;
            initSize.winH = window.innerHeight;
            initSize.winY = window.scrollY;
            let open1;
            let close1;
            window.addEventListener("resize", () => {
                initSize.winW = window.innerWidth;
                initSize.winH = window.innerHeight;
                initSize.winY = window.scrollY;
            });
            window.addEventListener("scroll", () => {
                initSize.winW = window.innerWidth;
                initSize.winH = window.innerHeight;
                initSize.winY = window.scrollY;

                if (initSize.winY >= 150 && sizeEventStart) {
                    sizeEventStart = false;
                    clearTimeout(close1)
                    rightBanner.style.display = 'block';
                    rightBanner.style.opacity = '0';
                    rightBanner.style.transform = 'translateX(20px)';
                    rightBanner.style.transitionProperty = 'transform, opacity';
                    rightBanner.style.transitionDuration = "1s";
                    window.setTimeout(() => {
                        rightBanner.style.transform = 'translateX(0)';
                        rightBanner.style.opacity = '1';
                    }, 100)
                    open1 = window.setTimeout(() => {
                        rightBanner.style.removeProperty("transform");
                        rightBanner.style.removeProperty("opacity");
                        rightBanner.style.removeProperty("transition-duration");
                        rightBanner.style.removeProperty("transition-property");
                    }, 1000)
                } else if (initSize.winY < 150 && !sizeEventStart) {
                    sizeEventStart = true;
                    clearTimeout(open1)
                    rightBanner.style.transitionProperty = 'transform, opacity';
                    rightBanner.style.transitionDuration = "1s";
                    window.setTimeout(() => {
                        rightBanner.style.transform = 'translateX(20px)';
                        rightBanner.style.opacity = '0';
                    }, 100)
                    close1 = window.setTimeout(() => {
                        rightBanner.style.display = 'none';
                        rightBanner.style.removeProperty("transform");
                        rightBanner.style.removeProperty("opacity");
                        rightBanner.style.removeProperty("transition-duration");
                        rightBanner.style.removeProperty("transition-property");
                    }, 1000)

                }
            });
        };
        sizeEvent();
    })
</script>
