	</div>
	<!-- //contents_wrap -->
</div>
<!-- //container -->
<div id="footer_wrap">
	<footer>
		<div class="cs_box">
			<div class="cs_tit">CUSTOMER CENTER</div>
			<div class="cs_phone">1800-8101</div>
			<div class="cs_desc">주말(토,일요일) 및 공휴일 휴무</div>
			<ul class="cs_time">
				<li>상담시간 <span>10:00AM ~ 06:00PM</span></li>
				<li>점심시간 <span>12:30PM ~ 02:00PM</span></li>
			</ul>
		</div>
		<ul class="info_box">
			<li>
				<div class="key">메일</div>
				<div class="value">aileen1800@naver.com</div>
			</li>
			<li>
				<div class="key">계좌번호</div>
				<div class="value">우리은행 (1005 302 731673 에일린컴퍼니)</div>
			</li>
		</ul>
		<div class="link_box">
			<a href="../board/list.php?bdId=notice">고객센터 바로가기</a>
			<a href="../service/faq.php">자주 묻는 질문</a>
		</div>
		<ul class="menu_box">
			<li><a href="../service/company.php">회사소개</a></li>
			<li><a href="../service/private.php">개인정보 취급방침</a></li>
			<li><a href="../board/list.php?bdId=cooperation">제휴문의</a></li>
		</ul>
		<div class="address_box">
			{=__('상호')} : {=gMall.companyNm} {=__('대표')} : {=gMall.ceoNm}<br>
			{=__('주소')} : {=gMall.address} {=gMall.addressSub}<br>
			{=__('사업자번호')} : {=gMall.businessNo} {=__('통신판매업신고')} : {=gMall.onlineOrderSerial}<br>
			{=__('대표번호')} : {=gMall.phone}<br>
			Copyright (c) {=gMall.mallDomain}. All Rights Reserved.
		</div>
	</footer>
</div>

<div id="footer_link">
	<ul class="footer_link">
		<li><a href="../mypage/index.php" onclick="return false;"><img src="../../img/custom/footer_link1.png" alt="" /></a></li>
		<li><a href="https://pf.kakao.com/_uAxeGxb" target="_blank"><img src="../../img/custom/footer_link2.png" alt="" /></a></li>
		<li><a href="/"><img src="../../img/custom/footer_link3.png" alt="" /></a></li>
		<li><a href="../mypage/coupon.php"><img src="../../img/custom/footer_link4.png" alt="" /></a></li>
		<li><a href="../mypage/index.php"><img src="../../img/custom/footer_link5.png" alt="" /></a></li>
	</ul>
</div>
<a href="#" class="fixed_btn_top" style="display:none;"><span>TOP</span></a>
<!-- //footer -->
<script type="text/javascript">
	jQuery(function($) {
		var lastScrollTop = 0,
		delta = 15;
		$(window).scroll(function(event) {
			var st = $(this).scrollTop();

			if (Math.abs(lastScrollTop - st) <= delta) return;

			if ((st > lastScrollTop) && (lastScrollTop > 0)) {
				$('#footer_link').show();
			}
			else {
				$('#footer_link').hide();
			}

			lastScrollTop = st;
		});
	});
</script>
