@charset "utf-8";

/*───────────────────────────────────────────────────────────

	 게시판형 : 기본/갤러리/이벤트/QA

───────────────────────────────────────────────────────────*/
/*** 기본 | skin/default ***/
@import url("skin/default/list.css");
@import url("skin/default/view.css");
@import url("skin/default/write.css");

/*** 갤러리 | skin/gallery ***/
@import url("skin/gallery/list.css");
@import url("skin/gallery/view.css");
@import url("skin/gallery/write.css");

/*** 이벤트 | skin/event ***/
@import url("skin/event/list.css");
@import url("skin/event/view.css");
@import url("skin/event/write.css");

/*** qa | skin/qa ***/
@import url("skin/qa/list.css");
@import url("skin/qa/view.css");
@import url("skin/qa/write.css");

/*───────────────────────────────────────────────────────────

	공통 

───────────────────────────────────────────────────────────*/
/* write 파일 추가 */
#boardAttach {position:relative; margin-bottom:5px; font-size:0;}
#boardAttach li.item {overflow:hidden; display:inline-block; width:57px; height:57px; margin:0 7px 7px 0;}
#boardAttach li.item button.file_face { width:100%; height:100%; border:none; background:url('../../img/btn/btn_file_plus.png') center; background-size:100% 100%; font-size:0;}
#boardAttach li.item button.file_face.preview {border:none; background-size:100% auto; }
#boardAttach li.item input.file_hidden {margin-bottom:-20px; opacity:0;}

/*비밀번호 팝업 레이어 공통*/
.cite_layer {position:fixed; top:50%; left:50%; width:307px; height:192px; margin:-96px 0 0 -153px; z-index:100;  }
.cite_layer .wrap {position:relative; height:190px; background:#ffffff; border:1px solid #555555;}
.cite_layer .wrap h4 {height:27px; padding:13px 0 0 17px; background:#f4f4f4; color:#222222; }
.cite_layer .wrap div {color:#666666; text-align:center; }
.cite_layer .wrap div p {padding:25px 0 14px 14px; }
.cite_layer .wrap div input {display:block; width:216px; height:31px; margin:0 auto 12px auto; line-height:31px; text-indent:10px; border:1px solid #ccc; }
.cite_layer .wrap div .btn_box {width:60px; margin:0 auto;}
.cite_layer .wrap .close {display:block; position:absolute; top:11px; right:12px; width:18px; height:18px; text-indent:-9999px; background:url('../../img/icon/icon_x3.png') no-repeat left top; background-size:100%; border:none;}





/*2020-09-29 페이지 이동 셀렉트 박스*/

.border_select{
    padding: 10px 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.select_box{
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ececec;
    width: 120px;
    position: relative;
}

.select_box .icon{
    position: absolute;
    right: 10px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.select_box .icon img{
    display: block;
    width: 100%;
    height: auto;
}

.select_box .list_box{
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 100;
    display: none;
}

.select_box .list_box li a{
    display: block;
    padding: 10px;
    box-sizing: border-box;

}




