@charset "utf-8";

/*** 목록 | board/skin/qa/list.html ***/

.list_qa {}
.list_qa .boardlist {}

/* 검색 */
.list_qa .boardlist .board_search {position:relative; padding:10px 166px 10px 10px;}
.list_qa .boardlist .board_search .search_input {width:100%;}
.list_qa .boardlist .board_search .search_input input {width:100%; height:36px; text-indent:10px; border:1px solid #dddddd; font-size:14px; color:#5e5e5e; font-weight:bold;}
.list_qa .boardlist .board_search .search_btn {position:absolute; top:10px; right:106px; width:60px;}
.list_qa .boardlist .board_search .write_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
}
.list_qa .boardlist .board_search .write_btn button{
    display: block;
    width: 100%;
    padding: 8px 0 7px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #5f5f5f;
    border:1px solid #5f5f5f;
}

.sub_top .sub_top_right2{
    display: none;
}



/* 공지 및 기본 글 */
.list_qa .boardlist .goods_area .notice_list {}
.list_qa .boardlist .goods_area .notice_list li { position:relative; padding:15px 10px; border-bottom: 1px solid #e5e5e5; min-height:60px; box-sizing:border-box;}
.list_qa .boardlist .goods_area .notice_list li > a {display:block; font-size:0;}
.list_qa .boardlist .goods_area .notice_list li:first-child {border-top: 1px solid #e5e5e5; }
.list_qa .boardlist .goods_area .notice_list li .notice_img {display:inline-block; width:90px; padding-right:10px;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg {display:inline-block; width:100%; vertical-align:top;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_img {display:inline-block; width:calc(100% - 100px); vertical-align:top;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_title {padding:0 0 20px 0;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_title .icon img {vertical-align:top;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_title .text {display:block; width:calc(100% - 70px); overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:14px; color:#222222; font-weight:bold;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_title .text img {vertical-align:middle;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_info {position:absolute; top:14px; right:10px; }
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_info span {display:inline-block; padding:1px 5px 1px 5px; font-size:11px; border:1px solid #9f9f9f; color:#494949; font-weight:bold; box-sizing:border-box;}
.list_qa .boardlist .goods_area .notice_list li .board_qa_noimg .notice_info span.reply_complete {background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff;}
.list_qa .boardlist .goods_area li .notice_data {width:100%; color:#999; font-size:12px; }
.list_qa .boardlist .goods_area li .notice_data span {padding:0 10px 0 0;}

/* 아이콘 */
.list_qa .boardlist .goods_area .icon_new{display:inline-block; width:18px; height:18px; margin:0px 0 0 5px; background:#3e3d3c; line-height:18px; font-size:10px; color:#fff; text-align:center; vertical-align:top;}
.list_qa .boardlist .goods_area .icon_hot{display:inline-block; height:18px; margin:0px 0 0 5px; padding:0 5px 0 5px; background:#3e3d3c; line-height:18px; font-size:12px; color:#ffffff; vertical-align:top;}

/* 상품 데이터 */
.list_qa .boardlist .goods_data {margin:10px 0 0 0; color:#999; font-size:11px;}
.list_qa .boardlist .goods_data .data, .goods_data .info {display:block;}
.goods_data .info {word-break:break-all;}
.list_qa .boardlist .goods_data .data span, .goods_data .info span:first-child {display:inline-block; position:relative; padding:0 20px 0 0;  }
.list_qa .boardlist .goods_data .data span:after, .goods_data .info span:first-child:after { content:''; display:block; position:absolute; top:50%; right:10px; margin:-4px 0 0 0; width:1px; height:8px; background: #cacaca;}
.list_qa .boardlist .goods_data .data time {display:inline-block; font-weight:bold;}

/* 페이징 */
.list_qa .boardlist .page_btn_box {text-align:center; margin:30px 0 20px; }
.list_qa .boardlist .page_btn_box .page_number {display:inline-block; height:21px; padding:0 30px 0 30px; color:#9e9e9e; font-size:15px; line-height:21px; vertical-align:middle; letter-spacing:0;}
.list_qa .boardlist .page_btn_box .page_number strong { color: #5e5e5e; }
.list_qa .boardlist .page_btn_box .prev_btn {overflow:hidden; display:inline-block; width:11px; height:21px; background:url('../../../../img/icon/icon_arrow_prev2.png') no-repeat 0 0; background-size:11px 21px; font-size:1px; color:transparent;  vertical-align: middle; border:none;}
.list_qa .boardlist .page_btn_box .next_btn {overflow:hidden; display: inline-block; width: 11px; height:21px; background:url('../../../../img/icon/icon_arrow_next2.png') no-repeat 0 0; background-size: 11px 21px; font-size:1px; color:transparent; vertical-align: middle; border:none;}
.list_qa .boardlist .no_list {padding:55px 10px 55px 10px; border-top:1px solid #e5e5e5; font-size:12px; text-align:center;} 
