{*** 상세보기 | view.php ***}
<!--{ ? bdView.cfg.bdHeader}-->
<div class="addition_zone">
	<p>{=bdView.cfg.bdHeader}</p>
</div>
<!--{/}-->
<div class="board_zone_sec">
	<div class="board_zone_tit">
		<h2>{=__(bdView.cfg.bdNm)}</h2>
	</div>
	<div class="board_zone_cont">
		<div class="board_zone_view">

			<div class="board_view_tit">
				<h3>
					<!--{ ? bdView.cfg.bdCategoryFl == 'y' && bdView.data.category}-->
					[{bdView.data.category}]
					<!--{/}-->
					{bdView.data.subject}
				</h3>
			</div>
			<div class="board_view_info">
                <span class="view_info_idip">
                    <strong>{bdView.data.writer}</strong>
					<!--{? bdView.cfg.bdIpFl == 'y'}--><em>(IP: {bdView.data.writerIp})</em><!--{ / }-->
                </span>
                <span class="view_info_day">
                    <em>{bdView.data.regDate}</em>
                </span>
                <span class="view_info_hits">
                    <strong>{=__('조회수')}</strong> {=bdView.data.hit}
                </span>
			</div>
			<!-- //board_view_info -->

			<!--{? bdView.data.isFile == 'y'}-->
			<div class="board_view_attach">
				<strong>{=__('첨부파일')}</strong>
                <span class="attach_list">
                    <!--{ @ bdView.data.uploadedFile}-->
                    <a href="./download.php?bdId={=bdView.cfg.bdId}&sno={req.sno}&fid={=.fid}">{.name}</a>
					<!--{/}-->
                </span>
			</div>
			<!-- //board_view_attach -->
			<!--{/}-->

			<!--{? bdView.cfg.bdLinkFl == 'y' && bdView.data.urlLink}-->
			<div class="board_view_link">
				<strong>Link : </strong><a href="{=gd_isset(bdView.data.urlLink)}" target="_blank">{=bdView.data.urlLink}</a>
			</div>
			<!-- //board_view_link -->
			<!--{/}-->

			<div class="board_view_content">

				<div class="view_goods_select">
					<!--{? bdView.data.isViewGoodsInfo == 'y' }-->
					<div class="view_goods_select_item">
                        <span class="view_select_item_img">
                            <a href="../goods/goods_view.php?goodsNo={bdView.data.goodsNo}" target="_blank">
								<img src="{bdView.data.goodsData.goodsImageSrc}" >
							</a>
                        </span>
                        <span class="view_select_item_info">
                            <em>{bdView.data.goodsData.goodsNm}</em>
                            <strong>{=__('판매금액')}
								<!--{? bdView.data.goodsData.goodsPriceString}-->
                                {=bdView.data.goodsData.goodsPriceString}
								<!--{:}-->
                                {=gd_global_currency_symbol()}{=gd_global_money_format(bdView.data.goodsData.goodsPrice)}{=gd_global_currency_string()}
								<!--{/}-->
								</strong>
                        </span>
					</div>
					<!-- //view_goods_select_item -->
					<!--{/}-->

					<!--{? bdView.data.isViewOrderInfo == 'y'}-->
					<!--{@ bdView.data.extraData.arrOrderGoodsData}-->
					<div class="view_goods_select_item">
                        <span class="view_select_item_img">
                            <a href="../goods/goods_view.php?goodsNo={.goodsNo}" target="_blank">
								<img src="{.goodsImageSrc}" >
							</a>
                        </span>
                        <span class="view_select_item_info">
                            <em>{.goodsNm}</em>
                            <span class="text_type_cont">{.optionName}</span>
                            <strong>{=__('판매금액')} {=gd_global_currency_symbol()}{=gd_global_money_format(.totalGoodsPrice)}{=gd_global_currency_string()}</strong>
                        </span>
					</div>
					<!-- //view_goods_select_item -->
					<!--{/}-->
					<!--{/}-->

				</div>
				<!-- //view_goods_select -->

				<div class="seem_cont">
					<div style="margin:10px 0 10px 0">
						{=bdView.data.workedContents}
					</div>
				</div>
				<!-- //seem_cont -->


			</div>
			<!-- //board_view_content -->


			<div class="board_view_comment">

				<div class="view_comment js_comment_area" data-bdId="{req.bdId}" data-sno="{req.sno}">
					<!--{ ? bdView.cfg.bdMemoFl == 'y' || bdView.cfg.bdRecommendFl == 'y'}-->
					<div class="view_comment_top">
						<!--{ ? bdView.cfg.bdMemoFl == 'y' }-->
						<span class="comment_num">{=__('총 댓글')} <strong>{=bdView.data.memoCnt}</strong></span>
						<!--{/}-->
						<!--{? bdView.cfg.bdRecommendFl == 'y' }-->
                        <span id="recommendCount" class="comment_best_num">{=__('추천')} : <strong>{=bdView.data.recommend}</strong>
                            <a href="javascript:gd_recommend('{req.bdId}',{req.sno})" class="btn_comment_best"><em>{=__('추천하기')}</em></a>
                        </span>
						<!--{/}-->
						<!--{ ? bdView.cfg.bdGoodsPtFl == 'y'}-->
                        <span class="rating_star_box">
                            <em>{=__('별점')}</em>
                            <span class="rating_star">
                                <span style="width:{(bdView.data.goodsPt)*20}%;">&nbsp;</span>
                            </span>
                        </span>
						<!--{/}-->
					</div>
					<!-- //view_comment_top -->
					<!--{/}-->

					<!--{ ? bdView.cfg.bdMemoFl == 'y'}-->
					<!--{? bdView.cfg.auth.memo == 'y'}-->
					<div class="board_comment_box js_form_write">
						<div class="board_comment_write">
							<!--{ ? gd_is_login() }-->
							<div class="form_element">
								<!--{ secretReplyCheck.replyWrite }-->
							</div>
							<div class="comment_textarea">
								<textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
								<span class="btn_comment_box"><button type="button" class="btn_comment_ok js_comment_btn_write"><em>{=__('확인')}</em></button></span>
							</div>
							<!--{:}-->
							<input type="text" name="writerNm" placeholder="{=__('이름')}" autocomplete="off">
							<input type="password" name="password" placeholder="{=__('비밀번호')}" autocomplete="off">
							<div class="form_element">
								<!--{ secretReplyCheck.replyWrite }-->
							</div>
							<div class="comment_textarea">
								<textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
								<span class="btn_comment_box"><button type="button" class="btn_comment_ok js_comment_btn_write"><em>{=__('확인')}</em></button></span>
							</div>
							<!--{/}-->
						</div>
						<!-- //board_comment_write -->
						<!--{ ? !gd_is_login() }-->
						<div class="board_commen_agree">
							<div class="form_element">
								<input type="checkbox" id="infoCollectionAgreeWrite" name="checkCollectAgree" class="checkbox">
								<label for="infoCollectionAgreeWrite">({=__('비회원')}) {=__('개인정보 수집항목 동의')}</label>
								<a href="javascript:void(0)" onclick="gd_redirect_collection_agree()">{=__('전체보기')}</a>
								<textarea cols="30" rows="5" class="w100">{=bdView.private}</textarea>
							</div>
						</div>
						<!-- //board_commen_agree -->
						<!--{/}-->
					</div>
					<!-- //board_comment_box -->
					<!--{:}-->
					<div class="board_comment_box js_form_write">
						<!--{ ? gd_is_login() }-->
						{=__('댓글 권한이 없습니다.')}
						<!--{:}-->
						{=__('로그인을 하셔야 댓글을 등록하실 수 있습니다.')}
						<!--{/}-->
					</div>
					<!--{/}-->

					<div class="view_comment_list">
						<ul>
							<!--{ @ bdView.data.memoList}-->
							<li data-memosno="{.sno}" data-memoauth="{.auth}" class="js_data_comment_row <!--{? .groupThread}-->comment_reply<!--{/}-->">
								<strong class="comment_name">{.writer}</strong>
								<p>
									<!--{? bdView.data.allReplyShow == 'y' }-->
									<em>{.workedMemo}</em>
									<!--{:}-->
									<!--{? .isSecretReply == 'y' }-->
									<!--{? .isShowSecretReply == 'y' }-->
									<em>{.workedMemo}</em>
									<!--{:}-->
									<input type="hidden" name="secretReply" value="y">
									<em class="js_comment_btn_secret"><img src="{bdListCfg.iconImage.secret.url}" align=absmiddle>{=secretReplyCheck.secretReplyTitle}</em>
									<!--{/}-->
									<!--{:}-->
									<em>{.workedMemo}</em>
									<!--{/}-->
									<!--{/}-->
									<span class="board_day_time">{.regDt}</span>
								</p>
								<!--{?! .groupThread}-->
								<span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_reply"><span>{=__('답글')}</span></button></span>
								<!--{/}-->
								<!--{? .auth : 'y' : 'c'}-->
								<span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_modify"><span>{=__('수정')}</span></button></span>
								<span class="btn_gray_list"><button type="button" class="btn_gray_small js_comment_btn_delete"><span>{=__('삭제')}</span></button></span>
								<!--{/}-->
								<div class="board_comment_box js_action_form" style="display: none">
									<div class="board_comment_write">
										<!--{ ? gd_is_login() }-->
										<div class="form_element">
											<!--{ secretReplyCheck.replyModify }-->
										</div>
										<div class="comment_textarea">
											<textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
											<span class="btn_comment_box"><button type="button" class="btn_comment_ok js_comment_btn_action"><em>{=__('확인')}</em></button></span>
										</div>
										<!--{:}-->
										<input type="text" name="writerNm" placeholder="{=__('이름')}" autocomplete="off">
										<input type="password" name="password" placeholder="{=__('비밀번호')}" autocomplete="off">
										<div class="form_element">
											<!--{ secretReplyCheck.replyModify }-->
										</div>
										<div class="comment_textarea">
											<textarea class="text" name="memo" placeholder="{=__('댓글 내용을 입력하세요')}"></textarea>
											<span class="btn_comment_box"><button type="button" class="btn_comment_ok js_comment_btn_action"><em>{=__('확인')}</em></button></span>
										</div>
										<!--{/}-->
									</div>
									<!-- //board_comment_write -->
									<!--{ ? !gd_is_login() }-->
									<div class="board_commen_agree">
										<div class="form_element">
											<input type="checkbox" id="infoCollectionAgreeAction" name="checkCollectAgree" class="checkbox">
											<label for="infoCollectionAgreeAction">({=__('비회원')}) {=__('개인정보 수집항목 동의')}</label>
											<a href="javascript:void(0)" onclick="gd_redirect_collection_agree()">{=__('전체보기')}</a>
											<textarea cols="30" rows="5" class="w100">{=bdView.private}</textarea>
										</div>
									</div>
									<!-- //board_commen_agree -->
									<!--{/}-->
								</div>
								<!-- //board_comment_box -->
							</li>
							<!--{/}-->
						</ul>
					</div>
					<!-- //view_comment_list -->
					<!--{/}-->
				</div>

			</div>
			<!-- //board_view_comment -->

		</div>
		<!-- //board_zone_view -->

		<div class="btn_right_box">
			<!--{? bdView.data.auth.delete : 'y' : 'c'}--><button type="button" class="btn_board_del" onclick="gd_btn_delete('{req.bdId}',{req.sno},'{bdView.data.auth.modify}')"><strong>{=__('삭제')}</strong></button><!--{/}-->
			<!--{? bdView.data.auth.modify : 'y' : 'c'}--><button type="button" class="btn_board_edit" onclick="gd_btn_modify_write('{req.bdId}',{req.sno},'{bdView.data.auth.modify}')"><strong>{=__('수정')}</strong></button><!--{/}-->
			<!--{? bdView.data.auth.reply == 'y'}--><button type="button" class="btn_board_reply" onclick="gd_btn_reply_write('{req.bdId}',{req.sno})"><strong>{=__('답글')}</strong></button><!--{/}-->
			<!--{? bdView.cfg.auth.list == 'y'}--><button type="button" class="btn_board_list" onclick="gd_btn_list('{req.bdId}')"><strong>{=__('목록')}</strong></button><!--{/}-->
		</div>

	</div>
	<!-- //board_zone_cont -->

	<!-- N : 관련게시글 영역 시작 -->
	<!--{ ? relationList}-->
	<div class="board_zone_cont">
		<div class="board_zone_list">
			<table class="board_list_table">
				<colgroup>
					<col style="width:6%">  <!-- 번호 -->
					<col>					<!-- 제목 -->
					<col style="width:15%"> <!-- 추천 -->
					<col style="width:10%"> <!-- 조회 -->
				</colgroup>
				<thead style="display:none;">
				<tr>
					<th>{=__('번호')}</th>
					<th>{=__('제목')}</th>
					<th>{=__('작성자')}</th>
					<th>{=__('날짜')}</th>
				</tr>
				</thead>
				<tbody>
				<!--{ @relationList.reply}-->
				<tr>
					<td> {.size_-.index_} </td>
					<td class="board_tit">
						{.gapReply}
						<a href="javascript:gd_btn_view('{req.bdId}',{.sno} , '{.auth.view}')" <!--{ ? .groupThread }-->class="reply" <!--{/}-->><!-- N : 답글 시 클래스 reply 추가  -->
						{.subject}
						</a>
						<!--{? bdListCfg.bdMemoFl == 'y' && .memoCnt>0}-->
						<span>({.memoCnt})</span>
						<!--{/}-->
						<!--{ ? .isFile == 'y' }-->
						<img src="{bdListCfg.iconImage.attach_file.url}" alt="{=__('파일첨부 있음')}"/>
						<!--{/}-->
						<!--{ ? .isImage == 'y' }-->
						<img src="{bdListCfg.iconImage.attach_img.url}" alt="{=__('이미지첨부 있음')}"/>
						<!--{/}-->
						<!--{ ? .isNew == 'y' }--><!--<img alt="신규 등록글" src="img/icon/new.png"/>-->
						<img src="{bdListCfg.iconImage.new.url}" alt="{=__('신규 등록글')}"/>
						<!--{/}-->
						<!--{ ? .isSecret == 'y' }-->
						<img src="{bdListCfg.iconImage.secret.url}" align=absmiddle>
						<!--{ / }-->
					</td>
					<td> {.writer} </td>
					<td> {.regDate} </td>
				</tr>
				<!--{/}-->

				</tbody>
			</table>

		</div>
		<!--{/}-->
		<!-- //board_zone_list -->
	</div>
	<!-- //board_zone_cont -->
	<!-- N : 관련게시글 영역 끝 -->

	<!-- N : 리스트화면 노출 시작 -->
	<!--{? bdView.cfg.bdListInView == 'y'}-->
	<div class="board_zone_cont">
		{#list}
	</div>
	<!--{/}-->
	<!-- N : 리스트화면 노출 끝 -->

</div>
<!-- //board_zone_sec -->

<!--{? bdView.cfg.bdFooter}-->
<div class="addition_zone">
	<p>{bdView.cfg.bdFooter}</p>
</div>
<!--{/}-->

<!-- 레이어 호출시 딤처리 -->
<div id="layerDim" class="dn">&nbsp;</div>
<!-- //레이어 호출시 딤처리 -->
<!-- 비밀글 클릭시 인증 레이어 -->
<div id="lyPassword" class="dn layer_wrap password_layer" style="height: 226px">
	<div class="layer_wrap_cont">
		<div class="ly_tit">
			<h4>{=__('비밀번호 인증')}</h4>
		</div>
		<div class="ly_cont">
			<div class="scroll_box">
				<p>{=__('글 작성시 설정한 비밀번호를 입력해 주세요.')}</p>
				<input type="password" name="writerPw" class="text">
			</div>
			<!-- // -->
			<div class="btn_center_box">
				<button type="button" class="btn_ly_password js_submit"><strong>{=__('확인')}</strong></button>
			</div>
		</div>
		<!-- //ly_cont -->
		<a href="#close" class="ly_close layer_close"><img src="../../../img/common/layer/btn_layer_close.png" alt="닫기"></a>
	</div>
	<!-- //layer_wrap_cont -->
</div>
<!-- //layer_wrap -->
<script type="text/javascript" src="\{=c.PATH_SKIN}js/gd_board_view.js" charset="utf-8"></script>
