<div id="header_wrap">
    <header>
        <div class="header_box">
            <div class="h_logo"><a href="/"><img src="../../img/common/logo.png" alt="" /></a></div> <!-- 로고 -->
            <!-- 좌측 메뉴 -->
            <ul class="left_menu">
                <li><a href="#" class="side_menu"><img src="../../img/common/icon_menu.png" alt="" /></a></li>
            </ul>
            <!-- 우측 메뉴 -->
            <ul class="right_menu">
                <li><a href="../mypage/index.php" class="mypage"><img src="../../img/common/icon_mypage.png" alt="" /></a></li>
            </ul>
            <div class="direct_menu" id="DirectSlider">
                <div><a href="../goods/goods_list.php?cateCd=001"<!--{ ? substr(cateCd,0,3) == '001' }-->class="on"<!--{ / }-->>영상편지</a><span class="underline"></span></div>
                <div><a href="../goods/goods_list.php?cateCd=002"<!--{ ? substr(cateCd,0,3) == '002' }-->class="on"<!--{ / }-->>식전영상</a><span class="underline"></span></div>
                <div><a href="../goods/goods_list.php?cateCd=003"<!--{ ? substr(cateCd,0,3) == '003' }-->class="on"<!--{ / }-->>식중영상</a><span class="underline"></span></div>
                <div><a href="../goods/goods_list.php?cateCd=004"<!--{ ? substr(cateCd,0,3) == '004' }-->class="on"<!--{ / }-->>감사영상</a><span class="underline"></span></div>
                <div><a href="../goods/goods_list.php?cateCd=005"<!--{ ? substr(cateCd,0,3) == '005' }-->class="on"<!--{ / }-->>성장동영상</a><span class="underline"></span></div>
                <div><a href="../goods/card_list.php?cateCd=006"<!--{ ? substr(cateCd,0,3) == '005' }-->class="on"<!--{ / }-->>모바일초대장</a><span class="underline"></span></div>
            </div><!-- .direct_menu -->

        </div>
    </header>
</div>
<!-- //header_wrap -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#DirectSlider').slick({
            slide: 'div',
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 2,
            autoplay: false,
            arrows: false,
            dots: false,
            dragable: true
        });
    });
</script>
<nav>
    <div class="bg"></div>
    <div class="left_close"></div>
    <div class="nav_bg_box">
        <div class="nav_box">
            <div class="nav_iscroll_box">
                <div class="nav_content_box">
                    <!-- //nav_language -->
                    <div class="nav_banner">
                        <!--{ ? gd_is_login() === false }-->
                        <div class="nav_login">
                            <ul>
                                <li><a href="../member/join_method.php">{=__('회원가입')}</a></li>
                                <li><a href="../member/login.php">{=__('로그인')}</a></li>
                            </ul>
                        </div>
                        <!--{ : }-->
                        <div class="login_txt">
                            {=__('%s님%s방문을 환영합니다.', '<p class="name"><strong>' + gd_get_login_name() + '</strong>', '</p>')}
                            <a href="../member/logout.php">{=__('로그아웃')}</a>
                        </div>
                        <!--{ / }-->
                    </div>
                    <!-- //nav_banner -->
                    <div class="nav_link">
                        <ul>
                            <li><a href="../mypage/index.php"><img src="../../img/custom/menu_link1.png" alt="" /></a></li>
                            <li><a href="#"><img src="../../img/custom/menu_link2.png" alt="" /></a></li>
                            <li><a href="#"><img src="../../img/custom/menu_link3.png" alt="" /></a></li>
                        </ul>
                    </div>
                    <!-- //nav_link -->
                    <div class="nav_category">
                        <div class="nav_tabmenu_box">
                            <p class="tabmenu_tit">상품목록</p>
                            <div class="tab_menu0">
                                <div class="prd_cate">
                                    {=includeWidget("proc/category_all.html",'cateType','category')}
                                </div>
                                <!-- //prd_cate -->
                            </div>
                            <!-- //tab_menu0 -->
                        </div>
                        <div class="nav_community_box">
                            <p class="comm_tit">고객센터</p>
                            <ul class="board_cate">
                                <li><a href="../board/list.php?bdId=notice">{=__('공지사항')}</a></li>
                                <li><a href="../board/list.php?bdId=goodsqa">{=__('질문과답변')}</a></li>
                                <li><a href="../board/list.php?bdId=goodsreview">{=__('이용후기')}</a></li>
                                <li><a href="../board/list.php?bdId=event">{=__('이벤트')}</a></li>
                                <li><a href="../service/faq.php">{=__('FAQ')}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //nav_content_box -->
            </div>
        </div>
        <!-- //nav_box -->
    </div>
    <!-- //nav_bg_box -->
</nav>
<div id="container">
    <div id="contents_wrap">
        <!--{ ? gCurrentPageName != 'main/index' }-->
        <div class="sub_top">
            <!--{ ? (gCurrentPageName == 'board/list' || gCurrentPageName == 'mypage/mypage_qa' || gCurrentPageName == 'mypage/mypage_goods_qa' || gCurrentPageName == 'mypage/mypage_goods_review') && bdList.cfg.auth.write == 'y'}-->
            <div class="sub_top_right2"><a href="../board/write.php?bdId={req.bdId}&mypageFl={req.mypageFl}&goodsNo={goodsView.goodsNo}&gboard=r&noheader=y" data-toggle="modal" data-target="#popupBoard" class="board_btn">{=__('글쓰기')}</a></div>
            <!--{ / }-->
            <!--{ ? gCurrentPageName == 'board/view' }-->
            <div class="sub_top_right2"><a href="../board/list.php?bdId={req.bdId}&mypageFl={req.mypageFl}" class="board_btn">{=__('목록가기')}</a></div>
            <!--{ / }-->
            <!--{ ? gCurrentPageName == 'board/plus_review_article' || gCurrentPageName == 'board/plus_review_photo' || gCurrentPageName == 'board/plus_review_goods' }-->
            <div class="sub_top_right2 btn_plus_review_register"><a href="../board/plus_review_popup_write.php?mode=addPopup" class="ogl_reviewrite" data-toggle="modal" data-target="#popupBoard">{=__('리뷰등록')}</a></div>
            <!--{ / }-->
        </div>
        <!--		<div class="sub_tit">&lt;!&ndash;{ ? gPageName }&ndash;&gt;{=gPageName}&lt;!&ndash;{:}&ndash;&gt;{=layout.page_name}&lt;!&ndash;{/}&ndash;&gt;</div>-->
        <!--{ / }-->
