{*** 목록 | list.php ***}
<div class="section_layer">
	<!--{ ? !inList}-->
		<div class="title_area">
			<!--{ ? !inList && bdList.cfg.auth.write == 'y' }-->
			<button type="button" class="btn_write button" onclick="gd_btn_write('{req.bdId}')">{=__('글쓰기')}</button>
			<!--{ / }-->
		</div><!-- .title_area -->
		<form name="frmList" id="frmList" action="list.php" method="get" style="display:none;">
            <input type="hidden" name="bdId" value="{bdList.cfg.bdId}">
            <input type="hidden" name="memNo" value="{req.memNo}"/>
            <input type="hidden" name="noheader" value="{req.noheader}"/>
            <div class="search_area">
                <div class="field">
                    <div class="key">
                        <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                        {=gd_select_box('category', 'category', bdList.cfg.arrCategory, null, gd_isset(req.category), __('선택'), 'style="width: 80px;"','chosen-select')}
                        <!--{/}-->
                        <select class="chosen-select" name="searchField">
                            <option value="subject"
                            <!--{ ? req.searchField == 'subject'}-->selected<!--{/}--> >{=__('제목')}</option>
                            <option value="contents"
                            <!--{ ? req.searchField == 'contents'}-->selected<!--{/}--> >{=__('내용')}</option>
                            <option value="writerNm"
                            <!--{ ? req.searchField == 'writerNm'}-->selected<!--{/}--> >{=__('작성자')}</option>
                        </select>        
                    </div>
                    <div class="value">
                        <div class="text_input">
                            <input type="text" name="searchWord" value="{=req.searchWord}">
                        </div>
                        <div class="button_area">
                            <button type="submit" class="btn_board_search button orange"><em>{=__('검색')}</em></button>
                        </div>
                    </div><!-- .value -->
                </div><!-- .field -->
            </div><!-- .search_area -->
        </form>
	<!--{ / }-->
	<table class="board_list_table table c_table" {bdList.cfg.bdWidthStyle}>
		<colgroup>
			<col style="width:6%">
			<!--{ ? bdList.cfg.bdListImageFl == 'y'}-->
			<col>
			<!--{/}-->
			<!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
			<col style="width:10%">
			<!--{/}-->
			<col style="width:37%;">
			<col style="width:12%">
			<col style="width:7%">
			<col style="width:15%">
			<!--{ ? bdList.cfg.bdRecommendFl == 'y'}-->
			<col style="width:6%">
			<!--{/}-->
			<col style="width:6%">
		</colgroup>
		<thead>
			<tr>
				<th>{=__('번호')}</th>
				<!--{ ? bdList.cfg.bdListImageFl == 'y'}-->
				<th>{=__('이미지')}</th>
				<!--{/}-->
				<!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
				<th>{=__('말머리')}</th>
				<!--{/}-->
				<th>{=__('제목')}</th>
				<!--{ ? bdList.cfg.bdGoodsPtFl == 'y' }-->
				<th>{=__('별점')}</th>
				<!--{/}-->
				<th>{=__('날짜')}</th>
				<th>{=__('작성자')}</th>
				<!--{ ? bdList.cfg.bdRecommendFl == 'y'}-->
				<th>{=__('추천')}</th>
				<!--{/}-->
				<!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->
				<th>{=__('조회')}</th>
				<!--{/}-->
			</tr>
		</thead>
		<tbody>
			<!--{ @ bdList.noticeList }-->
			<tr class="notice" {bdList.cfg.bdHeightStyle}>
				<td><img src="{bdList.cfg.iconImage.notice.url}" alt="{=__('공지')}"/></td>
				<!--{ ? bdList.cfg.bdListImageFl == 'y'}-->
				<td>
					<!--{ ? bdList.cfg.bdListNoticeImageDisplayPc == 'y'}-->
					<div class="board_img">
						<a href="javascript:gd_btn_view('{req.bdId}',{.sno} , '{.auth.view}')">
							<img src="{=gd_isset(.viewListImage, 'img/etc/noimg.png')}" width="{bdList.cfg.bdListImgWidth}" class="js_image_load"/>
						</a>
					</div>
					<!--{/}-->
				</td>
				<!--{/}-->
				<!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
				<td> <!--{? .category }-->[{.category}]<!--{/}--> </td>
				<!--{/}-->
				<td class="board_tit title">
					<a href="javascript:gd_btn_view('{req.bdId}',{.sno} ,'{.auth.view}')">
						<strong>{.subject}</strong>
					</a>
				</td>
				<!--{ ? bdList.cfg.bdGoodsPtFl == 'y' }-->
				<td>
					<span class="rating_star">
						<span style="width:{.goodsPtPer}%;">{=__('별 다섯개중 다섯개')}</span>
					</span>
				</td>
				<!--{/}-->
				<td> {.regDate} </td>
				<td> {.writer} </td>
				<!--{ ? bdList.cfg.bdRecommendFl == 'y'}-->
				<td> {.recommend} </td>
				<!--{/}-->
				<td> {.hit} </td>
			</tr>
			<!--{/}-->
			<!--{? bdList.list}-->
				<!--{ @ bdList.list }-->
				<tr data-sno="{.sno}" data-auth="{.auth.view}" {bdList.cfg.bdHeightStyle}>
                    <td>
                        <!--{ ? .isNotice == 'y'}-->
                        <img src="{bdList.cfg.iconImage.notice.url}" alt="{=__('공지')}"/>
                        <!--{:}-->
                        {=.articleListNo}
                        <!--{/}-->
                    </td>
                    <!--{ ? bdList.cfg.bdListImageFl == 'y'}-->
                    <td>
                        <div class="board_img">
                            <a href="javascript:gd_btn_view('{req.bdId}',{.sno} , '{.auth.view}')">
                                <img src="{=gd_isset(.viewListImage, 'img/etc/noimg.png')}" width="{bdList.cfg.bdListImgWidth}" class="js_image_load"/>
                            </a>
                        </div>
                    </td>
                    <!--{/}-->
                    <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                    <td> <!--{? .category }-->[{.category}]<!--{/}--> </td>
                    <!--{/}-->
                    <td class="board_tit title">
                        {.gapReply}
                        <!--{ ? .groupThread }--><img src="{bdList.cfg.iconImage.re.url}"alt="{=__('답변')}" style="padding:0 5px" /><!--{/}-->
                        <a href="javascript:gd_btn_view('{req.bdId}',{.sno} ,'{.auth.view}')" >
                            <!--{ ? .isSecret == 'y' }-->
                            <img src="{bdList.cfg.iconImage.secret.url}" align=absmiddle style="margin-right:5px;">
                            <!--{ / }-->
                            <strong>{.subject}</strong>
                            <!--{? bdList.cfg.bdMemoFl == 'y' && .memoCnt>0}-->
                            <span>({.memoCnt})</span>
                            <!--{/}-->
                            <!--{ ? .isFile == 'y' }-->
                            <img src="{bdList.cfg.iconImage.attach_file.url}" alt="{=__('파일첨부 있음')}" style="margin-left:5px;"/>
                            <!--{/}-->
                            <!--{ ? .isImage == 'y' }-->
                            <img src="{bdList.cfg.iconImage.attach_img.url}" alt="{=__('이미지첨부 있음')}" style="margin-left:5px;"/>
                            <!--{/}-->
                            <!--{ ? .isNew == 'y' }-->
                            <img src="{bdList.cfg.iconImage.new.url}" alt="{=__('신규 등록글')}" style="margin-left:5px;"/>
                            <!--{/}-->
                            <!--{ ? .isHot == 'y' }-->
                            <img src="{bdList.cfg.iconImage.hot.url}" alt="{=__('인기글')}" style="margin-left:5px;"/>
                            <!--{/}-->
                        </a>
                    </td>
                    <!--{ ? bdList.cfg.bdGoodsPtFl == 'y' }-->
                    <td>
                        <span class="rating_star">
                            <span style="width:{.goodsPtPer}%;">{=__('별 다섯개중 다섯개')}</span>
                        </span>
                    </td>
                    <!--{/}-->
                    <td> {.regDate} </td>
                    <td> {.writer} </td>
                    <!--{ ? bdList.cfg.bdRecommendFl == 'y'}-->
                    <td> {.recommend} </td>
					<!--{/}-->
					<!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->
					<td> {.hit} </td>
					<!--{/}-->
                </tr>
				<!--{/}-->
			<!--{:}-->
				<tr>
					<td colspan="7">{=__('게시글이 존재하지않습니다.')}</td>
				</tr>
			<!--{/}-->
		</tbody>
	</table>
	<div class="pagination">
		{bdList.pagination}
	</div>
</div><!-- .section_layer -->
<form id="frmWritePassword">
	<div id="lyPassword" class="dn layer_wrap password_layer" style="height: 226px">
		<div class="layer_wrap_cont">
			<div class="ly_tit">
				<h4>{=__('비밀번호 인증')}</h4>
			</div>
			<div class="ly_cont">
				<div class="scroll_box">
					<p>{=__('비밀번호를 입력해 주세요.')}</p>
					<input type="password" name="writerPw" class="text">
				</div>
				<!-- // -->
				<div class="button_area">
					<button type="button" class="btn_ly_password js_submit button small w100 pink">{=__('확인')}</button>
				</div><!-- .button_area -->
			</div>
			<!-- //ly_cont -->
			<a href="#close" class="ly_close layer_close"><i class="xi-close"></i></a>
		</div>
		<!-- //layer_wrap_cont -->
	</div>
	<!-- //layer_wrap -->
</form>
<div id="layerDim" class="dn">&nbsp;</div>
<script>
	$(document).ready(function () {
		$('img.js_image_load').error(function () {
			$(this).css('background', 'url("img/etc/noimg.png") no-repeat center center');
			$(this).attr('src', '../../../img/etc/blank.gif');
		})
		.each(function () {
			$(this).attr("src", $(this).attr("src"));
		})
	});
</script>
<script type="text/javascript">
	$(function(){
		// 인풋박스 선택 이벤트
		if ($('.js_datepicker').length) {
			$('.js_datepicker').datetimepicker({
				locale: '{=gGlobal.locale}',
				format: 'YYYY-MM-DD',
				dayViewHeaderFormat: 'YYYY MM',
				viewMode: 'days',
				ignoreReadonly: true,
				debug: false,
				keepOpen: false
			});
			//$('.check-cal img').click(function(e){
			//	$(this).prev('.js-datepicker').data('DateTimePicker').show();
			//});
		}

		// 기간버튼 선택 이벤트
		if ($('.date_check_list').length) {
			$('.date_check_list button').click(function (e) {
				$startDate = $endDate = '';
				$period = $(this).data('value');
				$elements = $('input[name="' + $(this).closest('.date_check_list').data('target-name') + '"]');
				$format = $($elements[0]).data('DateTimePicker').format();
				if ($period >= 0) {
					$startDate = moment().hours(0).minutes(0).seconds(0).subtract($period, 'days').format($format);
					$endDate = moment().hours(0).minutes(0).seconds(0).format($format);
				}
				$($elements[0]).val($startDate);
				$($elements[1]).val($endDate);
				$('.date_check_list button').removeClass('on');
				$(this).addClass('on');
			});

			// 선택된 버튼에 따른 값 초기화
			$elements = $('input[name*=\'' + $('.date_check_list').data('target-name') + '\']');
			if ($elements.length && $elements.val() != '') {
				$interval = moment($($elements[1]).val()).diff(moment($($elements[0]).val()), 'days');
				$('.date_check_list').find('button[data-value="' + $interval + '"]').trigger('click');
			} else {
				$('.date_check_list').find('button[data-value="-1"]').trigger('click');
			}
		}
	});
</script>
<script type="text/javascript" src="\{=c.PATH_SKIN}js/gd_board_list.js" charset="utf-8"></script>
