{*** 상단 기본파일 | main/index.php ***}
<div id="header">

    <div class="header_top">
        <div class="header_top_cont">

            <!-- 멀티상점 선택 -->
            {=includeWidget('proc/_global_select.html')}
            <!-- 멀티상점 선택 -->

            <ul class="top_member_box">
                <!--{ ? gd_is_login() === false }-->
                <li><a href="../member/login.php">LOGIN</a><span class="txt_bar"></span></li>
                <li><a href="../member/join_method.php">JOIN</a><span class="txt_bar"></span>
                    <!--<span class="accent">
                        <span><strong>2,000 P</strong></span>
                    </span>-->
                </li>
                <!--{ : }-->
                <li><a href="../member/logout.php?returnUrl={=logoutReturnUrl}">LOGOUT</a><span class="txt_bar"></span></li>
                <!--{ / }-->
                <li>
                    <div class="top_mypage_cont">
                        <span class="top_mypage_tit"><a href="../mypage/index.php">MYPAGE</a></span>
                        <ul style="display:none;">
                            <li><a href="../mypage/order_list.php">{=__('주문조회')}</a></li>
                            <li><a href="../mypage/my_page_password.php">{=__('내정보수정')}</a></li>
                            <li><a href="../mypage/wish_list.php">{=__('찜 리스트')}</a></li>
                            <li><a href="../mypage/mypage_qa.php">1:1 {=__('문의')}</a></li>
                        </ul>
                    </div>
                    <span class="txt_bar"></span>
                </li>
                <li><a href="../order/cart.php">{=__('장바구니')}( <strong>{=dataCartGoodsCnt()}</strong> )</a><span class="txt_bar"></span></li>
                <li><a href="../service/index.php">{=__('고객센터')}</a></li>
            </ul>

        </div>
        <!-- //header_top_cont -->
    </div>
    <!-- //header_top -->
    <div class="header_search">
        <div class="header_search_cont">
            <div class="h1_logo"><!--{ @dataBanner('4238483832') }-->{.tag}<!--{ / }--></div>

            <!-- 검색 폼 -->
            {=includeWidget('proc/_header_search.html')}
            <!-- 검색 폼 -->

        </div>
        <!-- //header_search_cont -->
    </div>
    <!-- //header_search -->
    <div class="header_gnb">


        <div class="gnb">
            <!-- 전체 카테고리 출력 레이어 시작 -->
            {=includeWidget("proc/category_all.html")}
            <!-- 전체 카테고리 출력 레이어 끝 -->

            <!-- 상단 카테고리 출력 시작 -->
            {=includeWidget('proc/category_side', 'type', 'top','cateType','cate','menuType','all')}
            <!-- 상단 카테고리 출력 끝 -->

            <!--스크롤 게시글 시작-->
            {=includeWidget('board/board_article_scrolling', 'bdId', noticeBdId, 'listCount', 10, 'strCut', 15)}
            <!--스크롤 게시글 끝-->

        </div>
        <!-- //gnb -->

        <!-- //gnb_allmenu -->
    </div>
    <!-- //header_gnb -->
</div>
<!-- //header -->
