{*** 비밀번호 찾기 | member/find_password.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<section class="login_section">
	<div class="login_layer">
		<form id="formFindId" method="post" action="../member/member_ps.php">
			<div class="title_area">회원 아이디 찾기</div>
			<ul class="input_member">
				<li class="left">
					<div><input type="text" id="userName" name="userName" placeholder="이름" required="true"></div>
					<div class="input_text"><input type="email" id="userEmail" name="userEmail" placeholder="가입메일주소" required="true"></div>
				</li>
				<li class="right">
					<button type="submit" class="button">아이디 찾기</button>
				</li>
			</ul><!-- .input_member -->
		</form>
		<div class="button_area">
			<a href="#" class="button naver" id="btnFindPw">비밀번호 찾기</a>
			<a href="#" class="button" id="btnLogin">로그인하기</a>
		</div><!-- .button_area -->
	</div><!-- .login_layer -->
</section><!-- .login_section -->
<script type="text/javascript">
	$(document).ready(function () {
		$('#btnFindPw').click(function (e) {
			location.href = '../member/find_password.php';
			e.preventDefault();
		});
		$('#btnLogin').click(function (e) {
			location.href = '../member/login.php';
			e.preventDefault();
		});

		$('#formFindId').validate({
			dialog: false,
			rules: {
				userName: {
					required: true
				},
				userEmail: {
					required: true,
					email: true
				}
			},
			messages: {
				userName: {
					required: "{=__('이름을 입력해주세요.')}"
				},
				userEmail: {
					required: "{=__('이메일을 입력해주세요.')}",
					email: "{=__('메일 형식이 틀렸습니다.')}"
				}
			}, submitHandler: function (form) {
				var params = $(form).serializeArray();
				params.push({name: "mode", value: "findId"});
				$.post('../member/find_ps.php', params).done(function (data, textStatus, jqXHR) {
					if (data.result) {
						var compiled = _.template($('#templateFindIdResult').html());
						var templateData = {memberId: data.memberId, userName: $('#userName').val()};
						$('#popupModal .popup_cont').html(compiled(templateData));
						showPopupModal(300, 200);
					} else {
						alert(data.message);
						return;
					}
				});
			}, invalidHandler: function (form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					alert(validator.errorList[0].message);
					return;
				}
			}
		});
	});
</script>
<script type="text/template" id="templateFindIdResult">
	<div class="subject"><%=userName%> {=__('회원님의 아이디는 %s 입니다', '<br><strong class="text_orange">'+'<%=memberId%>'+ '</strong>')}</div>
</script>
{ # footer }