{*** 비밀번호 변경 완료 | member/find_password_complete.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<section class="login_section">
	<div class="login_layer">
		<div class="title_area">비밀번호 찾기</div>
		<div class="import_area">비밀번호가 정상적으로 변경되었습니다.</div>
		<div class="button_area">
			<button type="button" class="button" id="btnLogin">로그인</button>
		</div><!-- .button_area -->
	</div><!-- .login_layer -->
</section><!-- .login_section -->
<!-- //content_box -->
<script type="text/javascript">
	$(document).ready(function () {
		$('#btnLogin').click(function (e) {
			location.href = '../member/login.php';
			e.preventDefault();
		});
	});
</script>
{ # footer }