{*** 비밀번호 새로 등록 | member/find_password_reset.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<section class="login_section">
	<div class="login_layer">
		<form name="formReset" id="formReset" action="../member/find_password_reset_ps.php" method="post">
			<div class="title_area">비밀번호 찾기</div>
			<div class="desc_area">새로운 비밀번호를 등록해 주세요.</div>
			<ul class="input_member">
				<li class="block js_input_pw">
					<div><input type="password" id="passwordMsg" name="memPw" autocomplete="off" placeholder="영문대/소문자, 숫자, 특수문자 중 2가지 이상 조합하세요." data-min-length="{=joinField['memPw']['minlen']}"
					data-max-length="{=joinField['memPw']['maxlen']}"></div>
					<div class="member_warning"></div>
				</li>
				<li class="block js_input_pw">
					<div><input type="password" id="newPwRe" name="memPwRe" autocomplete="off" placeholder="새 비밀번호 확인"></div>
					<div class="member_warning"></div>
				</li>
			</ul><!-- .input_member -->
			<div class="button_area">
				<button type="button" class="button" id="btnConfirm">확인</button>
			</div><!-- .button_area -->
		</form>
	</div><!-- .login_layer -->
</section><!-- .login_section -->
<script type="text/javascript">
	$(document).ready(function () {
		var $formJoin = $('#formReset');

		$('#btnConfirm').click(function () {
			var $password = $(':password[name=memPw]');
			$password.trigger('keyup');
			if ($('.text_warning').length < 1) {
				var params = $formJoin.serializeArray();
				$.post('../member/find_password_reset_ps.php', params, function (data) {
					if (_.isUndefined(data.error)) {
						location.href = data.url;
					} else {
						alert(data.error.message);
						location.href = data.error.url;
					}
				});
			}
		});

		gd_member2.validate_password();
		gd_member2.validate_same_password();
	});
</script>
{ # footer }
