{*** 회원가입 > 정보입력 | member/join.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<div class="custom_join_layer">
<section class="join_section login_section">
	<div class="join_layer login_layer">
		<form id="formJoin" name="formJoin" action="{joinActionUrl}" method="post">
			<input type="hidden" name="rncheck" value="{data.rncheck}">
			<input type="hidden" name="dupeinfo" value="{data.dupeinfo}">
			<input type="hidden" name="pakey" value="{data.pakey}">
			<input type="hidden" name="foreigner" value="{data.foreigner}">
			<input type="hidden" name="adultFl" value="{data.adultFl}">
			<input type="hidden" name="mode" value="join">

            <div class="custom_join">
                <div class="member_tit">
                    <h2>회원가입</h2>
                    <ol>
                        <li >
                            <span>1. 약관동의</span>
                            <span>
                               <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li>
                            <span class="active">2. 정보입력</span>
                            <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li><span>3. 가입완료</span></li>
                    </ol>
                </div>
                <!-- 회원가입/정보 기본정보 -->{=includeWidget('member/_join_view.html')}<!-- 회원가입/정보 기본정보 -->
                <!-- 회원가입/정보 사업자정보 -->{=includeWidget('member/_join_view_business.html')}<!-- 회원가입/정보 사업자정보 -->
                <!-- 회원가입/정보 부가정보 -->{=includeWidget('member/_join_view_other.html')}<!-- 회원가입/정보 부가정보 -->
                <div class="button_area">
                    <ul>
                        <li>
                            <button type="button" id="btnCancel" class="button white">취소</button>
                        </li>
                        <li>
                            <button type="button" class="button orange js_btn_join" value="회원가입">회원가입</button>
                        </li>
                    </ul>
                </div><!-- .button_area -->
            </div>




		</form>
	</div><!-- .join_layer -->
</section><!-- .join_section -->
</div>
<script type="text/javascript">
	var paycoProfile = {paycoProfile};
    var naverProfile = {naverProfile};
	var thirdPartyProfile = {thirdPartyProfile};
	var kakaoProfile = {kakaoProfile};

	$(document).ready(function () {
		var $formJoin = $('#formJoin');

		$(':text:first', $formJoin).focus();

		$('#btnCancel', $formJoin).click(function (e) {
			e.preventDefault();
			top.location.href = '/';
		});

		if ($('.js_datepicker').length) {
			$('.js_datepicker').datetimepicker({
				locale: '{=gGlobal.locale}',
				format: 'YYYY-MM-DD',
				dayViewHeaderFormat: 'YYYY MM',
				viewMode: 'days',
				ignoreReadonly: true,
				debug: false,
				keepOpen: false
			});
		}

		$('#btnPostcode').click(function (e) {
			e.preventDefault();
			$('#address-error, #addressSub-error').remove();
			$(':text[name=address], :text[name=addressSub]').removeClass('text_warning');
			gd_postcode_search('zonecode', 'address', 'zipcode');
		});

		$('#btnCompanyPostcode').click(function (e) {
			e.preventDefault();
			$('#comAddress-error, #comAddressSub-error').remove();
			$(':text[name=comAddress], :text[name=comAddressSub]').removeClass('text_warning');
			gd_postcode_search('comZonecode', 'comAddress', 'comZipcode');
		});

		<!--{?joinField.businessinfo.use == 'y'}-->
		$(':radio[name="memberFl"]').change(function () {
			var $businessinfo = $('.business_info_box');
			if (this.value == 'business') {
				$businessinfo.removeClass('dn');
				$businessinfo.find('input, select').removeClass('ignore');
			} else {
				$businessinfo.addClass('dn');
				$businessinfo.find('input, select').addClass('ignore');
			}
		});
		$(':radio[name="memberFl"]:checked').trigger('change');
		<!--{/}-->

		<!--{? joinField.marriFl.use == 'y' && joinField.marriDate.use == 'y'}-->
		$(':radio[name="marriFl"]').change(function () {
			var $marridateinfo = $('.js_marridateinfo');
			if (this.value == 'y') {
				$marridateinfo.removeClass('dn');
			} else {
				$marridateinfo.addClass('dn');
				$marridateinfo.find('input#marriDate').val('');
			}
		});
		<!--{/}-->

		gd_select_email_domain('email');

		gd_member2.init($formJoin);

		$('.js_btn_join').click({form: $formJoin}, gd_member2.save);
	});
</script>
{ # footer }
