{*** 회원가입 > 약관동의 | member/join_agreement.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<div class="custom_join_layer">
<section class="join_section login_section">
	<div class="join_layer login_layer">
		<form id="formTerms" name="formTerms" method="post" action="../member/join.php">
			<input type="hidden" name="token" value="{token}">
			<input type="hidden" name=mode value="chkRealName">
			<input type="hidden" name=rncheck value="none">
			<input type="hidden" name=nice_nm value="">
			<input type="hidden" name=pakey value="">
			<input type="hidden" name=birthday value="">
			<input type="hidden" name=mobile value="">
			<input type="hidden" name=mobileService value="">
			<input type="hidden" name=sex value="">
			<input type="hidden" name=dupeinfo value="">
			<input type="hidden" name=foreigner value="">
			<input type="hidden" name=adultFl value="">
			<input type="hidden" name=phone value="">
			<input type="hidden" name=type>


            <div class="custom_join">
                <div class="member_tit">
                    <h2>회원가입</h2>
                    <ol>
                        <li >
                            <span class="active">1. 약관동의</span>
                            <span>
                               <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li>
                            <span>2. 정보입력</span>
                            <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </li>
                        <li><span>3. 가입완료</span></li>
                    </ol>
                </div>
                <ul class="custom_input_member">
                    <li>
                        <div class="input_element">
                            <input type="checkbox" id="allAgree">
                            <label class="check" for="allAgree">{=__('%s의 모든 약관을 확인하고 전체 동의합니다.', serviceInfo['mallNm'])}</label>
                        </div>
<!--                        <div class="msg">전체동의, 선택항목도 포함됩니다.</div>-->
                    </li>
                    <li>
                        <div class="input_element sub_input">
                            <input type="checkbox" id="termsAgree1" name="agreementInfoFl" class="require">
                            <label class="check_s" for="termsAgree1">이용약관<strong>[필수]</strong></label>
                            <a href="../service/agreement.php?code={agreementInfo['informCd']}" target="_blank" class="total">전체보기</a>
                        </div>
                        <div class="input_element sub_input">
                            <input type="checkbox" id="termsAgree2" name="privateApprovalFl" class="require">
                            <label class="check_s" for="termsAgree2">개인정보 수집 및 이용<strong>[필수]</strong></label>
                            <a href="../service/agreement.php?code={privateApproval['informCd']}" target="_blank" class="total">전체보기</a>
                        </div>
                    </li>
                </ul>
                <div class="button_area">
                    <ul>
                        <!--{ ? useThirdParty }-->
                        <li>
                            <button type="button" id="btnPrevStep" class="button">이전단계</button>
                        </li>
                        <!--{ / }-->
                        <li>
                            <button type="button" id="btnNextStep" class="button">다음단계</button>
                        </li>
                    </ul>
                </div><!-- .button_area -->
            </div>




		</form>
	</div><!-- .join_layer -->
</section><!-- .login_section -->
</div>
<script type="text/javascript">
	$(document).ready(function () {
		var body = $('body'), $formTerms = $('#formTerms');

		$('#btnNextStep').click(function () {
			var pass = true;
			/*
			 * 필수 동의 항목 검증
			 */
			$(':checkbox.require').each(function (idx, item) {
				var $item = $(item);
				if (!$item.prop('checked')) {
					pass = false;
					alert($item.next().text() + "{=__('을 체크해주세요.')}");
					return false;
				}
			});

			if (pass) {
				/*
				 * 실명인증 검증
				 */
				if ($('input[name="RnCheckType"]').length > 0) {
					switch ($('input[name="RnCheckType"]:checked').val()) {
						case 'ipin' :
							var popupWindow = window.open("", "popupCertKey", "top=100, left=200, status=0, width=417, height=490");
							ifrmRnCheck.location.href = "/member/ipin/ipin_main.php?callType=joinmember";
							break;
						case  'authCellPhone' :
							var protocol = location.protocol;
							var callbackUrl = "{=domainUrl}/member/authcellphone/dreamsecurity_result.php";
							ifrmHpauth.location.href = protocol + "//hpauthdream.godo.co.kr/module/NEW_hpauthDream_Main.php?callType=joinmember&shopUrl=" + callbackUrl + "&cpid={=authDataCpCode}";
							break;
						default :
							alert("{=__('본인인증이 필요합니다.')}");
							$('input[name="RnCheckType"]:first').focus();
							break;
					}
					return false;
				} else {
					$formTerms.submit();
				}
			}
		});

		/*
		 * 전체 동의 체크박스 이벤트
		 */
		$('#allAgree', $formTerms).change(function (e) {
			var $target = $(e.target), $checkbox = $(':checkbox'), $label = $checkbox.siblings('label');
			if ($target.prop('checked') === true) {
				$checkbox.prop('checked', true).val('y');
				$label.addClass('on');
			} else {
				$checkbox.prop('checked', false).val('n');
				$label.removeClass('on');
			}
		});

		/*
		 * 이전단계 버튼 이벤트
		 */
		$('#btnPrevStep', $formTerms).click(function (e) {
			e.preventDefault();
			history.back();
		});

		/*
		 * 약관 체크박스 이벤트
		 */
		$('.js_terms_view :checkbox', $formTerms).change(function (e) {
			var $target = $(e.target), $label = $target.siblings('label'), $termsView = $target.closest('.js_terms_view');
			var isTermsAgreeSelect = (e.target.id === 'termsAgree3') || (e.target.id === 'termsAgree4') || (e.target.id === 'termsAgree5');
			var isTargetChecked = $target.prop('checked') === true;
			if (isTargetChecked) {
				if (isTermsAgreeSelect) {
					$termsView.find('.agreement_choice_box label').addClass('on');
					$termsView.find('.agreement_choice_box :checkbox').val('y');
				} else {
					$target.val('y');
					$label.addClass('on');
				}
			} else {
				if (isTermsAgreeSelect) {
					$termsView.find('.agreement_choice_box label').removeClass('on');
					$termsView.find('.agreement_choice_box :checkbox').val('n');
				} else {
					$target.val('n');
					$label.removeClass('on');
				}
			}
		});
	});
</script>
{ # footer }
