{*** 회원가입 > 가입완료 | member/join_ok.php ***}
{ # header }
<link href="../css/member.css" rel="stylesheet">
<section class="login_section">
	<div class="login_layer">
		<div class="icon"><i class="xi-check"></i></div>
		<div class="important_area">{=__('회원가입이 완료 되었습니다.')}</div>
		<div class="description">
			{=__('%s님의 회원가입을 축하합니다. %s알차고 실속있는 서비스로 찾아뵙겠습니다.', '<span class="text_orange">' + memNm + '</span>', '<br/>')}
		</div>
		<div class="button_area" style="margin-top:20px; padding-top:20px; border-top:1px solid #ddd;">
			<ul class="two">
				<li><button class="button white" id="btnHome">홈으로</button></li>
				<li><button class="btn_login button orange">로그인</button></li>
			</ul>
		</div><!-- .button_area -->
	</div><!-- .login_layer -->
</section><!-- .login_section -->
<script type="text/javascript">
	$(document).ready(function () {
		$('#btnHome').click(function (e) {
			e.preventDefault();
			top.location.href = '../main/index.php';
		});
		$('.btn_login').click(function (e) {
			e.preventDefault();
			top.location.href = '../member/login.php';
		});
	});
</script>
{ # footer }