@charset "utf-8";

/*** 상세 | board/skin/default/list.html ***/

.list_default {}
.list_default .boardlist {}

/* 검색 */
.list_default .boardlist .board_search {position:relative; padding:10px 166px 10px 10px;}
.list_default .boardlist .board_search .search_input {width:100%;}
.list_default .boardlist .board_search .search_input input {width:100%; height:36px; text-indent:10px; border:1px solid #dddddd; font-size:14px; color:#5e5e5e; font-weight:bold;}
.list_default .boardlist .board_search .search_btn {position:absolute; top:10px; right:106px; width:60px;}
.list_default .boardlist .board_search .write_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
}
.list_default .boardlist .board_search .write_btn button{
    display: block;
    width: 100%;
    padding: 8px 0 7px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #5f5f5f;
    border:1px solid #5f5f5f;
}

/* 공지 및 기본 글 */
.list_default .boardlist .goods_area .notice_list {}
.list_default .boardlist .goods_area .notice_list li {position:relative; padding:15px 10px; border-bottom: 1px solid #e5e5e5; min-height:60px;}
.list_default .boardlist .goods_area .notice_list li:first-child {border-top: 1px solid #e5e5e5; }
.list_default .boardlist .goods_area .notice_list li .notice_box {display:table; width:100%;}
.list_default .boardlist .goods_area .notice_list li .notice_box .notice_img {display:table-cell; width:100px; vertical-align:top;}
.list_default .boardlist .goods_area .notice_list li .notice_box .notice_title {display:table-cell; padding:0 0 10px 0; vertical-align:top;}
.list_default .boardlist .goods_area .notice_list li .notice_box .notice_title .icon img {vertical-align:top;}
.list_default .boardlist .goods_area .notice_list li .notice_box .notice_title .text {display:inline-block; width:70%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:14px; color:#222222; font-weight:bold; }
.list_default .boardlist .goods_area .notice_list li .notice_box .notice_title .text img {vertical-align:middle;}
.list_default .boardlist .goods_area .notice_list li .notice_info {position:absolute; top:13px; right:10px; }
.list_default .boardlist .goods_area .notice_list li .notice_info span {display:inline-block; padding:2px 5px 2px 5px; border:1px solid #9f9f9f; color:#494949; font-weight:bold; box-sizing:border-box;}
.list_default .boardlist .goods_area .notice_list li .notice_info span.reply_complete {background:#3e3d3c; border:1px solid #3e3d3c; color:#ffffff;}
.list_default .boardlist .goods_area li .notice_bottom {}
.list_default .boardlist .goods_area li .notice_bottom .notice_data {width:100%; color:#999; font-size:12px; }
.list_default .boardlist .goods_area li .notice_bottom .notice_data span {padding:0 10px 0 0;}
.list_default .boardlist .goods_area li .notice_number {color:#999; font-size:12px;}
/* 별 */
.list_default .boardlist .goods_area li .goods_assess {display:block; margin-bottom:5px;}
.list_default .boardlist .goods_area li .goods_assess span.rating {display:block; width:77px; height:13px; font-size:0; background:url('../../../../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px;}
.list_default .boardlist .goods_area li .goods_assess span.rating span {display:block; height:13px; background:url('../../../../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}

/* 아이콘 */
.list_default .boardlist .goods_area .icon_new{display:inline-block; width:18px; height:18px; margin:0px 0 0 5px; background:#3e3d3c; line-height:18px; font-size:10px; color:#fff; text-align:center; vertical-align:top;}
.list_default .boardlist .goods_area .icon_hot{display:inline-block; height:18px; margin:0px 0 0 5px; padding:0 5px 0 5px; background:#3e3d3c; line-height:18px; font-size:12px; color:#ffffff; vertical-align:top;}

/* 페이징 */
.list_default .boardlist .page_btn_box {text-align:center; margin:30px 0 20px; }
.list_default .boardlist .page_btn_box .page_number {display:inline-block; height:21px; padding:0 30px 0 30px; color:#9e9e9e; font-size:15px; line-height:21px; vertical-align:middle; letter-spacing:0;}
.list_default .boardlist .page_btn_box .page_number strong { color: #5e5e5e; }
.list_default .boardlist .page_btn_box .prev_btn {overflow:hidden; display:inline-block; width:11px; height:21px; background:url('../../../../img/icon/icon_arrow_prev2.png') no-repeat 0 0; background-size:11px 21px; font-size:1px; color:transparent;  vertical-align: middle; border:none;}
.list_default .boardlist .page_btn_box .next_btn {overflow:hidden; display: inline-block; width: 11px; height:21px; background:url('../../../../img/icon/icon_arrow_next2.png') no-repeat 0 0; background-size: 11px 21px; font-size:1px; color:transparent; vertical-align: middle; border:none;}
.list_default .boardlist .no_list {padding:55px 10px 55px 10px; border-top:1px solid #e5e5e5; font-size:12px; text-align:center;} 
