{*** 상품 리스트 | goods/goods_list.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <div class="top_layer">
            <ul class="tab_area inline">
                <li>
                    <a href="?{cateType}Cd={=gd_html_cut(cateCd, 3, '')}">
                        <img src="../img/sub/menu_all<!--{ ? gd_html_cut(cateCd, 3, '') == cateCd }-->_on<!--{ : }_off<!--{ / }-->.png" alt="">
                    </a>
                </li><!--{ ? dataSubCategory(cateCd, cateType) }--><!--{ @ dataSubCategory(cateCd, cateType) }--><li class="separate"></li><li>
                    <a href="?{cateType}Cd={.cateCd}">
                        <img src="../img/sub/menu_goods_{.cateCd}<!--{ ? cateCd == .cateCd }-->_on<!--{ : }-->_off<!--{ / }-->.png" alt="">
                    </a>
                </li><!--{ / }--><!--{ / }-->
            </ul><!-- .tab_area -->
            <div class="select_area">
                <form name="frmList" action="">
                    <input type="hidden" name="{cateType}Cd" value="{cateCd}">
                    <input type="hidden" name="sort" value="">
                </form>
                <div class="selected">
                    <span>
                        <!--{ ? sort == '' }-->
                            {=__('추천순')}
                        <!--{ : }-->
                            <!--{ ? sort == 'orderCnt desc,g.regDt desc' }-->{=__('인기상품순')}<!--{ / }-->
                            <!--{ ? sort == 'goodsPrice asc,g.regDt desc' }-->{=__('낮은가격순')}<!--{ / }-->
                            <!--{ ? sort == 'goodsPrice desc,g.regDt desc' }-->{=__('높은가격순')}<!--{ / }-->
                            <!--{ ? sort == 'reviewCnt desc,g.regDt desc' }-->{=__('상품평순')}<!--{ / }-->
                            <!--{ ? sort == 'g.regDt desc' }-->{=__('신상품순')}<!--{ / }-->
                        <!--{ / }-->
                    </span>
                    <i class="xi-caret-down-min"></i>
                </div>
                <ul>
                    <li data-value="">{=__('추천순')}</li>
                    <li data-value="orderCnt desc,g.regDt desc">{=__('인기상품순')}</li>
                    <li data-value="g.regDt desc">{=__('신상품순')}</li>
                    <li data-value="goodsPrice desc,g.regDt desc">{=__('높은가격순')}</li>
                    <li data-value="goodsPrice asc,g.regDt desc">{=__('낮은가격순')}</li>
                    <li data-value="reviewCnt desc,g.regDt desc">{=__('상품평순')}</li>
                </ul>
            </div><!-- .select_area -->
        </div><!-- .top_layer -->
        <!-- 상품 리스트 -->
        { # goodsTemplate }
        <!-- //상품 리스트 -->
        <div style="display:none;" class="pagination">
            {page->getPage()}
        </div>
    </div><!-- .center_layer -->
</section>

<script>
jQuery(function($) {
    $(document).ready(function() {

    });
    $(document).on('click', '.select_area .selected', function() {
        var $select_ul = $(this).parent().find('ul');
        if($select_ul.css('display') == 'none') {
            $select_ul.slideDown('fast');
        }
        else {
            $select_ul.slideUp('fast');
        }
    });
    $(document).on('click', '.select_area ul > li', function() {
        var $select_form = $('form[name=frmList]');
        var $select_sort = $select_form.find('input[name=sort]');
        var $select_value = $(this).data('value');
        $select_sort.val($select_value);
        $select_form.submit();
    }); 
});
</script>
{ # footer }
