{*** 쿠폰 적용 레이어 | goods/layer_coupon_apply.php ***}
<div class="layer_wrap_cont">
    <div class="ly_tit">
        <h4>
            {=__('쿠폰 적용하기')}
            <!--{ ? gd_is_login() }-->
            <span>{=__('선택한 상품에 적용가능한 총')} <strong>{memberCouponArrData.size_}{=__('개%s의 보유쿠폰이 있습니다.', '</strong>')}</span>
            <!--{ / }-->
        </h4>
    </div>
    <div class="ly_cont">
        <div class="scroll_box">
            <!--{ ? gd_is_login() }-->
            <div class="top_table_type">
                <form name="frmCouponApply" method="post">
                    <table>
                        <colgroup>
                            <col style="width:50px;" />
                            <col style="width:200px" />
                            <col style="width:200px" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>{=__('쿠폰')}</th>
                                <th>{=__('사용조건')}</th>
                                <th>{=__('사용기한')}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--{ @ memberCouponArrData }-->
                            <tr>
                                <td>
                                    <span class="form_element">
                                        <!--{ ? convertMemberCouponPriceArrData.memberCouponAlertMsg[.memberCouponNo] == 'LIMIT_MIN_PRICE' }-->
                                        <input type="checkbox" id="check{.index_}" class="checkbox" disabled="disabled">
                                        <label class="check_dis_s single" for="check{.index_}">{=__('선택')}</label>
                                        <!--{ : }-->
                                        <!--{ ? .couponKindType == 'sale' }-->
                                        <input type="checkbox" id="check{.index_}" name="memberCouponNo[]" class="checkbox" data-paytype="{.couponUseAblePaymentType}" data-price="{convertMemberCouponPriceArrData.memberCouponSalePrice[.memberCouponNo]}" data-type="{.couponKindType}" data-duplicate="{.couponApplyDuplicateType}" value="{.memberCouponNo}">
                                        <!--{ : .couponKindType == 'add' }-->
                                        <input type="checkbox" id="check{.index_}" name="memberCouponNo[]" class="checkbox" data-paytype="{.couponUseAblePaymentType}" data-price="{convertMemberCouponPriceArrData.memberCouponAddMileage[.memberCouponNo]}" data-type="{.couponKindType}" data-duplicate="{.couponApplyDuplicateType}" value="{.memberCouponNo}">
                                        <!--{ : .couponKindType == 'delivery' }-->
                                        <input type="checkbox" id="check{.index_}" name="memberCouponNo[]" class="checkbox" data-paytype="{.couponUseAblePaymentType}" data-price="{convertMemberCouponPriceArrData.memberCouponDeliveryPrice[.memberCouponNo]}" data-type="{.couponKindType}" data-duplicate="{.couponApplyDuplicateType}" value="{.memberCouponNo}">
                                        <!--{ / }-->
                                        <label class="check_s single" for="check{.index_}">{=__('선택')}</label>
                                        <!--{ / }-->
                                    </span>
                                </td>
                                <td class="td_left">
                                    <label for="check{.index_}">
                                        <strong>
                                            {=gd_currency_symbol()}
                                            <!--{ ? .couponKindType == 'sale' }-->
                                            <b>{=gd_money_format(convertMemberCouponPriceArrData.memberCouponSalePrice[.memberCouponNo])}</b>
                                            <!--{ : .couponKindType == 'add' }-->
                                            <b>{=gd_money_format(convertMemberCouponPriceArrData.memberCouponAddMileage[.memberCouponNo])}</b>
                                            <!--{ : .couponKindType == 'delivery' }-->
                                            <b>{=gd_money_format(convertMemberCouponPriceArrData.memberCouponDeliveryPrice[.memberCouponNo])}</b>
                                            <!--{ / }-->
                                            {=gd_currency_string()}
                                            <span>{convertMemberCouponArrData[.key_].couponKindType}</span>
                                        </strong>
                                        <span class="text_info">{.couponNm}</span>
                                    </label>
                                </td>
                                <td class="td_left">
                                    <span class="text_info">
                                        <!--{ ? convertMemberCouponArrData[.key_].couponMaxBenefit }-->
                                        - {convertMemberCouponArrData[.key_].couponMaxBenefit}<br />
                                        <!--{ / }-->
                                        <!--{ ? convertMemberCouponArrData[.key_].couponMinOrderPrice }-->
                                        - {convertMemberCouponArrData[.key_].couponMinOrderPrice}<br />
                                        <!--{ / }-->
                                        - {convertMemberCouponArrData[.key_].couponApplyDuplicateType}
                                    </span>
                                </td>
                                <td>
                                    <span>{.memberCouponEndDate}</span>
                                </td>
                            </tr>
                            <!--{ / }-->
                        </tbody>
                    </table>
                </form>
            </div>
            <!--{ : }-->
            <div class="coupon_down_txt"><p>{=__('로그인하셔야 본 서비스를 이용하실 수 있습니다.')}</p></div>
            <!--{ / }-->
        </div>
        <!-- //scroll_box -->
        <div class="coupon_total_box">
            <dl>
                <dt>{=__('총 할인금액')}</dt>
                <dd>{=gd_currency_symbol()}<strong id="couponSalePrice">0</strong>{=gd_currency_string()}</dd>
            </dl>
            <dl>
                <dt>{=__('총 적립금액')}</dt>
                <dd>{=gd_currency_symbol()}<strong id="couponAddPrice">0</strong>{=gd_currency_string()}</dd>
            </dl>
        </div>
        <!-- //coupon_total_box -->
        <div class="btn_center_box button_area">
            <!--{ ? gd_is_login() }-->
            <button class="btn_ly_cancel layer_close button inline gray"><strong>{=__('취소')}</strong></button>
            <button id="btnCouponApply" class="btn_ly_coupon_apply button inline orange"><strong>{=__('쿠폰 적용')}</strong></button>
            <!--{ : }-->
            <a href="../member/join_method.php" class="btn_ly_join button inline black"><strong>회원가입</strong></a>
            <a href="../member/login.php" class="btn_ly_login button inline orange"><strong>로그인</strong></a>
            <!--{ / }-->
        </div>
    </div>
    <!-- //ly_cont -->
    <a href="#close" class="ly_close layer_close"><img src="../img/common/layer/btn_layer_close.png" alt="{=__('닫기')}"></a>
</div>
<!-- //layer_wrap_cont -->
<!--{ ? gd_is_login() !== false }-->
<script type="text/javascript">
    <!--
    $(document).ready(function () {
        // @todo 적용한 쿠폰이 중복불가 시 쿠폰 변경시 disable 처리 부분 필요
        $('input:checkbox[name="memberCouponNo[]"]').click(function (e) {
            if (($(this).prop('checked') == true) && ($(this).data('duplicate') == 'n')) {
                $('input:checkbox[name="memberCouponNo[]"]').not($(this)).each(function (index) {
                    $(this).attr("checked", false);
                    $(this).next('label').removeClass('on');
                    $(this).attr('disabled', 'disabled');
                });
            } else if (($(this).prop('checked') == false) && ($(this).data('duplicate') == 'n')) {
                $('input:checkbox[name="memberCouponNo[]"]').not($(this)).each(function (index) {
                    $(this).removeAttr('disabled', 'disabled');
                });
            }
            var objCouponPrice = gd_coupon_price_sum();
            $('#couponSalePrice').text(numeral(objCouponPrice.sale).format());
            $('#couponAddPrice').text(numeral(objCouponPrice.add).format());
        });

        $('#btnCouponApply').click(function (e) {
            var couponPaymentTypeCheck = 'n';
            var couponApplyNoArr = [];
            $('input:checkbox[name="memberCouponNo[]"]:checked').each(function (index) {
                couponApplyNoArr[index] = $(this).val();
                // 결제방식제한쿠폰체크
                if ($(this).attr('data-paytype') == 'bank') {
                    couponPaymentTypeCheck = 'y';
                }
            });
            if (couponApplyNoArr.length > 0){
                var couponApplyNoString = couponApplyNoArr.join('{c.INT_DIVISION}');
                $('#option_display_item_{optionKey} input:hidden[name="couponApplyNo[]"]').val(couponApplyNoString);
                var objCouponPrice = gd_coupon_price_sum();
                $('#option_display_item_{optionKey} input:hidden[name="couponSalePriceSum[]"]').val(objCouponPrice.sale);
                $('#option_display_item_{optionKey} input:hidden[name="couponAddPriceSum[]"]').val(objCouponPrice.add);
                var couponApplyHtml = "<img class=\"btn_coupon_cancel\" src=\"../img/common/btn/btn_coupon_cancel.png\" data-key=\"{optionKey}\" alt=\"{=__('쿠폰취소')}\" /> <a href=\"#lyCouponApply\" class=\"btn_open_layer\" data-key=\"{optionKey}\"><img src=\"../img/common/btn/btn_coupon_change.png\" alt=\"{=__('쿠폰변경')}\" />";
                $('#coupon_apply_{optionKey}').html(couponApplyHtml);
                if($('#cart_tab_coupon_apply_{optionKey}').length) $('#cart_tab_coupon_apply_{optionKey}').html(couponApplyHtml);
                gd_benefit_calculation();
            } else {
                gd_coupon_cancel('{optionKey}');
            }
            if (couponPaymentTypeCheck == 'y') {
                $('.payco_pay').addClass('dn');
                $('.naver_pay').addClass('dn');
            } else {
                $('.payco_pay').removeClass('dn');
                $('.naver_pay').removeClass('dn');
            }

            gd_open_layer();
            gd_bind_coupon_cancel();
            gd_close_layer();
        });
        gd_coupon_apply_setting();
    });

    // 쿠폰 적용 내용 초기화 (설정)
    function gd_coupon_apply_setting() {
        var couponApplyNoString = '{couponApplyNo}';
        var couponApplyNoArr = new Array();
        if (couponApplyNoString) {
            var couponApplyNoArr = couponApplyNoString.split('{c.INT_DIVISION}');
        }
        $.each(couponApplyNoArr, function (index) {
            $('input:checkbox[name="memberCouponNo[]"][value="' + couponApplyNoArr[index] + '"]').trigger('click');
        });
        var objCouponPrice = gd_coupon_price_sum();
        $('#couponSalePrice').text(numeral(objCouponPrice.sale).format());
        $('#couponAddPrice').text(numeral(objCouponPrice.add).format());
    }

    // 선택 쿠폰 금액 계산
    function gd_coupon_price_sum() {
        var salePrice = 0;
        var addPrice = 0;
        $('input:checkbox[name="memberCouponNo[]"]:checked').each(function (index) {
            if ($(this).data('type') == 'sale') {
                salePrice += parseFloat($(this).data('price'));
            } else if ($(this).data('type') == 'add') {
                addPrice += parseFloat($(this).data('price'));
            }
        });
        var couponPrice = {
            'sale': salePrice,
            'add': addPrice
        };
        return couponPrice;
    }
    //-->
</script>
<!--{ / }-->