{*** 서비스 이용약관 | service/agreement.php ***}
{ # header }
<section class="section_container">
    <div class="center_layer">
        <div class="section_layer">
            <div class="title_area">
                <div class="title">{codeData.informNm}</div>
            </div><!-- .title_area -->
            {=nl2br(terms['content'])}
        </div><!-- .section_layer -->
    </div><!-- .center_layer -->
</section><!-- .section_container -->
{ # footer }
