{*** 자주묻는 질문 | service/faq.php ***}
{ # header }
<link href="../css/contents.css" rel="stylesheet">
<section class="section_container">
    <div class="center_layer">
        <!-- 고객센터 메뉴 -->
        {=includeFile('proc/_cs_menu.html')}
        <!--// 고객센터 메뉴 -->
        <div class="section_layer">
            <form name="frmList" id="frmList" action="faq.php" method="get">
                <input type="hidden" name="noheader" value="{req.noheader}">
                <input type="hidden" name="searchField" value="all"/>
                <div class="search_area">
                    <div class="field">
                        <div class="key">질문 검색</div>
                        <div class="value">
                            <div class="text_input">
                                <input type="text" id="time" name="searchWord" class="text" placeholder="{=__('검색어를 입력하세요')}"/>
                            </div>
                            <div class="button_area">
                                <button type="submit" class="btn_date_check button orange"><em>{=__('검색')}</em></button>
                            </div>
                        </div><!-- .value -->
                    </div><!-- .field -->
                </div><!-- .search_area -->
            </form>
            <ul class="tab_menu">
                <li <!--{ ? !req.category }-->class="on"<!--{ / }-->><a href="faq.php?noheader={req.noheader}&isBest={req.isBest}&searchField={req.searchField}&searchWord={req.searchWord}"><span>{=__('전체')}</span></a></li>
                <!--{ @ faqCode }-->
                <li <!--{ ? req.category == .key_ }-->class="on"<!--{ / }-->><a href="faq.php?category={.key_}&noheader={req.noheader}&isBest={req.isBest}&searchField={req.searchField}&searchWord={req.searchWord}"><span>{.value_}</span></a></li>
                <!--{ / }-->
            </ul>
            <table class="table c_table no_header" id="FaqList">
                <colgroup>
                    <col style="width:67px">
                    <col style="width:144px">
                    <col>
                </colgroup>
                <tbody>
                    <!--{ @ faqList.data }-->
                    <tr data-sno="{.sno}">
                        <td class="no">{.no}</td>
                        <td>{.categoryNm}</td>
                        <td class="title">
                            <strong class="faq_type text_gray">Q.</strong>
                            <a href="#" onclick="return false;" class="btn_view">
                                <strong>{.subject}</strong>
                            </a>
                        </td>
                    </tr>
                    <!--{ / }-->
                </tbody>
            </table>
            <div class="pagination">
                {faqList.pagination}
            </div>
        </div><!-- .section_layer -->
    </div><!-- .center_layer -->
</section><!-- .section_container -->
<script>
    $(function () {
        $('.btn_view').bind('click', function () {
            var $target_tr = $(this).closest('tr');
            var sno = $target_tr.attr('data-sno');

            // 초기화
            $('#FaqList tr.toggle_faq').remove();

            if($target_tr.hasClass('on')) {
                $target_tr.removeClass('on');
            }
            else {
                // 초기화
                $('#FaqList tr').each(function() {
                    if($(this).hasClass('on')) $(this).removeClass('on');
                });
                $target_tr.addClass('on');

                // 답변 확인
                $.ajax({
                    method: "POST",
                    url: "./faq.php",
                    data: {mode: 'getAnswer', sno: sno},
                    dataType: 'json'
                }).success(function (data) {
                    var answer_tr = '<tr class="toggle_faq">';
                    answer_tr += '<td></td><td></td>';
                    answer_tr += '<td class="title">';
                    answer_tr += '<strong class="faq_type text_orange">A.</strong>';
                    answer_tr += '<div class="view">' + data['answerContents'] + '</div>';
                    answer_tr += '</td>';
                    answer_tr += '</tr>';
                    $target_tr.after(answer_tr);
                }).error(function (e) {
                    alert(e.responseText);
                });
            }
        });
    });
</script>
{ # footer }
