{*** 개인정보처리방침 | service/private.php ***}
{ # header }
<section class="section_container">
    <div class="center_layer">
        <div class="section_layer">
            <div class="title_area">
                <div class="title">{=__('개인정보처리방침')}</div>
            </div><!-- .title_area -->
            {=nl2br(private)}
        </div><!-- .section_layer -->
    </div><!-- .center_layer -->
</section><!-- .section_container -->
{ # footer }