{*** 고객센터 메뉴 | proc/_cs_menu.html ***}
<div class="top_layer">
    <ul class="tab_area inline">
        <li>
            <a href="/board/list.php?bdId=goodsqa">
                <img src="../img/sub/menu_cs11<!--{ ? req.bdId == 'goodsqa' }-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
            </a>
        </li><li class="separate"></li><li<!--{ ? req.bdId == 'notice' }--> class="on"<!--{/}-->>
            <a href="/board/list.php?bdId=notice">
                <img src="../img/sub/menu_cs12<!--{ ? req.bdId == 'notice' }-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
            </a>
        </li><li class="separate"></li><li>
            <a href="/service/faq.php">
                <img src="../img/sub/menu_cs13<!--{ ? gThisPageName == 'faq.php' }-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
            </a>
        </li><li class="separate"></li><li>
            <a href="/main/html.php?htmid=proc/guide.html">
                <img src="../img/sub/menu_cs14<!--{ ? req.htmlid == 'proc/guide.html' }-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
            </a>
        </li>
    </ul><!-- .tab_area -->
</div><!-- .top_layer -->
