{*** 이벤트 메뉴 | proc/_event_menu.html ***}
<div class="top_layer">
    <ul class="tab_area inline">
		<li>
			<a href="list.php?bdId={req.bdId}&period=all">
				<img src="../img/sub/menu_all<!--{?!req.period || req.period == 'all'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
			</a>
		</li><li class="separate"></li><li>
			<a href="list.php?bdId={req.bdId}&period=current">
				<img src="../img/sub/menu_event11<!--{?req.period == 'current'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
			</a>
		</li><li class="separate"></li><li>
			<a href="list.php?bdId={req.bdId}&period=end">
				<img src="../img/sub/menu_event12<!--{?req.period == 'end'}-->_on<!--{ : }-->_off<!--{/}-->.png" alt="" />
			</a>
		</li>
    </ul><!-- .tab_area -->
</div><!-- .top_layer -->