{*** 상단 로그인 메뉴 | proc/_menu_login.html ***}
<div class="top_wrapper">
    <div class="center_layer">
        <ul class="login_layer inline">
            <!--{ ? gd_is_login() === false }--><li>
                <a href="/member/login.php">로그인</a>
            </li><li class="separate">
                
            </li><li>
                <a href="/member/join_agreement.php">회원가입</a>
            </li><li class="separate">
                
            </li><!--{ : }--><li>
                <a href="/member/logout.php?returnUrl={=logoutReturnUrl}">로그아웃</a>
            </li><li class="separate">
                
            </li><li>
                <a href="/mypage/my_video.php">마이페이지</a>
            </li><li class="separate">
                
            </li><!--{ / }--><li>
                <a href="/board/list.php?bdId=goodsqa">고객센터</a>
            </li>
<!--            <li class="separate">-->
<!--                -->
<!--            </li><li>-->
<!--                <a href="/order/cart.php">장바구니</a>-->
<!--            </li>-->
        </ul><!-- .login_layer -->
    </div><!-- .center_layer -->
</div><!-- .top_wrapper -->
