{*** 상단 카테고리 메뉴 | proc/_menu_category.html ***}
<div class="menu_wrapper">
    <div class="center_layer">
        <div class="all_layer">
            <a href="#" onclick="return false;" id="AllMenuButton"><img src="../img/common/menu_all.png" alt=""></a>
        </div><!-- .all_layer -->
        <div class="menu_layer">
            <ul class="inline">
                <li>
                    <a href="/goods/goods_list.php?cateCd=001"><img src="../img/common/menu_1.png" alt=""></a>
                </li>
                <li>
                    <a href="/goods/goods_list.php?cateCd=002"><img src="../img/common/menu_2.png" alt=""></a>
                </li>
                <li>
                    <a href="/goods/goods_list.php?cateCd=003"><img src="../img/common/menu_3.png" alt=""></a>
                </li>
                <li>
                    <a href="/goods/goods_list.php?cateCd=004"><img src="../img/common/menu_4.png" alt=""></a>
                </li>
                <li>
                    <a href="/goods/goods_list.php?cateCd=005"><img src="../img/common/menu_6.png" alt=""></a>
                </li>
                <li>
                    <a href="/goods/card_list"><img src="../img/common/menu_7.png" alt=""></a>
                </li>
            </ul>
            <span class="separate"></span>
        </div><!-- .menu_layer -->
        <div class="link_layer menu_layer">
            <ul class="inline">
                <li>
                    <a href="/board/list.php?bdId=notice"><img src="../img/common/menu_notice.png" alt=""></a>
                </li>
                <li>
                    <a href="/board/list.php?bdId=goodsqa"><img src="../img/common/menu_cs.png" alt=""></a>
                </li>
                <li>
                    <a href="/mypage/index.php"><img src="../img/common/menu_video.png" alt=""></a>
                </li>
            </ul>
            <span class="separate"></span>
        </div><!-- .link_layer -->
    </div><!-- .center_layer -->
</div><!-- .menu_wrapper -->
<div class="all_menu_wrapper" id="AllMenuWrapper">
    <div class="background_layer"></div>
    <div class="all_menu_layer">
        <a href="#" onclick="return false;" class="close_button"><i class="xi-close"></i></a>
        <ul class="all_menu">
            <li>
                <div class="title"><a href="/goods/goods_list.php?cateCd=001">영상편지</a></div>
                <div class="line"></div>
                <ul class="sub">
                    <li><a href="/goods/goods_list.php?cateCd=001">전체보기</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=001001">프로포즈/기념일영상</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=001002">생일이벤트영상</a></li>
                </ul>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/goods/goods_list.php?cateCd=002">식전영상</a></div>
                <div class="line"></div>
                <ul class="sub">
                    <li><a href="/goods/goods_list.php?cateCd=002">전체보기</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=002001">식전영상</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=002002">오프닝영상</a></li>
                </ul>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/goods/goods_list.php?cateCd=003">식중영상</a></div>
                <div class="line"></div>
                <ul class="sub">
                    <li><a href="/goods/goods_list.php?cateCd=003">전체보기</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=003001">식중영상</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=003002">축가영상</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=003003">혼인서약서</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=003004">축하영상</a></li>
                </ul>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/goods/goods_list.php?cateCd=004">감사영상</a></div>
                <div class="line"></div>
                <ul class="sub">
                    <li><a href="/goods/goods_list.php?cateCd=004">전체보기</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=004001">감사영상</a></li>
                    <li><a href="/goods/goods_list.php?cateCd=004002">고희/환갑영상</a></li>
                </ul>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/goods/goods_list.php?cateCd=005">성장동영상</a></div>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/goods/card_list">모바일청첩장</a></div>
            </li>
            <li class="separate"></li>
            <li>
                <div class="title"><a href="/board/list.php?bdId=goodsqa">고객센터</a></div>
                <div class="line"></div>
                <ul class="sub">
                    <li><a href="/board/list.php?bdId=goodsqa">질문과답변</a></li>
                    <li><a href="/board/list.php?bdId=notice">공지사항</a></li>
                    <li><a href="/service/faq.php">자주묻는질문</a></li>
                    <li><a href="/main/html.php?htmid=proc/guide.html">이용가이드</a></li>
                </ul>
            </li>
        </ul><!-- .all_menu -->
    </div><!-- .all_menu_layer -->
</div><!-- .all_menu_wrapper -->

<script>
    jQuery(function ($) {
        $(document).on('click', '#AllMenuButton', function () {
            $('#AllMenuWrapper').show();
        });

        $(document).on('click', '#AllMenuWrapper .close_button', function () {
            $('#AllMenuWrapper').hide();
        });
    });
</script>
