{*** 후기 메뉴 | proc/_review_menu.html ***}
<div class="top_layer">
    <ul class="tab_area inline">
		<li class="on">
			<a href="list.php?bdId={req.bdId}">
				<img src="../img/sub/menu_review11_on.png" alt="" />
			</a>
		</li>
    </ul><!-- .tab_area -->
</div><!-- .top_layer -->