@charset "utf-8";

/**
 * custom css 입니다. 추가적인 css는 여기에 작성을 해주세요.
 */


#layoutOrderViewOrderInfoModify .img_div{
    width:260px;height:140px;margin:0 10px 10px 0;float:left;position:relative;text-align:center;cursor:pointer;
}

#layoutOrderViewOrderInfoModify .img_div p{
    background: rgba(0,0,0,0.5);color: #fff;height: 33px;line-height: 33px;display:none;position: absolute;bottom: 0;width: 100%;
}

#layoutOrderViewOrderInfoModify .goodsBasic, #layoutOrderViewOrderInfoModify .goodsAdd{display:none;}

#user-uploads .img_div, #user-modify .img_div{
    width:260px;height:140px;margin:0 10px 10px 0;float:left;position:relative;text-align:center;cursor:pointer;
}
#user-uploads .img_div p, #user-modify .img_div p{
    background: rgba(0,0,0,0.5);color: #fff;height: 33px;line-height: 33px;display:none;position: absolute;bottom: 0;width: 100%;
}

#user-uploads .goodsBasic, #user-uploads .goodsAdd{display:none;}
#user-modify .goodsBasic, #user-modify .goodsAdd{display:none;}

.text-myclose td, .text-myclose a{
    color:#cccccc;
}


.popup-admin-order-goods-video-file .nav {width:100%;margin-top:20px;margin-bottom:20px;}
.popup-admin-order-goods-video-file .nav td {border:1px solid #ccc;padding:10px;text-align:center;color:#666;cursor:pointer;}
.popup-admin-order-goods-video-file .nav .nav_left{border-left:0;}
.popup-admin-order-goods-video-file .nav .nav_right{border-right:0;}
.popup-admin-order-goods-video-file .nav .on{font-weight:bold;color:#333;}